[2018-07-07 21:17] tmc commented on #689
I think going the Gopkg route as a temporary measure makes sense. @johanbrandhorst can you take that on?

[2018-07-08 15:11] johanbrandhorst commented on #689
@tmc I'm on it

[2018-07-10 16:28] kibertoad opened #697 "Handling of optional parameters"
gRPC provides two mechanisms for handling optional parameters: Structs and FieldMasks. I couldn't find anywhere in documentation whether either of them are used for attributes that are specified as non-mandatory in Swagger. There doesn't seem to be any examples either.

Two main use-cases for this are PATCH and get?attrName=attrValue (find) operations, where you definitely want to distinguish betw

[2018-07-10 16:51] kibertoad commented on #697
This https://github.com/grpc-ecosystem/grpc-gateway/issues/379 is related, but PATCH is only part of the story here :)

[2018-07-10 16:52] kibertoad commented on #379
@dmacthedestroyer What about GET requests with optional parameters? This could be useful for a search.

[2018-07-10 16:56] dmacthedestroyer commented on #379
That's a good question, and one we've battled with in our organization. I'm inclined to leave that as a separate conversation so as to not make this issue too ambitious :)

How's that sound? Maybe open a seperate issue to discuss that? I think it'd require a deeper look into what gRPC recommends for `List` commands and abiding by that first and foremost.

[2018-07-10 16:59] kibertoad opened #698 "Support using FieldMasks with GET requests"
Some GET requests (e. g. search) benefit greatly from being able to distinguish between default (e. g. 0) and non-defined values, since searching by "name='John' && age = 0" is not the same as "name='John' && age = undefined".
Since FieldMasks are a generally recommended approach for optional fields in gRPC, it would be super helpful if grpc-gateway would support that.

[2018-07-10 16:59] kibertoad commented on #697
Created #698 for GET and now I guess this one is redundant.

[2018-07-10 16:59] #697 closed

[2018-07-10 17:00] kibertoad commented on #379
@dmacthedestroyer Sure, created #698

[2018-07-11 19:35] mattouille commented on #673
I was actually just looking at this. I don't quite see an avenue yet but I'll take a deeper look later today.

[2018-07-12 00:38] seanhagen opened #699 "How to write tests for the gateway?"
I'd like to be able to write some tests to validate that everything that gets auto-generated on the gateway side hasn't changed. Basically, I'd like to write some tests so that I can change things in the proto file but the tests will fail if the gateway doesn't respond ( or throws an error for invalid input ). That way, I don't have to worry about breaking things for the non-grpc clients that use

[2018-07-12 23:02] achew22 commented on #334
@srikrsna this would be a great thing to add in the `docs/` folder if you're interested

[2018-07-13 02:57] srikrsna commented on #334
@achew22 Sure. Should I add it somewhere [here](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/docs/_docs/customizingyourgateway.md)?

[2018-07-13 06:53] dmgarland opened #701 "YAML support for Swagger annotations"
Hi there, first of all great project thanks for all your hard work.

I'm experimenting with the swagger doc generation and have got things to work fine in the proto file. I am interested in keeping all of the swagger / rest stuff out of the proto file and use the associated YAML file that can be used to configure endpoints, as per
https://cloud.google.com/endpoints/docs/grpc/grpc-service-config

I

[2018-07-15 12:50] ch3rub1m opened #702 "The swagger plugin couldn’t distinguish two rpcs if we use the resource name design style."
The swagger plugin couldn’t distinguish two rpcs designed according to the Google API Design Guide [Resource Names](https://cloud.google.com/apis/design/resource_names) as below:
[code]
[code]
The two generated results from the swagger plugin both use the `/v1/{name}` as the key.
There is no problem if we use `ID` as the user input, but according to the Google API Design Guide the `name` is a bett

[2018-07-15 18:15] achew22 commented on #702
@ch3rub1m, thanks for the detailed and interesting bug report. You have definitely run into an issue with our Swagger generation.

Reading through the linked documentation, I think you're interpreting things in a valid way, but I'm not sure how we would map it in Swagger/OpenAPI land. The concept works in the gateway because it can parse the whole string and determine the match, but in Swagger it

[2018-07-16 13:01] alvoron commented on #685
Let me proceed this thread, since I have the same task. I have a Spring Boot application. I was able to run gRPC server in it, it works fine.
Then I decided to add REST interface. I have genereted reverse-proxies. Example entrypoint is written using Go and I haven't seen how can I use built in Tomcat from Spring Boot to host reverse-proxies. Can grpc-gateway generate Java proxies? Or there is anot

[2018-07-16 15:09] achew22 commented on #685
As of right now, grpc-gateway doesn't generate any Java code, let alone spring boot definitions. There's no way to generate a version of grpc-gateway that runs in Tomcat instead of in the go run time. There are, however, some projects that generate similar functionality for Java. I've never used them and cannot attest to their quality but I do know they exist. I'm reluctant to recommend any partic

[2018-07-16 15:09] #685 closed

[2018-07-17 22:14] kurin commented on #438
I'd like to revisit/reopen this if possible.  While the proto3 spec defines the int64/uint64 json representations as strings, and the above discussion points out the good reasons for that, the fact is that very often json is used as an interchange format between parties who aren't using javascript.

Anyone moving to a protobuf service definition from a different system is probably going to hit a p

[2018-07-18 04:04] ch3rub1m commented on #702
@achew22, thanks for the response. I considered that the key in the Swagger generation could contain the format info, use
[code]
instead
[code]
it seems could fix this issue.

[2018-07-18 04:46] achew22 commented on #702
What happens if you manually edit the Swagger to say that?

[2018-07-18 15:38] achew22 commented on #702
I guess that means it would be possible to edit [templateToSwaggerPath](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-swagger/genswagger/template.go#L467) and the associated [tests](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-swagger/genswagger/template_test.go#L689) to render that correctly. The function is very encapsulated and doesn't manipulate

[2018-07-18 17:51] kurin commented on #438
In the specific scenario in which I find myself, I am emulating an already-existing service whose API I can't modify, and sometimes I really do need to send integers that are >2^54 or whatever it is (for example, identifiers sampled uniformly over uint64).  But also it's semantically gross.

(I am actually a little bit surprised that json parsers will barf when given a "string" instead of an "int"

[2018-07-18 22:11] johanbrandhorst commented on #438
You can't send values like that in valid JSON. It seems to me you must quote it or hope your marshaller supports invalid JSON?

[2018-07-18 22:55] achew22 commented on #701
I think this is reasonably well documented at https://grpc-ecosystem.github.io/grpc-gateway/docs/grpcapiconfiguration.html. Can you check that out and report back what additional information you need or how we could make that easier?

[2018-07-19 03:39] kurin commented on #438
That's basically what I'm saying, I haven't done a survey but I strongly suspect that most non-JS marshallers are like "yeah that's an int it's fine."  Also a quick peek at the RFC seems also to suggest that implementations are free to do whatever they want with the "number" type.

I'm not saying it's a great idea to do this, but it's a better than copying and modifying packages locally.  Right no

[2018-07-19 03:40] ncepuwanghui opened #703 "Does grpc-gateway support the HTTP 2.0 protocol?"
According to the figure below, it can be seen that grpc-gateway only support HTTP 1.1. We want to use HTTP2.0+JSON to access the inner service. Does grpc-gateway have a plan to support HTTP 2.0 in the future?
![image](https://user-images.githubusercontent.com/6895399/42919818-4c99b9cc-8b46-11e8-98c1-201b60f6df7c.png)

[2018-07-19 06:00] rogerhub commented on #703
It doesn't need to explicitly support h2. You can attach a grpc-gateway handler to the standard `net/http` Server, which will handle both http/1.1 and h2 (see [examples/gateway/main.go](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples/gateway/main.go) for an example).

[2018-07-19 06:39] johanbrandhorst commented on #438
I have to disagree with the assertion that this is a scenario affects many users. You are of course welcome to submit a PR with your suggested changes but I don't think this is something that affects many users, and as such I doubt anyone of the maintainers will be keen to pick this up. My sympathies that this is out of your control, but have you considered some alternative solution like a pre-gat

[2018-07-20 12:06] ch3rub1m commented on #702
@achew22 I created a pull request (#704).
Fixed the issue and add some test cases.

However it build failed weirdly in Travis CI.
Could you check about it please?

[2018-07-20 12:29] dmgarland commented on #701
For instance, how would one accomplish the following in YAML:
[code]

[2018-07-20 14:45] achew22 commented on #701
What have you tried already? What documentation have you looked at?

[2018-07-20 14:46] achew22 commented on #702
I'm confused. It looks like that PR is empty. What am I missing?

[2018-07-20 15:38] ch3rub1m commented on #702
@achew22 I'm sorry, I want to trigger the Travis CI again, so I use `push -f` on my branch. It closed the PR automatically. Could you reopen the PR? Or maybe I should open a new PR?

[2018-07-22 10:56] maxkondr commented on #348
there is a ready for use solution from github.com/opentracing-contrib/go-stdlib/nethttp lib:

[code]

[2018-07-23 15:15] #689 closed

[2018-07-23 20:52] #348 closed

[2018-07-24 16:40] ivucica opened #707 "FR: Promote a field in the returned JSON message to a top-level returned value"
Often pre-existing APIs return a list as a top-level JSON entity. Sometimes, the returned value may be a string or a number.

Example of an API that returns an array is Mastodon's [Getting who an account is following](https://github.com/tootsuite/documentation/blob/master/Using-the-API/API.md#getting-who-account-is-following) call. I've run into other APIs with the same issue.

While I believe the

[2018-07-24 16:44] ivucica commented on #702
Sidenote on style of your proto definition, unrelated to this bug:

- you don't need to specify a tag if the `service` name matches the tag value
- you don't need to specify the description; while first paragraph will be the `summary`, remaining paragraphs should end up in the `description`
  - if you use comments in place of `openapi_v2` `option`s, the documentation will appear in generated Go (a

[2018-07-24 16:52] ivucica commented on #701
Support for YAML API definition is exciting, but somewhat basic: https://github.com/grpc-ecosystem/grpc-gateway/pull/521

It doesn't process most of the fields available in `google.api.Service` (which is very large: see the [documentation](https://cloud.google.com/service-management/reference/rpc/google.api), see the [proto file](https://github.com/googleapis/googleapis/blob/master/google/api/serv

[2018-07-24 16:55] ivucica commented on #672
This is unclear to me. #280 doesn't seem to relate to OpenAPI, and `descriptor` package doesn't seem to refer to OpenAPI either. Can you expand a bit on what OpenAPI semantics are you referring to?

[2018-07-24 16:56] ivucica commented on #678
Can you explain what 'package extraction' means in this context?

[2018-07-24 17:29] achew22 commented on #707
In my experience, I've deeply regreted not returning an object at the top level. It made migrating that endpoint a horribly breaking change and required months and months of work to get things back in shape. That said, if you're trying to reverse engineer and take over an existing API then that is what you must do and that is a very valid use case.

Looking through the docs on (HttpRule)[https://g

[2018-07-24 17:55] ivucica commented on #707
No objection here. In general, I like the API Design Guide myself. But yeah, it's about adopting an existing API.

I believe that an attempt to add `reply_body` upstream will almost certainly result in a rejection unless I would include an upstream implementation :-) but for that, I honestly don't have the time nor motivation :-)

I guess I can ask upstream internally.

[2018-07-25 08:06] johanbrandhorst commented on #707
Personally this seems like breaking a bit too far away from the underlying protobuf definition. It throws backwards compatibility to the wind, and I can't even begin to think of all the corner cases this is going to trigger. Given that this is a _field_ property, have we considered how it might interact with query strings, partial path fields etc? It seems like a can of worms to me. What if you sp

[2018-07-25 10:23] ivucica commented on #707
How? This can be a 'considered harmful' compatibility hack to be able to implement certain pre-existing APIs.

How? If you don't specify the new `option` (or, if upstream agrees to it, whatever-we-end-up-calling `reply_body`) then you get the current behavior. No changes.

But, how do query strings and partial path fields apply if this only changes the response? No interaction with the request mes

[2018-07-25 11:41] johanbrandhorst commented on #707
Fair enough

I don't mean backwards compatibility with the current gateway, just that if you have a service as you suggest and add a new field to your response message, that's _impossible_? It's breaking backwards compatibility guarantees given by protobuf. Adding new fields should always be possible, and for that to be true, there has to be a top level messages.

How do we tell the user this only

[2018-07-25 16:52] ivucica commented on #707
Thanks for the lively discussion -- but maybe we're straying into the "you are wrong for needing this feature" territory? :)

But this is not protobuf, this is JSON and it is a risk the developer can take. Again, this is a hack for implementing other, preexisting APIs -- something I would strongly discourage for new APIs.

In documentation and docstring for the option, I'd assume? How do we descri

[2018-07-25 18:34] johanbrandhorst commented on #707
I apologize if my replies come off as anything other than constructive criticism.

Isn't this actually possible to solve with .ListValue? Yes the method will be stupid to use for gRPC clients but you could expose two different methods, one wrapping the gRPC method and performing the conversion to and from the .ListValue and .StructValue types. Is that too bad? There's always a cost to adding new f

[2018-07-27 05:52] moscicki opened #709 "APIs with grpc-gateway (S3,WebDav)"
[please point me to a better place for such questions if not here]

I am looking into having S3-compatible and WebDav-compatible gateways connecting to grpc upstream services. Would it make sense to try to use grpc-gateway for that? Is there an existing project doing that?

[2018-07-27 17:31] achew22 commented on #709
@moscicki, maybe you could elaborate a bit on your question a bit. gRPC is not a file storage protocol, it is a set of tools for creating a protocol. If you want to build a file transfer protocol on top of gRPC that would be an interesting effort, but probably beyond the scope of this repo. WRT being S3 or WebDAV compatible, I took a cursory glance at the protocol expectations of S3 and WebDAV and

[2018-07-27 17:31] #709 closed

[2018-07-27 17:42] ivucica commented on #707
One of the goals is to generate OpenAPI representation from the same source. Unless I am missing something, a `.ListValue` will not be represented as a list of particular proto messages.

[2018-07-28 14:12] johanbrandhorst commented on #707
This is true, so is that the real question then? This feature would allow the generated OpenAPI type signature to show repeated types returned, as opposed to having a generic list type. In the light of that, should we not consider adding a swagger specific annotation instead? It would mean the types in the protobuf definition wouldn't match the signature of the function in the swagger API, but at

[2018-07-29 05:50] chaitanya9186 opened #710 "Is there any way we can remove fields from the response json in grpc-gateway?"

[2018-07-29 07:50] johanbrandhorst commented on #710
If you set your marshaller to not EmitDefaults, and then return the zero value of that field, it will not be included in the returned JSON.

This begs the question though, what are you trying to do here?

[2018-07-30 10:37] ivucica commented on #707
If we introduce a new gRPC-Gateway-specific option on a `message` or on `rpc`, what makes that more or less official than a gRPC-Gateway-but-Swagger-specific field? Adding a Swagger-specific annotation does mean we are updating our "openapiv2" annotation protos.

It would, unfortunately, also mean having to update `protoc-gen-grpc-gateway` to understand swagger-specific annotations. Otherwise, we

[2018-07-30 10:49] ivucica commented on #707
To paste a shorter variant of what I put into #712:

I suggest a careful examination of what's currently present in [google.api.HttpRule documentation](https://cloud.google.com/service-management/reference/rpc/google.api#google.api.HttpRule).

[2018-07-30 13:18] johanbrandhorst commented on #707
@ivucica I can see you're being intentionally ambiguous, which is fine, but I'm interpreting this as you implying that this kind of thing exists-but-doesnt-exist-publically. That suggestion makes me a bit happier to accept this as it gives me some confidence it has been considered by a larger audience and corner cases dealt with, if any.

So we're back to a gateway specified field option, allowed

[2018-07-30 14:55] ivucica commented on #707
If we want to do as upstream did, then it's attached to an `rpc` :) but it may require some more parsing akin to what's done for `body`.

I don't mind attaching to `message` either.

Psst! _Relevant organs have been notified_

[2018-07-31 10:59] johanbrandhorst commented on #707
Attaching to an `rpc` sounds even better then. Will you try and look at a PR for this?

[2018-07-31 20:33] ivucica commented on #707
Interesting design requirement was noted in #712 and a good reason for the new field in `google.api.HttpRule` has been raised (namely `additional_bindings`). I'm not sure how to solve this elegantly; if we were solving this for an RPC, it'd be fine, but if we try to solve it per `.HttpRule` it's somewhat harder.

@doroginin n.b. I expect I will file the request for the `option` ID tomorrow.

[2018-08-01 05:44] lei314121077 opened #713 "google/protobuf/descriptor.proto: File not found. ?"
# Please follow the general troubleshooting steps first:

- [x] Update your protoc to the [latest version](https://github.com/google/protobuf/releases)
- [x] Update your copy of `grpc-gateway` to the latest version from github. with
  `git fetch https://github.com/grpc-ecosystem/grpc-gateway master && git reset --hard FETCH_HEAD`
- [x] Delete the `protoc-gen-grpc-gateway` and `protoc-gen-swagger`

[2018-08-01 06:45] achew22 commented on #713
Please fill out the issue template or file another bug. This is not enough information to allow us to understand what went wrong so we can help you. Thanks!

[2018-08-01 08:49] #713 closed

[2018-08-01 08:50] lei314121077 commented on #713
sorry  I have solved it. Thanks! @achew22

[2018-08-01 08:53] lei314121077 commented on #241
How to fix this?

[2018-08-01 11:28] doroginin opened #714 "Travis CI fails on master branch"
### Bug reports:

Travis CI on master branch fails now (last commit https://github.com/grpc-ecosystem/grpc-gateway/commit/209d7ce1a333550d4ce54dad94432192eeb2041b)

I forked original repo and run Travis CI test in my fork on master branch, and it fails now.
Link to the report https://travis-ci.org/doroginin/grpc-gateway/builds/410715427

[2018-08-01 13:05] johanbrandhorst commented on #714
Thanks for raising this, some discussion has already taken place in https://github.com/grpc-ecosystem/grpc-gateway/pull/711. I think the next step to debug this is to try and run all the CI steps manually and see which one is causing the incorrectly generated files.

[2018-08-01 13:51] xor-gate commented on #168
I like the implementation of @tmc. Seems the issue has not got any updates in some time. Are you still open to pull it into the project?

[2018-08-02 07:21] alexchansun opened #717 "enc.SetIndent undefined (type *json.Encoder has no field or method SetIndent)"
go get -u github.com/grpc-ecosystem/grpc-gateway/protoc-gen-swagger

github.com/grpc-ecosystem/grpc-gateway/protoc-gen-swagger/genswagger
gocode/src/github.com/grpc-ecosystem/grpc-gateway/protoc-gen-swagger/genswagger/generator.go:66: enc.SetIndent undefined (type *json.Encoder has no field or method SetIndent)

go version: go1.6.2 darwin/amd64

[2018-08-02 09:21] #717 closed, assigned to nobody

[2018-08-02 14:16] ivucica commented on #707
@doroginin I have filed a request for a new option ID.

[2018-08-02 20:29] ivucica commented on #707
No need for the option ID or for further hackiness -- #712 will be able to go through once upstream changes land and then we can look at closing this FR.

...this is less work for me than I expected ;)

[2018-08-02 22:03] johanbrandhorst commented on #707
This sounds like the best outcome for everyone, nice!

[2018-08-02 22:54] achew22 commented on #707
@ivucica and @johanbrandhorst, you two are the absolute best! Thanks for caring so much about this project :smiley:

[2018-08-03 10:43] DoctorQ commented on #438
# solution

https://github.com/golang/protobuf/blob/master/jsonpb/jsonpb.go

[code]

add `needToQuote = false`

then

[code]

for in need

[2018-08-03 11:37] johanbrandhorst commented on #438
For posterity, don't do what @DoctorQ suggests, use uint32 or don't use JSON at all when working with integers larger than 53 bits.

[2018-08-03 18:03] kurin commented on #438
I mean, again, we don't always have the luxury of those choices.  There is a large number of existing JSON APIs that use JSON numbers for integers with more than 53 bits.  The standard json package even encodes int64 as a number.  Switching away from JSON, or encoding those values as strings, would break users.

[2018-08-03 22:34] achew22 commented on #438
@kurin, what is the client that is calling you written in?

[2018-08-04 16:26] rogerhub commented on #241
@lei314121077 "google.api.http" is an extension of MethodOptions, not ServiceOptions. Make sure that your annotations are within the curly braces for an RPC method.

Using the examples from above:

**Wrong:**
[code]

**Correct:**
[code]

[2018-08-05 18:27] kurin commented on #438
There are multiple clients in many languages, but to pick two I know of: Java, Go.

[2018-08-05 19:00] achew22 commented on #438
If that's the case then could you use the grpc client directly? You won't have any of these kinds of problems if you're using the grpc generated client library directly.

[2018-08-05 21:14] kurin commented on #438
I'm sorry, I think there's some confusion in this thread about the kinds of ways in which API creators and implementors can get locked into an API design.

I am in the middle of implementing the server side of a JSON API I do not own and cannot change.  The API is defined by a third party with whom I have no say, and one of the parts of the definition is that numbers (such as files sizes into the

[2018-08-05 21:33] johanbrandhorst commented on #438
I proposed another solution too: you can wrap the gRPC gateway mux in your own handler that just converts large number sequences to quoted sequences. It would just be a simple http.Handler with some regex parsing perhaps? Or just manually scan and find large numbers.

[2018-08-05 21:34] achew22 commented on #438
It sounds to me like the argument should be a `float64`. If they specified that the API is a JSON number then that `==` a `float64. Since it sounds like this is an open source API, maybe you could share which one it is. I'm curious about what open-source APIs have IDs that exceed `52^2`.

[2018-08-05 23:01] kurin commented on #438
I'm not going to lie, having to use `float64` instead of a more semantically appropriate type to hold integer valued data because a different programming language that I don't use is broken makes me a little bit resentful.

I don't _think_ (but I'm not sure) that any of my integer values goes above 2^53; maybe they will fit in floats.

But this is really, IMO, better served by giving users a knob,

[2018-08-05 23:47] #703 closed

[2018-08-06 00:02] achew22 commented on #438
@kurin,

I think that is fair. Being displeased because of these circumstance is not ideal is well justified.

Unfortunately, the reality of the world we live in is that JSON hasn't aged well compared with alternative marshalling formats and is relatively restricted due to it. It's great that it existed in 1999 and it has propelled a lot of development over the years, but I, for one, am glad to se

[2018-08-06 02:18] kurin commented on #438
The thing I actually ended up doing was more or less identical to what @DoctorQ suggested above: https://github.com/kurin/blazer/commit/ee030c6b8466f9519fdc3475857333637d17b898.  (And note that this commit is as old as this conversation; I'm not advocating for my specific use-case, I'm pointing out that this is sometimes going to be the least worst thing to do.)

But doing this will cause my copy

[2018-08-06 09:13] johanbrandhorst commented on #714
I think this was fixed by https://github.com/grpc-ecosystem/grpc-gateway/pull/715?

[2018-08-07 22:03] vaijab commented on #218
I have been fiddling with this myself. There is no easy way to send bytes in a header value with curl (for example) over HTTP/1.1. Normally this would be base64 encoded, which is what happens in HTTP/2 transport implicitly.

For example, let's consider an HTTP/1.1 header called `grpc-metadata-foo-bin`. When grpc-gateway receives an HTTP/1.1 request with mentioned header, it will strip `grpc-metada

[2018-08-09 03:00] jon-whit opened #720 "Generating Multiple Path Bindings for Single gRPC Call"
I have a field in a protobuf message called "parent". It looks like this:

  message ListRolesRequest {
    // The resource name of the parent resource in one of the following formats:
    // `` (empty string) -- this refers to curated roles.
    // `organizations/{organization_id}`
    // `tenants/{tenant_id}`
    string parent = 1;
    ...
  }

  rpc ListRoles(ListRolesRequest) returns (ListRole

[2018-08-11 08:33] toranger opened #722 "why gateway proxy can not distribute the http request to local server? prompt 404"
![image](https://user-images.githubusercontent.com/23206440/43989835-1969a4ae-9d84-11e8-8477-662e2bee5209.png)
did‘t trigger the grpc call at all

[2018-08-11 08:53] johanbrandhorst commented on #722
I'm gonna need a lot more information to be able to help you. What does your protofile look like? What is the exact curl command you ran? It looks to me from that screenshot that you're just calling the wrong URL. A gRPC-Gateway would not reply with an error like this, (notice the `Powered By Jetty://` error).

[2018-08-11 09:18] toranger commented on #722
Pre: I run two local raft master node srv and one local grpc-gateway to distribute http request
such like this rpc function, protofile like this:
![image](https://user-images.githubusercontent.com/23206440/43990150-22f4a720-9d8a-11e8-98cc-19cb71a6a852.png)
![image](https://user-images.githubusercontent.com/23206440/43990121-a03c96b2-9d89-11e8-917d-c260eb1eb1ce.png)
Ps: the http request can arrived

[2018-08-11 17:42] achew22 commented on #722
@toranger, could you include not  a screenshot, but a copy/paste'd version of the go code you're using to register the grpc gateway handlers and also to start the server?

[2018-08-12 04:48] toranger commented on #722
@achew22,
[svr.txt](https://github.com/grpc-ecosystem/grpc-gateway/files/2280736/svr.txt)
[gateway.txt](https://github.com/grpc-ecosystem/grpc-gateway/files/2280737/gateway.txt)

[2018-08-12 08:16] achew22 commented on #722
Can you write a bit about what it is you've tried and what you think might be wrong too? I'm happy to help with a specific problem but I don't have time to dig through a couple hundred lines of code and dozens of linked libraries -- sorry

[2018-08-12 14:32] toranger commented on #722
Sorry, the problem is  I start two svr ( 0.0.0.0:9090 and 0.0.0.0:9092 ) and gateway( listen 8090), though http request can arrive at gateway but svr did't trigger the  grpc method. It always present "transport is closing".  Does it mean svr  has problem with  grpc? or?

[2018-08-12 20:04] achew22 commented on #722
Can you write a bit about what it is you've tried and what you think might be wrong too? Are you getting any other error messages for example?

[2018-08-13 01:38] toranger commented on #722
There are no other error messages, I tried use curl to call the rpc function, but all remind me "transport is closing",  if gateway can't connect server it will remind "all sub connection failed", so I think maybe use gateway to trigger rpc failed.

[2018-08-13 02:05] achew22 commented on #722
Are you curling to the gRPC endpoint or to the http exposed endpoint? What is the curl command you're running?

[2018-08-13 02:12] toranger commented on #722
curl -H "Content-Type:application/json" -d '{"module_name":"cos-cgi", "env_name":"dev", "category":"ap-shanghai"}' -X POST -k http://118.89.226.213:8090/v1/getagentinfo/module, all did not work

[2018-08-13 02:13] achew22 commented on #722
when your run that command with the additional arguments `-vvv` what do you get?

[2018-08-13 02:48] toranger commented on #722
A long time later, it will show:
* upload completely sent off: 69 out of 69 bytes
< HTTP/1.1 503 Service Unavailable
< Content-Type: application/json
< Date: Mon, 13 Aug 2018 02:27:50 GMT
< Content-Length: 42
<
* Connection #0 to host 118.89.226.213 left intact
Add the log to the svr port, It seems no problem. I start all server on one machine to test.
I0813 10:36:48.370241   15174 main.go:67] cur

[2018-08-13 02:51] achew22 commented on #722
Can you include the complete output of the curl command? All the way from invocation to the end of the output? When you paste it in here, if you follow [these](https://help.github.com/articles/creating-and-highlighting-code-blocks/) instructions on how to create a code block, it will be much easier for me to read.

[2018-08-13 15:05] vtolstov opened #723 "how to provide interface type inside proto for grpc-gateway"
I have json message with some field image that can holds uint32 or string.
How can i specify such thing inside proto file? Or how to not decode this filed and get raw data for it?

[2018-08-13 15:14] achew22 commented on #723
Unfortunately, proto doesn't really support union types. The only way I can think of doing this is to always take a string. I believe the json parser is nice enough to cast numbers into strings but I'm not 100% sure on that. You might also consider looking into one_of types, but I don't think they exactly provide these semantics.

[2018-08-13 18:31] vtolstov commented on #723
oneof not helps:
[code]
[code]

[2018-08-13 18:33] vtolstov commented on #723
if i'm provide string, i have error that can't unmarshal to my type.
[code]

[2018-08-14 00:36] frolickingferret445 commented on #694
Are you sure that you are still seeing this issue?  If I understand your issue correctly, I was seeing the same issue, but it disappeared when I pulled the latest version of grpc-gateway.

[2018-08-14 14:10] johanbrandhorst commented on #694
Could you try against master? Might be time for us to cut a new release with this fix.

[2018-08-14 17:05] frolickingferret445 commented on #702
What is the current state of this merge request?  And are we sure that it won't fix this issue?

https://github.com/grpc-ecosystem/grpc-gateway/issues/720

[2018-08-15 06:43] uynap commented on #383
Hi @narqo , Sorry to comment this old thread. I recently got the same issue. It's apparent that protoc-gen-swagger is not working in the same way as protoc-gen-go and protoc-gen-grpc-gateway.

Firstly, the path of the files generated by protoc-gen-grpc-gateway is indicated by the "option go_package". Secondly, when "option go_package" is missing, protoc-gen-grpc-gateway use the "-import_path" opti

[2018-08-16 01:59] dingrui37 commented on #298
Hi @doubleyou could you give me a guide about how to use grpc-gateway in python? Thanks

[2018-08-16 03:29] ch3rub1m commented on #702
@frolickingferret445 I am still waiting for being merged.
Unfortunately it cannot fix #720.

[2018-08-16 03:37] achew22 commented on #723
Huh, I guess it really doesn't support them. The only other option I can think of is writing your own [marshaller](https://godoc.org/github.com/golang/protobuf/jsonpb#Unmarshaler) for jspb or writing an interceptor in http land that rewrites the request. Sorry!

[2018-08-16 04:35] jinleileiking opened #725 "Let service choose it's own marshaller"
# Please follow the general troubleshooting steps first:

- [ ] Update your protoc to the [latest version](https://github.com/google/protobuf/releases)
- [ ] Update your copy of `grpc-gateway` to the latest version from github. with
  `git fetch https://github.com/grpc-ecosystem/grpc-gateway master && git reset --hard FETCH_HEAD`
- [ ] Delete the `protoc-gen-grpc-gateway` and `protoc-gen-swagger`

[2018-08-16 04:36] frolickingferret445 commented on #702
hmmm thanks!

[2018-08-16 06:57] vtolstov commented on #723
@achew22 nice, can you provide link to doc how to write such interceptor?

[2018-08-16 08:42] johanbrandhorst commented on #725
It's possible to choose your own marshaller already with the `runtime.WithMarshalerOption` option: https://godoc.org/github.com/grpc-ecosystem/grpc-gateway/runtime#WithMarshalerOption.

[2018-08-16 08:42] #725 closed

[2018-08-16 08:46] johanbrandhorst commented on #723
@vtolstov Just to add to what @achew22 already wrote, I think what this means is just implementing a `http.Handler` that looks at incoming requests and rewrites them such that they are in a format which is compatible with the normal gRPC-Gateway handlers, then wrap the gateway runtime mux with that handler before attaching it to a `http.Server`.

[2018-08-16 08:47] johanbrandhorst commented on #723
And the same for any replies, of course. It's called http Middleware: https://hackernoon.com/simple-http-middleware-with-go-79a4ad62889b.

[2018-08-16 09:11] Arttii opened #726 "Cannot set `consumes` definition per operation"
# Please follow the general troubleshooting steps first:

- [x] Update your protoc to the [latest version](https://github.com/google/protobuf/releases)
- [x] Update your copy of `grpc-gateway` to the latest version from github. with
  `git fetch https://github.com/grpc-ecosystem/grpc-gateway master && git reset --hard FETCH_HEAD`
- [x] Delete the `protoc-gen-grpc-gateway` and `protoc-gen-swagger`

[2018-08-16 09:14] johanbrandhorst commented on #726
Indeed, it seems `Consumes` is hardcoded. Do you want to contribute a fix for this? It looks like it should be rather straightforward.

[2018-08-16 09:18] Arttii commented on #726
I can give a try

[2018-08-16 10:33] vtolstov opened #727 "how to do tls auth in grpc+grpc-gateway"
I'm already have grpc server with my own letsencrypt cert behind Nginx:
nginx listens ssl, and proxy_pass to https grpc-gateway

grpc server listens on int_ip:7777, nginx listens on ext_ip: 443, hostname - external domain name on nginx, endpoint intenal listen addr - int_ip:7777

grpc code stuff:
[code]

gw stuff:
[code]

main stuff:
[code]

when i'm try to start my app i have context deadline exc

[2018-08-16 10:34] vtolstov commented on #727
Without tls all warks fine with cmux, i can connect without certs to grpc server and do some rest requests, but with tls enabled i'm always have timeouts

[2018-08-16 12:03] vtolstov commented on #727
i think that me question is:
does it possible to use the same cert on client (gateway) and on server ?

[2018-08-16 12:38] johanbrandhorst commented on #727
mTLS between the grpc-gateway client and the gRPC server should absolutely be possible. You have to turn off client authentication for your gateway though, unless you expect those clients to also present a certificate. https://github.com/gogo/grpc-example/blob/master/main.go shows an example of how to do server auth, and adding client auth on top shouldn't be much work.

[2018-08-16 12:53] johanbrandhorst commented on #726
Yes :)

[2018-08-16 13:54] Arttii commented on #726
I am a bit unsure how to write the test I cannot seem to find any examples how to actually pass in options with `MethodDescriptorProto`

[2018-08-16 13:55] vtolstov commented on #727
I found the root of my issue - cmux.
I need to run both grpc and rest on the same port. In case of plain tcp - all fine, cmux works by query request headers. In case of crypt - i need to pass to grpc server plain tcp listener, but for rest i need to pass tls encrypted listener.

[2018-08-16 13:56] vtolstov commented on #727
So my new question - does have somebody already knows how to do encrypted grpc+rest with cmux.

[2018-08-16 15:38] johanbrandhorst commented on #726
If you put up a PR we can review it and help you create some tests for it!

[2018-08-16 16:10] ayenter opened #728 "Client grabbing errors"
### This is not technically a bug with grpc-gateway, but more of a request for information/help for usage.

**Steps you follow to reproduce the error:**

1. Setup and run a grpc-gateway with no backend service running (so that all requests fail).
2. Send a legitimate REST call using a python `requests` client or php `guzzle` client.
3. Send the same command using curl.
4. Compare the error respons

[2018-08-16 16:16] johanbrandhorst commented on #728
If `curl` does the right thing and `requests` and `guzzle` doesn't, it's probably up to how those have been configured, right? I bet you can get the same reponse data from both of those clients. This is probably not the best place to ask for help with configuring your python of PHP client unfortunately, so I will close this issue and direct you to the [requests documentation](http://docs.python-re

[2018-08-16 20:07] jon-whit commented on #720
Was the use case outlined above addressed in #702?

[2018-08-16 22:53] vtolstov commented on #727
i'm solve. With plain mode i'm use cmux to get rest and grpc on the same port.
For tls mode i'm use another example from @philips

[2018-08-16 22:53] #727 closed

[2018-08-16 23:04] achew22 commented on #727
Could you post the code you ended up using in here? It might be useful to others in the future

[2018-08-16 23:38] vtolstov commented on #727
[code]

[2018-08-16 23:39] vtolstov commented on #727
main part is above. may be i create some repo to put all stuff to it and provide link.

[2018-08-17 04:06] toranger commented on #722
Finally, found it works wrong with the raft connection, thank you very much .

[2018-08-17 04:06] #722 closed

[2018-08-17 08:13] biolee opened #729 "format tool"
I use clang-format to format proto file, but the output option section of proto file is not what I expect,

say I `clang-format -i examples/proto/examplepb/a_bit_of_everything.proto`

I get

[code]

so what format tool are you using?

[2018-08-17 08:28] jinleileiking commented on #725
@johanbrandhorst  I mean.

each api have its own marshaller:

[code]

[2018-08-17 08:36] johanbrandhorst commented on #729
The files in this repo are manually formatted, but a formatting tool that solves this much better than `clang` is [prototool](https://github.com/uber/prototool).

I'll close this issue as it's largely unrelated to the gateway, but feel free to reopen if you have more questions.

[2018-08-17 08:36] #729 closed

[2018-08-17 08:37] johanbrandhorst commented on #725
Do you want the ability to control the marshaller per-method? You could do this kind of thing with two different gRPC-Gateway servers on the same `http.Server` if you split traffic in a separate handler. Would that work for you?

[2018-08-17 09:44] ch3rub1m commented on #720
@jon-whit #702 is not about additional_bindings. It is for the resource name in path. I pulled the latest and it works well.

By the way, this maybe work in your case:
[code]
If the above one is not work, try this:
[code]

[2018-08-17 12:40] vgheri commented on #566
I am also running into this issue and it's pretty troublesome.
Would it be possible to re-open the issue and discuss if it can be fixed instead of using workarounds (that are impractical) ?

[2018-08-17 12:49] johanbrandhorst commented on #566
I'll reopen the issue since this seems to still be a problem. I don't know of any workarounds myself, and I'm not sure how this could possibly be solved without something like a wildcard in the router which isn't supported by the standard library router. Do you have any ideas?

[2018-08-17 14:11] ivucica commented on #707
I believe this is fixed in #712

[2018-08-17 14:11] #707 closed

[2018-08-17 15:25] Makman2 opened #731 "`go get -u github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway` fails on clean environment"
Steps you follow to reproduce the error:

1. Move into a clean environment: `docker run -it golang:1.10.3 bash`
2. Run `go get -u github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway`

That fails with an error:

[code]

This commit is responsible for that: https://github.com/grpc-ecosystem/grpc-gateway/commit/e679739db1dec33f243ca6cd7a4f05909a801fe1

That just broke our master, and I see

[2018-08-17 15:31] jon-whit commented on #720
@ch3rub1m that doesn't even compile with the latest version of protoc. the `{` and`}` characters have to be preceded and followed by `/` characters.

[2018-08-17 15:31] johanbrandhorst commented on #731
Can you retry this? We think this might be fixed already. See https://github.com/grpc-ecosystem/grpc-gateway/pull/730 and https://github.com/grpc-ecosystem/grpc-gateway/pull/712#issuecomment-413899154

[2018-08-17 15:32] johanbrandhorst commented on #731
Also the fix for this is just to merge #730

[2018-08-17 15:42] ivucica commented on #731
I've just ran this test case and this has worked for me.

I also see no issue on the CI here.

Please reopen if you still see issues you directly correlate to the quoted commit.

[2018-08-17 15:42] #731 closed

[2018-08-17 15:54] ivucica commented on #723
Random thought, partially based on @achew22's comment (I almost suggested implementing `UnmarshalJSON` until I realized that's stupid):

- given `something.proto` containing `message IntAndString`, generate your `something.pb.go` in a package, e.g. `github.com/vtolstov/something/proto`.
- create a new `something.custom.go` in the same package e.g. `github.com/vtolstov/something/proto`.
- in `somet

[2018-08-17 17:28] vtolstov commented on #723
@ivucica thanks! i'm try this

[2018-08-17 17:34] achew22 commented on #723
That's a very clever idea! Good thinking @ivucica

[2018-08-19 13:33] vtolstov opened #732 "autoregister all provided services"
I have many services (more then 20) does it possible to register bulk all this services in grpc and grpc-gateway? Or i need to pass one by one inside gateway and grpc functions (runtime.NewServeMux and grpc.NewServer)

[2018-08-19 13:34] vtolstov commented on #710
does it possible to modify EmitDefaults per Service in runtime.NewServeMux ?

[2018-08-19 13:34] vtolstov commented on #710
i have compat api and new api. In compat i need to EmitDefaults: true, but in new - not

[2018-08-19 19:38] vtolstov commented on #710
thanks, but how to deal with two different ServeMux in one http.Server ?

[2018-08-20 08:16] johanbrandhorst opened #733 "Make a new release"
Version 1.4.1 was released in May, and it's about time we have another release. We might want to wait for https://github.com/grpc-ecosystem/grpc-gateway/pull/671 since that would be nice to have in a new release as well, but we shouldn't wait too long.

[2018-08-20 08:48] ch3rub1m commented on #720
@jon-whit How about this:
[code]

[2018-08-20 12:55] Tommy-42 commented on #566
Hi,

Basically :

where `foo:bar:id ` is litteraly a string for example an alias constructed with 3 differents pieces separated by `:` will fail :

`curl http://localhost:8080/v1/test/alias/foo:bar:id`
`404 Not Found`

but if you do as said above :

`curl http://localhost:8080/v1/test/alias/foo:bar:id:`
`// works as intended`
will work fine.

I added some logs to start understanding how it works :

[2018-08-20 13:12] johanbrandhorst commented on #566
Nice digging @Tommy-42, this will absolutely help others who may be wanting to test the same thing! If I find the time I might look at this but no promises I'm afraid.

[2018-08-20 13:41] Tommy-42 commented on #566
I found this issue, that is basically what we talked about

https://github.com/grpc-ecosystem/grpc-gateway/issues/224

cc @johanbrandhorst

[2018-08-20 14:17] johanbrandhorst commented on #566
Seems like that issue was closed with https://github.com/grpc-ecosystem/grpc-gateway/commit/7226a0d0cd5d6a64d73ed5eba1ce19cad859d70f. Is this still a problem or did that fix this as well?

[2018-08-20 15:06] jon-whit commented on #720
@ch3rub1m sorry man, I feel like we're clashing on this one... The problem with your example above is it doesn't adhere to my needs as statement above.

I need parent to match `organizations/<org_id>` or `tenants/<tenant_id>` or an empty string. Your example above would match `iam/<something>`.

[2018-08-21 03:26] ch3rub1m commented on #720
@jon-whit I understood. I just propose a compromise between current features and what you want.

[2018-08-21 06:41] jinleileiking commented on #725
Yes

@johanbrandhorst Can you give me an example? Thanks.

[2018-08-21 16:41] ivucica commented on #698
While it's recommended to use proto3 (so your FR makes sense), have you tried using proto2 syntax to distinguish between default and undefined values?

[2018-08-21 23:48] veqryn opened #734 "Question/Enhancement: how to wrap the gateway's response?"
At my organization, all of our http rest endpoints return a basic structure that looks like this:
[code]

Regardless of whether there is a repeating or non-repeating resource, it gets returned within the `data` array above.
Any errors go into the `errors` field.

So, some actual examples:
Here we are with a singular resource:
[code]

Here is an error:
[code]

Is there absolutely any way I can poss

[2018-08-22 08:12] Tommy-42 commented on #566
I've done my test on the `1.4.1`, which was released on may 23 if I am no wrong. but this commit was merged on 2nd august.

but the tricky part is I am using golang/protobuf which enforce the version of grpc-gateway which constrain me from setting up the master branch ( and may not be compatible too ).

do you have a solution ?

[2018-08-22 08:30] johanbrandhorst commented on #734
Streaming responses use something like this already:
Success:
[code]
Failure:
[code]
See https://github.com/grpc-ecosystem/grpc-gateway/blob/master/runtime/handler.go#L181.

However, I think the way you would solve this is to design your proto messages to output in this format, and then implement a custom [`HTTPError`](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/runtime/errors.go#L6

[2018-08-22 08:31] johanbrandhorst commented on #566
How do you mean using `golang/protobuf` enforces a specific version of grpc-gateway? `master` of grpc-gateway does use version `1.1` of `golang/protobuf`, but I don't know about any inverse requirement?

[2018-08-22 09:10] Tommy-42 commented on #566
my bad, I did say something wrong.

it is even more fucked up ... :(

I've

[code]
because `go-grpc-middleware` constraint `master` on `golang/protobuf` ...

but `grpc-gateway` enforce `golang/protobuf` to `1.1`

I am kind stuck there.

[2018-08-22 09:45] veqryn commented on #734
Hm... this would mean making every single proto response message into a `repeated` field called `data.
That may work, but I was hoping not to have to mangle the proto/grpc side just to get the rest side looking good.
Is it possible to change `result` to `data` for streaming responses?

[2018-08-22 09:55] johanbrandhorst commented on #566
@Tommy-42 you can use an `override` to force a specific version:

[code]

https://golang.github.io/dep/docs/Gopkg.toml.html#dependency-rules-constraint-and-override

[2018-08-22 09:59] johanbrandhorst commented on #734
I think if you want to wrap the entire response you're better just wrapping the ServeMux with a custom handler middleware for rewriting responses. The streaming response isn't configurable as far as I know.

[2018-08-22 11:14] trusch opened #735 "Uint64 is represented as type:"string" in the swagger docs."
# Please follow the general troubleshooting steps first:

- [ x ] Update your protoc to the [latest version](https://github.com/google/protobuf/releases)
- [ x ] Update your copy of `grpc-gateway` to the latest version from github. with
  `git fetch https://github.com/grpc-ecosystem/grpc-gateway master && git reset --hard FETCH_HEAD`
- [ x ] Delete the `protoc-gen-grpc-gateway` and `protoc-gen-swa

[2018-08-22 12:00] Tommy-42 commented on #566
Oh my ... huge thanks, it works great now !

[2018-08-22 12:00] Tommy-42 commented on #566
![godependency](https://user-images.githubusercontent.com/6181866/44462111-c258f780-a613-11e8-8680-1c853e9727a1.jpg)

[2018-08-22 14:46] johanbrandhorst commented on #566
Can you confirm this is fixed in master then so we can close this issue?

[2018-08-22 14:51] Tommy-42 commented on #566
yes, it is working with master branch, I am able to request `foo:bar:joe` or `foo:bar:joe:`

thanks for the help !

[2018-08-22 14:52] johanbrandhorst commented on #566
Great, thanks for confirming!

[2018-08-22 14:52] #566 closed

[2018-08-22 14:58] johanbrandhorst commented on #735
This kind of thing has been discussed before at length: https://github.com/grpc-ecosystem/grpc-gateway/issues/438. Is this a fundamentally different issue? I will pre-emptively close this, but please let me know if I'm wrong.

[2018-08-22 14:58] #735 closed

[2018-08-26 00:26] SpikesDivZero opened #736 "Go1.11: http.CloseNotifier is deprecated"
Hi all,

I was checking if we could upgrade our project to Go 1.11 now that it's released, and one of our static analysis tools is erring with "http.CloseNotifier is deprecated". I tried upgrading my binaries locally, and then checked the git repo and see that it's still present in template.go on the master branch.

Could the template be upgraded so that we're no longer relying on deprecated code?

[2018-08-26 18:50] vtolstov commented on #723
ping...

[2018-08-27 15:26] hiromis commented on #652
I came across this issue while trying to create an endpoint that takes an arbitrary JSON, modifies one field, and forwards if to another RESTful service.

I considered creating a custom marshaller, but it seems like it's at MIME type level and not for a particular endpoint. All the other endpoints should use the default marshaller, but for one endpoint I would like an access to the body where I do

[2018-08-27 23:10] ivucica commented on #723
I won't get around to playing with this out any time soon.

What have you tried to triage this? Does `IntAndString`'s `UnmarshalJSONPB` get called? Trivially, you can just add a `fmt.Println()` to it and see what happens.

I am also confused at which `map[string]json.RawMessage` is this being unmarshalled into. It would be interesting to find where this error comes from. Have you tried finding out

[2018-08-28 10:15] johanbrandhorst commented on #720
I'm afraid that information may be hard to come by, perhaps @achew22 will know?

[2018-08-28 18:37] jon-whit commented on #720
@johanbrandhorst thanks for looping in here. I've been trying to figure out a solution to this issue for a while now, so any assistance is much appreciated :).

Thanks!

[2018-08-29 06:42] robbert229 opened #740 "operation_id setting for proto-gen-swagger is ignored"
### Bug reports:

Fill in the following sections with explanations of what's gone wrong.

## Steps you follow to reproduce the error:

1. create a service that has an rpc with the operation id set.
[code]
2. generate a swagger spec for it.

## What did you expect to happen instead:

1. I expected that the generated swagger spec would have an operation id of "performEcho" instead of Echo.

## What'

[2018-08-29 14:54] maros7 opened #741 "Support for repeated path parameters"
I wonder if you would consider adding support for repeated path parameters á la `"collectionFormat": "csv"` from Swagger/OpenAPI? See e.g. https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#path-item-object-example.

[2018-08-29 16:09] johanbrandhorst commented on #741
Path parameters largely just need to be compatible with the `http.proto`  `HttpRule` definition: https://github.com/googleapis/api-common-protos/blob/master/google/api/http.proto#L45. If your proposal can be described using that, I don't see why not :).

[2018-08-29 17:50] maros7 commented on #741
Ideally I’d like to follow the OpenAPI 2.0 standard which allows csv (default), ssv, tsv, pipe and multi. The latter is only for query params though. But I don’t see how it would be possible to specify a ”separator” using the http annotation. As I see it I can implement/hard code csv and my assumption is that it would be sufficient for most people. On the other hand I guess it could be possible to

[2018-08-30 14:26] maros7 commented on #741
Sadly swagger-codgen doesn't support arrays as path parameters, even if the 2.0 spec says that it is supported. See https://github.com/swagger-api/swagger-codegen/blob/v2.2.2/modules/swagger-codegen/src/main/resources/go/api.mustache#L45. It will only generate correct code for arrays as query parameters. See https://github.com/swagger-api/swagger-codegen/blob/v2.2.2/modules/swagger-codegen/src/mai

[2018-08-30 22:03] vtolstov commented on #710
https://github.com/mennanov/fieldmask-utils this is works fine

[2018-09-01 19:34] johanbrandhorst commented on #736
I think this should be a reasonably easy first PR for anyone wanting to do it - the CloseNotifier code is only there for when the request context isn't available. Feel free to submit a PR with it removed :).

[2018-09-01 19:35] #714 closed

[2018-09-03 08:45] fn-code opened #744 "issue encountered when generating: unsupported options: logtostderr"
when i generare i got this message : --grpc-gateway_out: echoserver/echoserver.proto: unsupported options: logtostderr
thank you

[2018-09-03 09:39] tmc commented on #744
Can you share the exact code that is executing? The protocol invocation?

[2018-09-03 09:41] johanbrandhorst commented on #744
I think you need a `=` in there:

[code]

[2018-09-03 10:02] fn-code commented on #744
@johanbrandhorst its not work. just getting this

[2018-09-03 10:04] fn-code commented on #744
@tmc this ??

[2018-09-03 10:15] johanbrandhorst commented on #744
We need the full `protoc` command to see where the problem is. Your last example still doesn't have the `=` in it. Can you post your full `protoc` command?

[2018-09-03 10:17] fn-code commented on #744
@johanbrandhorst @tmc

[2018-09-03 11:46] fn-code commented on #744
@johanbrandhorst  i got this message :
[code]
this  command `protoc -I /usr/local/include -I. -I $GOPATH/src -I $GOPATH/src/github.com/grpc-ecosystem/grpc-gateway/third_party/googleapis --plugin=protoc-gen-grpc-gateway=$GOPATH/bin/protoc-gen-grpc-web --grpc-gateway_out=logtostderr=true:. echoserver/echoserver.proto` i got from this #205 but when i running this command i got this

[2018-09-03 11:49] johanbrandhorst commented on #744
You're getting that error because you're not running `protoc-gen-grpc-gateway`. Run
[code]

And then run the command I told you to run again.

[2018-09-03 11:50] johanbrandhorst commented on #744
Where did you get `protoc-gen-grpc-web` from? It has nothing to do with this repository I'm afraid. That is the whole source of your trouble. I'm closing this as it seems to be unrelated to the gateway, but please tell me if you want me to reopen it again.

[2018-09-03 11:50] #744 closed

[2018-09-03 12:16] fn-code commented on #744
@johanbrandhorst i got same message
[code]

[2018-09-03 16:27] eundoosong commented on #736
@johanbrandhorst I would like to work on this issue.
Does this mean below CloseNotifier should be removed?
[code]

[2018-09-03 16:59] fn-code commented on #744
@johanbrandhorst okey thank you for your help :+1:

[2018-09-03 17:02] johanbrandhorst commented on #736
Yeah, we can safely remove that whole if-clause I think.

[2018-09-03 20:43] vtolstov opened #745 "how to get proper fields name for method"
I have some method that returns 10 fields. Some of them are big (2-4Kb). I know about field_mask and try to use it, but swagger generated file not specify which fields actually i can send. (my web service use swagger to generate typescript services).
I'm try to use enum for fields, but in this case my url look not like ?fields=id,name,xx,yy but ?fields=id&fields=name&fields=xxx

Does it possible t

[2018-09-03 21:04] johanbrandhorst commented on #745
Hi @vtolstov. Your issue confuses me a bit. Could you try to reword it as a feature request, so I can understand what the problem with your current setup is? Field masks do not require or encourage the use of enums to select fields. Field masks are just strings.

[2018-09-04 07:06] EQ94 commented on #501
I got the same problem too, have you solve this? thanks

[2018-09-05 07:04] princejha95 commented on #664
I have a proto file which contains two services. The comments of the rpc methods present in second service gets copied from first service on swagger UI. Can somebody please tell me how to fix it ?

[2018-09-05 13:11] johanbrandhorst commented on #664
Yeah, that looks wrong. Could you open a separate issue with a minimal protofile which reproduces the error? I think something like the following should do:

[code]

[2018-09-05 13:50] princejha95 opened #746 "Comments of rpc method gets copied if multiple services are present in a proto file."
I have a proto file which consists of multiple services. When I generate the swagger json file from it,
the comment which are mentioned for the **first service** gets copied down to the **second service** in the json file.

Here is the proto file:

[code]

Here is the generated swagger json file:

[code]

Can anyone help in fixing this issue ?

I don't want the comments to get copied. The comments

[2018-09-05 13:59] princejha95 commented on #664
I have raised a new issue. Here's the link:

https://github.com/grpc-ecosystem/grpc-gateway/issues/746

[2018-09-05 14:44] johanbrandhorst commented on #746
Thanks for raising this issue @princejha95. I'm guessing there's either some variable being overwritten incorrectly or an index not being used here. I predict that if we add a third service with the same method name it will also give that the comment from the first service.

We'd be happy to review a PR to fix this. I think the first place to look would be https://github.com/grpc-ecosystem/grpc-ga

[2018-09-05 20:08] princejha95 commented on #746
I think we need to look at https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-swagger/genswagger/template.go because this is where the comments part is dealt.

Please have a look to this file.

[2018-09-06 01:16] jon-whit commented on #720
@achew22 Any ideas here?

[2018-09-06 20:33] vtolstov commented on #740
any progress?

[2018-09-06 21:51] achew22 commented on #720
@jon-whit unfortunately I don't have any specific ideas here. Step one is going to be create a failing test case. Do you think you could send in a PR that demonstrates this reliably?

[2018-09-07 02:39] princejha95 commented on #746
Can anyone tell me how can i debug files in grpc-gateway using a debugger ?

Which file should be the starting point to start debugging ?

[2018-09-07 03:33] carrelld commented on #746
@princejha95 What I did to start debugging was to set-up a failing test, but that was a bit harder than expected given I wan't sure how to construct a valid `File` object. Here's my best guess though at a fix:

The index of the service gets passed to https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-swagger/genswagger/template.go#L743 the values being 0 on the first pass and 1

[2018-09-07 05:20] princejha95 commented on #746
I have done and checked what you said and it's correct but this is working only for a single proto file. If i have multiple proto files in a directory, then it is displaying the comments of rpc methods of all the services only for a single proto file. The comments of rpc methods of remaining proto files is not getting displayed.

[2018-09-07 05:59] princejha95 commented on #746
https://github.com/grpc-ecosystem/grpc-gateway/blob/ab0345bb328757bfef2f3d7d4e642e182eb985b9/protoc-gen-swagger/genswagger/template.go#L841

What i observed is that when we have multiple proto files, then the title of the generated file is set to the name of that file which comes first in alphabetical order.

 So, in the above link, ***p.File.Name**  in title represents the name of file coming fir

[2018-09-07 15:29] jon-whit commented on #720
@achew22 maybe I misunderstand.. The example above would be one such case..? What do you mean?

[2018-09-08 01:27] Sahasrara opened #747 "protoc-gen-swagger doesn't generate any request objects for GET/DELETE"
### Bug reports:

Fill in the following sections with explanations of what's gone wrong.

Steps you follow to reproduce the error:
1.  I wrote a simple gRPC proto file with one GET endpoint.
2.  I run protoc with swagger gen
3.  The Response object appears in my swagger file, but the request does not.

What did you expect to happen instead:

1.  I assumed the swagger documentation would be complet

[2018-09-08 08:05] johanbrandhorst commented on #747
Thanks for your issue report. Could you include an example protofile thst reproduces the issue?

[2018-09-08 11:13] vtolstov opened #748 "something wrong with service"
I have simple service
[code]

When i'm do request like http://1.2.3.4/xxx/v2/account/keys/1 all works fine, but when i'm try to get key via fingerprint like http://1.2.3.4/xxx/v2/account/keys/1:ab:fe i have error: Not Implemented

[2018-09-08 11:34] vtolstov commented on #748
I found https://github.com/grpc-ecosystem/grpc-gateway/issues/224 but i'm realy need to pass fingerprint that contains colons. And i'm believe that it can be possible.

[2018-09-08 12:32] johanbrandhorst commented on #748
This is a duplicate of #556, right? Is this working on master?

[2018-09-08 14:17] vtolstov commented on #748
@johanbrandhorst No, i need to receive param that contains colons via grpc-gateway for my grpc service, now i have ugly method to override param (adding trailing colon) before pass it to handler

[2018-09-08 20:49] vtolstov commented on #748
I'm use github.com/golang/protobuf v1.2.0

[2018-09-08 21:43] vtolstov commented on #748
I'm fetch master of grpc-gateway and now all fine. May be the time to get new release?

[2018-09-08 22:12] johanbrandhorst commented on #748
Yes, we will be making a new release shortly :). See #733. Glad it's working now.

[2018-09-08 22:31] vtolstov commented on #748
@johanbrandhorst thanks!

[2018-09-09 12:10] #733 closed

[2018-09-09 12:12] johanbrandhorst commented on #733
Version v1.5.0 released :tada:

[2018-09-09 14:38] johanbrandhorst commented on #723
This is not an issue with the library itself, so I will close this, though it contains some interesting information. Please feel free to reply in-line again, or make a case for keeping this open :).

[2018-09-09 14:38] #723 closed

[2018-09-09 14:42] johanbrandhorst commented on #710
Closing this as OP seems inactive.

[2018-09-09 14:42] #710 closed

[2018-09-09 14:43] johanbrandhorst commented on #701
Sounds like there's work that could be done here.

[2018-09-09 14:48] johanbrandhorst commented on #699
I'm going to close this issue since it's not really related to features or bugs of this library. However, having done this kind of testing myself, here are some pointers:

1. Run your gRPC-Gateway and gRPC server in a goroutine. Maintain a reference to the server so you can call `srv.GracefulClose` in the main goroutine when your tests are done.
1. Just use `http.Get`, `http.Post` etc. Pretend it'

[2018-09-09 14:48] #699 closed

[2018-09-09 14:50] johanbrandhorst commented on #698
This is being worked on in #671

[2018-09-09 14:52] johanbrandhorst commented on #160
I believe this has been fixed in recent months.

[2018-09-09 14:52] #160 closed

[2018-09-09 14:52] johanbrandhorst commented on #552
You have to use field masks. This will be automatically supported with #671.

[2018-09-09 14:52] #552 closed

[2018-09-09 14:53] johanbrandhorst commented on #233
This is part of the v2 work in #546.

[2018-09-09 14:55] johanbrandhorst commented on #562
Seems like this will be fixed by #458

[2018-09-09 14:55] johanbrandhorst commented on #694
A new release has been made, this should be fixed.

[2018-09-09 14:55] #694 closed

[2018-09-09 14:56] johanbrandhorst commented on #690
Sounds like adding support for the `tag` option is a good first PR :).

[2018-09-09 14:57] johanbrandhorst commented on #690
Passing parameters via headers is not currently supported. Headers map to gRPC metadata.

[2018-09-09 15:49] johanbrandhorst commented on #683
I think the easiest fix here will be copy-pasting the `protoc-gen-go` generator logic into the generator, but it is problematic since long term they will inevitably deviate. This here is another source of incompatibility with `protoc-gen-gogo` as well since the latter allows a custom name to be used. I wish we could have some way of reading from the file we use but I don't think it's possible.

Th

[2018-09-10 04:57] kassiansun commented on #224
@Azuka @kolotaev I don't think URN is valid inside URL, they are exclusive forms of resource identifying.

[2018-09-10 08:02] kibertoad commented on #698
@johanbrandhorst Are you sure? There was explicit request to create a separate issue as implementation would have to be handled separately.

[2018-09-10 10:19] johanbrandhorst commented on #698
How is your request different from that being implemented in #671? I apologize if I've misunderstood.

[2018-09-10 10:42] kibertoad commented on #698
#671 very explicitly handles specific case of "If a binding is mapped to PATCH [HTTP method]". This issue is about GET HTTP methods.

[2018-09-10 11:31] johanbrandhorst commented on #698
Good spot, this'll have to be a separate PR then. Sorry for the misunderstanding.

[2018-09-10 11:32] kibertoad commented on #698
@johanbrandhorst Could you please remove "duplicate" label then :)?

[2018-09-10 11:33] kibertoad commented on #698
Ah, thanks, already done.

[2018-09-11 22:53] venezia opened #753 "issue with oneof, get, and non-primitive"
### Steps you follow to reproduce the error:

- Create a Message that has one ore more nested messages as `oneof` possibilities

[code]

- Have a service offer to use it with a get and with a post
[code]

- Try using the GET service

[code]

The POST will work just fine, as expected

### What did you expect to happen instead:

Both solutions to work

### What's your theory on why it isn't working:

[2018-09-12 06:52] johanbrandhorst commented on #753
Thanks for raising this issue. There are a couple of known shortcomings with the translation from query parameters to proto request messages, as you noticed. I don't think anyone is working on a fix for this right now and the recommendation is usually to use a POST where you need this kind of information.

Of course, we'll be happy to help you get a PR in that would resolve this issue. You've got

[2018-09-12 17:34] kasuboski commented on #731
I just got this with v1.5.0. Is it fixed somewhere else?

[2018-09-12 17:51] AlmogBaku opened #754 "[Feature Request] Custom Type conversion"
Adding a future to add custom types(especially to support "gogo's custom type" can be very useful.

In my scenario:
[code]

As you can guess, the UUID is a 16-bytes array that can be also translatable to text(UUID v4).
My custom type is converting from binary and to binary, and I also have a JSON marshaller which un/marshaling text to the binary version.

The thing is, the grpc-gateway treat that

[2018-09-12 21:00] johanbrandhorst commented on #731
It should definitely be fixed. What exact error are you getting? You may need to update other repos in your gopath

[2018-09-12 21:05] johanbrandhorst commented on #754
Thanks for raising this issue! I like this idea. I think the problem is specific to path and query parameters like this one. Can you confirm whether this works when using a POST where the ID is in the body?

I'm not sure how we would tell the query/path resolver where to look for decoding. Any ideas?

[2018-09-12 21:12] AlmogBaku commented on #754
1. I need to test the POST, but it doesn’t likely to be problematic imo.
2. I suggest to check for the gogo’s custom type and to use the MarshalJSON
and Unmarshal json funcs as specified here as “convertFunc”
https://github.com/gogo/protobuf/blob/master/custom_types.md
On Thu, 13 Sep 2018 at 0:05 Johan Brandhorst <notifications@github.com>
wrote:

--

<http://www.rimoto.net/>

www.rimoto.com <http

[2018-09-12 21:12] johanbrandhorst commented on #754
Is there anything I can do to help you get a PR for this going?

[2018-09-12 21:27] kasuboski commented on #731
This is using go1.11 outside of my gopath.
`go get -u github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway

go: finding github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway latest

# github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway/descriptor

../../go/pkg/mod/github.com/grpc-ecosystem/grpc-gateway@v1.5.0/protoc-gen-grpc-gateway/descriptor/services.go:146:49: opts

[2018-09-12 21:32] johanbrandhorst commented on #731
Yeah we're working on go.mod support, we're not quite there yet. Could you open an issue for go mod support?

[2018-09-12 22:04] kasuboski opened #755 "Support go modules"
Steps you follow to reproduce the error:

1. Using go1.11 outside of go path
2. Run `go get -u github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway`

Returns
[code]

What did you expect to happen instead:
Successfully added to mod file

It seems like it's able to find the latest version 1.5.0, but then isn't up to date? The error that's output seems to be what was fixed with #731

[2018-09-12 23:44] achew22 commented on #755
Hey @kasuboski, thanks so much for your interest! We've been talking about doing this migration but no one has the time to do it for a while. Sounds like you're blazing a new path forward in the golang world, would you have any interest in generating anew, or migrating our existing gopkg file? That might be the quickest way to get to this working if that's your first priority. Let me know.

[2018-09-13 08:19] johanbrandhorst commented on #669
I think actually this `x-nullable` extension should probably be enabled on all non-scalar types. I assume message types are already nullable, so maybe the safest thing is to have a whitelist in the generator that inserts this property. Is there anything I can do to help you get a PR with this in @marcusljx?

[2018-09-13 18:33] marcusljx commented on #669
I don't mind trying my hand at this @johanbrandhorst, but I'm afraid I'm not sure where to begin.

[2018-09-13 18:36] johanbrandhorst commented on #669
I think @ivucica should be able to give some pointers.

[2018-09-13 21:38] ivucica commented on #669
Not sure when I'll be getting around to studying the problem space. That is, here's some necessary things I don't know off the top of my head:

- what the `x-nullable` extension actually is, and how to make use of it
- where it needs to be written in the output file
- how to adapt `template.go` to do this
- how to specifically check if a field -- whatever its type -- is considered `required`

Each

[2018-09-13 23:30] kasuboski commented on #755
I looked into it today. It seems like the go modules don't like having the top level dependencies like is captured with the Gopkg.lock in the root. Let me know if I misunderstood how it's currently working.

I'm not going to continue looking into it for now, but might come back to it later.

[2018-09-14 00:53] marcusljx commented on #669
`x-nullable` is not restricted to OpenAPI v3, actually:
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#patterned-objects

Thanks for the contribution steps!

[2018-09-14 01:37] veqryn opened #756 "Swagger get query param documentation shows repeated fields incorrectly"
### Bug reports:
The swagger documentation generated for query parameters shows repeated fields incorrectly.

### Steps you follow to reproduce the error:

Proto file example:
[code]

This generates swagger documentation that looks correct at first glance, but if you hit "Try It Now" and then fill in multiple "tags", then select execute, it gives you a curl command like this.
(This was done with m

[2018-09-14 06:27] johanbrandhorst commented on #756
Thanks for raising this issue! I think this is actually just an incompatibility between Swagger and the Gateways expectations. The gateway generates a correct swagger file and there's no way that I know to tell swagger to put these parameters in separate query parameters.

If you know of a different solution to this, please let me know, but I think this might just be a matter of documenting the pr

[2018-09-14 10:26] johanbrandhorst commented on #756
Having looked into it, I think we might be able to fix this by emitting a `collectionFormat` value set to `multi`: https://swagger.io/docs/specification/2-0/describing-parameters/. Would you like to contribute this?

[2018-09-14 12:51] kasuboski commented on #755
Yeah I didn't read it...I ran the conversion on the repo and got the module file well enough, but then had issues with the build, namely it couldn't resolve a package for the module.

Maybe it needs multiple modules for the different packages. I had tried that as well, but had issues with it still trying to download the source from github instead of using the higher level module.

My experience wi

[2018-09-14 13:30] johanbrandhorst commented on #755
I don't think we should need multiple modules, we'll definitely try to have a single root module and only resort to multiple if we absolutely need to. What error did you get?

[2018-09-14 13:43] kasuboski commented on #755
The error I get is
[code]

go.mod at the root
[code]

[2018-09-14 19:50] Sahasrara commented on #747
Sure thing:

`syntax = "proto3";

package test;

import "google/protobuf/empty.proto";
import "google/protobuf/timestamp.proto";
import "google/api/annotations.proto";
import "protoc-gen-swagger/options/annotations.proto";

option go_package = "gitlab.myteksi.net/gophers/go/ads/admanager/pb";
option (grpc.gateway.protoc_gen_swagger.options.openapiv2_swagger) = {
  base_path: "/test";
  info: {

[2018-09-14 20:15] johanbrandhorst commented on #747
Is it possible the request object isn't in the file as you expected because its a path parameter? What does the generated swagger file look like? What did you expect it to look like?

[2018-09-14 20:20] Sahasrara commented on #747
I'm not sure I understand.  The request object contains a path parameter, but it's not "a path parameter."  As for the generated swagger file, I see everything I expect except no GetCooldudeRequest.

This is missing:
[code]

[2018-09-14 20:34] johanbrandhorst commented on #747
It doesn't create a type definition unless it needs to. This get request has only one parameter, and it's populated in the path (i.e. by calling `yourapiserver.com/Cooldudes/1337`). If you look for the generated definition of the method, rather than the request, you'll find that it has defined all parameters required by the request. I think this is a simple misunderstanding and not a bug, so I wil

[2018-09-14 20:34] #747 closed

[2018-09-14 20:37] Sahasrara commented on #747
I don't think I understand?  The response objects are all generated correctly.  The requests are all missing.  You're saying that's not a bug?  This happens when there are query parameters, it happens when there are path parameters.  Anything without a body will not have it's request object show up in swagger.

[2018-09-14 20:38] johanbrandhorst commented on #747
Yes, that is indeed intentional. Why would they?

[2018-09-14 20:38] johanbrandhorst commented on #747
It's when there is no need to provide any JSON input that it doesn't get generated.

[2018-09-14 20:40] Sahasrara commented on #747
Doesn't that leave query parameters undocumented?  In my case, the swagger is being used to generate a client for the API and unless these requests are documented, it has no idea how to construct requests.

[2018-09-14 20:42] johanbrandhorst commented on #747
No, the path and query parameters are defined in the method definition, as per the OpenAPI v2 standard. Your swagger generator should have no problems generating appropriate request objects.

[2018-09-14 21:28] johanbrandhorst commented on #747
Which generator is this, out of curiosity? I've used different generators with the generated swagger files without problems. Make sure it's a v2 generator though.

[2018-09-14 22:45] veqryn commented on #756
I guess I could try at least.
Is this where my change would go?
https://github.com/grpc-ecosystem/grpc-gateway/blob/ab0345bb328757bfef2f3d7d4e642e182eb985b9/protoc-gen-swagger/genswagger/template.go#L92

[2018-09-14 22:52] johanbrandhorst commented on #756
I think we'd add a new field to the schema type, `collectionFormat`, and that would only be set if we were working with an array of query parameters. So yes, in that function, but more specifically in `schemaOfField` I think.

[2018-09-18 06:36] princejha95 commented on #746
Can anyone provide the solution for the above issue ? I tried but i was not able to figure it out.

[2018-09-18 16:38] lei314121077 commented on #241
OK  thanks  regerhub !!

[2018-09-19 00:46] veqryn commented on #441
OpenAPI v3.0.0 adds support for specifying multiple servers (hosts).

[2018-09-19 11:53] ogimenezb commented on #755
I have generated the same mod file and can build both.

Where are you having the problem?

[2018-09-20 06:19] veqryn commented on #581
@yugui shouldn't the content type of the response be `application/x-ndjson` instead of `application/json`?

[2018-09-20 10:01] veqryn commented on #581
Sure:
http://ndjson.org/

and
https://github.com/ndjson/ndjson-spec

[2018-09-20 10:28] johanbrandhorst commented on #581
Is there an RFC? Is it well supported in browsers and clients? It seems a little bit bare bones, if you don't mind me saying. Do we risk breaking more consumers than not by introducing it?

[2018-09-20 19:48] veqryn commented on #581
I am not sure honestly.  I don't think there is an RFC yet...

[2018-09-20 19:49] johanbrandhorst commented on #581
I think we might be best of waiting here, it doesn't seem clear to me that this is indeed appropriate. I'd be happy to be proved wrong, of course.

[2018-09-20 19:52] veqryn commented on #581
K. They should probably get an RFC in order.

[2018-09-21 13:57] Azuka commented on #224
@kassiansun, I'm not technically using urns (the prefix isn't `urn:`): I'm using something similar to [Amazon's ARNs](https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-arns).

[2018-09-22 03:40] kassiansun commented on #224
Are you serious about `technically`, or just some kind of "speechcraft"?

Anyway, I can fork this repo and maintain it by myself, thank OSS.

[2018-09-22 03:47] Azuka commented on #224
I'm honestly not sure what your argument is. I've never heard or read of any argument that URL paths can't contain URNs, only that a URI is either a URL or a URN. It's up to you how you want to interpret a URL path.

This isn't the place to have this argument. No one's stopping you from forking if you don't agree with the support for colons in paths (which is the issue being discussed here).

[2018-09-22 05:37] achew22 commented on #755
@ogimenezb If you generated a go mod file for grpc-gateway, would you be willing to upload it as a PR?

[2018-09-22 19:01] kolotaev commented on #224
@kassiansun, I won't argue that URN and URL are meant to be somewhat mutually orthogonal and, to some extent, it's strange to use URN inside URL.
But to my mind, there are no restrictions on what to use in your URLs, apart from what allowed by RFC-1738. And according to it colon `:` may be a reserved character in certain schemes. In case of `grpc-gateway`, as far as I understand, we are talking ab

[2018-09-23 03:12] kassiansun commented on #224
In case of `grpc-gateway`, colon `:` is intend for  `custom method`, that' why we should not allow for this kind of usage.

Anyway, there're so many people arguing against this, and some clever guys digging the [old and incorrect grpc documentation](https://github.com/googleapis/googleapis/blob/master/google/api/http.proto) have found the standing point for this change.

I will not argue for this

[2018-09-24 13:50] kasuboski commented on #755
Yeah it worked when I tried it now...must have had some old files somewhere.

[2018-09-24 14:29] ogimenezb commented on #755
Yep, the only thing is the makefile will be broken becase it relays on GOPATH. Only if go 1.11 and not working from GOPATH.

Have tried a couple of things, but still no luck.

[2018-09-24 19:21] johanbrandhorst commented on #673
I haven't used opencensus with the gateway myself but I imagine it's just a matter of creating an interceptor that extracts the trace from the incoming metadata and stuffs it back in the context?

[2018-09-24 21:27] lpabon commented on #661
This is really important. Anyone working on this? @johanbrandhorst ?

[2018-09-24 21:31] achew22 commented on #661
@lpabon, I don't think anyone is working on this. Would you be interested in taking a stab at it? What information do you need to get started on adding this as a flag?

[2018-09-24 21:31] johanbrandhorst commented on #661
I think there's an open PR for allowing the operation id to be configured. I'm not working on it myself.

[2018-09-24 21:32] johanbrandhorst commented on #661
See https://github.com/grpc-ecosystem/grpc-gateway/pull/739 and #40

[2018-09-24 22:14] lpabon commented on #661
Thanks @johanbrandhorst , but I think #739 is not exactly what I thought the solution would be. The solution in that PR is one way, but I was thinking of having the `OperationID` equal to the proto rpc Service name + the Method name. Adding the service name would make it 'like' the gRPC model.

What do you think?

[2018-09-24 22:16] johanbrandhorst commented on #661
I think we can have both, since the current default is to leave it empty, we can change that default in line with this issue but also allow it to be configured per #740. #739 has stalled so if you could pick that up in a separate PR I'd be happy to help you get that merged.

[2018-09-24 22:40] lpabon commented on #661
Sweet, will do

[2018-10-01 11:45] Tommy-42 commented on #731
hi there,

I have this one :

[code]
I am doing this :

[code]

my go version is :

[code]

FYI : running on OSX High Sierra v10.13.6

[2018-10-01 11:56] ivucica commented on #731
@Tommy-42 As far as I can tell, `ResponseBody` field is in the current upstream pregenerated `HttpRule`.

https://github.com/google/go-genproto/blob/c7e5094acea1ca1b899e2259d80a6b0f882f81f8/googleapis/api/annotations/http.pb.go#L325

Not sure why the version you have would not include this. I have not looked into how vgo / go.mod works; does upstream need to tag their repo in some way?

Why are yo

[2018-10-01 12:14] Tommy-42 commented on #731
Hmmm I am gonna check why our googleapi annotations could be different.

We had a problem with the oneof at the root of the message ( cf #413 #416 ) constraining us to use a fork with oneof support.

So I wanted to try with the v1.5.0 to see if it was fixed

[2018-10-01 12:59] orjanbruland opened #760 "URLs using verb no longer work after upgrading to v1.5.0"
We tested out the latest 1.5.0 release and noticed it broke our URLs that use colons with a custom verb, like described here: https://cloud.google.com/apis/design/custom_methods

In our case we have a both a "Get" method and a custom method sharing parts of the URL, like this:

[code]

When upgrading from v1.4.1 to v1.5.0 requests no longer seem to reach the `StreamDevices` method.

### Steps you

[2018-10-01 13:40] johanbrandhorst commented on #760
Argh, thanks for raising this issue! Terribly sorry to have broken your workflow. It looks like we have to revert https://github.com/grpc-ecosystem/grpc-gateway/pull/708, is that correct?

[2018-10-01 13:43] johanbrandhorst commented on #224
@kassiansun as discussed in #760, we're likely to revert the fix for this change so you can use  `:verb` for custom verbs as you say.

[2018-10-01 13:55] orjanbruland commented on #760
One solution could be to introduce a ServeMuxOption to allow Patterns created without a verb to match requests using a verb. This way, using colons in IDs is an opt-in feature instead of breaking backward compatibility.

[2018-10-01 14:00] johanbrandhorst commented on #760
Yeah, backwards compatibility is paramount here, of course. It also seems like the _wrong thing_ to support this tbh, I'm just disappointed we didn't discover it earlier and didn't break users. I'll see what some of the others think but we'll likely just revert #708 and continue the discussion in #224.

[2018-10-01 19:48] johanbrandhorst commented on #224
I will reopen this for discussion once #761 has been merged. @jfhamlin sorry for this, but we're going to release 1.5.1 with a revert of this. If you still require this functionality we can consider adding a generator option. What do you think?

[2018-10-01 21:02] #760 closed

[2018-10-01 21:03] johanbrandhorst commented on #224
Reopening because fix was reverted with #761.

[2018-10-01 21:08] achew22 opened #762 "Move golden diff checking into Bazel"
Bazel is much more hermetic and we keep harming contributors who just want to help by using this leaky abstraction.

[2018-10-01 22:59] jfhamlin commented on #224
No worries, @johanbrandhorst. I do require this functionality, so let's talk about it. I actually mentioned this backcompat issue in my pull request description. I should have forced the discussion there, though. I've repeated the relevant part of the PR description below.

To remark quickly on #760, it's actually the exact example from the description of my PR 😬. Re your comment on #760:

I tried

[2018-10-02 08:11] johanbrandhorst commented on #224
Thanks @jfhamlin it's clear us maintainers didn't understand the full situation. You've made a good case for introducing this as a flag, as you say, since we can't break backwards compatibility, even for a case where the gateway is doing the wrong thing. Another thing to add to the list of our v2 design changes.

Would you be interested in drafting a PR to get this in?

[2018-10-02 09:15] wdec opened #765 "Compilation error when mapping message body to map"
Is there a way tomap the message body to a keyed map?
I.e. with a proto definition containing:

[code]
The idea being that the body of the received message would map to a key in the, eg map<config, body_of_message>

Currently on compiling for grpc-gateway, the following error is thrown - which is odd given that there is no repeated element:

[2018-10-02 10:58] johnchildren opened #766 "proto-gen-swagger: provide default description for HTTP 200 responses"
In the swagger specification it says the following about description fields:

Field Name | Type | Description
-- | -- | --
description | string | REQUIRED. A short description of the response. CommonMark syntax MAY be used for rich text representation.

https://swagger.io/specification/#responseObject

Currently proto-gen-swagger will generate an empty string for this field on a 200 response, but

[2018-10-02 11:03] johanbrandhorst commented on #766
Thanks for submitting this issue @johnchildren! This does indeed seem to be in breach of the spec. What can I do to help you get a pull request in to fix this? I think it should be okay to introduce this backwards-incompatibility since any comments or explicit description will override it. How about just `A successful response`?

[2018-10-02 11:41] #536 closed

[2018-10-02 12:12] wdec commented on #765
Sounds like a nice feature I could add. I'll get looking into it.

[2018-10-02 16:38] johnchildren commented on #766
Have created a pull request for the change, but I am unsure how best to provide automated tests. I also interested to see how the default value looks when used with streaming responses.

[2018-10-03 08:05] johanbrandhorst commented on #766
Closed with #767

[2018-10-03 08:05] #766 closed

[2018-10-03 10:04] GoingFast opened #768 ""error" and "message" fields in error response"
its being duplicated and I dont see use case for it. talking about this commit: https://github.com/grpc-ecosystem/grpc-gateway/commit/7951e5b80744558ae3363fd792806e1db15e91a4. any way to get rid of it or can I just comment it out?

[2018-10-03 10:07] johanbrandhorst commented on #768
We have to keep both for backwards compatibility; we may remove the "error" field in 2.0, but we cannot do it without breaking existing users for now.

[2018-10-03 10:07] #768 closed

[2018-10-03 12:44] Tommy-42 commented on #224
Hi guys,

We have this use case in our API where our aliases can contains  a `:` but it shouldn't be treated as verb I think

For example :
[code]

#708 was fixing the problem

[2018-10-03 13:19] johanbrandhorst commented on #224
Hi @Tommy-42. Yes, we want to get in the best of both worlds, the `"last one wins"` as suggested by @jfhamlin. Unfortunately, because it breaks backwards compatibility, until we release v2 we will have to hide it behind a generator flag. Would you be interested in contributing a fix for this?

[2018-10-03 22:17] Azuka commented on #224
@kassiansun, sorry I didn't realize the use-case for this. Looks like we're working towards supporting both. Thanks everyone.

[2018-10-05 15:34] Tommy-42 commented on #224
hi @johanbrandhorst ,
I can try something, But I cannot promise you anything as I don't know if I will have time to work on this saddly ( a bit overwhelm this time )

[2018-10-06 16:44] cappuccino5 commented on #283
楼主这个解决了吗？我是新手，也遇到这样的问题
![image](https://user-images.githubusercontent.com/40583480/46573583-210ee080-c9ca-11e8-83e1-cbd13dfda20a.png)

[2018-10-06 16:52] johanbrandhorst commented on #283
Hi @cappucino5. Please reach out for help with this type of matter on chat services such as Gophers slack channel. This is not the best medium for this kind of debugging.

[2018-10-07 16:36] wora commented on #765
Recently, Google updated the gRPC Transcoding spec, aka `google.api.http` annotation, to allow repeated field and mapped field as HTTP request/response body. This is to allow third party implementations, such as gRPC Gateway, to provide advanced features that customers may need. Most implementations may not provide such advanced features. Except for backward compatibility, there is no general adva

[2018-10-07 16:48] wora commented on #754
gRPC and proto3 are language neutral. The mechanical conversion between JSON and proto3 are defined by proto3 spec. The custom type seems to be a Go-specific feature. Such custom conversion exists in many systems, such as Apigee, but such logic can be endless and very hard to maintain. You also need to update OpenAPI generator, documentation generator, and other tools to support these features.

I

[2018-10-08 13:45] rexlv opened #769 "Use Echo/Gin as request multiplexer"
Is that possible using echo/gin/httprouter as request multiplexer instead of runtime.ServeMux?

[2018-10-08 13:47] johanbrandhorst commented on #769
Not currently as far as I know. The `runtime.ServeMux` implements `http.Handler` though, so you can use your own router and only use the ServeMux to handle a subset of routes.

[2018-10-08 21:53] ZachEddy commented on #348
Not sure if this is the right place to ask questions, but I didn't know where else to post.

Does the gRPC Gateway client need to be initiated with a tracing interceptor? I struggled to get @theRealWardo's example to work until I added a client-side interceptor. If so, I think it would be helpful to bring this up in the documentation (happy to open a PR for this).

There's some relevant informatio

[2018-10-08 22:02] johanbrandhorst commented on #348
Hi @ZachEddy, we'd happily welcome any documentation improvements you could contribute. I haven't got any experience with this myself so your knowledge would be very good to capture.

[2018-10-08 22:51] ZachEddy commented on #348
Sounds good! Some additional documentation would be useful, but I like the original suggestion to add tracing support out of the box.

Maybe this can be accomplished by adding another [`ServeMuxOption`](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/runtime/mux.go#L32) to the `runtime` package?

Something like `runtime.WithTracer(tracer opentracing.Tracer)` perhaps? Not sure really sur

[2018-10-09 04:54] rogchap commented on #652
Create a wrapper for your endpoint to set a custom MIME Content-Type then have a custom Marshaler for that MIME.

eg:

[code]

[2018-10-09 06:44] yangliCypressTest opened #771 "protoc-gen-swagger throws the error: Any JSON doesn't have '@type'"
I defined a message which includes the 'google.protobuf.Any' type

message TestRequest {
    int64 id = 1;
    google.protobuf.Any items         = 2;
}
and generate the related pb.gw.go file, and when to execute below auto-gen code, it failed with the error: Any JSON doesn't have '@type'
if err := marshaler.NewDecoder(req.Body).Decode(&protoReq); err != nil {
		return nil, metadata, status.Errorf(

[2018-10-09 07:01] johanbrandhorst commented on #771
Curious, this definitely should be working, what does the JSON that it's trying to unmarshal look like?

[2018-10-09 07:03] yangliCypressTest commented on #771
The struct of TestRequest is like below one, it is auto-generated.

type TestRequest struct {
	Id    int64                 `protobuf:"varint,1,opt,name=id" json:"id,omitempty"`
	Items *google_protobuf1.Any `protobuf:"bytes,2,opt,name=items" json:"items,omitempty"`
}

[2018-10-09 07:05] johanbrandhorst commented on #771
What does the JSON input look like?

[2018-10-09 07:08] yangliCypressTest commented on #771
Pass below through request' body
{
	"items": {
		 "include": [{"id": 3, "test_name": "Test_Value"}]
	}

}

[2018-10-09 07:34] johanbrandhorst commented on #771
Yeah so you haven't specified the type URL in the JSON input. Please see documentation for the `google.protobuf.Any` type to see how to use it with JSON. This is not a bug.

[2018-10-09 07:34] #771 closed

[2018-10-09 07:46] yangliCypressTest commented on #771
Sorry, I didn't find any official example from documentation, could you please supply one for me to refer to? thx @johanbrandhorst

[2018-10-09 07:51] johanbrandhorst commented on #771
https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/any.proto#L94

[2018-10-09 08:07] yangliCypressTest commented on #771
thx

[2018-10-10 08:30] dmitris commented on #254
the current version of swagger-codegen (that you get with `brew install` for example) is `2.3.1` - CONTRIBUTING.md says "use swagger-codegen 2.2.2, not newer versions".  @johanbrandhorst  - would it be possible to make grpc-gateway to work with 2.3.1?  Thanks.

[2018-10-10 08:35] johanbrandhorst commented on #254
With the new CI system proposed in #772 this will be _trivial_ to accomplish, and I'm not sure what if anything stands in our way to do it, but lets get back to this once #772 has been merged.

[2018-10-10 08:36] johanbrandhorst commented on #254
@tmc @achew22 I think we could probably remove it altogether as well - personally when I'm generating swagger files I don't use `swagger-codegen` as the Go code is next to useless anyway. Again, this can easily be accomplished after #772 has been merged. I don't think it adds any extra confidence as it is.

[2018-10-11 09:47] srenatus commented on #472
The same applies to this attempt at a workaround:
[code]
the plugin fails with `--grpc-gateway_out: segment neither wildcards, literal or variable: expected "{" but got "\x00": /foo/bar/`

[2018-10-11 19:39] IronPan commented on #559
I've also seen the issue with POST method. The query parameters are not generated in the swagger definition. For example, if I generate swagger definition for [this example](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples/proto/examplepb/flow_combination.proto#L72), I got the following (In theory I should see a and b).

    "/rpc/body/query/rpc": {
      "post": {
        "oper

[2018-10-11 19:48] johanbrandhorst commented on #559
Indeed, seems like `a` and `b` are missing in the parameters array. Is this a regression?

[2018-10-12 01:44] ti commented on #768
add "message" fields is meaningless for now

[2018-10-12 02:19] ti opened #778 "`error` and `message` field repeat in error output ?"
in https://github.com/grpc-ecosystem/grpc-gateway/pull/718, the status code change.
before this merge:
[code]
after:

[code]
and this code is really affect our public restful document, here is my point:
in http document:
the `error` is some enmu for program to handle it, the `message` is just something details for debug, it is not the samething.

in  https://github.com/grpc-ecosystem/grpc-gateway/

[2018-10-12 03:17] achew22 commented on #778
It should be very easy to post-process the yaml and remove anything that doesn't fit. You could also submit a PR to disable it by flag and then in 2.0 we can make it the default.

Which path interests you more or would you be interested in forging a third path?

[2018-10-12 07:19] johanbrandhorst commented on #768
No, it's not meaningless, the gateway is tightly coupled with gRPC and protobuf, where the googleapis Status type is the correct way to return errors. The gateway added the message field to be more consistent with this practice.

[2018-10-15 14:37] vaishalig2693 opened #779 "Add Bytes handlers to `proto2ConvertFuncs`"
Due to backward compatibility issue, I am forced to use proto2. I am not sure if my clients can keep on using proto2 and I can move to proto3.

Also, if I am supposed to use proto2 only, is there a workaround for it given bytes_type is not supported

[2018-10-15 21:30] c4milo commented on #607
@ubenzer, you may be able to do that by using https://godoc.org/github.com/grpc-ecosystem/grpc-gateway/runtime#WithOutgoingHeaderMatcher. The question whether this is a good practice or not remains. Perhaps @tmc can help to shed some light since I'm dubious right now.

[2018-10-16 05:12] vaishalig2693 commented on #779
Any workaround for this that I can do without changing from proto2 to proto3?

[2018-10-16 06:59] johanbrandhorst commented on #779
Base64 encode the data in a string type maybe?

[2018-10-16 07:32] vaishalig2693 commented on #779
rpc EntityUpdate(EntityUpdateArg)
    returns (EntityUpdateRet) {
      option (google.api.http) = {
        put: "/v1/tentity/{uuid}"
        body: "*"
      };
    }

Given the above and given uuid in bytes, how am i supposed to achieve that?

[2018-10-16 07:55] johanbrandhorst commented on #779
You'd have to encode it in the client anyway, you can't send raw bytes in a URL. If it's a uuid though, maybe just send the string representation of the uuid?

[2018-10-16 08:03] vaishalig2693 commented on #779
Agreed but in EntityUpdateArg, uuid is in bytes. How the type conversion is done here? Apologies I am not much aware of that. Will it be something like -
put: "/v1/entity/string{uuid}" ?

[2018-10-16 08:19] johanbrandhorst commented on #779
If it's a path parameter, it has to be URL-encoded or base64-encoded and stored in a string. If it's in the body of the message, I guess you may still want to base64 encode it.

[2018-10-16 09:13] vaishalig2693 commented on #779
Few things to clarify here -
If its a path param, I create a string entry in EntityUpdateArg say uuid_str and use that in path param?
If thats the case, then for body of the message, where is this encoding supposed to happen? Given the fact that everything needs to be handled on server end and atleast existing rpc clients are not expected to change.

[2018-10-16 10:05] ti commented on #778
@johanbrandhorst  you can not config runtime.HTTPError in   envoy grpc2restful gateway.

[2018-10-16 10:14] johanbrandhorst commented on #778
The envoy grpc gateway is not related to this project, as far as I know, you will have to ask them.

[2018-10-16 10:28] johanbrandhorst commented on #779
If you add it as a path param you don't need to add it to the body of the message. If existing clients are already sending the UUID in the path, what format is it using, since it can't be bytes?

[2018-10-16 10:51] vaishalig2693 commented on #779
My existing clients are rpc clients only. On top of existing proto, I wanted to expose REST interface for new clients. But given I have to use field from existing proto (unless a new string type field is added), the generation of interface.pb.gw.go fails from existing interface.proto

[2018-10-16 11:04] vaishalig2693 opened #780 "How can I support different versions of APIs with same proto?"
Consider I have proto which has 4 fields - {a,b,c,d}
For Apis, I want v1 version to show it as - {A,B,C} // Note: here one field is skipped and all are in caps.
For v2 version, I want it as - {a,b} // Here two fields are skipped and names remain same.

How can I configure to achieve the above?

[2018-10-16 12:56] johanbrandhorst commented on #779
Ah I see. In that case, maybe just make the uuid a parameter in the body instead? So you can reuse the same types. If that doesn't work, you will need to add a uuid_str and manually handle it in the service.

[2018-10-16 13:01] vaishalig2693 commented on #779
Does that mean that conversion from bytes_type is supported in body and not for path params as far as proto2 is concerned? If thats the case, is there any plan to make that enhancement in near future?

[2018-10-16 20:42] maros7 commented on #736
@srikrsna are you planning on finishing the PR https://github.com/grpc-ecosystem/grpc-gateway/pull/752 related to this issue? Or would it be okay if I finished it?

[2018-10-16 21:07] johanbrandhorst commented on #736
@maros7 before you do anything, I suggest waiting for #777 to be merged, it should be imminently. It will remove any CI issues we had.

[2018-10-16 21:08] johanbrandhorst commented on #736
I intend to bump all the open PRs once that is in master

[2018-10-17 07:53] ti commented on #778
the envoy is just a example. this change is will affect most of projects use grpc-gateway, such as go-micro.

@johanbrandhorst do you think the in https://github.com/grpc-ecosystem/grpc-gateway/pull/718 is really ok? , i mean the @achew22 's answer is the right way, "You could also submit a PR to disable it by flag and then in 2.0 we can make it the default."

[2018-10-17 08:29] johanbrandhorst commented on #778
Personally, yeah, I think mapping the gRPC server response to a JSON marshalling of the `google.rpc.Status` type makes a lot of sense. I think that should be the default in 2.0, but it's obviously up for discussion. As for what we can do right now, turning it off with a flag is fine as well, but we can't change the default behaviour, and if you absolutely _must_ change this, it's already possible

[2018-10-17 09:22] joelurraco opened #782 "Cannot return HTTP header using "Grpc-Metadata-" prefix"
I have been using the following line of code to return HTTP headers in the server response:

[code]

This was working OK using the `runtime.DefaultHeaderMatcher` when starting the server, but after updating this no longer works.

I went over the `google.golang.org/grpc/metadata` package and it seems that every key set in the metadata is transformed to lower case, but the `runtime.DefaultHeaderMatc

[2018-10-17 09:27] johanbrandhorst commented on #782
Hi @joelurraco, this does indeed sound problematic. The fix seems simple enough, do you think you could contribute a fix and a new test case?

[2018-10-17 12:35] dmitris commented on #254
#772 has been merged now, can we remove `swagger-codegen` now?

[2018-10-17 12:37] johanbrandhorst commented on #254
Yes :). I don't think it adds anything. Would you like to create a new PR with it removed? We can remove it from the Dockerfile as well.

[2018-10-17 20:57] johanbrandhorst commented on #736
This is a great first issue for anyone looking for an easy contribution!

[2018-10-18 18:31] johanbrandhorst commented on #652
Can we close this issue?

[2018-10-18 18:36] nscharfe commented on #652
yep, feel free. thank you!

[2018-10-18 18:36] #652 closed

[2018-10-19 05:59] wongoo opened #785 "grpc gateway intercepter"
**grpc-gateway provide a proxy mechanism , but no proxy intercepter.**

A intercepter is a function called before method handler,  the intercepter can get info about the definition of the method, like method path and so on.

The following is a scenario to use intercepter and how to design it.
------------------------------
I define a `google.protobuf.MethodOptions` named `allow_roles` in all metho

[2018-10-19 06:03] achew22 commented on #785
I think you can achieve this today without writing anything new in grpc-gateway by using eitehr a [grpc client interceptor](https://godoc.org/google.golang.org/grpc#UnaryClientInterceptor) or a server interceptor in the destination server. Can you help me understand why this needs to be added to the routing framework over hooking into the preexisting interceptors?

[2018-10-19 06:32] #785 closed

[2018-10-19 06:33] achew22 commented on #785
@wongoo Perfect! Thanks so much for following up. Would you be willing to write a little bit up? If so, we could put it as a FAQ in our documentation so that future users won't have to struggle quite as much. What do you think of that?

[2018-10-19 07:35] wongoo commented on #785
Do authorization for requests in apigateway instead of grpc servers is more efficient , especially when grpc servers calling each others.

Grpc client interceptor is a way to implement authorization, but it's called after the restful request proxied to grpc request.  If the authorization can be done before proxying, performance maybe better.
@achew22  what do u think?

[2018-10-19 07:37] johanbrandhorst commented on #785
Personally the gateway seems the wrong place to add interceptors. It performs translation, not business logic. All of this belongs in the gRPC service it's talking to.

[2018-10-19 07:45] wongoo commented on #785
@johanbrandhorst  may be call it `business apigateway`, consider it as part of business.  And aws apigatway also has authorization in it.

[2018-10-19 12:31] johanbrandhorst commented on #728
Think this was closed by mistake

[2018-10-19 12:31] johanbrandhorst commented on #782
Fixed with #784

[2018-10-19 12:31] #782 closed

[2018-10-19 15:04] johanbrandhorst commented on #254
Ok after some discussion a requirement has presented itself; if we remove `swagger-codegen`, we must replace it with some other method by which we can validate that our output swagger files are sensible. I have some personal experience with using https://github.com/go-swagger/go-swagger, which seems to do the job. If anyone wants to replace `swagger-codegen` we should consider it at the same time.

[2018-10-20 15:57] novabyte commented on #559
@johanbrandhorst I don't think it's a regression. I'm not sure it ever worked. I'd have to gitbisect to understand better though.

[2018-10-22 00:06] Emixam23 opened #787 "Mac OS X - Note about your tutorial"
## macOS High Sierra Version 10.31.6

Hey !

Can you add that for mac os x users? The following lines might be usefull in order to follow your tutorial/README.md

    sudo chown -R $(whoami) /usr/local/share/man/man8
    brew install automake
    brew install libtool

Also, be careful because `make check` doesn't seems to work for mac os x

    MacBook-Pro-de-Emixam23:protobuf emixam23$ make check

[2018-10-22 06:48] johanbrandhorst commented on #787
I'm confused, what were you trying to do? You shouldn't need to run make at all. All you need is to go get the binary. Which tutorial are you referring to?

[2018-10-22 12:28] Emixam23 commented on #787
I am talking about the https://github.com/grpc-ecosystem/grpc-gateway/blob/master/README.md, sorry if I confused you

[2018-10-22 13:08] johanbrandhorst commented on #787
Yeah we really need to update these instructions, they are _ancient_. You don't need to build protoc anymore, v3 is out of beta for... 2 years :joy:.

[2018-10-23 09:19] hhstore commented on #501
## same problem too:

- proto file: `example.proto`

[code]

- run:

[code]

- error message:

[code]

[2018-10-23 09:42] hhstore commented on #501
@johanbrandhorst

thanks, the generate cmd option, require add `some api annotations`, like this:

[code]

then, can generate `example.pb.gw.go` file.

[2018-10-23 22:40] ratsirarar commented on #234
What was the consensus on this issue?

[2018-10-24 18:14] kristiandrucker commented on #348
Hi. @johanbrandhorst asked me to write how I have forwarded span from gateway -> grpc server. Well after a few hours of debugging this is my final code. For tracing in gateway I have used `nethttp.Middleware()` and for actually sending the span via metadata I wrote my own function that returns `metadata.MD` map.

Implementation of nethttp:
[code]

Custom metadata from span function:
[code]

Implem

[2018-10-25 07:23] curelyreas opened #788 "Why the rctx is substituted by a new empty context?"
https://github.com/grpc-ecosystem/grpc-gateway/blob/ab0345bb328757bfef2f3d7d4e642e182eb985b9/protoc-gen-grpc-gateway/gengateway/template.go#L427

It breaks the life cycle of a request information delivery.

[2018-10-25 08:07] johanbrandhorst commented on #788
This only adds things to the existing context, see the signature of runtime.AnnotateContext: https://github.com/grpc-ecosystem/grpc-gateway/blob/master/runtime/context.go#L59

[2018-10-25 08:07] #788 closed

[2018-10-26 16:24] vaishalig2693 opened #789 "REST gateway over RPCS?"
I have some existing rpc clients which communicate over http1.1. Thus I cannot update my server to grpc server but still want to provide REST support to new clients. Is there a way to achieve it without moving to grpcs? If there is any other workaround possible without changing the clients, that will also be helpful.

[2018-10-26 16:34] johanbrandhorst commented on #789
Hi @vaishalig2693. This isn't really an issue so I will try to answer your question and then close it and redirect you to the channels we recommend in the issue template.

It's possible to expose both gRPC and REST on the same server, or even the same port. See https://coreos.com/blog/grpc-protobufs-swagger.html for an example. I'm not sure exactly what you're asking though. Can you direct your fu

[2018-10-26 16:34] #789 closed

[2018-10-26 16:35] johanbrandhorst commented on #789
See https://github.com/grpc-ecosystem/grpc-gateway/blob/master/ISSUE_TEMPLATE.md#i-still-have-a-problem.

[2018-10-26 16:39] vaishalig2693 commented on #789
As I said, I can't run a grpc server as it is over http2 protocol and my existing clients using http1.1 protocol will fail

[2018-10-29 18:18] jgiles opened #790 "Proposal: pre-compiled per-platform release binaries"
Currently it can be tricky for teams to ensure they are using consistent versions of protoc-gen-grpc-gateway (and protoc-gen-swagger). For example, the installation instructions on the repo suggest `go get -u github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway` - which recently led to out-of-sync generated code when new folks joined our team.

Version management is particularly importan

[2018-10-29 18:32] Emixam23 commented on #490
I have this issue on Mac OS X, any idea?

[2018-10-29 19:17] johanbrandhorst commented on #790
Hi @jgiles, thanks for the suggestion! I don't see why not, but we don't have a way to create them automatically in CI so they'd just be binaries uploaded by the maintainer who makes the release. I think the assumption thus far has been that you have go installed and so can build the specific version you need. If you're using `dep` for example you can specify `protoc-gen-grpc-gateway` as a require

[2018-10-29 19:20] johanbrandhorst commented on #490
This is just indicative of the client not being able to connect to the server. Check your setup.

[2018-10-29 19:34] Emixam23 commented on #490
Ok so I did check my setup and, I found this link on internet that, even if I have others problems now, helped me to get rid of this error : https://github.com/mycodesmells/golang-examples/blob/master/grpc/cmd/server/main.go

The thing I just don't get with this example is that, the guy initialize the grpc server, half in main, half in a go routine, then he serv the http part of its server and, th

[2018-10-29 21:03] johanbrandhorst commented on #790
I've uploaded some pre-built binaries for v1.5.1 (the latest release): https://github.com/grpc-ecosystem/grpc-gateway/releases/tag/v1.5.1. Do you need any other release made?

[2018-10-30 01:00] jgiles commented on #790
Thank you! It would also be nice to have `protoc-gen-swagger` in addition to `protoc-gen-grpc-gateway`.

I'm planning to publish an asdf https://github.com/asdf-vm/asdf plugin for installing versions by release tag, so *ideally* we'd have pre-compiled binaries for each release (existing and future). But without automation I guess that gets a little tedious :-/. I've never used CircleCI before, but

[2018-10-30 08:11] johanbrandhorst commented on #790
That's sounds fantastic - I'll see what we can do!

[2018-10-30 13:27] nicolasStevenin opened #792 "Tests possibly failing in release v1.5.1"
Hi,
I'm using go 1.11

**command: go test -buildmode pie -compiler gc -ldflags "-X github.com/grpc-ecosystem/grpc-gateway/version.commit=fdcb0d026242e8895d157a6637c7366e612f2594 -X github.com/grpc-ecosystem/grpc-gateway/version=1.5.1 -extldflags '-Wl,-z,relro  '"**

[code]

Thanks

[2018-10-30 17:35] johanbrandhorst commented on #792
Hi @nicolasStevenin. I don't really understand this issue. The tests are passing in our CI tests. What is your concern? Are the tests failing on version 1.5.1? We need more information here.

[2018-10-30 20:34] johanbrandhorst commented on #790
I've added `protoc-gen-swagger` binaries as well and I'm investigating automating this for future releases, thanks for the heads up!

[2018-10-30 23:00] #790 closed

[2018-11-01 08:11] veqryn opened #794 "Class 'GPBMetadata\ProtocGenSwagger\Options\Annotations' not found"
What version of protobuf and what language are you using?
Version: v3.6.1
Language: PHP 5.6.38

What operating system (Linux, Windows, ...) and version?
CentOS Linux release 7.5.1804 (Core)

What runtime / compiler are you using (e.g., python version or gcc version)
PHP 5.6.38 (cli) (built: Sep 12 2018 08:52:18)
Copyright (c) 1997-2016 The PHP Group
Zend Engine v2.6.0, Copyright (c) 1998-2016 Zend

[2018-11-01 08:14] johanbrandhorst commented on #794
This is because you need to generate a PHP version of the swagger annotations proto file. We're not going to maintain a selection of pre generated files for all supported languages I'm afraid. It should be simple to do it manually. Does that makes sense?

[2018-11-01 08:14] #794 closed

[2018-11-01 08:51] veqryn commented on #794
K, I will give that a try.

[2018-11-02 17:39] timoohr commented on #755
Some additional observations while trying to make the repo `go get`table again:

When calling `go get` on a migrated version of gprc-gateway the original issue (#731) pops back up again. For some reason go seems adamant to resolve to an older version of `google.golang.org/genproto`. Was able to fix this by pinning it with a replace in the mod file:

    replace google.golang.org/genproto => google

[2018-11-02 20:02] johanbrandhorst commented on #755
The resty dependency issue has been discussed before, are you sure it's an issue with their repo and not just us relying on an old version of go-swagger? If there definitely is an issue with resty, obviously please raise it with them.

[2018-11-02 20:05] johanbrandhorst commented on #755
See https://github.com/grpc-ecosystem/grpc-gateway/issues/254 for more discussion on using go-swagger.

[2018-11-03 20:46] #736 closed

[2018-11-04 15:06] timoohr commented on #755
Yes, I think you may be right.

I think the issue is that go mod requires modules to have the major version in their module/import path, **except** for v0 and v1, which must not appear in the path, **except** for modules hosted on gopkg.in, where this is allowed (and in a slightly different format, as well). [(source)](https://github.com/golang/go/wiki/Modules#semantic-import-versioning)

So it wo

[2018-11-06 08:30] ensonic commented on #731
Getting the same issue when pulling the new version into a bazel build.

[2018-11-06 09:01] johanbrandhorst commented on #731
What does that mean? Do we need to update some Bazel dependency versions? Why is CI passing :thinking:?

[2018-11-06 15:04] ensonic commented on #731
I believe it is related to you shipping a copy of the annotations.proto here:
https://github.com/grpc-ecosystem/grpc-gateway/tree/master/third_party/googleapis/google/api
Is there a reason for you to not use the upstream version?

[2018-11-06 15:16] ivucica commented on #731
Can you clarify "the same"? How did you 'pull the new version in'?

Possible, but can you clarify what led you to believe this? In what significant way are the files different?

Upstream has the `response_body` proto field, as does the vendored copy.

How would you use it? One still needs to pick an upstream version to lock onto and to download, for consistent builds, right?

It's also not without

[2018-11-06 15:46] ensonic commented on #731
In my bazel WORKSPACE file:
[code]
The uncommented version is the time of my PR and everything builds. When I swapp to the commented part (the merged PR), then I also get all the changes in between and now the build fail:
[code]
Somehow the build is picking up an outdated copy of the http.proto. I am digging deeper.
[code]

So the `bazel_source/third_party/googleapis/google/api/http.proto` is too

[2018-11-06 16:18] ivucica commented on #731
https://github.com/grpc-ecosystem/grpc-gateway/blob/844b78d9a291695a45d1d826fda9c1b95a2ddfc1/third_party/googleapis/google/api/http.proto
contains response_body, just as it should. It seems to be doing so in your
output as well:

/home/ensonic/.cache/bazel/_bazel_ensonic/556f802681b2087c6d9a6bcc3d0d954b/external/grpc_ecosystem_grpc_gateway/third_party/googleapis/google/api/http.proto:303:
string r

[2018-11-06 16:38] ivucica commented on #789
I've successfully used [cmux](https://github.com/soheilhy/cmux) to put both HTTP/2 + gRPC frontend and an HTTP/1.1 frontend on the same port.

[2018-11-06 16:40] ivucica commented on #731
I've discussed this with @ensonic out-of-band. It was a local (but interesting) issue with the `WORKSPACE` file, not a bug in grpc-gateway's rules.

[2018-11-06 17:08] ensonic commented on #731
SOLVED: We also imported `org_golang_google_genproto` in our WORKSPAE but at an older version,w hich apparently shadowed yours. Sorry for the noise.

[2018-11-06 17:11] johanbrandhorst commented on #792
I'm gonna close this as the original reporter hasn't clarified their issue.

[2018-11-06 17:11] #792 closed

[2018-11-06 17:12] johanbrandhorst commented on #762
This may still be interesting, but is of much less significance now that we have stable generation of files in a one-line command.

[2018-11-06 17:14] johanbrandhorst commented on #254
As mentioned in https://github.com/grpc-ecosystem/grpc-gateway/pull/795#issuecomment-435618237, the use of swagger-codegen is now leading to slightly annoying travis files appearing after every generation. We can fix this with a simple `.gitignore` rule, but it's just another thing we shouldn't have to do.

[2018-11-12 10:42] Wotzhs commented on #559
i've run into similar problem when transcoding a POST method where the query params are not parsed, should i create a separate issue?

also, i would like to help, but need some pointer as to where might the problem be, i have simply tried to apply the same trick used for DELETE method for POST, but it didn't work

[2018-11-12 10:47] johanbrandhorst commented on #559
@Wotzhs I think the easiest thing would be to start with adding an example that reproduces the issue, e.g. add a method to `a_little_bit_of_everything.proto` which will trigger this bug, regenerate all the files (https://github.com/grpc-ecosystem/grpc-gateway/blob/master/CONTRIBUTING.md#i-want-to-regenerate-the-files-after-making-changes) and lets see what we can work out. I think from that point

[2018-11-12 17:29] Wotzhs commented on #559
@johanbrandhorst just checking with you if this is going into the right direction, i have tried to update the function in [grpc-gateway/protoc-gen-swagger/genswagger/template.go](https://github.com/grpc-ecosystem/grpc-gateway/blob/3ff87af9f7d72b06bf49dc35c5c97f4d99a07977/protoc-gen-swagger/genswagger/template.go) so that the non path and body parameters will be added to query string for http POST

[2018-11-12 19:39] johanbrandhorst commented on #234
Just to recap, I think the goal of this issue is for the grpc-gateway to support using `body:"*"` and still allow some fields in the query; http.proto [explicitly states](https://github.com/googleapis/googleapis/blob/5e7316da92db2b389046b9e6367a5dfb048e04fe/google/api/http.proto#L216-L217) that the use of `body:"*"` precludes the use of query parameters altogether. I understand that this project w

[2018-11-12 19:40] johanbrandhorst commented on #234
@atombender please correct any incorrect information in my previous post.

[2018-11-12 19:41] johanbrandhorst commented on #559
Great work so far @Wotzhs, could you submit your changes in a pull request so we can review them? It sounds to me like you're doing the right thing :).

[2018-11-14 05:49] mayank-dixit commented on #552
Use this maybe: https://developers.google.com/protocol-buffers/docs/reference/java/com/google/protobuf/StringValue

[2018-11-14 11:28] mayank-dixit opened #808 "Unable to add protobuf wrappers in url template option"
## Pre
1. Using string value from: https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/wrappers.proto
2. protoc version: 3.6.1

## Steps
My proto file looks like this:

[code]

And then I try compile protos:
[code]
Works fine. And then I try to generate reverse proxy using:
[code]

### expected:
Successful compilation

### result:
[code]

[2018-11-14 11:37] johanbrandhorst commented on #808
I've no idea why this is erroring, have you had a chance to do some debugging?

[2018-11-14 11:46] mayank-dixit commented on #808
Yes, I tried to debug:
Error is thrown from:
https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-grpc-gateway/descriptor/services.go#L221
Where it doesn't find `*target.TypeName`(_.google.protobuf.StringValue_) to be a well known type.

Recognised well-known types are added here:
https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-grpc-gateway/descriptor/types.g

[2018-11-14 11:47] johanbrandhorst commented on #808
Huh, interesting, perhaps we just need to add the rest of the well known types there?

[2018-11-14 11:50] mayank-dixit commented on #808
I'm adding other types. It's passing. I'll verify end to end once. if all goes fine, I'll raise a PR?

[2018-11-14 11:51] johanbrandhorst commented on #808
Yes, thanks a lot!

[2018-11-14 13:59] achew22 commented on #808
Fixed by #809. Thanks for your PR!

[2018-11-15 16:39] johanbrandhorst commented on #808
It appears the MR discussed #809 just generates invalid code. @mayank-dixit are you interested in submitting a PR which adds the functions?

[2018-11-15 16:41] johanbrandhorst commented on #808
Nevermind, still confused, continue discussion in #809

[2018-11-15 17:21] johanbrandhorst commented on #808
Reopening as there's definitely a problem with the current code, see https://github.com/grpc-ecosystem/grpc-gateway/pull/809#discussion_r233921470

[2018-11-16 09:51] johanbrandhorst commented on #808
_Still_ not fixed, reopening

[2018-11-17 00:57] birdayz opened #815 "Swagger Conformance"
Go to https://editor.swagger.io/

Click File -> Import URL

Enter `https://raw.githubusercontent.com/grpc-ecosystem/grpc-gateway/master/examples/proto/examplepb/a_bit_of_everything.swagger.json` (current ABE example)

Find some validation errors:

[code]

[2018-11-17 10:03] johanbrandhorst commented on #815
Is that not validating based on the OpenAPI 3 spec? Remember we only support OpenAPI 2 (swagger 2.0).

[2018-11-17 10:32] birdayz commented on #815
If i load `https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/examples/v2.0/json/api-with-examples.json` or `https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/examples/v2.0/json/uber.json` there's no errors. Since the document contains the version,i think it supports both. But i might be wrong..

[2018-11-17 11:54] johanbrandhorst commented on #815
Looks mostly to be a problem with the way we're rendering the responses, could you dig a little deeper and see how we're violating the spec exactly?

[2018-11-19 10:41] drigz opened #817 "Bazel CI breaks frequently"
Adding Gazelle to the CI (#802) has resulted in additional work for contributors (#812, #816).

This breakage could be quite frequent if it's required for any change that affects the dependencies of the individual Golang packages. I see two options:

- streamline it by adding the `docker run` command to the error message in the CI, and possibly by adding instructions to the pull request template

[2018-11-19 10:45] johanbrandhorst commented on #817
I don't know about users of the Bazel build, but if the `gazelle_fix` command updates Go dependencies in the background we risk running out of sync with our `Gopkg.toml` (if we haven't already), which would be unfortunate. Is that correct?

I heard from @achew22 that bazel stuff will sometime soon be generated from `go.mod` files (or something to this effect) so we should be able to maintain a sin

[2018-11-19 10:50] drigz commented on #817
It doesn't, so that shouldn't be a problem. Whether using `go.mod` or not, it will still be manual, although using `go.mod` could streamline the manual process.

`:gazelle_fix` updates the edges in the dependency graph, as well as adding new rules within this repository, but it won't change the versions of external dependencies. I don't know exactly how `go.mod` will be used by Gazelle, but I susp

[2018-11-19 10:53] johanbrandhorst commented on #817
Ok, that's not so bad then. So is it correct that this might still be useful sometimes because user submitted changes may legitimately break something? To me it looks like:

1. Sometimes cause friction for contributors, but occasionally cause genuine problems
2. Sometimes cause friction for maintainers whenever we come to manually running `:gazelle_fix`.

Is that a fair summary? If so, I don't thi

[2018-11-19 11:06] johanbrandhorst commented on #817
As it turned out the failure in #816 was correct - I was wrong about it being unrelated to the change.

[2018-11-19 11:09] #808 closed

[2018-11-19 15:10] achew22 commented on #817
I am having a hard time construction the situation where you need to run docker to invoke gazelle. Gazelle is used to bootstrap into bazel and doesn't have any hard dependencies on it.

`go get -u github.com/bazelbuild/bazel-gazelle/cmd/gazelle`

[2018-11-19 15:11] johanbrandhorst commented on #817
Do we still need `bazel` for the `:buildifier` job? Is the `buildifier` necessary to put in the contribution notes? It would be nice if we could drop the bazel docker image in favor of just the `go get`.

[2018-11-19 15:41] achew22 commented on #817
It should just be standard go code and work fine without needing bazel, but I'm less certain about it (since it's not designed to be the on ramp).

Not at a computer for a while but I would

[2018-11-19 15:44] drigz commented on #817
I honestly didn't think about using `go get` to pull gazelle and buildifier. Is there a way to pin the versions to make sure contributors are running the same versions as in CI?

[2018-11-19 15:46] johanbrandhorst commented on #817
If they're both linters I'm happy enough to always use tip tbh. Otherwise we can add it to `Gopkg.toml` and store the versions in `Gopkg.lock`: https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md#required

[2018-11-19 15:56] drigz commented on #817
It's unfortunately not safe to use tip for Gazelle, as its generated code is tied to the version of `rules_go` in WORKSPACE.

IIUC, if it's `required` in `Gopkg.toml`, it'll need to be installed with `go install` - would you put that in `Makefile`?

[2018-11-19 15:58] johanbrandhorst commented on #817
Nah we could just put that in the contribution notes: `dep ensure --vendor-only && go install ./vendor/github.com/bazelbuild/buildtools/buildifier`. We're still only talking about the cases where CI breaks for contributors, it won't be very often hopefully.

[2018-11-20 05:44] mayank-dixit commented on #309
It can be done using `openapiv2_swagger` option:

[code]
Don't forget to `import "protoc-gen-swagger/options/annotations.proto";`

ref: https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples/proto/examplepb/a_bit_of_everything.proto#L40

[2018-11-22 14:04] vaishalig2693 commented on #383
I am also facing the same issue.  The directory structure followed is same as path of proto file and not picked from go_package option. I am not sure if there is a similar option for swagger too

[2018-11-22 14:15] johanbrandhorst commented on #383
I think it's questionable whether the swagger generator should really care about the `go_package` option in its generator, but I see there's a need for a more explicit option to direct the output files of the generation. We could potentially support the `paths=source_relative` parameter that is in `protoc-gen-go` though: https://github.com/golang/protobuf/commit/6fb8a6f1c1f011b7fde2b40f72f46587180

[2018-12-01 11:54] novabyte commented on #559
@Wotzhs Would love to see this land. Let me know how I can help 👍

[2018-12-01 16:17] Wotzhs commented on #559
@novabyte thank you for your offer to help 👍, this is taking a lot longer than i thought as i am quite stuck on the complexity of the non-primitive types such as the `oneof` being included as part of the query string.

I have not yet taken the time to observe and understand how the above works currently in either the `GET` or `DELETE` request,  but i did come across https://github.com/grpc-ecosyst

[2018-12-03 21:43] aldogint commented on #734
if i'm not mistaken, documentation imply that it's possible using WithForwardResponseOption, see [docs](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/docs/_docs/customizingyourgateway.md#mutate-response-messages-or-set-response-headers).
but it's actually doesn't take any effect when i do this
[code]
it's possible using custom `ResponseForwarder` but i think there's to many codes need

[2018-12-07 18:50] moorara opened #823 "Please release the repo, IOReaderFactory is not available on the latest release!"
The `IOReaderFactory` on `github.com/grpc-ecosystem/grpc-gateway/utilities` is not available on latest release (1.5.1). As a result, when using dependency manager tools like dep, a generated `*.pb.gw.go` file cannot be compiled.

[2018-12-07 18:55] johanbrandhorst commented on #823
This is only true if you don't version the generator together with the runtime library. If you're using `dep` it will mean adding it as a required dependency and installing from vendor:

[code]
[code]

[2018-12-07 18:55] johanbrandhorst commented on #823
That said, we do need a release. I will close this though since it's not really an issue.

[2018-12-07 18:55] #823 closed

[2018-12-07 20:10] johanbrandhorst commented on #817
This has turned out not to be such a big problem so I'm happy to close this.

[2018-12-07 20:10] #817 closed

[2018-12-07 20:16] johanbrandhorst commented on #780
I think you have to define two different methods:
[code]
Though I'm unsure what you mean by the capilisation or and extra variables? Is this what you wanted?

[2018-12-12 08:03] javasgl opened #829 "Using dep to depend on specific revision of golang/protobuf is causing transative dependency problems for users"
https://github.com/grpc-ecosystem/grpc-gateway/blob/a7c0cd068de87715ea04bad788744a7b958d60f3/Gopkg.toml#L41

```master: Could not introduce github.com/grpc-ecosystem/grpc-gateway@master, as it has a dependency on github.com/golang/protobuf with constraint aa810b61a9c79d51363740d207bb46cf8e620ed5, which has no overlap with existing constraint master from github.com/grpc-ecosystem/go-grpc-middleware

[2018-12-12 09:53] yuhang2 commented on #729
Hey @llvim , Do you find the solution for how to formatting proto file?

[2018-12-12 10:23] javasgl commented on #829
`aa810b61a9c79d51363740d207bb46cf8e620ed5` this commit has been merge into master.

so this should be change to `branch = "master"` instead of special revision.

see: https://github.com/golang/protobuf/pull/679

[2018-12-12 11:10] javasgl commented on #829
the simplest solution at present is keep this specific revision sync with `github.com/golang/protobuf` master‘s revision. may be , i guess

[2018-12-12 11:52] johanbrandhorst commented on #829
That would risk the dep file getting out of sync with the bazel dependencies, which is unacceptable. The best solution is to migrate this project to use go modules.

[2018-12-12 15:33] johanbrandhorst opened #830 "Possible regression when specifying duplicate paths"
I haven't got a lot of time to debug this right now, but at work I've recently run into several instances of the generator _not_ erroring when specifying duplicate paths, like so:

[code]

The second one should not be allowed because it is ambiguous with the first one. I'm pretty sure this used to work, so I assume it's a regression. I'm raising just so I don't forget about it. This is happening o

[2018-12-12 16:47] ayenter commented on #554
Bump!

[2018-12-12 22:35] johanbrandhorst commented on #554
It is still unclear to me what this issue is about. As far as I know marshalling the any.Any type should work as expected. Can you make a test case to show that it doesn't work in a PR? That would be a great starting point for a fix.

[2018-12-14 17:00] burov opened #831 "Issue with google.protobuf.Empty representation in swagger file"
# The gRPC-Gateway project is maintained by volunteers in their spare time. Please follow these troubleshooting steps before submitting an issue.

- [X] Check if your issue has already been reported (https://github.com/grpc-ecosystem/grpc-gateway/issues).
- [X] Update your protoc to the [latest version](https://github.com/google/protobuf/releases).
- [X] Update your copy of the `grpc-gateway` libr

[2018-12-14 18:01] johanbrandhorst commented on #831
It is indeed expected behaviour, the JSON definition of google.protobuf.Empty is an empty object. If you want to have some text there you may have to define your own type.

[2018-12-14 18:01] #831 closed

[2018-12-17 09:38] burov commented on #831
@johanbrandhorst  I understand it, but comment before type rendered to Definition as description and title, on https://editor.swagger.io/ title always rendered as definition name and.

[code]

First part(Before first blank line) of comment will be stored in field title
[code]

Second part(After first blank line) will be stored in field description
[code]

Swagger UI replace definition name and ren

[2018-12-17 09:54] johanbrandhorst commented on #831
The `Title` and `Description` are indeed gathered from the first line (before double newline) and subsequent content by default. It's possible to overrwrite with

[code]

[2018-12-17 16:00] RaduBerinde opened #832 "Update dependencies with security vulnerabilities"
https://github.com/grpc-ecosystem/grpc-gateway/blob/master/docs/Gemfile.lock points to versions with known vulnerabilities:
 - `jekyll`: Vulnerable versions: >= 3.7.0, < 3.7.4
Patched version: 3.7.4
Jekyll through 3.6.2, 3.7.x through 3.7.3, and 3.8.x through 3.8.3 allows attackers to access arbitrary files by specifying a symlink in the "include" key in the "_config.yml" file.

 - `rubyzip`: CVE-

[2018-12-17 16:02] johanbrandhorst commented on #832
Thanks for raising this issue, would you be interested in submitting a PR to update these dependencies?

[2018-12-17 16:19] RaduBerinde commented on #832
Sorry, wouldn't know where to start testing the change, no idea how these are used.

[2018-12-17 16:33] johanbrandhorst commented on #832
They're just used in the documentation, this is a go project, so it's just a matter of updating the versions used by the github hosted docs site.

[2018-12-18 10:31] johanbrandhorst commented on #729
As I said in my previous comment, using `prototool --no-rewrite format` works well for me.

[2018-12-18 11:04] SXerox007 commented on #744
Thanks its just save my day. @johanbrandhorst

[2018-12-19 21:01] dayadev commented on #727
@vtolstov May I know if you created a repo for this?

[2018-12-19 21:15] vtolstov commented on #727
no, i don't create repo

[2018-12-19 21:31] dayadev commented on #727
@vtolstov Thanks!

[2018-12-19 21:34] johanbrandhorst commented on #727
I've written about gRPC client authentication which might be useful: https://jbrandhorst.com/post/grpc-auth/

[2018-12-20 22:01] clehene opened #834 "Suggestion to document gateway transcoding support for other languages."
If using the http annotations it's rather complicated to get code to compile across languages.
Many resort to copying the common annotations in the project in order for protoc to generate the compile time dependencies (e.g. https://github.com/xolstice/protobuf-maven-plugin/issues/14)
Instead you need https://github.com/googleapis/api-common-protos dependencies in each language to have them at comp

[2018-12-20 22:06] johanbrandhorst commented on #834
Sounds great! Are you interested in providing some documentation in this area? Or an example repo perhaps?

[2018-12-20 23:47] johanbrandhorst commented on #755
I don't think replacing swagger codegen is a hard requirement for the modules work. Please attempt a switch and let me know if you run into any problems, as has been stated we're keen the get this done.

[2018-12-20 23:52] johanbrandhorst commented on #755
Something we do want to consider at the same time though is looking into creating the Bazel dependency versions from the go.sum file; @drigz @achew22 ought to be able to assist in that effort.

[2018-12-20 23:58] achew22 commented on #755
@johanbrandhorst, there is no extra magic that is necessary to achieve that outcome. The integration that we already did with Gazelle should handle that.

[2018-12-21 03:39] clehene commented on #834
@johanbrandhorst sure, I'm currently wrapping up the mess I've made while trying to get thing to work.
Can you assign it to me, and I'll send a PR

[2018-12-22 15:20] hexfusion commented on #350
I am interested in this as well, any updates on this?

[2018-12-22 15:33] johanbrandhorst commented on #350
The gRPC gateway is it's own http server, so the only thing you can do is to use the same certificate for the gRPC gateway, unfortunately.

[2018-12-22 15:34] johanbrandhorst commented on #350
Same thing for the client side of things, it's its own http client, so while you could attach client certificate information to gRPC metadata, you can't forward the certificate itself.

[2018-12-22 21:18] eldad87 commented on #769
@rexlv,

Like @johanbrandhorst mentioned, here is my working proposal for [grpc-gateway running with Gin-gonic](https://github.com/eldad87/go-boilerplate/commit/29bd2836142aa041330e1940c5ccce95e07bec23#diff-9e8f6f8fdec41b0a5b9062dbad4fb6f0R267).

[2018-12-23 22:33] birdayz commented on #579
Yeah i'm confused, what's the reason for this?
It would be a breaking change, so i'm not going to get my hopes up before a v2..
however it's highly inconsistent with the swagger output, the results field is missing there.

@johanbrandhorst any guidance how to tackle this?

so what could we do? i see, without thinking over it too long, these possibilities:

1) Remove the "result" field wrapper, to

[2018-12-23 23:00] johanbrandhorst commented on #579
This puzzled me a lot as well initially, but I think now that the wrapper is so that we can provide "result" with successful calls and "error" when a call fails and we return a marshalled error. Because we can't use trailers with success or failure codes like gRPC does, we have to have some way to differentiate between success and failure, hence the wrapper.

With that in mind, option 2 is the pre

[2018-12-27 07:51] johanbrandhorst commented on #579
Reopening since @birdayz might still want to submit a fix for this.

[2019-01-06 06:14] bsakweson commented on #664
I ran into an issue similar to this, would love to open a new issue if needed but thought I should start here since they related.

I have a setup with multiple micro services each defined in their own .proto file. Code generation works well until I tried to combine my openAPI documentation using `protoc-gen-swagger` from `grpc-gateway`.

Using this command `protoc --proto_path=api/v1 --proto_path=

[2019-01-06 06:28] bsakweson opened #837 "Merging two .proto files with different packages using protoc-gen-swagger throws error"
I ran into an issue similar to [746,](https://github.com/grpc-ecosystem/grpc-gateway/issues/746).

I have a setup with multiple micro services each defined in their own .proto file. Code generation works well until I tried to combine my openAPI documentation using `protoc-gen-swagger` from `grpc-gateway`.

Using this command `protoc --proto_path=api/v1 --proto_path=$GOPATH/src --proto_path=third_p

[2019-01-06 08:40] johanbrandhorst commented on #664
Hi @bsakweson. Unfortunately, `allow_merge" will almost certainly only work within protofiles film the sake package. Yours would be a feature request, as I believe it is working as intended here. Would you like to open another issue to track this?

[2019-01-06 08:43] johanbrandhorst commented on #837
Haha I already answered in #746, but to clarify, it is currently working as intended, that is not to say that we couldn't look into making this work.

I would say that it's not uncommon when existing a set of services to specify another, superset service and use that with the gateway as a simple proxy too the others.

[2019-01-06 12:17] npuichigo opened #838 "gRPC streaming keepAlive doesn't work with docker swarm"
In a swarm setup using overlay networks, idle connections between grpc-gateway and backend service will end up in a broken state after 15 minutes. (https://github.com/moby/moby/issues/31208)

So I tried the following two ways. Firstly, I set net.ipv4.tcp_keepalive_time to less than 900 seconds, to make sure the TCP connection between grpc-gateway and IPVS doesn't expire. Secondly, I configured grp

[2019-01-06 12:40] npuichigo commented on #838
Thank you for your reply. I configure the KeepaliveParams like this, so I'm sure the parameters are passed to the `Dial` call.
[code]

[2019-01-06 12:57] johanbrandhorst commented on #838
That looks riy, but unless there's a bug with the gateway not using the parameters in the call to gRPC.Dial, I don't see what we could do to help you. Can you investigate whether the keep alive is being used in the gRPC library?

[2019-01-06 13:10] npuichigo commented on #838
Okay, I'll check it. Thanks.

[2019-01-07 12:07] oseiskar commented on #422
Encountered this issue and solved it on Debian Stretch Linux by installing `libprotobuf-dev` and `libprotoc-dev` packages (not sure which one was needed or both).

This was in a different context not related to grpc-gateway but googling the error brought me and hence this seems like the best forum for sharing this solution.

[2019-01-07 21:17] glerchundi opened #839 "feature request: opt-out fieldmask behaviour in patch"
I would like to get rid of [this fieldmask related thingy](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-grpc-gateway/gengateway/template.go#L287-L297) on generated code because we're already generating this on another step.

Would you be open to opt-out this by hinting the generator so that it can exclude that piece from generated code?

WDYT?

/cc @razamiDev @johanbrandho

[2019-01-07 21:38] johanbrandhorst commented on #839
Sure that seems reasonable, I guess it would have to be a runtime parameter?

On another note, it seems the official advice for disallowing updates is to mark the field "Output only" in a comment. This is not enforced in code, of course.

[2019-01-07 21:57] glerchundi commented on #839
If you don't mind I prefer to avoid the generated code.

Yeah, but we found some (very) rare cases where fields that aren't going to be outputted but can be updated. For example an Account where the password is never printed to the outside but is considered as updateable.

Thanks anyway!

[2019-01-08 09:15] #839 closed

[2019-01-09 09:08] srenatus commented on #830
I was thinking that the code generator should catch these -- but really, we could generate a bunch of `.pb.gw.go` files for different services, and end up using them together. Assuming that, we'd have a hard time catching this overlap at "compile time", but rather would check at "runtime". The latter could achieved by having `runtime.NewPattern` check any new one against the existing ones.

Howeve

[2019-01-09 09:20] srenatus commented on #830
Guess we could make [`(*mux).Handle()`](https://github.com/grpc-ecosystem/grpc-gateway/blob/ae4bb97e7718691c8e0742a7c07989c91630e042/runtime/mux.go#L142-L145) return an error when a pattern clash is detected...

[2019-01-09 10:58] johanbrandhorst commented on #830
I don't think we should need to generate several files or worry about runtime errors - the generator should catch this at generation time.

[2019-01-09 11:07] srenatus commented on #830
Ok, that will only catch half the trouble, though. You could still have
[code]
in `a.proto`, and
[code]
in `b.proto`; generate both `a.pb.gw.go` and `b.pb.gw.go` separately, and have a surprise in waiting when using the service with these two loaded. Or am I missing something?

[2019-01-09 11:19] johanbrandhorst commented on #830
Hm, well yeah if the generator doesn't have access to both files that'd be impossible, but I suppose you should really be specifying all proto files that are in the same namespace in one `protoc` invocation?

[2019-01-09 14:08] nlamirault opened #846 "Error to build project with go module"
# The gRPC-Gateway project is maintained by volunteers in their spare time. Please follow these troubleshooting steps before submitting an issue.

- [x] Check if your issue has already been reported (https://github.com/grpc-ecosystem/grpc-gateway/issues).
- [x] Update your protoc to the [latest version](https://github.com/google/protobuf/releases).
- [x] Update your copy of the `grpc-gateway` libr

[2019-01-09 14:56] nlamirault commented on #846
I try to vendoring using :

[code]

but i've got this error :

[code]

So i've install using `go get -u github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway@v1.6.4`.

I've got a shell script which generate files :

[code]

[2019-01-09 14:58] johanbrandhorst commented on #846
Well, the only thing I can think of is if you have an old installation of `protoc-gen-grpc-gateway` in your $PATH somewhere. Make sure the version you're `go get`ing is the one you're also running.

Also, I doubt this is an issue with this repo so I'm going to close it. Please join the #grpc-gateway channel of the gophers slack if you need continue assistance. See https://github.com/grpc-ecosystem

[2019-01-09 14:58] #846 closed

[2019-01-09 15:20] srenatus commented on #830
Looking at the pattern code, it would be nice to come up with a function like
[code]
that could then be used; but frankly, it's quite complicated, and I haven't reached a satisfying solution yet. (I make no claims on this issue whatsoever. Up for grabs.)

[2019-01-09 17:23] jones77 commented on #441
OpenAPI 3.0 adds support for nullable types, 2.0 doesn't support them: https://github.com/swagger-api/swagger-editor/issues/1364#issuecomment-309530250

[2019-01-10 17:31] johanbrandhorst commented on #755
Might be relevant: https://www.youtube.com/watch?v=ms5l0zxC-uM

[2019-01-11 13:12] UladzimirTrehubenka commented on #447
From https://stackoverflow.com/questions/45901389/why-golang-grpc-gateways-get-route-matches-post-request

By spec, it is allowed to encode GET request into a POST method with Content-Type: application/x-www-url-encoded.

See https://github.com/grpc-ecosystem/grpc-gateway/blob/master/runtime/mux.go#L254

So the request routing table in grpc-gateway tries to fallback from POST method to GET when th

[2019-01-11 13:53] johanbrandhorst commented on #447
@UladzimirTrehubenka thanks for that incredibly interesting summary of the issue, but I'm not sure I understand what needs to be done. Should we implement an option in the generator/mix to disable this behaviour?

[2019-01-11 16:50] UladzimirTrehubenka commented on #447
Separate option would be good enough. I just wondering do we have some workaround right now?

[2019-01-11 17:13] johanbrandhorst commented on #447
Not as far as I know. So would this be a runtime option or a generator option?

[2019-01-11 17:40] UladzimirTrehubenka commented on #447
I guess generator option,  BTW could we have some global option in proto to disable "application/x-www-url-encoded" for all POST calls? Probably if we will have a lot of POST calls it will be not so useful to disable "application/x-www-url-encoded" for each call explicitly?

[2019-01-11 17:51] johanbrandhorst commented on #447
Hm, I made a simple string search for `x-www-url-encoded` and couldn't find it used anywhere, are you sure the grpc-gateway implements this handling?

[2019-01-11 17:52] UladzimirTrehubenka commented on #447
See https://github.com/grpc-ecosystem/grpc-gateway/blob/master/runtime/mux.go#L254

[2019-01-11 18:52] johanbrandhorst commented on #447
Thanks for pointing that out, seeing as it is tied to the mux I think we can make this a runtime option.

[2019-01-11 18:53] johanbrandhorst commented on #447
Would you be interested in submitting a patch for this @UladzimirTrehubenka?

[2019-01-11 19:59] UladzimirTrehubenka commented on #447
@yugui could you please provide some comments?

[2019-01-11 20:04] johanbrandhorst commented on #447
I think it should be fairly straightforward, add an option that sets a variable, then check the value of the variable before handling the fallback.

[2019-01-12 19:10] dv29 commented on #731
Hi, I am facing this issue when I try to `go get github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway`

[2019-01-12 20:05] johanbrandhorst commented on #731
If you're getting this error, make sure you are using the latest available version of the http.proto file.

[2019-01-13 19:05] hellupline commented on #555
@achew22 while your solution does work, its not clear how to handle things like the calloption

eg:
[code]

and then using the `...RegisterClient`, my grpc service does not receive the http readers,

[2019-01-13 21:46] ivucica commented on #731
This particular issue is long resolved. Unless it's related to the original issue related to `response_body`, I don't think it's right to keep posting here.

I'll lock this issue.

[2019-01-15 16:41] afking commented on #673
Can be set on the clients grpc options and the http handlers like:
[code]

[2019-01-17 05:18] waveywaves commented on #683
@johanbrandhorst I am starting work on this issue. Do let me know if there is something I need to keep in mind.

[2019-01-17 09:23] johanbrandhorst commented on #683
@waveywaves thanks! I don't think there's anything particular to keep in mind if we can easily port the logic from `protoc-gen-go`.

[2019-01-17 17:05] fahernandez opened #851 "Support swagger annotations for default and required fields"
Swagger annotation for default and required fields aren't suportted by the swagger generator tool. The idea is to support the annotations as:
[code]

That will generated the swagger json as:
[code]

[2019-01-18 04:35] litichevskiydv commented on #756
Hello, guys! We are using gRPC with Node.js and generating swagger documentation by protoc-gen-swagger. Our REST gateway is hosted by express and we met the same problem, as was described. @johanbrandhorst, do you have plans to implement configurable behavior for option `collectionFormat`?

[2019-01-18 09:37] johanbrandhorst commented on #756
@litichevskiydv I don't personally have the time to implement this, but I think mine and @veqryn's previous discussion is good enough for anyone with the determination to get a pull request started, with or without Go experience! What can I do to help you bring this contribution in?

[2019-01-18 09:47] UladzimirTrehubenka commented on #447
Any progress here?

[2019-01-18 10:40] johanbrandhorst commented on #447
Unfortunately none of the maintainers are able to dedicate any work to this right now, what can I do to help you get a pull request fix for this?

[2019-01-18 11:37] UladzimirTrehubenka commented on #447
Don't follow - where we need to set the option?

[2019-01-18 11:41] johanbrandhorst commented on #447
Something like this: https://github.com/grpc-ecosystem/grpc-gateway/blob/master/runtime/mux.go#L99. Except `WithDisablePathLengthFallback`. It could set a boolean on the `Mux` type, which we can check in the function call you found.

[2019-01-18 11:54] UladzimirTrehubenka commented on #447
As I understand you propose to add another one ServeMuxOption and set the override behaviour at runtime?

[2019-01-18 11:55] johanbrandhorst commented on #447
Yes, it seems suitable as a runtime option, not something that's specific to your API. Do you disagree?

[2019-01-18 12:02] UladzimirTrehubenka commented on #447
I like this solution, so I try to create PR for fix this.

[2019-01-19 19:38] bsakweson commented on #837
Would you by any chance know of any hack I can use for now to get those swagger files concatenated, if so would mind sharing?

[2019-01-19 23:12] johanbrandhorst commented on #837
I think you'd have to write a post processing tool to read both and merge the fields. There probably exists tools to do this.

[2019-01-20 19:20] UladzimirTrehubenka commented on #447
The PR has been added.

[2019-01-23 15:22] #579 closed

[2019-01-24 01:46] hexfusion commented on #755
Great link, and I must say the go mod has created a nightmare. The video is very well done but for some projects jumping a major version is simply not feasible for a tooling change. Saying that this project is blocking my ability to use go mod effectively. Basically the codegen creates the example files with an improper path.

`import "gopkg.in/resty.v1"`
https://github.com/go-resty/resty#usage

v

[2019-01-24 08:05] Mnw2212 commented on #787
Hi @johanbrandhorst , I faced the same issue and it took me a couple of hours of googling to get here.
Would love to update the documentation. It might save time for a lot of people.

[2019-01-24 14:54] hexfusion commented on #755
No it seems the issues with resty via codegen is the core of the problem I am facing.

[2019-01-24 15:13] johanbrandhorst commented on #755
Couldn't it be remedied by this repository explicitly choosing the resty version to use?

[2019-01-24 16:57] dharmjit commented on #673
@afking
Any example on this. I am facing this issue and seeing different spans(ochttp,ocsql) for the same request.
Thanks

[2019-01-24 16:59] johanbrandhorst commented on #673
If your spans are not contiguous you must not be passing the context along properly. Are you making sure to use the database/sql methods that use context?

[2019-01-24 17:05] dharmjit commented on #673
I might be making some silly mistake. Below is the sample of the code of the server
[code]

and below is the implementation of the rpc method
[code]

[2019-01-24 17:07] johanbrandhorst commented on #673
This is not the place for this type of debugging, perhaps join the #opencensus channel on the gophers slack? Join Gophers on Slack!

[2019-01-24 17:09] dharmjit commented on #673
Ahh okk I will post it there.

[2019-01-29 05:57] drorventura commented on #690
Hi, did someone stated fixing this issue?

[2019-01-30 05:32] drorventura commented on #690
I might :)
i'll try to make time for it soon

[2019-01-30 07:55] birdayz commented on #837
@bsakweson https://github.com/go-swagger/go-swagger can merge swagger files. we're using this to create one unified swagger definition.

[2019-02-01 22:03] the-destro commented on #755
Also one question I have is how the include is supposed to work when we compile the protobuf files via protoc?

[2019-02-02 00:00] the-destro commented on #755
hmm, makes things tricky especially given the instructions from the README:

  -I$GOPATH/src \
  -I$GOPATH/src/github.com/grpc-ecosystem/grpc-gateway/third_party/googleapis \
  --plugin=protoc-gen-grpc=grpc_ruby_plugin \
  --grpc-ruby_out=. \
  path/to/your/service.proto

If there is no GOPATH how do we run that, or how *should* we run that

[2019-02-02 10:10] johanbrandhorst commented on #755
Modules don't mean you _can't_ have a GOPATH, but I don't think it's necessary here anyway. We can assume a vendor directory for these instructions for example.

[2019-02-03 03:55] izumin5210 commented on #755
How about `go list -m -f "{{.Dir}}'`？

[code]

[2019-02-04 17:03] Emixam23 commented on #787
Thanks @Mnw2212 :)

[2019-02-04 17:03] #787 closed

[2019-02-07 01:01] the-destro commented on #755
Aye, I think this is mainly a documentation issue. I like @izumin5210 's answer and can submit a PR to update the docs. Is this something that we want to encourage users to do though? Hence the second half of my question, the *should* part :)

[2019-02-07 05:15] mayank-dixit commented on #410
@bjolletz did you finally figure out a fairly acceptable way to upload files using grpc-gateway as your app's main entry point?

[2019-02-07 05:33] mayank-dixit commented on #607
@ubenzer what did you end up doing? `WithOutgoingHeaderMatcher` worked or you ended up using some other approach?

[2019-02-07 09:10] johanbrandhorst commented on #755
This issue is concerned with changing our dependency management to use dep, which would presumably include documentation updates, but is not exclusive to documentation updates. We'd very much welcome a PR that would do both, though.

[2019-02-07 11:22] ubenzer commented on #607
I ended up implementing our logic on the client side. In one request I get the URL for the image and in the second request, we get the image itself by using the response of the first request.

This was implemented before I learned that such a thing `WithOutgoingHeaderMatcher` existed. I don't know if that would've been worked for me or not.

I'll close this issue as this is not required for me any

[2019-02-07 11:22] #607 closed

[2019-02-07 13:33] bjolletz commented on #410
No I didn't find a way to manage multipart requests with grpc-gateway in a simple way. I haven't looked at grpc-gateway since then though.

[2019-02-07 20:30] fahernandez opened #863 "Repeated field documentation is overwritten by fields comments"
### Bug report:

When defining repeated fields the documentation of the field is overwritten by the fields comments. For example:

[code]
After generating the swagger documentation the field comments takes precendence over the field documentation resulting in something like:

[code]

I think that the field documentation must take precedence over the field comments.

[2019-02-07 20:46] achew22 commented on #863
This would be a really great starter project for getting involved!

This comes from the interaction of these two pieces of code.

https://github.com/grpc-ecosystem/grpc-gateway/blob/c3923b1034cd4a10cea4dfae173804b19f6f7fe0/protoc-gen-swagger/genswagger/template.go#L120-L124

https://github.com/grpc-ecosystem/grpc-gateway/blob/c3923b1034cd4a10cea4dfae173804b19f6f7fe0/protoc-gen-swagger/genswagger/t

[2019-02-07 20:47] fahernandez commented on #863
Sure, I will definitely try, thank you for taking me in the right direction!

[2019-02-08 04:30] mayank-dixit commented on #410
@bjolletz What did you end up doing for file uploads for your project, then?

[2019-02-08 21:45] llimllib commented on #530
The problem is that I can't send an invalid request to the service in question (in my case, an integer for an enum that is invalid), the response is of a type that I am not able to marshal into a struct without copying `errorBody` into my own code.

It would be better if `errorBody` were public so I could write an integration test that the return value of my endpoint were a `gateway.ErrorBody` if

[2019-02-11 02:39] DaHuMao opened #864 "A question about generating file protoc-gen-grpc-gateway/gengateway/template.go"
Hello:
        I am a rookie. I have a question. When I modified the template.go file in the github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway/gengateway/ directory, the *.pb.gw.go file did not change.
        Looking forward to your reply！

[2019-02-11 06:22] achew22 commented on #864
@DaHuMao, per the issue template, can you please document the steps that you have tried to alleviate your problem?

[2019-02-11 06:56] achew22 commented on #530
@llimllib, could you elaborate on what you mean by "send an invalid request to the service"? Is that a gRPC service or a REST service? Who is determining that the request was invalid? Is this gRPC validation logic or your service's validation logic or even gRPC gateway's?

If you would like to see something made public, I would recommend a PR so that we can discuss the specifics of your proposal.

[2019-02-11 11:04] DaHuMao commented on #864
@achew22 I need to insert some custom code into the *.pb.gw.go, but I don't want to have to modify it every time I generate a *.pb.gw.go file, so I tried to modify the generated template file in gprc-gateway: template.go.After the modification, I generated the *.pb.gw.go file again. I found that template.go was not called at all when the file was generated。Is the generated template not the templat

[2019-02-11 11:07] johanbrandhorst commented on #864
@DaHuMao did you reinstall the generator after changing the template file? If there's something you want changed about the generated file, why not raise an issue and make a pull request, maybe everyone who uses this project could use it?

[2019-02-11 12:42] DaHuMao commented on #864
@johanbrandhorst I am just a rookie ,who just starting to learn this aspect.
I want to change the build template because of the specific requirements of the project. Do you mean i should reinstall protobuf if i want to change it.

[2019-02-11 12:44] DaHuMao commented on #864
@johanbrandhorst  I had reinstalled protobuf ,but i did not work

[2019-02-11 12:45] johanbrandhorst commented on #864
I mean `protoc-gen-grpc-gateway`, not `protoc`. After changing the template you need to run `go install ./protoc-gen-grpc-gateway` from the root of this repo. That should fix your problem.

[2019-02-11 12:46] johanbrandhorst commented on #864
I'm going to close this as it's not really an issue related to the repo. Please join the slack channel if you need more direct assistance.

[2019-02-11 12:46] #864 closed

[2019-02-11 12:47] DaHuMao commented on #864
@johanbrandhorst  OK，Thank you very much！

[2019-02-11 14:19] llimllib commented on #530
@achew22 sure, here's what I mean:

* Endpoint A accepts an enum attribute, let's call it `foo`, whose valid values are `0`, or `1`, let's call their names `ALPHA` and `BETA`
* GRPC Gateway says that `foo` is a string, but it also accepts integers
  * (is this a bug?)
* If I pass `GAMMA` to the endpoint for attribute `foo`, I get an error from grpc as I expect
* If I pass `30` to the endpoint, I d

[2019-02-11 15:40] johanbrandhorst commented on #530
@llimllib I'm not sure what the error case has to do with knowing the structure of errorBody, that only concerns clients of the API? Your gRPC server doesn't need to do anything about it or worry about its structure. Am I misunderstanding something?

As for the enum translation, I haven't looked at the code recently but I believe this is configured in your JSON marshaller, and not the gateway (exc

[2019-02-11 16:16] llimllib commented on #530
OK, you're right and I traced the enum issue (which is annoying) to `jsonpb`, it's basically https://github.com/golang/protobuf/issues/174

(Oddly, grpc-gateway handles this case differently than `jsonpb`, and it is the way I expect. I wrote up the test case I gave above, and here's the output from grpc-gateway:

[code]

I don't know why `jsonpb` can't handle this the same way!)

And the reason I'

[2019-02-11 16:22] johanbrandhorst commented on #530
I see, yes, well, the proper way to do this might be to implement an alternative error return in the generated swagger definitions. We did a similar thing for streamed returns recently: https://github.com/grpc-ecosystem/grpc-gateway/commit/f336fbcc3f21acf89e935c2353e7ead734ec31f5. Would you be interested in contributing something like that?

[2019-02-11 16:57] llimllib commented on #530
phew, I would like to but I would rate myself as extremely intimidated by reading that PR

[2019-02-11 17:07] johanbrandhorst commented on #530
I think it would mostly be hardcoding new things into the swagger generator template tbh; especially since the format of error body is constant. Many of the files in that change just concern generated test files, the meat of the changes are in `protoc-gen-swagger/genswagger/generator.go` and  `protoc-gen-swagger/genswagger/template.go`. Let me know if you need more help :). You could join the #grp

[2019-02-12 18:59] waveywaves commented on #683
UPDATE:
@johanbrandhorst Steps I followed to reproduce your issue.

Copied the proto file and compiled it with the following command.
[code]
Upon running the above command a echo.pb.gw.go file wasgenerated.

After creating an empty project, I ran `go install project` after which I got a similar error which said.

[code]
To test this further I removed the underscores in `Temp_lateRequest` in the .p

[2019-02-12 19:52] waveywaves commented on #753
@johanbrandhorst @venezia I would like to work on this if that is fine :)

[2019-02-12 20:14] johanbrandhorst commented on #753
@waveywaves of course! Thanks!

[2019-02-12 20:22] vtolstov opened #867 "swagger error"
i have proto that contains:
[code]

when i'm try generate swagger, it oututs:
--swagger_out: cannot use path parameter in client streaming

as i understand in case of stream from client, i can't use path like "/api/v2/volumes/{volume_id}".
How to deal with this? I have method that via post create new volume and returns it uuid, after that i can put to it data via stream.

[2019-02-12 22:45] johanbrandhorst commented on #867
The gRPC gateway does not support client side streaming at this time. If you want to upload a file you will have to use multi-part uploads on a separate handler.

Closing as this has been covered in other issues. Please let me know if there's anything else you would like to ask.

[2019-02-12 22:45] #867 closed

[2019-02-12 23:42] vtolstov commented on #867
but why i can't generate swagger? i don't want to use grpc-gateway, i'm use only swagger generator from proto files.

[2019-02-12 23:51] achew22 commented on #867
The provided gateway doesn't support it, that's why you can't generate swagger for it. if you would like to extend the swagger generator to support this, I would be happy to merge your pull request.

[2019-02-13 19:52] Multiply commented on #407
Has there been any traction on this since 2017?

I'd like to help out where possible, as this problem is currently biting us a little hard, and I can't seem to find a way to 'override' the http path used for swagger, without changing the entire implementation.

[2019-02-13 20:02] vtsao commented on #407
Is this a dupe of #702?

[2019-02-13 21:24] calbach commented on #407
Yes - I think it's a dupe AFAICT. That said, I don't have an explanation of why @Multiply hit this if that dupe is marked "fixed", unless their on an older version.

[2019-02-13 21:39] johanbrandhorst commented on #407
I'll close this as a dupe of #702, please reply if you're still experiencing this problem @Multiply

[2019-02-14 08:41] Multiply commented on #407
Not sure if you want me to reply here, or elsewhere, but I am indeed still hitting this.

Just to make sure I wasn't using an older version, I just removed the protoc-gen-swagger, and installed it again, and same result.

Currently I'm seeing the following results:
[code]

I kind of hoped, this would be generating the following swagger path instead:
[code]

Please let me know if that's not how it'

[2019-02-14 09:23] johanbrandhorst commented on #407
@Multiply thanks for replying, I think that sounds reasonable, looking at the PR that closed #702 it appears we're only doing this expansion for fields called `parent` or `name` (ref: https://github.com/grpc-ecosystem/grpc-gateway/commit/de0b679b7b2e83123304a21180e92b10b52f4f7c#diff-d419038d63db0fdabc61f0d6cc6683aeR567), unless I'm misreading it. An easy fix might be to add your `id` field there a

[2019-02-14 09:36] Multiply commented on #407
@johanbrandhorst I tried adding `|| field == "id"` in there, and the generated swagger is the same.

I also tried using `name` in my proto, rather than using `id` and it didn't seem to help.

What is the expected path when using prefix?

[2019-02-14 09:38] johanbrandhorst commented on #407
I don't know, sorry. If you'd like to experiment with it and find something that works for your use case feel free to open a PR. @achew22 might have a better understanding about why it does or doesn't work.

[2019-02-14 09:41] Multiply commented on #407
Also limiting it to just `parent`, `name` or `id`, also seems kind of odd, as in some instances you might have more than a single nested resource, like `/v1/{company_id=companies/*}/{team_id=teams/*}/{user_id=users/*}`

I might just have the wrong expectations of the functionality, and in that case, what I'd rather want, is a way to override the path used for swagger, using an option of sorts.

[2019-02-14 16:59] achew22 commented on #407
To be honest I think this is just one of those things where the gRPC expectation and the swagger expectation differ. I don't really have a good solution. As an example of the difference it could interpret `/v1/{company_id=companies/*}/{team_id=teams/*}/{user_id=users/*}` as `/v1/companies/{company_id}/teams/{team_id}/users/{user_id}`, but that doesn't really seem to express the same thing since th

[2019-02-14 21:46] fahernandez opened #868 "Improve README with AWS API Gateway findings"
After trying to import swagger generated documentation into AWS API gateway I discover some helpful information that can be shared in README file to help other people through this process:

1. Remove model circular dependencies.
2. Remove security-related annotations (This annotation aren't well supported by the import functionality).
3. Max length of the fields is reviewed by the parser but the e

[2019-02-14 22:35] fahernandez commented on #868
Documentation was added on [this](https://github.com/grpc-ecosystem/grpc-gateway/pull/869)

[2019-02-15 08:21] Multiply commented on #407
The reason I use underscore, is because my gRPC implementation takes `company_id` in the body. (for this specific request)
In other instances I'd use `company.id` because the body takes a full company in the body, but takes the id from the URL.

All of the scenarios can be fixed for my use-case, if I can override the generated swagger path. I don't want to modify the actual implementation details,

[2019-02-15 08:25] #683 closed

[2019-02-16 01:48] clehene commented on #834
@johanbrandhorst I've previously lost context on this, and it's a bit intricate.
I'm finally back to this as I'm trying to figure out how to make it work for JS so got some context back, hence I'll braindump here before I lose context again :)

I'lll post what I have for Java and C# here.

When using annotations like

[code]

`protoc` needs the `annotations.proto` available at compile time.

`anno

[2019-02-16 09:01] johanbrandhorst commented on #834
Note that the reason there isn't a pre-generated version of `annotations.proto` for JS is probably because you can use JS in "dynamic" mode where it generates files as it needs them, and so only needs access to the proto files at runtime, not all the generated files.

[2019-02-16 11:03] yugui commented on #864
@DaHuMao
I did not expect users would need to modify `template.go` when I wrote it. If you do, obviously you need to rebuild protoc-gen-grpc-gateway itself, reinstall it and then you need to regenerate your codes.

But before trying directly modifying `template.go`, please take a look at https://grpc-ecosystem.github.io/grpc-gateway/docs/customizingyourgateway.html. It might give a better solution

[2019-02-16 17:33] clehene commented on #834
@johanbrandhorst you're referring to http://dcode.io/protobuf.js/ ?
TBH it's a bit confusing as it seems that protobuf and grpc have been going a different route of actually generating the JS
https://developers.google.com/protocol-buffers/docs/reference/javascript-generated
https://github.com/grpc/grpc-web

Also we want to support both direct grpc (grpc-web style) and transcoding.

As a side note

[2019-02-16 20:29] clehene commented on #834
It looks like it's possible to use decode.io protobuf.js with grpc-web  https://github.com/grpc/grpc-web/issues/80

[2019-02-16 21:21] johanbrandhorst commented on #834
No, even the Google implementation can be used dynamically AFAIK? In any case, the easiest way to work this out is to just implement it and test it. This is probably something we want to do anyway if we're writing documentation.

As another idea, maybe it's easier to generate the JavaScript parts from the generated swagger definitions?

[2019-02-16 21:22] johanbrandhorst commented on #834
Also, while you can use this gateway together with the gRPC-Web proxy, you'd normally choose one or the other depending on the needs of your client(s).

[2019-02-18 02:00] DaHuMao commented on #864
@yugui Thank you for your advice. But i want to handle the error and the message in *.pb.gw.go,befor they  passed into the client function,not just add some function  to *.pb.gw.go

[2019-02-18 06:15] clehene commented on #834
Indeed the example there was for the improbable grpc-web (the whole protobuf.js vs protobuf/js grpc-web vs grpc-web is confusing at least)

Besides allowing both gRPC and REST for services, with grpc-web you'd still need some way to perform health checks from load balancers.

[2019-02-18 20:36] johanbrandhorst commented on #868
Closed by #869

[2019-02-18 20:36] #868 closed

[2019-02-18 20:37] johanbrandhorst commented on #863
Closed by #863

[2019-02-18 20:37] #863 closed

[2019-02-18 20:37] johanbrandhorst commented on #851
Closed by #852

[2019-02-18 20:37] #851 closed

[2019-02-18 20:39] johanbrandhorst commented on #829
Closing as dupe of #755

[2019-02-18 20:39] #829 closed

[2019-02-19 09:41] muyuren opened #871 "& is escaped as \u0026 in restful response"
& is escaped as \u0026 in restful response

[2019-02-19 09:43] johanbrandhorst commented on #871
Could you provide an example of this happening? Is it being escaped in the output JSON? It doesn't sound right if so.

[2019-02-19 10:08] muyuren commented on #871
Use the code shown below in grpc server
[code]
then
[code]
the output is
[code]

[2019-02-19 10:14] johanbrandhorst commented on #871
Interesting, this could be testable by using the `jsonpb` marshaller to marshal this type manually. Can you see what `jsonpb.MarshalToString(&pb.StringMessage{Value: "test.com?a=1&b=2"})` prints? Where `jsonpb` is https://github.com/golang/protobuf/tree/master/jsonpb.

[2019-02-19 10:28] muyuren commented on #871
The result is still
[code]

[2019-02-19 10:29] johanbrandhorst commented on #871
Great, could you please raise an issue against https://github.com/golang/protobuf instead then? This is not something we can change in the grpc-gateway, sorry! You can always configure your own marshaler though.

[2019-02-19 10:29] #871 closed

[2019-02-19 15:57] #755 closed

[2019-02-20 08:48] bjolletz commented on #410
I was just evaluating the gRPC gateway to see if it would fit our needs. But because of this and some other issues, we decided to not go ahead with the gRPC gateway.

[2019-02-20 15:50] rfielding commented on #410
@bjolletz if you are really manipulating actual http files, that's kind of the recommendation anyway.  you want fine-grained control over http.  you need multipart/form-data, range requesting, etag, detailed cookies, custom headers.

it's a completely different use case from just trying to strongly-type a new service that isn't directly hit by the browser.

[2019-02-21 15:42] gensmusic commented on #701
need help too.

[2019-02-22 00:26] philsturgeon opened #872 "Swagger has not existed for four years"
Howdy folks! I know you are still only supporting OpenAPI v2.0 (as read in #815), but I see the word Swagger floating around a lot and I wondered if there was any chance we could catch up on [the 2015 renaming to OpenAPI](https://swagger.io/blog/api-strategy/difference-between-swagger-and-openapi/)?

Out of interest, is there a roadmap for supporting OpenAPI v3.0? It's quite a big improvement on v

[2019-02-22 01:01] achew22 commented on #872
@philipithomas, unfortunately we don't have a roadmap. Maybe this is something you could help out with? For example, I've not yet found something that we can express in the Google http annotations that don't fit nicely into OpenAPI v2. Are there any pieces that you're aware of that don't translate well?

[2019-02-22 08:26] johanbrandhorst commented on #872
As for the renaming, we could potentially rename the generator and some of the internals to align with the new name but we'd probably still want to make sure we produce a `protoc-gen-swagger` with every release to avoid confusing users. That sounds like a "good first PR" opportunity to me :).

[2019-02-22 12:54] laurentlb opened #873 "Bazel incompatible changes"
It seems like the repository doesn't build with Bazel incompatible changes.
With `--incompatible_disallow_old_style_args_add`, we get:

[code]

One way to check whether it's compatible, and find the future breakages, is to use bazelisk, e.g.
  [`bazelisk --migrate test //...`](https://github.com/philwo/bazelisk)

(cc @ensonic because https://github.com/googlecloudrobotics/core depends on this)

[2019-02-22 12:56] johanbrandhorst commented on #873
Thanks for reporting this. I'll just CC some people that know better than I.

CC @drigz @achew22

[2019-02-22 18:21] achew22 commented on #873
https://github.com/bazelbuild/bazel-integration-testing/pull/108 needs to be merged then we can switch to it and it'll fix it.

@laurentlb thanks so much for doing this :smile:

[2019-02-23 07:40] #873 closed

[2019-02-25 10:49] simonpasquier commented on #349
Trying to get away from `golang.org/x/net/context` for my own projects, I wonder if it wouldn't be possible for grpc-gateway to switch using `context` from the standard library now. Specifically wouldn't it be ok to change this [line](https://github.com/grpc-ecosystem/grpc-gateway/blob/9a7c952d3c7e6c0239ddb5d1d351e0fdb6c3c8d3/protoc-gen-grpc-gateway/gengateway/generator.go#L47) to `"context"`?

[2019-02-25 11:54] johanbrandhorst commented on #349
I'd say yes. We should have the same support guarantees as the standard library which means current release - 2, which still leave us at 1.9. Context was added in 1.7. Would you be interested in contributing a fix for this?

[2019-02-25 12:38] simonpasquier commented on #349
@johanbrandhorst sure, I'll send something soon...

[2019-02-25 16:26] klesniewski commented on #872
Seems to be duplicate of #675

[2019-02-25 17:07] johanbrandhorst commented on #872
Good shout @klesniewski

[2019-02-25 17:07] #872 closed

[2019-02-25 18:16] jgiles opened #877 "Cleaner Swagger-generated schema names (omitting prefixes)"
This issue resurrects some of the discussion in https://github.com/grpc-ecosystem/grpc-gateway/issues/525, and seeks a resolution to the problem of "ugly" prefixing without violating the principle of least surprise.

For the first time, we're planning to use grpc-gateway and its generated Swagger definitions to generate a public-facing API rather than an internal API. This means the "cosmetic" con

[2019-02-25 19:09] johanbrandhorst commented on #877
Hi Josh, thanks for opening this issue. I've had the pleasure of generating public APIs with the gateway myself and appreciate your concerns. What can I do to help you bring these improvements into a PR?

[2019-02-28 16:23] hypnoce commented on #877
https://github.com/grpc-ecosystem/grpc-gateway/pull/881 can help ?

[2019-03-01 16:39] johanbrandhorst opened #885 "Update the build environment Dockerfile to Go 1.12"
It's currently locked to using Go 1.11 as per https://github.com/grpc-ecosystem/grpc-gateway/pull/884. Upgrading to 1.12 was causing some builds to fail, so it should be made as part of a separate pull request.

[2019-03-01 16:39] johanbrandhorst commented on #885
Might want to consider other dependencies in the same file at the same time, namely `protoc` is still 3.1.0.

[2019-03-01 20:55] kernle32dll opened #886 "Cannot download 1.8.0 with modules"
Well, I just tried to update my project's dependencies, and things broke apart.
Seems like its not possible to get grpc-gateway at the moment:

### Steps you follow to reproduce the error:

[code]

FYI, `go get github.com/grpc-ecosystem/grpc-gateway@v1.8.0` is just as broken.

### What did you expect to happen instead:

Work?

### What's your theory on why it isn't working:

grpc-gateway is using

[2019-03-01 21:48] johanbrandhorst commented on #886
Argh, sorry about this. I figured this was working since the Go mod things we're running in CI didn't throw up any errors. Do you have any ideas for fixing this?

[2019-03-01 21:56] kernle32dll commented on #886
Well, there is two things.

First, is the question if the replace directive should propagate - I am not sure, as the go module documentation is not sufficiently clear about this (imo). However, I have a strong sense they don't. See the last paragraph [here](https://github.com/golang/go/wiki/Modules#gomod) (emphasis by me):

So, as how to fix this.... The only thing I can think of then is to go cop

[2019-03-01 22:01] johanbrandhorst commented on #886
We've long discussed replacing the OpenAPI generator we use which is what is causing this import dependency - none of the runtime actually depends on resty. So that's another option. I'll try and work on this tomorrow and see what I can find. If this is blocking you right now and you find a solution, please open a PR and I'd be happy to review it.

[2019-03-01 22:06] kernle32dll commented on #886
Thanks, no worries ;-)

FYI, I totally forgot to mention how to workaround this, if someone is seriously blocked by this: As mentioned in [linked resty issue above](https://github.com/go-resty/resty/issues/230), you can use the [same replace directive ](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/go.mod#L18) in your go.mod depending on grpc-gateway (either directly or indirectly).

[2019-03-01 23:49] johanbrandhorst commented on #886
This was closed a bit prematurely, but please test https://github.com/grpc-ecosystem/grpc-gateway/releases/tag/v1.8.1-pre1 and see if that fixes it. Once someone has confirmed this is working I will prepare v1.8.1 proper and close this issue.

[2019-03-02 00:07] johanbrandhorst commented on #886
I've confirmed this is working with both `v1.8.1-pre1` and `v1.8.1`. Thanks for raising this issue.

[2019-03-02 00:07] #886 closed

[2019-03-02 02:33] jgiles commented on #877
Thanks for so quickly responding an merging a change!

I've tried this change out, and while it does make the names more predictable, the Swagger code generators I have tried pass the much-longer names on to the client code (e.g. generated Typescript from the resulting Swagger file has names like MyFullPackageMessageSubmessage).

It still seems like there should be a way to generate more concise n

[2019-03-02 03:13] jgiles opened #888 "Option for omitting zero enum value from generated Swagger"
It's pretty typical practice in proto APIs for enum types with no natural default to declare the 0 value as UNKNOWN (or similar). Often UNKNOWN is not a valid option, but is declared to differentiate the "unset" case.

JSON semantics are different: The "unset" case is explicit, because the field is not present in the map object.

Currently, the generated Swagger spec exposes such an "UNKNOWN" opti

[2019-03-02 08:06] MichaHoffmann commented on #885
Hey, is this still up for grabs?

[2019-03-02 09:52] johanbrandhorst commented on #885
It's going to be a little hard to do without push access to the build-env-image docker hub repo, so I assigned it to myself. Sorry it's probably a bit poorly labeled.

[2019-03-02 09:53] johanbrandhorst commented on #877
Reopening issue to discuss alternatives. I think a flag in the swagger generator to omit package namespaces might work?

[2019-03-02 09:57] johanbrandhorst commented on #888
Thanks for the detailed feature request. I think this sounds okay, but you're sure you want it as an annotation rather than a generator option to remove all the zero enums in a document?

[2019-03-02 20:17] #885 closed

[2019-03-02 21:15] jgiles commented on #888
Well, I think all of the enums in my proto files would benefit from this behavior, but there could be enums where there *is* a natural default (or the zero value is otherwise valid/intentional), and you could imagine some project having a mix of those two cases.
But perhaps a flag would be sufficient for the vast majority of cases - if you control the enum definitions, you can structure them consi

[2019-03-02 21:21] johanbrandhorst commented on #888
Considering you're the first to ask for this, if it's good enough for you it's probably good enough for an MVP :). Do you intend to submit a PR to cover this behaviour change?

[2019-03-03 19:32] hypnoce commented on #877
Currently, the default behavior for swagger names is to traverse the depth of packages and inner message, check for unicity and generate a name that prepends one more package (because of an of-by-one error) :
[code]
First, it leads to a silent failure when `depth == 0`. Second, it prepends an unnecessary level. Also, it joins package and inner class names without `.` which can be a bit unreadable.

[2019-03-03 19:39] johanbrandhorst commented on #877
Your analysis is sound, however I don't think we want to remove the new flag as we try to maintain strict backwards compatibility between releases. We still plan on making a V2 at some point where this kind of change could happen.

Obviously you've still hit on a problem and proposed a solution which sounds good, but maybe let's just add another flag for now 😅? I'd like to explore the appetite for

[2019-03-03 19:46] hypnoce commented on #877
@johanbrandhorst makes sense not to support backward compatibility of bugs. So a first step would be to fix the name generator. There are 2 main issues :
* of-by-one bug that leads to more package being prepended than actually needed for unicity
* the elements are joined without `.`. So instead of generating `foo.bar.Message`, we endup with `foobarMessage`

What do you think of fixing those 2 issu

[2019-03-03 19:48] johanbrandhorst commented on #877
Yeah I think both of those sound good, but I invited my fellow collaborators to express their views as well before we go ahead with this change. They may know of some reason why we're not using dot-separation, for example. It's not so clear cut as to call that behaviour a bug, necessarily.

[2019-03-03 19:51] jgiles commented on #888
If a PR for adding the generator command-line flag would be well-received, I can try to take a stab at it at some point :-)

[2019-03-03 21:49] achew22 commented on #888
I assure you it would be well received 😁

[2019-03-04 02:33] PassKit opened #891 "Support specifying servers in the swagger generator"
Currently it is not possible to specify servers in `grpc.gateway.protoc_gen_swagger.options.openapiv2_swagger`.

This necessitates a manual edit of the JSON before it can be published as documentation.

[2019-03-04 04:22] johanbrandhorst commented on #891
Hi, thanks for raising this issue. How can I help you contribute a fix for this?

[2019-03-04 05:07] PassKit opened #892 "Description and title ignored when field is not a scaler value type"
When adding descriptions or titles for message fields that are not scaler value types, any title or description option is ignored, and replaced (if available) with the description of the message type.

This prevents proper context being provided for reusable items.

As an example, we have a date message that is re-used in multiple places.

[code]

And in the following message, a description is add

[2019-03-04 05:08] #892 closed

[2019-03-04 05:25] PassKit commented on #892
Please ignore.  protocol-gen-swagger is working as expected.  My issue is with the ReDoc project.

[2019-03-04 13:41] ivucica commented on #877
Well,  I don't have a major objection introducing a new flag. But I would mark the old flag as deprecated, give a warning for a bit, and eventually remove it. Not immediately. We don't want to be "that project" breaking people's build systems without ample notice.

And changing the default without ample notice is also something not to be done lightly. Client libraries (and maybe even servers -- no

[2019-03-04 14:11] johanbrandhorst commented on #877
Small note: the `fqn_for_swagger_name` flag was only introduced _last week_, though it has made it into a release.

[2019-03-04 15:08] ivucica commented on #877
I just tried it out with editor.swagger.io and, curiously, dots are fully acceptable and even ~correctly handled by the Go code generator. So with a flag, I have no problem with this.

[2019-03-04 15:25] johanbrandhorst commented on #877
@hypnoce It seems the concensus for now is to hide this behind a second flag. If you want to submit a PR, you could implement your `swagger_name_generation_strategy` proposal. We could then phase out the use of `fqn` as stated. Thanks!

[2019-03-04 15:36] hypnoce commented on #877
Scenario : I have a package `foo.bar` and 2 message `MyMessage` and `MyNestedMessage`

Available as of 1.8.0 :
* Current behavior (no flag): names will be as follow : `barMyMessage` and `MyMessageMyNestedMessage` even if `MyNestedMessage` is already unique. In case the unicity cannot be ensured, traverse the fully qualified name upwards until the generated swagger name is unique.
* fqn_for_swagger

[2019-03-04 15:37] johanbrandhorst commented on #877
Sounds good to me!

[2019-03-04 19:38] ivucica commented on #877
+1

[2019-03-05 11:53] happyalu opened #894 "Change in behavior of streaming request body (1.4.1 vs 1.8.1)"
### Steps you follow to reproduce the error:

I was using grpc-gateway (1.4.1) with github.com/tmc/grpc-websocket-proxy for using websockets to do bidirectional streaming. I recently updated to 1.8.1 and noticed that my web client was not behaving as expected. Further analysis showed that:
- the websocket proxy was reading messages from the browser appropriately and forwarding them to grpc-gateway

[2019-03-06 10:29] johanbrandhorst commented on #894
Thanks for reporting this bug, as discussed this should be fairly easily resolved for the bidi and client streaming case by not using the ReaderUtil method (since we don't need it there anyway).

[2019-03-06 10:29] johanbrandhorst commented on #894
See https://github.com/tmc/grpc-websocket-proxy/issues/14#issuecomment-469600346 for more information.

[2019-03-06 10:42] happyalu opened #895 ""make test" fails with go mod error"
Step 5 in the [Contributing Guide](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/CONTRIBUTING.md) asks to run "make test".

When I ran `make test`, the tests failed with:
[code]

It [seems](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/.circleci/config.yml) that the CI is not running "make test".

Running `go test ./...` on a fresh clone ran without errors.

[2019-03-06 10:43] johanbrandhorst commented on #895
Thanks for raising this issue. We need to look into what `make test` does that `go test ./...` doesn't cover, if anything. It may be we no longer need `make test`. The go mod error is indicative of something wrong with the mod file though which is also worrying.

[2019-03-06 17:29] #894 closed

[2019-03-06 21:32] fahernandez opened #897 "Error while defining enum comments"
### Steps to reproduce the issue

**Steps**
1.  Define an enum proto message with comments containing a **.**
[code]
2. Generate the swagger documentation.

**Expected behavior**
1. The swagger code is generated without errors

**Actual behavior**
1. An error code is triggered.

**Hipotesis**
This error is triggered by an error on protoc-gen-swagger/genswagger/template.go:1268. The solution is to

[2019-03-06 21:55] johanbrandhorst commented on #897
What does the generated swagger look like? Would you like to contribute a fix for this?

[2019-03-06 22:24] fahernandez commented on #897
The swagger file is not generated due the error code. Sure I will fix it.

[2019-03-07 13:12] t1bb4r opened #900 "Feature request from openapi 3: Allow apiKey in cookie"
The enum In from https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-swagger/options/openapiv2.proto#L283 does not allow for an IN_COOKIE option:
[code]

It looks like they added it in openAPI 3: https://github.com/OAI/OpenAPI-Specification/pull/1200

from the [docs](https://github.com/OAI/OpenAPI-Specification/blob/OpenAPI.next/versions/3.0.0.md#securitySchemeObject)
'REQUIRED.

[2019-03-07 13:25] johanbrandhorst commented on #900
Sounds reasonable to backport, though would we potentially break OpenAPI v2 parsers by allowing this option?

[2019-03-08 08:23] t1bb4r commented on #900
This actually looks a lot more difficult than I initially thought, because the security structure changed in openapi 3.

What grpc-gateway currently produces is for openapi version 2:
[code]
What openapi 3 expects is:
[code]
Reference:
v2: https://swagger.io/docs/specification/2-0/authentication/api-keys/
v3: https://swagger.io/docs/specification/authentication/api-keys/

Warning: first time worki

[2019-03-08 08:42] johanbrandhorst commented on #441
https://github.com/grpc-ecosystem/grpc-gateway/issues/900 is a real issue that would be covered by this.

[2019-03-08 08:42] johanbrandhorst commented on #900
I don't think we can do this without full OpenAPI 3 support, so I'm closing this in favour of #441.

[2019-03-08 08:42] #900 closed

[2019-03-08 08:43] johanbrandhorst commented on #897
Fixed by #898

[2019-03-08 08:43] #897 closed

[2019-03-08 11:48] Kuzey27 opened #901 "Its impossible to send response with non 200 status code"
If I want to give response with non ok status code then I can't send a message. But I may want to send cause of this error and some solution for it in my message

[2019-03-08 11:53] johanbrandhorst commented on #901
Is this request for other 2xx status codes of for returning more information in the error? Why can't you simply include more information in the error?

[2019-03-08 12:14] Kuzey27 commented on #901
For example : I want to raise 429 error and send a captcha-token, I this line of code:
`context.set_code(grpc.StatusCode.RESOURCE_EXHAUSTED)`
And after that I can't send a captcha-token in message

[2019-03-08 12:20] johanbrandhorst commented on #901
You can set the message of the error before returning it. I'm not familiar with the snippet you've posted, but whatever language your gRPC server is written in will support some way to set a `message` in addition to this method for setting a code. This message is returned in the grpc-gateway response.

I will close this issue since I think this is covered by existing functionality. If you need fur

[2019-03-08 12:20] #901 closed

[2019-03-10 09:51] waveywaves commented on #753
I have started work on this. Please assign it to me.

[2019-03-10 10:08] johanbrandhorst commented on #753
Doesn't seem like I can assign it to you, but consider yourself the owner.

[2019-03-13 01:06] chrispsommers opened #905 "Allow gRPC-Gateway to forward gRPC traffic to downstream server on Gateway port"
Can grpc-gateway be used to proxy in front of an existing gRPC service? I'd like to present a unified TLS server like in the examples, which would either pass gRPC directly to another gRPC server, or else translate REST into the equivalent gRPC and pass onto another server. I don't want to implement any of the services in the gateway itself. Then I can just drop it inline with an existing service

[2019-03-13 05:34] achew22 commented on #905
Hey @chrispsommers, thanks for reaching out.

If I'm parsing your question correctly, yes I believe grpc-gateway is capable of doing that. You could compile a gateway binary and deploy it as a separate program next to your main gRPC server. When you say "unified TLS server" does that mean a TLS server that handles both HTTP (translating them into gRPC requests and proxies gRPC directly to the upst

[2019-03-13 07:14] chrispsommers commented on #905
Hi @achew22 Thanks for the quick reply. I was indeed asking about using this gateway to proxy to another gRPC server; it wouldn't sit alongside it as much as in front of it. I'm thinking about what I saw in https://github.com/grpc/grpc-web where they use Envoy https://www.envoyproxy.io/ to translate from gRPC-web (supported by browsers) into gRPC protobufs. It would be neat if this grpc-gateway co

[2019-03-13 09:23] johanbrandhorst commented on #905
I've renamed the issue to make it clearer what the feature requested is. I'm not sure exactly how this would work right now, but it might be possible to combine the gateway mux with https://github.com/mwitkow/grpc-proxy.

[2019-03-13 09:29] johanbrandhorst opened #906 "Invalid swagger generated for bodies with repeated fields"
As reported in https://github.com/grpc-ecosystem/grpc-gateway/pull/902#issuecomment-472257493, it appears #902 means we're generating invalid swagger definitions for some methods which take repeated fields as parameters. I think this is only affecting fields which have a repeated field in the _body_ of the request as opposed to in the URL query parameters, so we may need some extra logic in the sw