[2019-03-13 11:13] johanbrandhorst commented on #756
Reopening due to #906.

[2019-03-13 11:13] johanbrandhorst commented on #906
Closing in favour of #756

[2019-03-13 11:13] #906 closed

[2019-03-13 11:22] johanbrandhorst commented on #756
@bmperrea sorry we didn't catch the bug (#906) the first time around, would you be interested in trying again in a new PR? The previous PR should be a good starting point, but we'll need to ensure we handle the case where there are repeated fields in the body too.

[2019-03-13 16:12] chrispsommers commented on #905
@johanbrandhorst  Thanks, I looked at https://github.com/mwitkow/grpc-proxy and indeed it looks like it does the proxying like I'd imagined, it even allows deciding based on the service being called. Putting that director/reverse proxy just "above" the internal gRPC servicer in this gateway would let it handle some services via REST/gRPC and redirect others to another gRPC server. That would be ve

[2019-03-14 02:38] bmperrea commented on #756
@johanbrandhorst I would like to take a look. My first guess is that we don't want to be setting a `collectionFormat` in `schemaOfField` but only in `queryParams`. I'll try to reproduce and then see if that fixes it.

[2019-03-14 14:47] #756 closed

[2019-03-14 16:48] ivucica commented on #441
FTR I *will* be *very* happy to review forks of the swagger generator, or elegant refactors of the swagger generator that allow for both openapiv2 and openapiv3.

[2019-03-19 21:04] Emixam23 opened #911 "gateway generation issue on windows"
I am running into an issue in Win10 when it comes to use the generated files:

[code]

I have a script that helps me to generate the files:

[code]

Everything gets generated:
- ndp_users_service.pb.go
- ndp_users_service.pb.gw.go
- ndp_users_service.swagger.json

However, as I pointed before, the ServiceClient isn't generated, why? I would love to point that I am running my script through the ter

[2019-03-20 05:48] johanbrandhorst commented on #911
You need `plugins=grpc`, you've written `plugin=grpc`.

[2019-03-20 05:48] #911 closed

[2019-03-22 01:37] akhenakh commented on #554
I can confirm same things is happening when response contains an any.Any
`{"error":"unknown message type \"\"","message":"unknown message type \"\"","code":2}`

[2019-03-22 04:41] yiakwy commented on #501
@hhstore I prefer to use configuration file. Here is my service file

[code]

HOWEVER, the output says
[code]

[2019-03-22 05:22] johanbrandhorst commented on #554
I think I have an idea of what might be happening. Unmarshalling `any.Any` requires the process to have the wrapped proto type in its protobuf registry, e.g. by importing the message package that defines the type. If you run the grpc-gateway in a separate process, or the process that the gateway is run within never imports this type, you could get an error like this. In @akhenakh's case, I think i

[2019-03-22 06:38] yiakwy opened #912 "[Documentation out of date] miss key files and fail to resolve dependencies"
# There is no Example/main.go in examples

[code]

# Init dependencies failed

init failed: unable to determine direct dependencies: unable to deduce repository and source type for "golang.org/x/net/context": unable to read metadata: unable to fetch raw metadata: failed HTTP request to URL "http://golang.org/x/net/context?go-get=1": Get http://golang.org/x/net/context?go-get=1: dial tcp 216.239.37

[2019-03-22 10:12] johanbrandhorst commented on #912
The dependency error is not within our control unfortunately (though maybe we could remove references to the old context import path).

I'm not sure about the out of date examples, where did you get that quoted text from? Would you be interested in contributing some better examples?

[2019-03-22 15:39] yiakwy commented on #912
Hi the quoted text is from mast branch, the section examples below the last step to set up a reverse proxy server.

The code is`not` there but in other branches like the branch tagged by `v0.1.0`.

I just find that the dependencies problem comes from my network. I set up an http/https proxy and export in the terminal I am working on. It's gone.

I will be appreciated if anyone can help on how to r

[2019-03-22 17:19] johanbrandhorst commented on #912
Glad to hear the download problem is gone. As for the dependency problem, I'm not sure this is the best forum to help you debug it, could you perhaps join the #grpc-gateway channel on gophers slack instead? This will be a problem with your setup and will require a lot of back and forth, so chatting is better and hopefully someone in there can help you.

I'm gonna leave this issue open to track any

[2019-03-24 10:07] yiakwy commented on #912
@johanbrandhorst Thanks for your help. The inconsistency lies in `https://github.com/grpc-ecosystem/grpc-gateway/blob/master/README.md`

[code]

[2019-03-24 10:33] johanbrandhorst commented on #912
Thanks a lot, that's a great starting point for a contribution to fix the docs issues!

[2019-03-26 11:15] akhenakh commented on #554
Sorry for the late answer.
That makes sense, this solution is maybe a bit too much since it makes the final user understand he has to register a type in a first place for a proto he maybe does not know about very well...
But there is maybe more options:
Any is just a []byte and a string to describe the type, maybe it can simply be unmarshalled and transfered as is to the http gw.
One more solution

[2019-03-26 11:17] johanbrandhorst commented on #554
I'd recommend trying to avoid using Any where you don't know exactly what types that might contain, sorry!

[2019-03-26 11:19] akhenakh commented on #554
I do as the proto maintener but a final user of grpc-gateway may not

[2019-03-27 08:40] #414 closed

[2019-03-28 04:31] yiakwy commented on #912
see https://github.com/grpc-ecosystem/grpc-gateway/pull/914

[2019-03-29 06:57] labulaka521 opened #915 "go get: error loading module requirements go 1.11"
## I still have a problem!
 go: github.com/golang/lint@v0.0.0-20190313153728-d0100b6bd8b3: parsing go.mod: unexpected module path "golang.org/x/lint"
go: finding grpc.go4.org latest
go get: error loading module requirements

go version:
go version go1.11.5 darwin/amd64

[2019-03-29 09:17] johanbrandhorst commented on #915
What command did you run to get this error?

[2019-03-29 11:17] labulaka521 commented on #915
i run command  `go get -u github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway` in my project , and project container file go.mod,  then get errors,  my project file go.mod container golang.org/x/lint, i guess they confiect,
but when i run this command in other directory without go.mod, it is successful, because it is installed my global env.

[2019-03-29 11:28] johanbrandhorst commented on #915
Thanks for your bug report. I'll just add this to #895 as that already lists similar errors, we should fix them together.

[2019-03-29 11:28] #915 closed

[2019-03-29 11:29] johanbrandhorst commented on #895
See also: https://github.com/grpc-ecosystem/grpc-gateway/issues/915. We'd love help to fix this!

[2019-03-31 02:54] dvcrn commented on #769
This is a little older but I had the same question. Here's how you do it in chi:

[code]

In short, make sure that either gateway is generated to match the correct URLs or use a handler to replace whatever prefix you added

[2019-04-02 20:08] philippgille opened #917 "401 Unauthorized response doesn't contain WWW-Authenticate header"
I asked in the official gRPC Gitter channel, but didn't get a response so far: https://gitter.im/grpc/grpc?at=5ca0e2c1016a930a453cdc6d

Working on https://github.com/lightningnetwork/lnd/issues/2332, where this question came up.

Maybe related to grpc-gateway issues #4, #221 and #309.

### Steps you follow to reproduce the error:

When returning a `code.Unauthenticated` gRPC error, grpc-gateway ma

[2019-04-02 20:15] johanbrandhorst commented on #917
Thanks for this bug report! This sounds like something we could enable by default as you say. What would be a reasonable value to put in the authenticate header if one isn't set?

Would you be interested in contributing this? I think it's be as simple as changing the behaviour of the DefaultHTTPError method as you say. We could detect this error code and set the header to a default value and also

[2019-04-02 20:28] philippgille commented on #917
Thanks for the quick reply! Yes I'm interested in contributing this.

I'm not sure if we can set a reasonable default value though, I think we might need to rely on a user configured value.

I didn't work with grpc-gateway a lot yet, so I don't know where the user typically passes configuration in a programmatical way. Maybe as a `runtime.ServeMuxOption` when calling `runtime.NewServeMux()`?

[2019-04-03 08:13] johanbrandhorst commented on #917
That would be the usual way, yes. Obviously, those are all optional, so the only other option is to only return this header when the user has supplied an option, which is _still_ in violation of the HTTP spec :cry:.

Another alternative altogether is to introduce an automatic translation of some magic gRPC metadata value to the `WWW-Authenticate` header and rely on users setting this magic metadat

[2019-04-04 01:59] nu11ptr opened #918 "Documentation: 'base_path' Swagger attribute confuses users"
### Steps you follow to reproduce the error:

1. I start with a working REST API and with properly generating Swagger definitions
2. I added a 'base_path' attribute to the 'openapiv2_swagger' annotation in my proto file
3. I removed the equivalent base_path prefix from each 'google.api.http' annotation (base_path = "/api/v1")
4. I regenerated my Go code and restarted my API
5. All my REST APIs now

[2019-04-04 09:14] johanbrandhorst commented on #918
I see why this is confusing, but the swagger annotations in general change nothing about how the files are generated. The base bath is for configuring your swagger annotations when you're not serving the grpc-gateway on /, so those paths would otherwise be incorrect.

I think the gateway is behaving correctly here, but we could clearly do with adding some better documentation. Would you be interes

[2019-04-04 12:24] nu11ptr commented on #918
I'm am trying to understand in what use case using 'base_path' would yield correct behavior. AFAIK, every swagger tool is going to prepend 'base_path' to all API paths, so if path in 'google.api.http' is absolute, but swagger assumes when basePath is present generated paths are relative - this seems like it would always result incorrect code from the Swagger that breaks. In short, I don't see any

[2019-04-04 12:50] nu11ptr commented on #918
Thinking more on this, perhaps you are suggesting #4 is how we should work with base_path in general? I suspect this would work just fine for me, but yes, that is confusing. Not against updating the docs to indicate that, but since I never found docs on base_path, wouldn't know where to update.

[2019-04-04 13:24] johanbrandhorst commented on #918
I think the following is true:

1. The `google.api.http` paths are relative to the path which the `runtime.ServeMux` is served on. This defaults to `/`, so the paths are easy to confused as absolute.
2. The swagger annotation is for cases where the `runtime.ServeMux` is not served on `/`, but perhaps something like `/api/`. In order to make the generated swagger file line up with what the API is e

[2019-04-04 13:44] nu11ptr commented on #918
Works for me - thanks for taking the time to explain

[2019-04-05 01:20] #918 closed

[2019-04-05 08:15] donutloop opened #920 "Marshalling of response object is bad for int64 properties"
### What version of protobuf and what language are you using?
Version: libprotoc 3.7.0
Language: GOLANG
Version v1.3.1

### What version of Go are you using (`go version`)?

go version go1.12 darwin/amd64

### What operating system (Linux, Windows, …) and version?

MacOS Mojave 10.14.1 (18B75)

### What did you do?

i had defined a message in Protobuffer this message contains a property called  "p

[2019-04-05 08:22] achew22 commented on #920
Hey @donutloop, thanks for sending in the issue. This has been discussed quite extensively in https://github.com/grpc-ecosystem/grpc-gateway/issues/219#issuecomment-251250029, #438, #735 and a few more. It's unlikely to change because there is a correctness issue, and we have no ability to change without dramatically changing the way JSON is handled in the core of protobuf (which would require an

[2019-04-05 09:50] donutloop commented on #920
Have you opened a ticket on this protobuffer repository to discuss this issue in detail?  It's definitely a major bug and it should be get fixed by this protobuffer team

[2019-04-06 05:03] achew22 commented on #920
@donutloop, thanks for the response. Based on [this comment](https://github.com/grpc-ecosystem/grpc-gateway/issues/219#issuecomment-251250029), do you really think it is a bug to handle things this way?

[code]

is a sentiment that really scares me as an API designer and I'm generally in agreement with the protobuf team that this is the correct design even if it is unintuitive. Could you elaborate

[2019-04-08 07:11] vaikzs commented on #490
@johanbrandhorst I'm getting the same error now. I did no code change with the setup. Could you please help?

[2019-04-08 08:16] johanbrandhorst commented on #490
@vaikzs I'm not sure what else I can add, this is an error returned from the gRPC client when it cannot connect to the server. Please ensure your gateway can connect to the gRPC backend.

[2019-04-08 08:27] Emixam23 commented on #490
@vaikzs Just as a side question, do you have any `defer conn.close()`? This might be where you issue comes from. Also, gRPC Gateway and gRPC server are two different instance (if I can tell so), make sure you're on different ports

[2019-04-10 06:37] vaikzs commented on #490
@Emixam23 @johanbrandhorst Thanks for the responses. I guess my grpc server was not running for some reason. It seems to be fine now.

[2019-04-11 16:54] lakstap opened #921 "Read the Http Post Body"
Suggest me how to do this.
1) Rest Gateway : Http handler will read the post body (json)
2) Call Rest api to send the request body for metrics collection
3) serve the http request to grpc server.

In short collect the metrics and also send it to grpc server. I am trying to use Ioutil.readall in the second step, after that i am losing request body.

[2019-04-14 15:40] philippgille commented on #917
I didn't work with gRPC metadata yet. It sounds to be more flexible when you can set it in a different way for each returned error instead of having to configure it up front when creating the SeverMux. On the other hand this might make it more verbose as well, having to set that with each `Unauthenticated` error (or lead to one more level of indirection when having to call some factored out functi

[2019-04-15 04:08] co3k opened #923 "Merging swagger specs fails to use rpc comments (again)"
This is same issue with https://github.com/grpc-ecosystem/grpc-gateway/issues/664 but the current version of grpc-gateway (it might be v1.6.3 or later) has this issue again.

### Steps you follow to reproduce the error:

1. Create `a.proto` and `b.proto` by following https://github.com/grpc-ecosystem/grpc-gateway/issues/664#issue-328698410 instruction
2. Generate the swagger spec without merging:

[2019-04-15 13:09] johanbrandhorst commented on #923
Hi @co3k, sorry this has broken again :disappointed:. I'm a little confused, did you establish that it was working without https://github.com/grpc-ecosystem/grpc-gateway/commit/8140d9885335da81d10ae02cff62afff36fb4ae4 applied?

[2019-04-16 01:18] co3k commented on #923
Yes. I've confirmed "fix" this problem by the following step.

1. `$ git checkout v1.6.3`
2. `$ git revert 8140d98`
3.  build protoc-gen-swagger
4. you will confirm "resolved" this problem

Of course we really need the 8140d98 changes but these might have some side effects which we should also fix.

[2019-04-16 06:35] johanbrandhorst commented on #923
Hm, ideally what we need here is a way to reproduce this with a test case, so we can iterate quickly on a fix and ensure this error doesn't happen again in the future. Would you be interested in trying to fix this? I don't have the time to investigate further.

[2019-04-16 06:43] johanbrandhorst commented on #917
I think setting the header automatically for when we return 401, but allowing the user to override the content via a magic gRPC metadata value seems best. That would make us compliant with the spec, which I think is a reasonable excuse for breaking backwards compatibility in this case.

Would you be interested in contributing this? I could help you get started.

[2019-04-17 06:58] martinscholz83 commented on #422
I know this is an old thread but i run into similar problem. This is my proto file

[code]

When using with C# everything work like expected. When i try to use the same proto file with C++ and run `protoc.exe` i get the following error
[code]

Something is missed?

[2019-04-28 03:51] cappuccino5 commented on #384
I also encountered this problem, I have installed the Google/API/annotations. The proto, but still errors, specific solutions is, please?
$ protoc --go_out=protoc-gen-grpc  --grpc-ruby_out=:. *.proto                    google/api/annotations.proto: File not found.                                    api.proto: Import "google/api/annotations.proto" was not found or had errors.
--

[2019-04-28 05:41] achew22 commented on #384
@cappuccino5, could you either file a new issue with more details or go to the slack channel and work it out there? Thanks!

[2019-04-28 06:54] cappuccino5 commented on #574
thank your ,I too All things work!

[2019-04-28 07:34] cappuccino5 commented on #440
I also encounter this kind of problem, how to solve? thank!

.pb.gw.go:43:91: cannot use &metadata.TrailerMD (type *"google. golang.org/grpc/metadata".MD) as type *"win-his/vendor/google.golang.org/grpc/me tadata".MD in argument to grpc.Trailer
--

[2019-04-28 07:57] johanbrandhorst commented on #440
This is a vendor problem. You've got one version of the metadata package in vendor and another version in the GOPATH. Easiest thing is to remove the package in the GOPATH.

[2019-04-29 18:24] misrab commented on #441
+1

[2019-04-30 03:09] RedDragonet opened #925 "why google/api/http.proto annotations.proto Field Numbers is 72295728 ?"
[code]
https://github.com/googleapis/googleapis/blob/be3005c8a16e8424d0330e977ac78f2976bf01d3/google/api/annotations.proto#L30

[2019-04-30 03:44] achew22 commented on #925
I would recommend opening an issue against the googleapis repo, we have no control over those numbers.

[2019-04-30 03:44] #925 closed

[2019-04-30 05:38] RedDragonet commented on #925
ok

[2019-05-02 19:25] issacnitin opened #926 "JSON stream response not available"
I'm always getting

{"error":"all SubConns are in TransientFailure, latest connection error: timed out waiting for server handshake","message":"all SubConns are in TransientFailure, latest connection error: timed out waiting for server handshake","code":14}

No idea what is going wrong. Set it all up as mentioned

[2019-05-02 19:47] johanbrandhorst commented on #926
This is a generic gRPC error and means your grpc-gateway couldn't connect to it's gRPC server. Please double check your setup and compare against existing examples. This is not something we can fix in the gateway.

If you need more help, swing by the #grpc-gateway channel on Gophers slack.

[2019-05-02 19:47] #926 closed

[2019-05-03 16:03] drewwells commented on #383
swagger out should support the same options as protoc-gen-go

[2019-05-09 13:34] jhump commented on #584
Currently, the `ProtoErrorHandlerFunc` can do whatever it likes, including using a non-proto as the response body. So I'm inclined to leave the same flexibility -- especially since the envelope itself certainly need not be a proto (even if it contains a payload that is a proto).

I did realize though that customizing the envelope and error type means that we'd no longer be able to generate an accu

[2019-05-09 22:03] #584 closed

[2019-05-10 13:39] waveywaves commented on #753
How I tested this :-

[code]

[2019-05-11 22:33] dustinxie commented on #438
I can understand that the proto3 spec says that int64, fixed64, and uint64 are marshaled to strings.
On the other hand, since grpc-gateway is a proxy service designed to translate gRPC <==> REST according to proto defintion, I believe grpc-gateway should correctly unmarshal back to uint64.

To give an example, the following proto message
message Seq {
  uint64 seq = 1;
}
marshals 123456 to "123456

[2019-05-12 01:10] achew22 commented on #438
@dustinxie if your numbers are in the neighborhood of 6 digits, int32 can faithfully represent numbers up to 2,147,483,648 positive and negative and it will be typed as a number in the result.

[2019-05-12 05:46] dustinxie commented on #438
@achew22  thanks for the reply and suggestion.

the unpleasant side of the thing is that the service has already been deployed out there for some time, and historic data persisted to DB on disks. If you change it to int32/float64, it would be a breaking change for existing data. I think many users are facing the same compatibility issue.

grpc-gateway is truly a great convenience, it has made us e

[2019-05-12 07:33] johanbrandhorst commented on #438
All you'd need to accomplish this is a custom marshaller. We're very unlikely to make this change, but for users who are desperate you could simply fork jsonpb and change the way it handles large integers.

[2019-05-12 14:28] bobbytables commented on #395
I'm pretty sure this can solve this for anyone else that finds this issue: https://godoc.org/github.com/golang/protobuf/jsonpb#Unmarshal

[2019-05-12 23:45] achew22 commented on #438
Thank you so much for the kind words. I'm really proud of all the work that has gone into this project. The adoption and community that has grown has been astounding and I'm very proud to be a part of it.

To be very explicit about this, the grpc-gateway default marshaller does not make any determinations on how to serialize anything. The code is [here](https://github.com/grpc-ecosystem/grpc-gatew

[2019-05-13 22:41] achuo-va commented on #727
@vtolstov Can you please also post the function `prepareGRPC` and  `prepareREST`? I am wondering why  `prepareREST` needs to accept `grpcs` as a parameter. Thanks!

[2019-05-15 05:04] dncmn opened #936 "all SubConns are in TransientFailure"
all SubConns are in TransientFailure, latest connection error: connection error: desc = \"transport: Error while dialing dial tcp [::1]:8081: connect: connection refused

[2019-05-15 05:08] dncmn commented on #936
syntax = "proto3";

package helloworld;
import "google/api/annotations.proto";

message StringMessage {
  string value = 1;
}

service YourService {
   rpc Echo(StringMessage) returns (StringMessage) {
     option (google.api.http) = {
       post: "/v1/example/echo"
       body: "*"
     };
   }
}

[2019-05-15 05:12] achew22 commented on #936
This is not a bug in grpc-gateway, but a bug in the way you're running your server. The error message "`transport: Error while dialing dial tcp [::1]:8081: connect: connection refused`" indicates that the gRPC client was unable to connect to a gRPC server running on port 8081 for forwarding purposes.

Since this is an issue in the configuration of the server you're trying to spin up, I'm going to

[2019-05-15 05:12] #936 closed

[2019-05-16 12:42] developersPHP opened #937 "i import a new gateway.Endpoint without recompile"
# if i add a new proto file,how can i import a new gateway.Endpoint without recompile.
# Whether or not you can't do that
 Looking forward to your reply
 thank you

[2019-05-16 12:48] johanbrandhorst commented on #937
Hi @developersPHP. If you want to add more services to your gateway, you must generate a new gateway file with our protobuf generator plugin. Does that answer the question?

If you have follow up questions please reach out to the #grpc-gateway channel on Gophers slack.

[2019-05-16 12:48] #937 closed

[2019-05-17 07:11] developersPHP commented on #937
thank you answer my question!!
But I don't want to add it statically into my code, can I have an API for dynamic import?

[2019-05-17 07:34] johanbrandhorst commented on #937
We don't support anyway of dynamically adding endpoints at this time, no.

[2019-05-17 23:06] gauravkasliwal8 opened #938 "json 1.1 api support for grpc-ecosystem to use queryparams with filter"
Support this alternative query parameter method.

[2019-05-17 23:09] gauravkasliwal8 commented on #938
This works : https://myserver.com?filter[name]=test
This does not work https://myserver.com?filter[name][startsWith]=te
When I try to populate query parameters.

[2019-05-17 23:13] gauravkasliwal8 commented on #938
I am trying to write get api supporting json 1.1 standards.  I am able to write GET api as below : filter[name]=test but not this : filter[name][startsWith]=te as PopulateQueryParameters function does not support this. I would really appreciate any help supporting this. Source : https://jsonapi.org/format/1.1/#query-parameters-families

[2019-05-18 07:01] johanbrandhorst commented on #938
The gRPC gateway does not support this standard for query parameters, as you can tell. We support normal dot-separated query parameters at this time which should support your data format already.

If you'd like to, I'd be happy to help you in adding support for this alternative query parameter format. I do not personally have the time to do so though.

Let me know how you wish to proceed.

[2019-05-20 17:53] gauravkasliwal8 commented on #938
Hi @johanbrandhorst,

Thank you for your reply. Could you please give me example for normal dot-separated query parameters to support my data format? I will try that.

[2019-05-21 08:33] johanbrandhorst commented on #938
What does your proto message type look like? AFAIK you can't do nested maps with proto, so I don't understand what you're doing.

[2019-05-21 08:34] johanbrandhorst commented on #938
A good source of inspiration for your query parameters are the tests: https://github.com/grpc-ecosystem/grpc-gateway/blob/master/runtime/query_test.go. You can see the use of maps and nested messages.

[2019-05-21 16:57] gauravkasliwal8 commented on #938
Hi @johanbrandhorst,

My current proto definition is : map<string, string> filter
and it works with filter[x]=y.

I am looking for how to support JSON 1.1 API standards and change my proto where filter[x][y]=z is also allowed.

[2019-05-21 18:48] johanbrandhorst commented on #938
What does `filter[x][y]=z` mean? Assign `z` to both key `x` and key `y`? The grpc-gateway does not support this standard (yet?) so you need to explain what you're trying to do.

[2019-05-21 19:56] gauravkasliwal8 commented on #938
@johanbrandhorst

by filter[x][y]=z I mean

say filter[name][startsWith]=ab
filter[age][gte]=10
(gte = greater than equal)
filter[key][operator]=value

[2019-05-21 22:04] johanbrandhorst commented on #938
Ah I see. This isn't really possible to auto translate with a gRPC server backend. You'd have to handle that manually. I don't think this is really feasible from the gateway so I'm going to close this. If you have an idea for how to add support for this please reply and I can reopen it.

Something like filter.field=age&filter.operator=GTE&filter.comparator=10 might work but you have to define the

[2019-05-21 22:04] #938 closed

[2019-06-10 08:57] Lyafei opened #943 "grpc: received message larger than max"
help！

    {
        "error": "grpc: received message larger than max (4870953 vs. 4194304)",
        "message": "grpc: received message larger than max (4870953 vs. 4194304)",
        "code": 8
    }

I have modified the grpc configuration：

    grpc.NewServer(grpc.MaxRecvMsgSize(52428800), grpc.MaxSendMsgSize(52428800))

But that doesn't help, right

**How do I set the return value size in the g

[2019-06-10 09:02] johanbrandhorst commented on #943
The value can be configured in the call to register your client, either when creating the `grpc.ClientConn` or when calling `RegisterXServiceHandler`. It is a `grpc.CallOption`: https://godoc.org/google.golang.org/grpc#MaxCallRecvMsgSize, use https://godoc.org/google.golang.org/grpc#WithDefaultCallOptions to configure it for a connection.

[2019-06-10 09:02] #943 closed

[2019-06-12 07:54] alexisvisco commented on #701
So there is no documentation at all ? Because this:
[code]

This is not a documentation ...
It's a snippet.  This link can be useful: https://cloud.google.com/endpoints/docs/grpc/grpc-service-config#annotations_http_rules_only but does not answer to all my questions.

https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples/proto/examplepb/a_bit_of_everything.proto#L15

This annotations

[2019-06-12 07:57] johanbrandhorst commented on #701
Swagger annotations are currently not supported in the yaml files, only inlined in the proto files. We would love your help to improve the documentation, how can I help you contribute updates?

[2019-06-12 21:56] prestonvanloon commented on #923
Has there been any update on this? It seems that it's still broken.

[2019-06-13 07:02] johanbrandhorst commented on #923
Not that I know. I think we'll have to revert https://github.com/grpc-ecosystem/grpc-gateway/commit/8140d9885335da81d10ae02cff62afff36fb4ae4 for now and make another release. I'll get on that.

[2019-06-13 20:11] #923 closed

[2019-06-13 20:13] johanbrandhorst commented on #746
Reopening this as I've had to back out the latest change. @hexfusion I'd love to work together to get a fix in for this that maintains the comment merging behaviour.

[2019-06-16 06:19] #224 closed

[2019-06-16 22:30] dan-compton opened #951 "protoc-gen-grpc-gateway descriptor pkg and generator visibility"
Hey folks.  I noticed that the the protoc-gen-grpc-gateway/descriptor package is not visible to external Bazel projects, yet contain exported types.  This means that if you intended to use the [descriptor.Registry](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-grpc-gateway/descriptor/registry.go#L16) you must *disable visibility checking* during your bazel build.

### Steps

[2019-06-16 22:39] achew22 commented on #951
Interesting question. Can you help me understand the way you're using that registry object? The only things I would expect to call that are internal to the protoc plugin, are you extending the generator in some way? Could we convince you to upstream that code instead?

[2019-06-17 06:27] eyudkin opened #952 "Why grpc gateway does not call grpc callback directly?"
As I see, grpc gateway works as reverse proxy: it receives http request and calls grpc server via grpc dial to localhost (usually to localhost).
And I dont fully understand, why does it work so complex?
If it works `http -> proto-request -> grpc -> grpc-callback` it theoretically can be simplified to `http -> proto-request -> grpc-callback`.
I mean, if gateway converts http request to proto struct

[2019-06-17 06:29] achew22 commented on #952
@eyudkin great question! The answer is because no one has written it yet. What tools/resources would you need to implement this feature request? How can I help you create the future you want to live in?

[2019-06-17 07:30] johanbrandhorst commented on #952
#947 will fix this

[2019-06-17 09:01] dan-compton commented on #951
I'm cleaning up an old protoc-plugin for quick CORS configuration.  It simply generates an rscors [cors.Options](https://godoc.org/github.com/rs/cors#Options), which can subsequently be used to wrap the ServeMux.   I doubt the use of descriptor.Registry is strictly necessary, but it seems convenient and its exported.

I'd be happy to contribute this if you're interested in a quick way to configure

[2019-06-17 09:05] johanbrandhorst commented on #951
@dan-compton feel free to upstream the CORS stuff, but as you say it'd ideally be without any third party dependencies. Can rscors be cut out of the loop?

[2019-06-17 16:53] dan-compton commented on #951
@johanbrandhorst  -- It can, yes.

[2019-06-18 13:48] johanbrandhorst opened #955 "Bazel files are out of date"
The bazel up-to-date job just started failing: https://circleci.com/gh/grpc-ecosystem/grpc-gateway/3163

[code]

I assume we just need to update something.

CC @drigz @achew22

[2019-06-18 14:57] #955 closed

[2019-06-20 11:15] srenatus opened #958 "support HttpBody in streaming responses"
In [`http.proto`](https://github.com/grpc-ecosystem/grpc-gateway/blob/7aca14d0a16247151f6e423f4cbfbd75a1bd4776/third_party/googleapis/google/api/httpbody.proto#L34-L35), it says

[code]

What I would like to achive is to have an `rpc MyMethod(Req) (stream HttpBody)` return lines of _bare content_, like, CSV, or JSON streaming.

What we currently get is:
[code]

(This was created using [that branch

[2019-06-20 11:16] johanbrandhorst commented on #958
@wimspaargaren

I think this should be possible with a type assertion in `ForwardResponseStream` like we're already doing for unary messages.

[2019-06-21 10:47] #448 closed

[2019-06-25 08:26] Miladrzh opened #960 "application/x-www-form-urlencoded support."
Hello to all grpc-gateway community.

I have a api call which its request is post and data come in application/x-www-form-urlencoded format

for example:

foo=bar&something=somethingelse

But grpc-gateway cant serialize it into my request.
i use proto3 and my request is like

[code]

I try to serialize it like strings or like bytes but none of them work correct even in bytes.

i get this error whe

[2019-06-25 08:36] johanbrandhorst commented on #960
@Miladrzh thanks for your bug report. We do test this in our integration tests, so it should be working: https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples/integration/integration_test.go#L1502. The main difference is that our integration tests use a "GET" request for this:
https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples/proto/examplepb/a_bit_of_everything.prot

[2019-06-25 08:37] johanbrandhorst commented on #960
Looking at the code, I think the problem is that you've defined it as POST actually. Why aren't you using JSON if you're using a post request?

[2019-06-25 08:38] johanbrandhorst commented on #960
Take a look at the source: https://github.com/grpc-ecosystem/grpc-gateway/blob/0d29f14a9afe84adfbc8760b9fad6b394436fd3e/runtime/mux.go#L249. It will allow falling back to POST if it doesn't already match anything. I think if you want to use POST and `application/x-www-form-urlencoded` you have to define a custom marshaller.

[2019-06-25 09:11] Miladrzh commented on #960
Unfortunatelly, i can't change the request cause it comes from outside resources which that protocol is like that.

I know it needs a custom marshaller but does grpc-gateway have plan to implement this marshaller?

As many framework like django recognize post in application/x-www-form-urlencoded format.

[2019-06-25 09:12] johanbrandhorst commented on #960
You can implement your own Marshaler and hand it to `runtime.WithMarshalerOption`: https://godoc.org/github.com/grpc-ecosystem/grpc-gateway/runtime#WithMarshalerOption.

[2019-06-25 09:13] johanbrandhorst commented on #960
If you implement a form marshaler and would like to contribute it back to us, you're welcome to do so. I will close this issue as I think there's a clear path forward. Please let me know if you need more help.

[2019-06-25 09:13] #960 closed

[2019-06-25 18:46] gustavocovas opened #961 "EOF when calling Send for client streams"
@jonasarilho and I are working on a service with a client-side streaming RPC. We noticed that grpc-gateway does not handle correctly errors that occur before it is done processing the request body. For instance:

1. The gateway receives a request that will result in an UNAUTHENTICATED status from the back-end service, because of invalid credentials that will be forwarded via metadata.
2. The back-

[2019-06-25 19:07] johanbrandhorst commented on #961
TIL we support client side streaming. Cool! This suggestion sounds good to me. Please feel free to open a PR, but we'll probably want to add some tests here as well. I think it'd be cool to add something to the [integration tests](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples/integration/integration_test.go). What do you think?

[2019-06-26 17:26] lukaskellerstein commented on #441
+1

[2019-06-28 14:15] moorara opened #963 "Please make a new release!"
When generating our source codes using `protoc`, we always install the latest version of `grpc-gateway` since `protoc` does not work in Go modules mode.

When importing generated codes in our repos, we use Go modules and we use the latest release of `grpc-gateway`.

**Problem**:

Currently, `grpc-gateway` has a breaking change on `master` branch which is not yet released. So, we cannot fix it our

[2019-06-28 15:55] #961 closed

[2019-06-28 15:56] johanbrandhorst commented on #963
What error are you seeing? I was under the impression the last error was fixed with the latest release.

[2019-06-28 15:58] johanbrandhorst commented on #963
Also, there's no reason protoc shouldn't work in go modules mode that I know of, this repo uses modules and protoc successfully. I would recommend that you version the generator together with your runtime dependency. With Go modules that is done via tool dependencies: https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module

[2019-06-28 18:21] moorara commented on #963
@johanbrandhorst The `runtime.NewPattern` accepts one more argument which is `runtime.AssumeColonVerbOpt(true)`

[2019-06-28 20:52] johanbrandhorst commented on #963
This is included in the `1.9.2` release: https://github.com/grpc-ecosystem/grpc-gateway/blob/v1.9.2/runtime/pattern.go. `1.9.2` should work with `master` (though you should ideally still not use master and a release at the same time). Are you seeing this problem on `1.9.2`?

[2019-06-28 21:56] moorara commented on #963
@johanbrandhorst You're right. `1.9.2` includes that change. For some reason, when I run `go mod` does not pick up the `1.9.2` and it picks up `1.9.0` release for our projects.

[2019-06-28 21:56] #963 closed

[2019-06-28 22:23] johanbrandhorst commented on #963
I've just released 1.9.3, FYI.

[2019-07-01 16:05] philsturgeon commented on #675
Hey there, so folks closed down #872 because duplicate, so let me apply some glue and post some ccomments from that issue:

OpenAPI v2 didn't have the concept of nullable, which is a big pain in the backside for a lot of folks, and seeing as everything in protobuf is optional. OpenAPI v3 has that, so upgrading support would be a pretty good idea for that alone.

Yeah I mean sure make a placeholder

[2019-07-01 18:24] johanbrandhorst commented on #675
Thanks for bumping this @philsturgeon, however, I don't think any of the current maintainers are actively working on new features on the gateway, so these changes, while welcome, would have to come via interested third parties, especially the OpenAPI v3 generator. Would you be interested in contributing anything to the project?

[2019-07-01 21:25] ivucica commented on #675
FR for OpenAPI v3 is https://github.com/grpc-ecosystem/grpc-gateway/issues/441.

I'm not aware of anyone actively working on this (beyond an occasional prospective user asking for v3 support). Contributions are welcome.

Again, I'd still suggest _not_ renaming or deleting the v2 generator. Forking it and writing a new v3 generator would be the way to go, as it would avoid issues that come with ren

[2019-07-04 16:33] phamducmanh1989 commented on #665
@EDDYCJY  You can try

`message ProjectRequest {
    int64 project_id = 1 [(grpc.gateway.protoc_gen_swagger.options.openapiv2_field) = {
		required: ["project_id"];
   }];
}`

[2019-07-05 06:05] #665 closed

[2019-07-08 00:57] jeremyje opened #966 "protoc-gen-grpc-gateway: Add support for upstream protos."
I want to create a service based on `operations.proto` in the googleapis package. This is challenging because the `operations.pb.go` is already available so if I generate a reverse proxy go file, `operations.pb.gw.go` it'll assume that `operations.pb.go` is in the same package where it won't be because I don't own the upstream `google.golang.org/genproto/googleapis/longrunning` package.

**Basical

[2019-07-08 09:50] johanbrandhorst commented on #966
Interesting idea, obviously the existing generator assumes it will have access to the internals of the package by virtue of being generated into the same folder. What is currently breaking if you just output it to a different folder and add an import? I would expect things like oneofs might not be possible.

It might be something we could support with a generator flag. Would you be interested in c

[2019-07-08 21:24] johanbrandhorst commented on #921
Hi, missed this the first time around, normally you would do metrics in a gRPC interceptor, so it works for both REST and gRPC traffic. Does that answer the question? I'm gonna close this as it's not a gateway issue, but feel free to ask for more help in #grpc-gateway on Gophers slack.

[2019-07-08 21:24] #921 closed

[2019-07-08 21:25] johanbrandhorst opened #968 "Bazel tests are flaky"
The bazel tests fail with connection refused errors every now and then. Seems we might need to wait a little longer for the test server to start.

[2019-07-10 14:06] t2krew opened #970 "why response use enum's name"
I have rewrote code with grpc-gateway, but got the different response.
this is the response what i want:
[code]
but now i got :
[code]
the code in response I use the enum.

and this is my .proto's enum
[code]

how to solve this ?

[2019-07-10 14:10] johanbrandhorst commented on #970
You can configure your JSON marshaller to output enums as ints.

[code]

[2019-07-10 14:10] #970 closed

[2019-07-10 14:18] t2krew commented on #970
@johanbrandhorst it works, thank you so much! :-)

[2019-07-10 14:19] johanbrandhorst commented on #970
@t2krew I'm glad it worked for you, but in the future please read the issue template and reach out to us on gophers slack (#grpc-gateway) instead of opening issues. This would've saved us both a lot of time.

[2019-07-10 14:21] t2krew commented on #970
@johanbrandhorst ok, i will. Thanks again

[2019-07-17 20:53] dacruz21 opened #971 "Route HTTP calls based on body contents."
I have a quick question about "fanning out" calls to the same URL to different gRPC methods based on the body.

As an example, I have two routes in my gRPC service called `AcceptFriendRequest` and `RejectFriendRequest`. I would like for both of these routes to live on the same HTTP endpoint, differentiated by a `status` field in the body. i.e. if I `PUT /api/friendrequests/{request_id}` with body

[2019-07-18 09:08] johanbrandhorst commented on #971
I don't think this is possible at the moment - if you made it part of the request path we could route it to different endpoints. We're bound by the definitions in https://github.com/googleapis/googleapis/blob/master/google/api/http.proto, so any additional routing would have to be added as a feature there first.

[2019-07-18 11:10] cjcormack opened #972 "Non-standard use of 412 HTTP Status Code"
Currently a gRPC `FAILED_PRECONDITION` error gets translated to a HTTP status code of `412 Precondition Failed `. However, this is semantically incorrect.

The RFC for the HTTP status code (https://tools.ietf.org/html/rfc7232#section-4.2):

This does not match what the gRPC `FAILED_PRECONDITION` semantics (https://github.com/grpc/grpc/blob/master/doc/statuscodes.md):

The gRPC documentation refere

[2019-07-18 11:14] johanbrandhorst commented on #972
Offending line: https://github.com/grpc-ecosystem/grpc-gateway/blob/master/runtime/errors.go#L40

[2019-07-18 11:15] johanbrandhorst commented on #972
This is the code.proto source of truth we should use: https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto#L127.

[2019-07-18 11:18] cjcormack commented on #972
Thanks for your quick response. I hadn't found the `code.proto` reference, that is pretty definitive!

I am happy to make the change later.

[2019-07-18 15:28] achew22 commented on #972
This is just a bug. Send in a patch and I'll merge it

[2019-07-18 17:10] mgtest42 commented on #920
I faced this behavior on the step of testing my rest service.
Can I access grpc-gateway internal JSON serializer?
Because of this, I can't properly compare the expected response with actual.
Golang JSON library marshals int64 as floats, and I can't force it to marshal it to strings.
And on the other hand, grpc-gateway returns a string, which can't be unmarshalled into original structs by the stand

[2019-07-18 17:34] johanbrandhorst commented on #920
You can specify your own Marshaller with the runtime.WithMarshaler option.

[2019-07-19 20:32] OscarHanzely commented on #517
Well I ended on same problem. My Create method must return HTTP status 201 Created. gRPC has no code for that, in fact gRPC is all 200 OK or 4xx+ if error occurs.
So the grpc-gateway just has complete missing implementation of any 2xx codes.

I am ending up with implementing own forwarder for each of the Create end point, however it is poorly designed, because I have to implement entire forwarder,

[2019-07-22 17:00] #972 closed

[2019-07-22 21:09] rmilejcz opened #976 "Is it possible to use protoc-gen-swagger options in my own protos?"
I'm trying to use these: https://github.com/grpc-ecosystem/grpc-gateway/tree/master/protoc-gen-swagger/options

I've seen a few disparate examples of people doing things like:

[code]
or:
[code]

but I cannot get this to work and it isn't documented anywhere. I assume I could import it via it's package name so long as it can be found in my $GOPATH but this:
[code]

also fails with the error:
[code

[2019-07-22 21:46] achew22 commented on #976
@rmilejcz, thanks for filing an issue. Sorry you're not having a great time.

and

@rmilejcz, on the home page for the repo, in 24px font it says "[Check out our documentation!](https://github.com/grpc-ecosystem/grpc-gateway#check-out-our-documentation)", could you help me understand the process you took to get here where you concluded that there was no documentation? Further, the homepage (and th

[2019-07-23 06:20] hbgongen opened #977 "I want to know how to transfer http+proto to grpc."
i want to know how i transfer http+proto to grpc,not http+json to grpc.I find many cases don't solve this problem.

[2019-07-23 06:22] johanbrandhorst commented on #977
You can do this with a custom content type and marshaller using runtime.WithMarshaler. The documentation has examples of this.

[2019-07-23 06:22] #977 closed

[2019-07-23 06:35] hbgongen commented on #977
oh~thanks.Is the official grpc-gateway documents in the Readme.md?
I'm very appreciated if you can support the url path.Thanks a lot.

[2019-07-23 12:59] rmilejcz commented on #976
@achew22, in the first sentence of this issue:

and the title of my question it says:

I have followed ALL the steps in the documentation, and have a working gRPC server, gateway, and client. ALL I am trying to do is use the specific options found here: https://github.com/grpc-ecosystem/grpc-gateway/tree/master/protoc-gen-swagger/options

You say *manipulate the import path* as if that should be a

[2019-07-23 13:21] glerchundi commented on #834
@clehene we took another completely different approach to solve this issue. Make a `proto` to `proto`  shrinker which removes any extension/annotation before passing it to the `protoc` generator.

[2019-07-23 13:21] rmilejcz commented on #976
I only meant specifically that I couldn't find any documentation with regards to the `protoc-gen-swagger` options. I have already followed the documentation and have a working gRPC server, gateway, and client. Now I'm just trying to find out how to properly import [protoc-gen-swagger/options/annotations.proto](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-swagger/options/an

[2019-07-23 14:47] johanbrandhorst commented on #977
The docs are here: https://grpc-ecosystem.github.io/grpc-gateway/

[2019-07-23 16:23] johanbrandhorst commented on #976
@rmilejcz I think your problems at this point are to do with protoc import paths, which is a problem outside the domain of this repo. This repo contains examples of how to use the annotation in your own protofiles, but it assumes some familiarity with protoc. The reason you can use different import paths in your own protofiles is because the path is relative to your provided protoc import paths.

[2019-07-23 16:39] rmilejcz commented on #976
But `protoc-gen-swagger/options/annotations.proto` *is* relative to `-I"$GOPATH/src/github.com/grpc-ecosystem/grpc-gateway/"` which I am passing when running protoc, so what am I missing?

[2019-07-23 17:01] rmilejcz commented on #976
@johanbrandhorst yeah I made a foolish mistake, the issue was that I failed to update a script unfortunately and I was running code that did **not** include the protos I wanted via `protoc --proto_path=`. Once I altered the correct script to include:
[code]
I could properly import without issue
[code]

All I can say is thanks for being patient and sorry for the ultimately pointless github issue lo

[2019-07-23 17:01] #976 closed

[2019-07-23 22:18] campoy commented on #230
For anyone looking into this issue and finding the link is broken, apparently CoreOS changed their blogging system and now it's case sensitive!

You can still find the post: https://coreos.com/blog/grpc-protobufs-swagger.html

[2019-07-24 14:28] johanbrandhorst commented on #976
Thanks for getting back to us, we've all made a mistake like that at some point 😄!

[2019-07-24 15:22] johanbrandhorst commented on #230
Thanks Francesc, I've updated my link 😄.

[2019-07-25 11:31] yujinsong88 opened #978 "undefined: runtime.AssumeColonVerbOpt"
err msg:too many arguments in call to runtime.NewPattern  undefined: runtime.AssumeColonVerbOpt

[2019-07-25 14:50] achew22 commented on #978
@yujinsong88, can you please fill out the bug template? There isn't enough information here to help you with this problem. Thanks!

[2019-07-26 21:24] johanbrandhorst commented on #978
Dupe of #963

[2019-07-26 21:24] #978 closed

[2019-07-31 19:20] derekperkins commented on #395
@bobbytables Not quite sure what you mean. How does that let you map arbitrary json to a field?

[2019-07-31 19:57] derekperkins commented on #395
This worked for us: https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#struct

[2019-08-02 06:53] fengye87 commented on #353
Hi, same problem here.

The point of separating PB code from GW code is that, I have other repos acting as this repo's client, and thus need to import PB code. However, I don't want to import anything from GW, since it's irrelevant in client.

I can choose where to generate the gateway code, but it seems that the generated code is expecting itself locates in the same package of the PB code. It use

[2019-08-02 09:34] johanbrandhorst commented on #353
In a brief test with some of my own generated files it seems like it might be possible to generate into a separate folder a import all the types and functions. I think we should be able to support this, but I don't know if we want to add the complexity of figuring out imports to the generator, so ideally it would be something we could turn on with a flag and then use via the `go_package` option ma

[2019-08-02 19:59] tannerlinsley opened #980 "Schema and field name questions from a front end developer"
Hi, I'm a Front End dev and my backend team is using GRPC gateway to develop our REST API and I am looking for some clarification on a few things. I hope someone can help answer these question and if not, point us in the right direction on contributing to help improve them.

If any of this doesn't make sense, keep in mind, I don't interact with most of this stack on a daily basis and likely only k

[2019-08-02 21:04] achew22 commented on #980
@tannerlinsley, thanks for filing a bug against our repo. If you could please follow our bug template it would be hugely appreciated. As it states at the top of the bug template:

[code]

What happened when you went to the slack channel?

[2019-08-02 21:06] tannerlinsley commented on #980
I'll ask on the slack org and get back to you. Closing for now.
On Aug 2, 2019, 3:04 PM -0600, Andrew Z Allen <notifications@github.com>, wrote:

[2019-08-02 21:06] #980 closed

[2019-08-05 02:19] fengye87 commented on #353
@johanbrandhorst Glad to know the situation here. I could give it a shot, but no promises :sweat_smile:

[2019-08-05 14:52] johanbrandhorst opened #981 "The release upload job is broken"
Seems to have been broken between 1.9.2 and 1.9.3. Only found this because I was looking at the releases and didn't see any binaries for the latest one.

Error:
[code]

Note sure yet what this means, I will investigate.

[2019-08-05 14:55] johanbrandhorst commented on #981
Nothing particularly incriminating about the release diff (https://github.com/grpc-ecosystem/grpc-gateway/compare/v1.9.2...v1.9.3), so maybe the problem is goreleaser

[2019-08-05 14:58] johanbrandhorst commented on #981
Looks like the same problem as in https://github.com/goreleaser/goreleaser/issues/1090, which leads me to believe that a new `id` was introduced, or was all of a sudden depended on, and broke our builds. I will try adding it to the config.

[2019-08-05 15:04] johanbrandhorst commented on #981
Seems to have fixed the issue locally, will submit PR after uploading missing binaries.

[2019-08-05 15:06] johanbrandhorst commented on #981
Releases updated

[2019-08-05 15:20] johanbrandhorst commented on #968
Happened again today, but seems to be bazel consuming too many resources and the host killing the process? Not quite sure.

https://circleci.com/gh/grpc-ecosystem/grpc-gateway/3484

[2019-08-05 15:28] achew22 commented on #968
My vote is that we activate the Bazel team's CI and deactivate the CircleCI based one. Step 1 in that process is here https://github.com/grpc-ecosystem/grpc-gateway/pull/983

[2019-08-06 08:08] #981 closed

[2019-08-06 11:35] george-oakling opened #984 "protoc-gen-swagger: support maps in query parameters"
Hi guys,
having following definition:

[code]

Which goes through swagger generator and ends up without the map being mentioend as parameters in request:
[code]

I thought that I can add map params to the query... but I dont think so now and I cant tell if it's a bug... KR Jirka

[2019-08-06 12:55] johanbrandhorst commented on #984
Thanks for the bug report! A few questions:

1. What does the generated gateway look like? Is it trying to parse the map from the query? If so, that would be a large indicator that we should be supporting this and that it's a bug in the swagger generator.
2. Does it _work_ even if you disregard the generated swagger docs?

[2019-08-06 13:23] george-oakling commented on #984
test.proto:
[code]
test.pb.gw.go
[code]
test.swagger
[code]

[2019-08-06 13:33] johanbrandhorst commented on #984
I can't tell if that is or isn't parsing the query for the map, could you test running it and confirm?

[2019-08-06 13:37] george-oakling commented on #984
Yep, working on it :)

[2019-08-06 13:41] george-oakling commented on #984
Request to:
`/test?filters[jirka]=test&filters[wow]=test2`

And there I have log.Println, which prints:
`filters:<key:"jirka" value:"test" > filters:<key:"wow" value:"test2" >`

So yes, its getting data, but the protoc-swagger-gen ommit the definitions from request...

[2019-08-06 13:42] george-oakling commented on #984
Also the code in the GRPC server looks like this to make everything clear:
[code]

[2019-08-06 13:54] johanbrandhorst commented on #984
Thanks, that narrows down the scope of this bug. Would you be interested in trying to submit a fix yourself? I would recommend starting to look at https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-swagger/genswagger/template.go#L95 and maybe add some log messages and rebuild the generator. It would be very welcome!

[2019-08-06 13:59] george-oakling commented on #984
I'll try, but not before next week... I "hacked" this by using POST request with full body request which works perfectly, but definitely will look at the source asap.

[2019-08-09 00:53] xin-au opened #986 "Swagger generator does not convert parameters in URLs to camel case when `json_names_for_fields` is enable."
Hi Guys, I noticed an issue when I enable `json_names_for_fields=true`.
It does generate JSON camel case fields in a swagger doc, but except fields which were defined in URLs, like the following:
[code]
The swagger that generated by the above proto included the snake case `abc_id`  even with enabling  `json_names_for_fields=true`.

What did you expect to happen instead:
Expect `abcId` instead of `

[2019-08-09 07:12] #986 closed

[2019-08-11 20:47] johanbrandhorst opened #989 "protoc-gen-swagger: fix description of google/protobuf/struct.proto types"
The current swagger definition of `google.protobuf.Struct` looks like so:

[code]

This is the structure of the protobuf message, not how it's parsed by the parser. It should be simple `object`, since it supports arbitray JSON.

Having briefly looked at the source (https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-swagger/genswagger/template.go#L21), I think we're also missing

[2019-08-12 02:35] goodspark opened #991 "protoc-gen-swagger: No way to specify 0 as minimum on floating point values"
### Steps you follow to reproduce the error:

1. Generate a swagger file from the following proto file:

[code]

Basically I want to specify that `value` is valid for the `[0, 36.22]` range.

The JSON (snippet) output:

[code]

### What did you expect to happen instead:

I expect the JSON file to look like:

[code]

The intent here is to be able to pass this to a tool that supports swagger and hav

[2019-08-12 06:10] achew22 commented on #991
This is a really interesting bug. I think your analysis is correct, but I'm not sure I understand why. The proto extension documentation includes this helpful missive:

I believe that means that when you're interacting with extensions they are proto2 (weird!). Doesn't that mean that we would have the HasFoo methods on the proto objects? I think that means we could just check to see if the value wa

[2019-08-12 08:27] johanbrandhorst commented on #991
I agree that the analysis sounds right, but I'm not sure there's anything we can do here without breaking someone. If we take the default value to mean "0", it'll break anyone who hasn't specified a minimum. If not, we get this bug. It would be interesting to see exactly what data is passed to the generator, it might be we need a flag for this. Alternatively... Maybe set the minimum to _epsilon_,

[2019-08-12 09:58] #989 closed

[2019-08-12 10:04] johanbrandhorst opened #992 "Go integration tests are somewhat flaky"
This doesn't happen with anything like the regularity of the bazel tests as described in #968, but it is still happening for unrelated changes. See https://circleci.com/gh/grpc-ecosystem/grpc-gateway/3630 for an example test failure:

[code]

I think this is a just a race condition on startup, and we might be able to fix it by just introducing a  longer sleep on startup.

[2019-08-13 21:51] dayadev opened #994 "Returning a primitive type as a response instead of proto messages"
I am having a use case if returning a primitive type as response even though the underlying grpc doesn't support returning primitive types as a response.

Wondering if its possible that I can return just a string as a response using grpc-gateway for below example rpc
[code]

Is it possible for the REST endpoint to just return string response without the the echomessage key?

[2019-08-13 22:03] johanbrandhorst commented on #994
Could you show the exact JSON output you want?

[2019-08-13 22:21] dayadev commented on #994
Its just a string without any keys more like html text.
Like when I hit the Rest endpoint` /api/echo/welcome ` on a web browser, it should render the response html string on the browser. Response string is something like below
[code]

[2019-08-14 08:02] johanbrandhorst commented on #994
You can try using the `google.api.HttpBody` type which gives you complete control over the returned data. See https://grpc-ecosystem.github.io/grpc-gateway/docs/httpbody.html. I think that should cover your needs.

[2019-08-14 08:02] #994 closed

[2019-08-14 15:24] dayadev commented on #994
That returns HttpBody as raw binary instead of actual html on a browser

[2019-08-14 15:30] achew22 commented on #994
Can you upload a sample program that exhibits that behavior? That would be a great test case for us to add. Thanks!

[2019-08-14 15:36] dayadev commented on #994
Sure, the standard example when I added below option  to mux `gruntime.WithMarshalerOption(gruntime.MIMEWildcard, &gruntime.JSONPb{OrigName: false, EmitDefaults: true})`

[https://grpc-ecosystem.github.io/grpc-gateway/docs/httpbody.html](https://grpc-ecosystem.github.io/grpc-gateway/docs/httpbody.html)

[2019-08-14 16:09] johanbrandhorst commented on #994
The docs say that you need to use the `runtime.HTTPBodyMarshaler` (https://godoc.org/github.com/grpc-ecosystem/grpc-gateway/runtime#HTTPBodyMarshaler) when starting the runtime, are you doing that?

[2019-08-14 16:09] johanbrandhorst commented on #994
The code you shared uses the `JSONPb` marshaler.

[2019-08-14 22:07] dayadev commented on #994
Using this will return the original proto names something like `prod_name` instead I am trying to set the `OrigName=false `and return camel case `prodName`

[2019-08-14 22:08] dayadev commented on #994
The internal implementation also uses `JSONPb`
[code]

[2019-08-14 22:19] johanbrandhorst commented on #994
The `HTTPBodyMarshaler` embeds the `Marshaler` interface. Use `m := runtime.HTTPBodyMarshaler{&runtime.JSONPb{}}` and set whatever properties you want on the inner marshaller. Also, these kind of questions are better answered in the slack channel, please try there before raising an issue in the future.

[2019-08-16 08:06] yevgenypats opened #998 "Suggestion: Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers (This is generic step not-connected to fuzzit)
- Continuous Fuzzing of master branch which will generate new corp

[2019-08-16 08:15] johanbrandhorst commented on #998
Hi Yevgeny,

Thanks for reaching out! This sounds really interesting. The gRPC-Gateway can be used as a first layer against the internet so it seems worthwhile to investigate, however the overlap between us and the Go standard library will be pretty high. We have some custom path parsing and stuff which might be interesting though. If you would like to contribute something, I would start looking a

[2019-08-16 08:29] yevgenypats commented on #998
Hi Johan,

Thanks for quick reply.

I'm not sure about the integration test as far as I understand they just send data over the network to the server which is less appropriate to how [go-fuzz](https://github.com/dvyukov/go-fuzz) works. This is more appropriate to be an additional strong "unit-tests", we need to find the relevant function that go-fuzz will call with psudo-random data to test and ch

[2019-08-16 09:53] johanbrandhorst commented on #998
The reward program seems like a great way to get new users trying the code base as well, so I will leave it. I'd be happy to help you get it in if you find the time, of course.

[2019-08-17 01:43] lzxm160 commented on #753
@johanbrandhorst  this still not fixed,right?

[2019-08-17 02:17] venezia commented on #753
I can take a look at this later this weekend perhaps - thought someone was doing this - sorry

[2019-08-17 07:03] johanbrandhorst commented on #753
Feel free @venezia, don't think @waveywaves got anywhere yet.

[2019-08-19 21:43] yfei1 opened #999 "grpc-gateway don't work well when using github.com/golang/protobuf/ptypes/struct with streaming"
### Steps you follow to reproduce the error:
My code has the following API definition
[code]
With the code logic following the example in the integration test. https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples/integration/integration_test.go#956
[code]
When running the tests against the http endpoint I got the following error, yet the same test works for the grpc endpoint.
[code]

[2019-08-19 21:48] johanbrandhorst commented on #999
Thanks for the bug report! This looks pretty bad, but it also sounds like you have a good test to reproduce the panic, with it's a great way to start creating a fix! Would you be interested in contributing a fix for this?

[2019-08-19 22:03] yfei1 commented on #999
I don't have enough context about how grpc-gateway works. Could you locate some files that might relate to this bug? I would love to help if it is a trivial bug.

[2019-08-19 22:07] johanbrandhorst commented on #999
Wait, I've just realised you're using gogo/protobuf (as is evident by that backtrace). This could be another one of those subtle gogo/protobuf bugs. Can you try using golang/protobuf?

[2019-08-19 22:14] yfei1 commented on #999
Thanks for pointing it out. It seems like a bug in gogo/protobuf. Everything works as expected after using golang/protobuf instead!

[2019-08-19 22:16] #999 closed

[2019-08-19 22:27] johanbrandhorst commented on #999
Glad that fixed it, but it's not so much a bug in gogo/protobuf as a simple incompatibility with our codebase... It's an unfortunate consequence of the way go protobuf was designed from the start. Anyway, glad it works now!

[2019-08-21 04:51] lzxm160 commented on #753
@johanbrandhorst  I want to know is there anyone helping this?when will this could be done? thanks

[2019-08-21 05:19] achew22 commented on #753
@lzxm160 it sounds like there is no one working on it. I think this would be a great starter project to learn the inner workings of the project. Feel free to comment here if you need any pointers on where to start.

[2019-08-22 15:22] snowzach opened #1002 "protoc_gen_swagger openapiv2_field definition ignores the type option"
I am using an int64 type inside of my proto specification, I have overriden the JSON encoder/decoder to use a number instead of a string(int64) as I am okay with the 56bit JSON limit but I want it bigger than 32 bit.

I would like the the swagger definition to reflect the proper value.

[code]

The model in swagger still shows `string(int64)`. Ideally it should instead show something like `integer

[2019-08-22 22:38] johanbrandhorst commented on #1002
Cool, sounds like a great first contribution! The source for this logic is in https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-swagger/genswagger/template.go, please feel free to look around and see if you could contribute this fix! Let me know if you have any questions!

[2019-08-23 03:51] snowzach commented on #1002
Sure started #1003

[2019-08-26 07:34] AlekSi commented on #400
Right now, support for `google.protobuf.Duration` is very confusion.

1. https://developers.google.com/protocol-buffers/docs/proto3#json says:

2. https://github.com/go-openapi/strfmt/blob/v0.19.2/duration.go contains support for various suffixes.

3. But in practice, grpc-gateway always returns duration as seconds with `s` suffix, and uses `time.Parse` for parsing, so suffixes like `d` are not su

[2019-08-26 07:44] johanbrandhorst commented on #400
Is this not implemented already? Also not sure I understand your comment @AlekSi, are you saying it should support the full range required by the openapi definition of a duration? It might be possible with some pre-json unmarshalling parsing.

[2019-08-26 07:57] AlekSi commented on #400
All I'm saying is that current handling is inconsistent.

I see several options:
1. Do nothing in code, just document that behavior. :)
2. Extend parsing (only) with strfmt mapping, so suffixes like `d` are accepted.
3. Use protobuf JSON mapping consistently: accept and return only seconds with `s` suffix.
4. Use strfmt mapping consistently: accept and return other suffixes like `d`.

Options 3 an

[2019-08-26 08:26] johanbrandhorst commented on #400
What are we doing right now? I thought it was #3.

[2019-08-26 08:33] AlekSi commented on #400
Right now, grpc-gateway accepts suffixes `m` and `h`. It uses `time.ParseDuration`.
Additionally, I just discovered that if no suffix is given, value is silently ignored. I think that's bad.

[2019-08-26 09:07] AlekSi commented on #400
That's how it works now:
[code]

Suffixes `m` and `d` are accepted, but never returned.

[2019-08-26 09:08] johanbrandhorst commented on #400
I see. So #2 but without `d` support?

[2019-08-26 09:10] AlekSi commented on #400
Yes, right now it is #2 without `d` and `w`.

[2019-08-26 09:29] johanbrandhorst commented on #400
@AlekSi would you mind opening a new issue with this background as a feature request? I will close this one since we do support it.

[2019-08-26 09:29] #400 closed

[2019-08-26 20:51] wenbozhu opened #1004 "Update integration test dependencies"
Vulnerable dependency reported:

"

Known high severity security vulnerability detected in nokogiri < 1.10.4 defined in Gemfile.lock.
--
Gemfile.lock update suggested: nokogiri ~> 1.10.4.

"

[2019-08-26 21:08] johanbrandhorst commented on #1004
Hi Wenbo! We're not so worried about this one as we only use ruby for the integration tests. Should probably sort it out anyway, but nothing that affects the security of the application.

[2019-08-26 21:56] veqryn opened #1005 "Allow final url path parameter to be optional"
I might be doing something wrong, but I was sort of expecting to be able to have the last url path parameter be optional.

Example:
If you have the rest endpoint `/customers`, it will return information on all customers.
And if you have the rest endpoint `/customers/123`, it will return information on customer id `123`

[code]

Any attempt to curl just `/customers` returns a 404, with that endpoin

[2019-08-26 22:04] johanbrandhorst commented on #1005
This is not something I'm sure we should support. What you're describing sounds to me like two different RPCs, CustomersGet and CustomersList (using your terminology). Why not have two endpoints? Presumably the response types will be different?

[2019-08-27 02:38] lishuhao commented on #490
The README example just start Http server, not start rpc server
This can work
[code]

[2019-08-27 08:50] johanbrandhorst commented on #1005
I will close this, please let me know if you're still interested in this.

[2019-08-27 08:50] #1005 closed

[2019-08-28 07:17] amit-traiana opened #1010 "Bazel Rule?"
Hello,

I'm using Bazel to build a project consists of gRPC protobuf files, and would also like to generate a grpc-gateway/swagger along with that.

There's no build-in Bazel rule for the gateway, and the only alternative I could find was [here](https://github.com/stackb/rules_proto/tree/master/github.com/grpc-ecosystem/grpc-gateway#gateway_swagger_compile). The problem with this rule is that it g

[2019-08-28 09:15] amit-traiana commented on #1010
Was able to gain some progress linking specifically into `//runtime` like so:

[code]

But I'm still not sure if that's the proper way of doing so.

[2019-08-28 10:38] johanbrandhorst commented on #998
I think we can close this with #1001 merged

[2019-08-28 10:38] #998 closed

[2019-08-28 10:39] johanbrandhorst commented on #952
#947 has been merged with support for unary calls directly to the backend server.

[2019-08-28 10:39] #952 closed

[2019-08-28 10:40] johanbrandhorst commented on #1004
Dupe of #832

[2019-08-28 10:40] #1004 closed

[2019-08-28 14:52] winglq opened #1012 "protoc-gen-swagger does not generate parameters other than body and path parameters."
1. my proto file is as following.  It's an example of google api design.
[code]

2. Use protoc-gen-swagger to generate a swagger file. I got the following json output.

[code]

3. The **update_mask** parameter is missing in the output.
BTW: I tried the master branch and the latest tagged release, and got the same result.

### What did you expect to happen instead:

An update_mask should be there.

[2019-08-28 14:57] johanbrandhorst commented on #1012
Hi @winglq! It seems you stumbled upon our automatic patch-support by mistake! Yes, the update-mask is not there, because it's not necessary if you use JSON, where you can omit fields. See https://grpc-ecosystem.github.io/grpc-gateway/docs/patch.html

[2019-08-28 14:57] johanbrandhorst commented on #1012
If you would really like the update_mask to show up, you can turn off patch handling with the `allow_patch_feature=false` setting to the generator: https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-grpc-gateway/main.go#L35.

[2019-08-28 14:57] #1012 closed

[2019-08-28 17:59] rmilejcz opened #1013 "protoc-gen-grpc-gateway fails silently after release 1.10"
### Bug reports:

`protoc-gen-grpc-gateway` doesn't build stubs after updating to release 1.10

### Steps you follow to reproduce the error:

1. Install plugins:
[code]

2. Make a suitable service file (copy paste this into terminal):
[code]
3. In the same folder, try generating GW stubs by running:
[code]

4. Observe that `service.pb.gw.go` does not exist as expected.

### What did you expect to

[2019-08-28 18:07] johanbrandhorst commented on #1013
Let me investigate this...

[2019-08-28 19:37] johanbrandhorst commented on #1013
Can't reproduce in my repo http://github.com/johanbrandhorst/grpc-gateway-boilerplate. What version were you updating from?

[2019-08-28 20:29] #1013 closed, assigned to nobody

[2019-08-29 04:52] winglq commented on #1012
@johanbrandhorst thanks for the explaination.

I tried to change the UpdateBookRequest as following:
[code]
But I could not get the title parameter.

Here is the parameter section of the output.

[code]
According to [google api design doc](https://cloud.google.com/apis/design/standard_methods) , title should be mapped to a query parameter.

Not sure whether this behavior is also by design. Thanks.

[2019-08-29 04:59] johanbrandhorst commented on #1012
I would also expect the title to turn up as a query parameter, however, this could just be a big in the swagger generator. Could you see if the server parsing still works? Please raise a separate bug for this behaviour.

[2019-08-29 11:52] winglq opened #1015 "protoc-gen-swagger: patch method request attributes do not map to query parameter"
This is a follow up issue to https://github.com/grpc-ecosystem/grpc-gateway/issues/1012.
1. use the following proto file to genrate a swagger file.
[code]
2. title shoud be mapped to a url query parameter, but it is not in the swagger file.
The following is the parameter section of swagger output.
[code]

3. title is not part of the go generate file output either. This is the url pattern in the ga

[2019-08-29 11:52] winglq commented on #1012
A new issue https://github.com/grpc-ecosystem/grpc-gateway/issues/1012 is opened.

[2019-08-29 12:50] rmilejcz commented on #1013
In case anyone else encounters this, I was able to resolve it by building protoc-gen-grpc-gateway from source instead of go getting it.

[2019-08-29 21:16] johanbrandhorst commented on #1013
We also have pre-built binaries for most platforms for every release.

[2019-08-29 22:48] achew22 commented on #1010
I'm not sure I understand the problem here.

You successfully added the `grpc-gateway` compiler to your `go_proto_library` so you should be able to use the `grpc-gateway` generated stuff from that. That is how `rules_go` is designed to work. Can you point me to the hack that you think there is?

WRT adding a dependency on the runtime, why would you expect that you could use code from the runtime w

[2019-08-30 01:02] metrue opened #1017 "Wrong codes generated when nested enum in path"
### Steps you follow to reproduce the error:

* proto code
[code]

* build
[code]
* Wrong codes generated
[code]

### What did you expect to happen instead:
Should generate the correct codes.

### What's your theory on why it isn't working:
Obviously,  there is a bug out there in generated code.
first,
[code]
`e` is declared on line 49, then using directly to set the `Resource.Type` on line 88 wit

[2019-08-30 08:25] johanbrandhorst commented on #1017
Hey, this does look a bit weird! Looks like we need to add a `e = val` somewhere in the generator. How can I help you make this contribution? I think you would want to start looking in https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-grpc-gateway/gengateway/template.go.

[2019-08-30 21:01] johanbrandhorst opened #1019 "Fuzzit CI job is failing unexpectedly"
Two recent jobs (https://circleci.com/gh/grpc-ecosystem/grpc-gateway/3946 and https://circleci.com/gh/grpc-ecosystem/grpc-gateway/3948) suffered from fuzzit failures that were unrelated to the changes made. We should investigate and fix the issue.

cc @yevgenypats

[2019-08-30 21:52] johanbrandhorst commented on #1015
I would have expected `title` to be parsed from the query parameters, regardless of what the generated swagger document says. Have you tried sending `?title=whatever` in the URL and tried seeing if it was set? It could just be a protoc-gen-swagger bug.

[2019-08-31 07:18] yevgenypats commented on #1019
I'm on it. I think this is connected to go-fuzz and go modules support. I'll push a fix now.
https://github.com/dvyukov/go-fuzz/pull/263

[2019-08-31 08:10] #1019 closed

[2019-08-31 08:10] johanbrandhorst commented on #1019
Fixed by #1022

[2019-09-01 08:09] amit-traiana commented on #1010
Hello achew22 :-)

I miss-used the word 'Hack'. What I mean is that the above wasn't very 'straight-forward'. Take this other gateway [rule](https://github.com/stackb/rules_proto/tree/master/github.com/grpc-ecosystem/grpc-gateway#gateway_grpc_library) I mentioned. It have a "public" rule called `gateway_grpc_library`, and all you have to do is to specify the `deps`. It will encapsulate the need to

[2019-09-02 04:31] achew22 commented on #1010
`rules_proto` is not in the [`bazelbuild` organization](https://github.com/bazelbuild), while [`rules_go`](https://github.com/bazelbuild/rules_go) is. `rules_go` has [documentation](https://github.com/bazelbuild/rules_go/blob/master/proto/core.rst#go_proto_library) on how they want you to add a compiler to a `go_proto_library`, and they are the canonical way of doing Go in Bazel.

We have `runtime

[2019-09-02 04:56] winglq commented on #1015
currrently, I am working on designing the APIs, I will verify the gateway after I working on the server.

[2019-09-02 05:26] ziczhu commented on #1017
Related code:
[code]

I think this is something happened when the param is both nested and enum.

First if it's nested, we will get
[code]
The `runtime.PopulateFieldFromPath` is already handle the enum case and set the right value for the enum field.

But because it's enum too, the following template will generate
[code]
The `e` here is the zero value, which always `0` for the enum.

The reason of

[2019-09-02 08:21] johanbrandhorst commented on #1017
Nice writeup, it should be very easy to test by adding a nested enum to one of the example protos and regenerating. This would seem a good place to start a bug fix for this. Would you need more help in getting started?

[2019-09-02 08:23] amit-traiana commented on #1010
Completely understand. This issue was originally opened as a question. To figure out if I'm consuming and using your Bazel build files correctly from a remote Bazel build system. You seems to approve of that way, and that's enough for me as for now. In case I'll have a more concentrate example on what I think can be improved, I'll open a detailed PR and sample repo as you rightfully requested.

Le

[2019-09-02 08:24] #1010 closed

[2019-09-02 10:19] trelore opened #1023 "AnnotateIncomingContext not declared by package runtime"
### Steps you follow to reproduce the error:

[code]

Compile code

### What did you expect to happen instead:

It to compile correctly

### What's your theory on why it isn't working:

[code]

There is a new commit that has `AnnotateIncomingContext` declared in the runtime package. Releasing a new version with that commit in should solve the problem

[2019-09-02 12:32] AlekSi commented on #676
Is it the same as #233?

[2019-09-02 14:24] snowzach commented on #1002
Thanks. All handled now.

[2019-09-02 14:24] #1002 closed

[2019-09-02 15:33] amit-traiana commented on #1010
Oh, @achew22 - forgot to mention something. `grpc-gateway` using `bazel_gazelle` as dependency. Because you don't have `deps.bzl` file, I set the import to `bazel_gazelle` in my project, even though I don't directly use it. Care to add or accept pull request for `deps.bzl` file?

[2019-09-02 17:16] johanbrandhorst commented on #1023
Hi @trelore. This is a consequence of using `go get` to install the generator while using a dependency management tool to version the runtime. The runtime package and generator must be using the same version. There are two ways to solve your issue:

1. Version the generators, too.
For example using `dep`s `required` or [go modules tool dependencies](https://github.com/golang/go/wiki/Modules#how-ca

[2019-09-02 17:18] #1023 closed

[2019-09-03 07:51] djavorszky opened #1025 "jsonpb panics when using numbers for parsing timestamps"
### Steps you follow to reproduce the error:

1. Create a service that receives a google.protobuf.Timestamp in its request, e.g.
[code]
2. Add grpc-gateway in such a way that allows embedding the timestamp in the GET parameters, e.g.
[code]
3. Generate the code, e.g.:
[code]
4. Add the gateway, e.g.
[code]
5. Start the server
6. Curl the endpoint, e.g:
[code]

Result: panic on server side, empty h

[2019-09-03 14:52] johanbrandhorst commented on #1025
Hi, thanks for the brilliant bug report :heart_eyes:. This is a good find, but I think the bug here is in `github.com/golang/protobuf/jsonpb`, the marshaler you are using (and this project uses by default). I've managed to reproduce this with the golang playground:

https://play.golang.org/p/2VS9bEb7sgD

The issue only seems to happen when using a pointer to the type before unmarshalling, as can b

[2019-09-03 14:58] johanbrandhorst commented on #1025
Another option is to fork `jsonpb` and fix the bug. Would maybe be a nice first contribution?

[2019-09-03 16:01] djavorszky commented on #1025
Thanks @johanbrandhorst for looking into it and forwarding it to the relevant repository :-)

[2019-09-03 18:57] johanbrandhorst commented on #1025
Looks like this has been kicked back to us, and I'm pretty sure what the fix should be. We can change the `runtime.Timestamp` method to pass a concrete value into Unmarshal instead. I'd say at the same time we should look through the code base and see if we do this anywhere else.

Would you be interested in bringing this fix in?

[2019-09-03 20:43] johanbrandhorst commented on #1025
You snooze you lose :grin:. I put together a fix in #1028.

[2019-09-04 02:25] hexinn opened #1029 "Is there any way to let json int32 can not accept string in grpc-gateway?"
# The gRPC-Gateway project is maintained by volunteers in their spare time. Please follow these troubleshooting steps before submitting an issue.

- [ ] Check if your issue has already been reported (https://github.com/grpc-ecosystem/grpc-gateway/issues).
- [ ] Update your protoc to the [latest version](https://github.com/google/protobuf/releases).
- [ ] Update your copy of the `grpc-gateway` libr

[2019-09-04 02:35] hexinn commented on #1029
I defined my field to int32 But the string type can also receive.
I checked the official documentation and found the following paragraph.
![image](https://user-images.githubusercontent.com/42364046/64221488-a747e580-ceff-11e9-9c82-747054c93bf1.png)
So is there any way to let json int32 can not accept string in grpc-gateway?

[2019-09-04 03:08] achew22 commented on #1029
@hexinn, please in the future follow our bug filing template. There is a lot of great information in there and it helps us triage.

Issues are not the forum that use for questions like this. Please go to the gopher's slack channel and ask in there.

[2019-09-04 03:08] #1029 closed

[2019-09-04 03:14] #1025 closed

[2019-09-04 08:42] zhyon404 opened #1031 "openapiv2.proto NULL conflict with c++ keyword"
https://github.com/grpc-ecosystem/grpc-gateway/blob/3ad0fb96ecfdf73fa2eddb3de116ae98360dbb35/protoc-gen-swagger/options/openapiv2.proto#L218

compiled openapiv2.proto cpp file contains NULL, conflict with c++ keyword.
Any suggestion on how to solve this?

[2019-09-04 15:44] johanbrandhorst commented on #1031
Not sure if we can rename this without causing trouble. @ivucica what do you think?

[2019-09-04 17:05] ivucica commented on #1031
I've tried blindly invoking `--cpp_out=.......` on a project where I'm already using `--go_out=.....` and I took a peek at the generated code. I don't see the code contains `NULL`.

I've then realized I also need to `--cpp_out=.....` the `protoc-gen-swagger/options/{annotations,openapiv2}.proto` as the generated code depends on this being generated, so I did that too.

In my case, the generated co

[2019-09-06 09:51] william-plano-oxb opened #1034 "FieldMask paths for PATCH endpoints are being transformed to PascalCase"
## Steps you follow to reproduce the error

1. Create a grpc service with a method that accepts a field mask.
1. Add a PATCH endpoint for this method using grpc-gateway.
1. Call the method via the gateway.
1. Observe that the field mask's paths have been transformed into PascalCase.

## What did you expect to happen instead

1. I would expect the original case in the proto definition to be preserv

[2019-09-06 10:30] johanbrandhorst commented on #1034
Yeah I agree this is a bug, would you be interested in changing it? It _is_ a backward compatibility breaking change but fixing bugs is still okay. @dmacthedestroyer @razamiDev since you implemented this (and I reviewed it), do you have any opinion on this proposal?

[2019-09-06 10:40] william-plano-oxb commented on #1034
For some extra context, the reason this is a problem for us is that our gPRC service is implemented in python, so PascalCase makes no sense there, I can see that if we had a go service then ultimately the case will need to be mapped to match the generated go names, but I think that should be done in the service itself.

Yes, I'm happy to have a go at making this change.

[2019-09-06 10:44] johanbrandhorst commented on #1034
Thanks for the background, but as someone who mostly works with Go services, I still think the mapping is both unnecessary and wrong. The canonical name for a field is the one in the proto file, and that is what we should be mapping into the `Paths` field. Your case just emphasizes why it is wrong.

[2019-09-08 18:45] ivucica commented on #966
I'd say this is not a huge problem. I agree with @johanbrandhorst, why can't you regenerate the `google.golang.org/genproto/googleapis/longrunning`? Ideally it should not be a problem just because you're regenerating `operations.pb.go` and getting no diff from upstream. And it should not be hard if you are building everything from source instead of using prebuild packages in `$GOPATH/pkg` (does th

[2019-09-09 08:10] simonzg commented on #559
Hi, just want to check if anyone has this sorted out yet? I'm still encountering the exact same problem.

[2019-09-09 08:14] johanbrandhorst commented on #559
Doesn't seem like it's been fixed yet. What can I do to help you bring in a fix for this?

[2019-09-09 21:43] OscarHanzely opened #1037 "JSONSchema does not cover all atributes of OpenAPIv2 SchemaObject: missing enum"
I believe this object
https://github.com/grpc-ecosystem/grpc-gateway/blob/82dc0837d5ecce71198123cbf94fb6eaff7698f6/protoc-gen-swagger/options/openapiv2.proto#L161

should cover all fields from https://github.com/OAI/OpenAPI-Specification/blob/3.0.0/versions/2.0.md#schemaObject

However there is one property in specificaiton called enum. It allows to list allowableValues and is handy in swagger gen

[2019-09-09 22:20] achew22 commented on #1037
If you want your field to be an enum, is it possible to use a proto enum value? I believe we handle that case correctly.

Also, it would be useful if you could provide a sample of your `.proto` file, I'm just guessing at what your inputs are here.

[2019-09-09 23:10] OscarHanzely commented on #1037
Thanks for the reply @achew22 . Using Enum field type in message is not the same as enum property of the field. Enum field type only allows to define numeric in32 enumeration.

The reason why swagger allows to have enum as attribute of property is to document/describe any message field type. If you have string type in message and you allow only certain values you describe/annotate them in enum of

[2019-09-09 23:20] achew22 commented on #1037
I don't believe that is entirely the case. Proto should accept both the string and the numeric form of any enum. From the [proto language guide](https://developers.google.com/protocol-buffers/docs/proto3#json)

Could you try:

[code]

and report back on how grpc-gateway handles a post with the inner field equaling the literal string `ID`?

[2019-09-09 23:34] OscarHanzely commented on #1037
grpc-gateway handles both string and numeric values on Enums, however there are few drawbacks:
1. the enum is a const and does not accept string as "+id" or -id (prefered sorting options we implemented)
![image](https://user-images.githubusercontent.com/39314151/64573275-fb9bfc80-d327-11e9-9d73-5d530a4ab03e.png)

2. the swagged documentation does not show enum list on generated property as possibl

[2019-09-10 16:19] sum2000 commented on #492
I agree with the proposal and willing to take solve this, I am new to this repo so what will be a good starting point to solve this?

[2019-09-10 16:23] sum2000 commented on #984
Hi, I can take a look at this bug since we have a requirement to use this kind of pattern. Thanks

[2019-09-10 16:26] johanbrandhorst commented on #492
Hi @sum2000, thanks for showing an interest in contributing! I think all the query parameter parsing happens in https://github.com/grpc-ecosystem/grpc-gateway/blob/5ebe3a8e01b56f67d5f0c6da3a274639e5e1a376/runtime/query.go#L47, so that would be the place to start looking. The first thing to do would be to add a new test case to https://github.com/grpc-ecosystem/grpc-gateway/blob/master/runtime/quer

[2019-09-10 19:51] sum2000 commented on #492
Thanks, will do! Is there a discord or chat for grpc-gateway ?

[2019-09-10 19:54] johanbrandhorst commented on #492
We have a channel on the gophers slack: #grpc-gateway after joining https://invite.slack.golangbridge.org/.

[2019-09-11 05:31] negativeOne1 commented on #698
hey, just wanted to ask if there are any updates on this one?

[2019-09-11 07:42] johanbrandhorst commented on #698
Be the change you want to see! What can I do to help you get this in?

[2019-09-11 09:06] johanbrandhorst commented on #992
Fixed in #1039

[2019-09-11 09:06] #992 closed

[2019-09-11 09:43] srenatus commented on #968
Cool. So, in buildkite.com/bazel, test fail consistently. Like this one: https://buildkite.com/bazel/grpc-ecosystem-grpc-gateway/builds/104#8f57d1c1-3082-4a3d-8ad3-f1c35f0bf987

[code]
(from the uploaded test logs in buildkite artifacts)

👀 I guess it's either running test in parallel that shouldn't, or... something else is bound to 8080. Either way, making the tests use a random available port (i

[2019-09-11 09:46] johanbrandhorst commented on #968
TIL. Sounds like unintentional parallelism to me. Unfortunately I understand nothing of how this works, so I defer to @achew22.

[2019-09-11 09:48] srenatus commented on #968
Well, I'm sure our tests would be more robust if they _could_ run in parallel. 😃 But yeah, that's the harder route for sure.

[2019-09-11 10:14] veqryn opened #1041 "Swagger docs for custom Well Known Types (WKT's) is wrong"
- [x] Check if your issue has already been reported (https://github.com/grpc-ecosystem/grpc-gateway/issues).
- [x] Update your protoc to the [latest version](https://github.com/google/protobuf/releases).
- [x] Update your copy of the `grpc-gateway` library to the latest version from github:

This is probably more of a feature request than a bug report, but please hear me out.

I wanted a way to sc

[2019-09-11 10:23] johanbrandhorst commented on #1041
Hi again Chris and thanks for your detailed bug report. I think what you want to do might be possible with the `gogo/protobuf` well known types, have you tried that?

The place where we map types to specific swagger defintions is here: https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-swagger/genswagger/template.go#L21. As you can see we use the registered type name to map to a

[2019-09-11 22:37] veqryn commented on #1041
Thanks Johan, I will take a look into that and get back to you.

[2019-09-11 23:30] veqryn commented on #1041
So `gogo/protobuf` doesn't have Scan/Value methods on their generated Timestamp and Wrapper WKT's, so that won't work for me. (Though I did add a feature request here: https://github.com/gogo/protobuf/issues/625 )

I think your second suggestion of extending openapiv2_field to also cover FORMAT would actually work perfectly.

Thank you!

[2019-09-12 10:55] tegk opened #1042 "How to use -grpc-gateway_out sp that the result is in a specific folder?"
How can I specify that the generated swagger and gateway code are in a different folder than the proto file?

I tried logtostderr=true:rest but this did not work for me :-(

Thanks

[code]

[2019-09-12 11:05] #1042 closed, assigned to nobody

[2019-09-13 15:27] asgaines commented on #699
For anyone else stumbling upon this, the 503 Service Unavailable is potentially due to the GRPC server not having fully spun up before a request was launched against it (due to it running within a goroutine).

Besides using a `time.Sleep` after the goroutine launch (at the `fmt.Println("here")` line), I haven't come up with a solution to ensure executing code waits for the service's availability

[2019-09-13 15:34] achew22 commented on #699
I've seen this solved in two other ways:

1) Put a for loop in that calls the [grpc health service](https://github.com/grpc/grpc/blob/master/doc/health-checking.md) repeatedly until success (probably preferred since your service should implement this anyway)
2) Make a variant of your server that writes to a channel when the service is healthy and wait on that channel.

Best of luck!

[2019-09-14 12:39] gpopovic opened #1043 "Interceptors not called when using new RegisterHandler function"
Hi guys, I wanted to use new RegisterHandler functions(https://github.com/grpc-ecosystem/grpc-gateway/pull/947), to get rid of redundant grpc server, but it seems that unary interceptors are not called.

An example, here we have 2 unary server interceptors but they are not used.
https://github.com/hb-go/micro-mesh/blob/5df54724a57a4e4947812d3a8badfd64d6ff5fbc/examples/api/main.go#L101

Without una

[2019-09-14 16:32] johanbrandhorst commented on #1043
The RegisterHandler method doesn't use gRPC at all, so it would make sense that the gRPC interceptors aren't being called. This is a compromise when using this direct registration.

There's not much we can do here, so I'm going to close it. Please let me know if you want more help.

[2019-09-14 16:32] #1043 closed

[2019-09-14 16:40] rittneje commented on #1043
@johanbrandhorst Could you not also have a version of `RegisterXServer` that takes a `UnaryServerInterceptor`? The interceptor would be called here: https://github.com/hb-go/micro-mesh/blob/5df54724a57a4e4947812d3a8badfd64d6ff5fbc/proto/service.pb.gw.go#L80 I think you have all the pieces you need to properly invoke the server interceptor at this point.

[2019-09-14 17:09] gpopovic commented on #1043
@rittneje this is a nice idea

[2019-09-14 17:09] johanbrandhorst commented on #1043
I think we should look at the `RegisterXServer` as separate from the rest of the gateway. It lends itself more to adding HTTP middleware directly to the `runtime.ServeMux`. I think if you want to buy into the gRPC ecosystem, you probably want to use the other registration methods. gRPC is getting an in-process transport (https://github.com/grpc/grpc-go/issues/906), and that will make the cost of u

[2019-09-16 17:57] #640 closed

[2019-09-16 17:57] #638 closed

[2019-09-16 17:57] #367 closed

[2019-09-16 17:57] #651 closed

[2019-09-16 17:57] #578 closed

[2019-09-16 17:57] #672 closed

[2019-09-16 17:57] #678 closed

[2019-09-16 17:57] #740 closed

[2019-09-16 17:57] #562 closed

[2019-09-16 17:57] #661 closed

[2019-09-16 17:57] #472 closed

[2019-09-16 17:58] #778 closed

[2019-09-16 17:58] #734 closed

[2019-09-16 17:58] #728 closed

[2019-09-16 17:58] #780 closed

[2019-09-16 17:58] #832 closed

[2019-09-16 17:58] #555 closed

[2019-09-16 17:58] #447 closed

[2019-09-16 17:58] #530 closed

[2019-09-16 17:58] #349 closed

[2019-09-16 17:58] #905 closed

[2019-09-16 17:58] #554 closed

[2019-09-16 17:58] #951 closed

[2019-09-16 18:02] srenatus commented on #958
Still seems like a valuable thing to support. That said, I have not immediate need for it and won't be implementing it. So I guess closing is fine with me 😃

[2019-09-16 18:13] UladzimirTrehubenka commented on #447
The issue was fixed.

[2019-09-16 19:18] #245 closed

[2019-09-16 19:18] #366 closed

[2019-09-16 19:18] #386 closed

[2019-09-16 19:18] #485 closed

[2019-09-16 19:18] #451 closed

[2019-09-16 19:18] #460 closed

[2019-09-16 19:18] #446 closed

[2019-09-16 19:18] #499 closed

[2019-09-16 19:18] #396 closed

[2019-09-16 19:18] #240 closed

[2019-09-16 19:18] #516 closed

[2019-09-16 19:18] #464 closed

[2019-09-16 19:18] #538 closed

[2019-09-16 19:18] #558 closed

[2019-09-16 19:18] #544 closed

[2019-09-16 19:18] #534 closed

[2019-09-16 19:18] #610 closed

[2019-09-16 19:18] #620 closed

[2019-09-16 19:18] #625 closed

[2019-09-17 10:21] sumabn opened #1044 "Make protoc-gen-swagger build on 1.11"
Tried to run go get inside dockerfile
RUN go get -u github.com/grpc-ecosystem/grpc-gateway/protoc-gen-swagger

and got this error.

src/github.com/grpc-ecosystem/grpc-gateway/protoc-gen-swagger/genswagger/generator.go:71:9: undefined: strings.ReplaceAll
The command '/bin/sh -c go get -u github.com/grpc-ecosystem/grpc-gateway/protoc-gen-swagger' returned a non-zero code: 2

[2019-09-17 10:26] johanbrandhorst commented on #1044
https://golang.org/pkg/strings/#ReplaceAll was added in go 1.12, which was only ~8 months ago, so we may want to support at least go 1.11. To fix this right now, you could try upgrading to go 1.12 or go 1.13, but I think we should make this work in 1.11.

[2019-09-17 10:27] johanbrandhorst commented on #1044
What can I do to help you contribute a fix for this?

[2019-09-17 15:46] achew22 commented on #1044
To expand on @johanbrandhorst, I think we would be happy to accept a patch to make the code compatible with 1.11, but the current group of maintainers is not going to write that. We only support two versions back in golang, but will accept compatibility patches into head.

[2019-09-19 08:41] sumabn commented on #1044
upgraded go version to 1.13 in docker. Now docker build is going through.

[2019-09-19 08:45] #1044 closed

[2019-09-19 19:15] bentranter commented on #891
Hey @johanbrandhorst, it looks like the reporter of this issue was expecting the OpenAPI v3 definitions (seen [in the latest Swagger spec](https://swagger.io/docs/specification/api-host-and-base-path/)) which contains a `servers` array, whereas gRPC Gateway only supports Swagger v2, which [doesn't contain a servers array](https://swagger.io/docs/specification/2-0/api-host-and-base-path/), but rath

[2019-09-19 21:21] johanbrandhorst commented on #891
Great spot @bentranter, thanks!

[2019-09-19 21:21] #891 closed

[2019-09-20 14:59] ddibiase opened #1047 "Question: Override TransientFailure error with friendlier response"
Hi there, I was wondering if there was a way to override the default TransientFailure message that grpc-gateway responds with when the grpc server is not available. Suggestions for the most effective way to handle this are appreciated.

[2019-09-20 15:09] johanbrandhorst commented on #1047
Hi David, thanks for your issue. I think this is something that is best explained over chat, could you join the #grpc-gateway chat on the gophers slack? The link is https://invite.slack.golangbridge.org/.

[2019-09-20 15:09] #1047 closed

[2019-09-23 08:37] #1017 closed

[2019-09-23 10:42] #971 closed

[2019-09-23 18:42] #920 closed

[2019-09-24 21:46] #517 closed

[2019-09-25 09:01] elikatsis commented on #1015
Hello! Any update on this one?

[2019-09-25 10:24] elikatsis commented on #1015
Hello! Any update on this one?

[2019-09-27 01:28] metrue commented on #1023
@johanbrandhorst

I also met the same issue, can you clarify a little bit more on,

I'm using the commands provided from README to do the installation,
[code]
I am sure the `runtime` and `generators` should be updated to date and align with each other right?

[2019-09-27 07:12] winglq commented on #1015
Sorry, I do not have time working on my side project recently.

[2019-09-27 08:05] johanbrandhorst commented on #1023
Hi Minghe,

Yeah so if you're using go modules you don't want to be using those commands, because they will all update independently and also update all downstream dependencies. What you want to do is add a [tool dependency](https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module) for `github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway` and `github.com/

[2019-09-27 16:51] robinbryce commented on #517
What is the problem with providing a sensible means to set the response codes directly ? 206 partial content is a pretty reasonable ask isn't it ?

[2019-09-27 17:54] drigz commented on #968
FYI, if you add [tags = ["exclusive"]](https://docs.bazel.build/versions/master/test-encyclopedia.html#tag-conventions) for a Bazel test it will not be run in parallel with other tests, so you can use this for tests that bind to a fixed port.

[2019-09-28 11:39] johanbrandhorst commented on #517
There is only one successful response code in gRPC, and there is an argument to be made that if you need something that is much more than just mapping gRPC onto HTTP/REST, maybe the grpc-gateway isn't what you should be using.

Having said that, I think we'd all be open to exploring any ideas you or anyone else might have for how to implement this sort of ask, be it custom proto options and what n

[2019-09-30 00:26] a97077088 opened #1051 "json Custom output support (with examples)"
[code]
[code]

Is it possible to add runtime.ForwardResponseMessage here to support custom format json, such as "err": 0, "msg": "r ok", or convert them all to lowercase or uppercase This should be the right choice

[2019-09-30 07:54] johanbrandhorst commented on #1051
I'm not sure I understand the question. As you've done in this example, you can use ForwardResponseMessage to configure the output. If you're unhappy with the JSON mapping of your field names, you need to go back to your proto files or your marshaller configuration. You maybe using `OrigName: true/false` when you don't want to.

If you need more help, please pop by the #grpc-gateway channel on Gop

[2019-09-30 07:54] #1051 closed

[2019-09-30 15:32] a97077088 commented on #1051
Thank you for your answer. The current question is that ForwardResponseMessage function can not be replaced dynamically. It can only be implemented by hook. How should I replace ForwardResponseMessage dynamically?

[2019-09-30 15:36] johanbrandhorst commented on #1051
I suppose you could call another function in it which you can reassign to dynamically? It sounds like a pretty bad idea. What are you trying to do? I still think this would be easier to handle on slack.

[2019-09-30 15:48] a97077088 commented on #1051
Implement runtime.WithProtoErrorHandler

runtime.WithForwardResponseMessage similar function, I saw a night yesterday seems to need to change the main code or gohook can achieve the effect

[2019-09-30 15:51] a97077088 commented on #1051
If you use runtime.WithForwardResponseOption(), multiple returns will be said.

{"Error": 0, "Error": "Runs normally", } {// pbret}

[2019-09-30 15:54] a97077088 commented on #1051
![kf](https://user-images.githubusercontent.com/18098725/65895043-5bdd0600-e3dd-11e9-918c-a88b8d850eaa.png)

Add the interception function style of runtime.ForwardResponseMessage here to support the custom json format.

[2019-10-01 06:39] gpopovic commented on #888
Any news on this?

[2019-10-02 08:33] a97077088 opened #1055 "How to support custom output, implementation"
How to support custom output, implementation

runtime.ForwardResponseMessage=func(xx)

How should I achieve this effect?

[2019-10-02 08:48] johanbrandhorst commented on #1055
Hi @a97077088. I answered you before, and I encouraged you to join the Gophers slack so that I could understand your question. Please don't open more issues with the same question. Join on https://invite.slack.golangbridge.org/ and then join the #grpc-gateway channel and I can help you directly.

[2019-10-02 08:48] #1055 closed

[2019-10-02 15:51] zachgersh commented on #895
@johanbrandhorst - I think I've taken care of this now. `make test` does work now. Think you can close.

@happyalu - try it again if you have time!

[2019-10-02 15:52] #895 closed

[2019-10-04 19:09] zachgersh commented on #441
Hey everyone,

So we are actually doing this (at least I am going to try). I pushed the first bits of OPENAPI v3 support and attached the WIP PR to this issue for all to review.

I'd love everyone to go have a look at the proto and WIP if they can. I WANT YOUR FEEDBACK ON THIS. Would love to know what sort of fields are required missing from the next version of this generator.

[2019-10-09 15:56] ivucica commented on #441
@zachgersh I still have the notification email for your comment marked as 'unread' in my inbox, this is exciting and I hope to take a look.

[2019-10-11 17:59] goodspark commented on #991
Commenting so the bot doesn't close it. Per above comments, there's no easy/straight forward fix, but I'd like to keep this open, unless you all strongly object.

[2019-10-13 09:20] marcusljx opened #1061 "protoc-gen-swagger/genswagger does not build on go1.11 and earlier versions"
### Steps you follow to reproduce the error:

[code]

1. Using `go1.11`
1. import `github.com/grpc-ecosystem/grpc-gateway/protoc-gen-swagger/genswagger`
1. use `genswagger.New()` in a `main` function
1. `go build .`
1. package fails to build because `strings` package does not have function `ReplaceAll`.

### What did you expect to happen instead:

[code]

`go build` should exit with exit code `0`.

[2019-10-13 09:21] marcusljx commented on #1061
I would like to submit a small PR for this to allow for builds on earlier go versions too.

[2019-10-14 03:57] clearcodecn opened #1063 "why marshal enum to json using string but received it with int ."
## I still have a problem!

### Bug reports:

Fill in the following sections with explanations of what's gone wrong.

### Steps you follow to reproduce the error:

[code]

and this will marshal to json like this:

[code]

but when I send a request to server using :

[code]

this returns failed with message:

[code]

### What did you expect to happen instead:

it unmarshal message succesed.
I tried

[2019-10-14 07:43] #1061 closed

[2019-10-14 07:57] johanbrandhorst commented on #1063
This seems strange, I think the default unmarshaler should support both of these, so it should parse the string correctly. Have you tried manually using the marshaler with your text to see if that works?

[code]

[2019-10-14 08:12] johanbrandhorst commented on #1063
Nevermind, this is because of gogo protobuf's enum registration. You'll need to use the `goproto_registration` option for this to work. See https://jbrandhorst.com/post/gogoproto/.

[2019-10-14 08:12] #1063 closed

[2019-10-14 08:44] clearcodecn commented on #1063
@johanbrandhorst thanks a lot.

[2019-10-15 03:39] clearcodecn commented on #1063
let me repeated how I fixed this:

* update the latest `grpc-gateway` and `protoc-gen-grpc-gateway` `protoc-gen-swagger` binaries
* add follow code in my proto files:

[code]

* compile the protos(Makefile):
[code]

* add customer json marshaler in my grpc server:
[code]

[code]

that fixed.

[2019-10-17 01:23] movsb opened #1064 "handleForwardResponseOptions not called by DefaultHTTPError"
[handleForwardResponseOptions](https://github.com/grpc-ecosystem/grpc-gateway/blob/8115cdbcfe0a56abf367bbb9372a1dd2a7f2f8ab/runtime/handler.go#L158-L169) is called by both [ForwardResponseStream](https://github.com/grpc-ecosystem/grpc-gateway/blob/8115cdbcfe0a56abf367bbb9372a1dd2a7f2f8ab/runtime/handler.go#L37) and [ForwardResponseMessage](https://github.com/grpc-ecosystem/grpc-gateway/blob/8115cd

[2019-10-17 08:12] johanbrandhorst commented on #1064
Hm, yea this might be a reasonable proposal, but I don't think we can really change this without breaking users. Might have to be another one for the v2 dust heap :grimacing:.

[2019-10-17 14:09] movsb commented on #1064
If I'm the first one who filed this issue, maybe I can guess they don't use this feature yet? 😂 Otherwise, they must encounter this. @johanbrandhorst

[2019-10-17 14:11] johanbrandhorst commented on #1064
Nah, this feature is definitely used I'm afraid. I use it myself for many applications and never actually wanted this behaviour. I'm afraid you'll have to overwrite DefaultHTTPError with a function that does what you want :(.

[2019-10-17 14:45] johanbrandhorst commented on #1064
I'm hesitant to add more knobs when there is a work around and not a great deal of demand. Does it not work to just assign `runtime.HTTPError` to a function that calls your function and wraps `runtime.DefaultHTTPError`?

[2019-10-17 17:33] movsb commented on #1064
Thanks! It does work.

[code]

[2019-10-17 17:33] #1064 closed

[2019-10-17 22:23] ggilley opened #1065 "third_party/googleapis is missing from package"
I'm installing the latest packages. third_party/googleapis is missing from the package:

[code]

So I can't compile anything because it depends on those files existing:

[code]

[2019-10-18 06:24] johanbrandhorst commented on #1065
Define "latest package" here? Is this in your vendor folder or something?

[2019-10-18 20:59] ggilley commented on #1065
What I mean is, I follow the instructions:

[code]

And when I try to generate:

[code]

The /grpc-gateway/third_party/googleapis files do not exist.

[2019-10-20 10:57] johanbrandhorst commented on #1065
Yes these files are not tracked by go since they are proto files. The recommendation is to manually include them in your repository. Alternatively you can use bazel which solves most of this.

[2019-10-20 10:57] #1065 closed

[2019-10-20 16:08] ggilley commented on #1065
Okay, then the instructions on the website need to be corrected. They don't mention this step at all and I wasted a bunch of time trying to figure out what I was doing wrong.

Plus, I think it's a silly decision since you can't use the grpc-gateway without them. Just makes everything harder for no reason.

[2019-10-20 19:52] johanbrandhorst commented on #1065
I'm sorry that the instructions were lacking in this case, would you be interested in contributing some better instructions to help the next person? I'd be happy to help you get a PR in.

As for this being a "silly decision", it's unfortunately out of our hands, there's no way to track proto files with go modules. Maybe you know a better way?

[2019-10-21 01:02] ggilley commented on #1065
Okay, I didn't realize it was a technical limitation. I'll investigate.

[2019-10-21 04:34] winglq commented on #1015
I have confirmed query parameter is set correctly. So it seems only the swagger output is not working as expected.

[2019-10-21 08:47] johanbrandhorst commented on #1015
Hi @winglq, thanks for doing that investigation. What can I do to help you get a fix for this merged?

[2019-10-21 13:43] johnchildren opened #1066 "Nested message names can collide silently in swagger generation"
Generated swagger files can silently have name collisions between message names when messages are nested. For example:

[code]

Here you will _sometimes_ end up with a different definition of `FooBar` depending on how two go maps are presumably being unioned? For example:

[code]

Which contains a ref to the wrong field type. This behavior can happen across imports so if you have one nested messag

[2019-10-21 16:43] johanbrandhorst commented on #1066
This sounds incredibly annoying, sorry that this happened to you! Thanks for reporting it. Would you be interested in trying to fix this? I would accept something like a detection that gives an error at generate time, but ideally having some way to namespace the two would be best, of course.

[2019-10-21 16:50] johnchildren commented on #1066
Sure thing, I don't think I have successfully managed to make this completely reproducible, but I think a good first step would be trying to detect name clashes like this just for nested messages and emitting an error. Hopefully this should be reasonably easy to implement and easily testable enough and I can look at doing more if this does not adequately prevent this problem from happening again.

[2019-10-21 19:30] achew22 commented on #1066
To echo what Johan said, if there is anything we can do to help reproduce this, please don't hesitate to ask

[2019-10-22 16:40] johnchildren commented on #1066
Update: I've identified the file and line where the merge occurs, which is here: https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-swagger/genswagger/template.go#L351 .

There are a few other places where something similar happens but I suppose I need to categorize them into possible and impossible collisions based on the translation of protobuf to swagger semantics. It's possi

[2019-10-22 16:43] johanbrandhorst commented on #1066
For now we can check if it exists and just return and error. That should make this confusing behaviour impossible, though it obviously doesnt fix the namespacing issue.

[2019-10-22 17:09] johnchildren commented on #1066
That makes sense; and hopefully this isn't something most users will run into anyway as I've noticed the namespacing works a bit differently on newer releases than the one we were using before. This may mean that with this change any issues will be resolved.

Will take a look again and potentially submit a PR this evening.

[2019-10-23 22:07] zoidbergwill commented on #991
A flag for MinimumSet or using strings, so you can tell the difference between "0" and "" are hacks, but I guess would maybe work?

[2019-10-24 01:40] rafee commented on #422
This solved my issue by installing `libprotobuf-dev`

[2019-10-24 18:00] vctqs1 opened #1068 "grpc-ecosystem/grpc-gateway/third_party/googleapis: warning: directory does not exist."
ENV: MacOS

`protoc -I/usr/local/include -I. \
  -I$GOPATH/src \
  -I$GOPATH/src/github.com/grpc-ecosystem/grpc-gateway/third_party/googleapis \
  --go_out=plugins=grpc:pkg/api \
  api/*.proto`

ERROR:
`oogle/api/annotations.proto: File not found.`
`product.proto: Import "google/api/annotations.proto" was not found or had errors.`
`/Users/macbookpro/Go/src/github.com/grpc-ecosystem/grpc-gateway/th

[2019-10-24 18:01] johanbrandhorst commented on #1068
https://github.com/grpc-ecosystem/grpc-gateway/issues/1065#issuecomment-544241612

[2019-10-24 18:01] #1068 closed

[2019-10-24 18:06] vctqs1 commented on #1068
Can you give me example for this situation?. I'm new member.

[2019-10-24 18:08] johanbrandhorst commented on #1068
@vctqs1 I gave you a short answer because you ignored the helpful instructions in the issue template which ask you to come to the Gophers slack and ask for help if you're having problems getting started. This issue tracker is not useful for this kind of debugging and assistance.

In this case, maybe try starting with https://github.com/johanbrandhorst/grpc-gateway-boilerplate which has everything

[2019-10-24 18:25] vctqs1 commented on #1068
I installed it according to the instructions but this is still not effective
`go get -u github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway
go get -u github.com/grpc-ecosystem/grpc-gateway/protoc-gen-swagger
go get -u github.com/golang/protobuf/protoc-gen-go`

[2019-10-27 00:41] ailurarctos opened #1069 "protoc-gen-swagger: support generating a Swagger definition with no schemes"
It would be nice if `grpc-gateway` supported generating a Swagger definition with no `schemes` key. According to the [openapiv2 spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md) this means the following:

This is currently not possible because the [default schemes is `["http","https"]`](https://github.com/grpc-ecosystem/grpc-gateway/blob/c3787b4d95d15f4c89484b44e108a6

[2019-10-27 10:37] johanbrandhorst commented on #1069
Thanks for raising this, seems a reasonable suggestion. I think in this case it probably wouldn't be harmful to change the default from `["http", "https"]` to `[]`, since functionally it should mean, at worst, that we use `https` instead of `http` when the schema is served over `https`, right?

I think changing the default should be reasonably straightforward, but let me know if you need anymore p

[2019-10-27 22:11] ailurarctos commented on #1069
Changing the default to `[]` sounds good to me. This works nicely with the default for `host` (which is to leave it absent) since that means to use the host serving the Swagger definition.

There is a chance this could break existing users if they somehow rely on the `schemes` key being set to `["http", "https"]`. As you said if they serve the definition over HTTP or HTTPS then it's probably not a

[2019-10-27 22:30] johanbrandhorst commented on #1069
You have reminded me about a slight concern - what about code generators? The spec says to use the scheme which the schema is accessed on, but for generators that will likely be the file system itself. Could you maybe look into how a few popular static swagger API generators handle an empty scheme? If they all handle an empty scheme well then I think we can go ahead with that change.

[2019-10-28 09:22] ailurarctos commented on #1069
I'm not sure which code generators are the most popular but I'll try these and report back:

* https://github.com/swagger-api/swagger-codegen
* https://github.com/OpenAPITools/openapi-generator
* https://github.com/go-swagger/go-swagger

Let me know if I missed one you think is important.

[2019-10-28 09:27] johanbrandhorst commented on #1069
Those 3 sound perfect :+1:.

[2019-10-31 09:17] CosminaMusat commented on #685
Is this issue still existing?
I still can't use grpc-gateway for a pure Java project with Spring Boot?
My application (server-side) needs to be written in Java and we have to expose APi's both with gRPC and REST.
From what I understood so far is impossible to do this in a Spring Boot app?
Regards!

[2019-10-31 11:36] DieYoungWsn opened #1071 "EOF is received after one request"
Hi,
    After a normal HTTP request, the GRPC receives the EOF. Can't the gateway maintain a long connection to the gRPC？

   gateway code:
[code]

gRPC server code:
[code]

protobuf:
[code]

request and output:
[code]

gRPC server output:
[code]

[2019-10-31 12:32] johanbrandhorst commented on #1071
This is a misunderstanding of gRPC semantics. `io.EOF` is always returned at the succesful end of a streaming call. It doesn't imply that the underlying HTTP/2 connection is closed, just that the stream has ended. See https://www.grpc.io/docs/tutorials/basic/go/

[2019-10-31 12:32] #1071 closed

[2019-10-31 20:14] achew22 commented on #685
Please see earlier comments for how you might be able to achieve a similar result in Java. If you have specific concerns with this repo, please open a new issue and let's talk about them there.

[2019-11-01 18:09] someone1 opened #1073 "jfbrandhorst/grpc-gateway-build-env image can't run on Windows"
The `jfbrandhorst/grpc-gateway-build-env:1.13` image can't be pulled in a Windows docker environment:

[code]
And running it as described in the contributing doc from a linux environment errors with:

[code]

_Originally posted by @someone1 in https://github.com/grpc-ecosystem/grpc-gateway/pull/1072#issuecomment-548820266_

[2019-11-01 18:46] achew22 commented on #1073
@johanbrandhorst could I have you move this over to the other repo?

[2019-11-02 07:42] johanbrandhorst commented on #1073
The first error is because of a docker hub issue. I would like to move the image hosting to GitHub once the package registry is GA (13th of Nov AFAIK). The second error I'm not so sure about, but I will have a look when I have time.

@achew22 not sure what you mean by moving the image?

[2019-11-02 16:45] achew22 commented on #1073
Sorry, I was talking about the *issue* not the image. Words are hard. Please leave this until you're back and settled at home

[2019-11-02 23:45] ailurarctos commented on #1069
I tested the code generators. All of them were able to generate code when loading a definition having no `schemes` from the filesystem.

* Swagger Codegen (2.4.9) - The generator will default to HTTPS. This is different from when `schemes` is `["http","https"]` (it will choose HTTP).
* OpenAPI Generator (4.1.3) - The generator will default to HTTP. This is the same as when `schemes` is `["http","h

[2019-11-03 01:42] johanbrandhorst commented on #1069
The go-swagger behaviour is somewhat concerning, since it's unsafe by default. This may be something we can raise with the go-swagger project though and shouldn't be a blocker for this change. I'm still happy for us to change the default, since it shouldn't, according to the spec, imply unsafe by default. Let me know if you need any help with the pull request. Could we raise an issue with the go-s

[2019-11-03 21:11] johanbrandhorst commented on #1073
I've re-pushed the 1.13 image, and it should now be pullable: https://hub.docker.com/r/jfbrandhorst/grpc-gateway-build-env/tags.

I've opened a PR to fix the generation instructions: https://github.com/grpc-ecosystem/grpc-gateway/pull/1074. This should fix the issue. Thanks for the report @someone1. Let me know if you still have issues.

[2019-11-03 21:22] #1073 closed

[2019-11-04 00:14] ailurarctos commented on #1069
Thanks @johanbrandhorst! I made a pull request. Let me know if I missed something or need to change anything.

Sure! I'll make an issue and reference this one from it.

[2019-11-04 00:28] ivucica commented on #1031
We should leave it open

[2019-11-04 13:58] judavi commented on #727
@vtolstov thanks!! your example helped me to solve an issue!!

[2019-11-04 16:04] #1069 closed

[2019-11-05 11:03] johanbrandhorst commented on #1034
I think this was fixed :thinking:

[2019-11-05 11:03] #1034 closed

[2019-11-06 14:34] mheBobAllison opened #1079 "Unable to create HTTP mapping with "/parent""
### Steps you follow to reproduce the error:

Create the following proto file:
[code]

Run protoc to generate the swagger for the service, observe the following panic:

[code]

### What did you expect to happen instead:

Creation of the apidocs file

### What's your theory on why it isn't working:

The regexp object `canRegexp` does not differentiate between `parent` and `{parent}`, returning `par

[2019-11-06 14:35] mheBobAllison commented on #1079
Tagging @ch3rub1m

[2019-11-06 14:37] johanbrandhorst commented on #1079
This was fixed by #1078.

[2019-11-06 14:37] #1079 closed

[2019-11-06 14:38] johanbrandhorst commented on #1079
Thanks for the report @mheBobAllison

[2019-11-08 12:08] tete17 commented on #585
I wouldn't mind giving a try myself if https://github.com/grpc-ecosystem/grpc-gateway/pull/1059 is not planning to add it.

As long as I can maybe get a bit of a support from @achew22 as he volunteer before to offer help

[2019-11-08 12:27] johanbrandhorst commented on #585
Hi @tete17. We'd be happy to help you get this in. Most of the code changes would be in and around https://github.com/grpc-ecosystem/grpc-gateway/tree/master/protoc-gen-swagger/genswagger. You can see how other fields are implemented here: https://github.com/grpc-ecosystem/grpc-gateway/blob/f7120437bb4f6c71f7f5076ad65a45310de2c009/protoc-gen-swagger/genswagger/types.go#L57.

[2019-11-08 13:06] #676 closed

[2019-11-08 16:09] achew22 commented on #585
I'm also happy to help out.If you have any questions, please mention me and I'll do what I can

[2019-11-10 12:21] ya0yy opened #1081 "How do I load balance call grpc service?"

[2019-11-10 15:34] johanbrandhorst commented on #1081
Hi @ya0yy. This question isn't directly relevant to the grpc-gateway project, so I'm going to close it. Please take a look at the grpc documentation for more information on load balancing options: https://grpc.io/docs/ https://grpc.io/blog/loadbalancing/

[2019-11-10 15:34] #1081 closed

[2019-11-10 17:33] ya0yy commented on #1081
thanks reply, but I mean http request to grpc-gateway, grpc-gateway load balance for call grpc service, as look like a client lb

[2019-11-10 18:16] johanbrandhorst commented on #1081
Normally the grpc-gateway is colocated with the gRPC server it exposes, but it is of course possible to specify the same sort of load balancing options as with any other gRPC client. In any case, this is not a question for the grpc-gateway project. You can specify gRPC DialOptions to the gateway generated code.

[2019-11-10 20:12] tete17 commented on #585
Ok after a couple of days of investigating I think I have a better idea of what is required to achieve this.

I also think it is a bit more complicated than what I initially expected.
Looking at the generated code of one of the examples https://github.com/grpc-ecosystem/grpc-gateway/blob/f7120437bb4f6c71f7f5076ad65a45310de2c009/examples/proto/examplepb/echo_service.swagger.json#L458
Whenever there

[2019-11-11 09:16] johanbrandhorst commented on #585
Every time :joy:.

Not sure about this.

If we're auto-generating the discriminator object from oneof declarations, we shouldn't need to expose it to the user (e.g., add it here). At least not for a first pass.

Maybe you could share some code and we could gauge whats left?

[2019-11-11 13:33] kubaj commented on #405
Do we have a workaround for this? I think that the issue OP addressed hasn't been resolved. I would like to hide the implementation details from the user. For example, a message like this exposes unnecessary information:
[code]

[2019-11-11 14:14] johanbrandhorst commented on #405
Our documentation site contains from more details on how to customize your error handling: https://grpc-ecosystem.github.io/grpc-gateway/docs/customizingyourgateway.html. Join us in #grpc-gateway on gophers slack if you need more help.

[2019-11-12 15:41] vtolstov opened #1083 "extract protoc-gen-swagger to separate repo"
can you extract protoc-gen-swagger to separate repo ?
I think that in this case contributors can easy adopt it and also able to move forward to openapi v3

[2019-11-13 09:07] brocaar opened #1084 "protoc-gen-swagger: json_names_for_fields=true does not respect json_name for path parameters"
I'm using the `json_names_for_fields=true` option and am seeing inconsistent results, specifically between the URL parameter names and the names in the request / response bodies. Example:

[code]

I believe this is because the fieldnames in the request / response body are get using the `f.GetJsonName()` (e.g. https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-swagger/genswagger/

[2019-11-13 12:53] johanbrandhorst commented on #1083
Hi Vasiliy, thanks for the suggestion. I think we're hesitant to do this without a good reason, what is it that you think is holding back contributors right now?

[2019-11-13 13:09] johanbrandhorst commented on #1084
Thanks for the report @brocaar, as you surmise this is because of a complex interaction between the two different parsers we have, the URL path/query parameter parser and the JSON content parser. It's not an easy fix unfortunately, as you'll need to build the JSON options into the URL path and query parameter parsing.

[2019-11-13 13:28] brocaar commented on #1084
Thanks for the quick response @johanbrandhorst . Please note that this only seems to affect the path parameters, I believe the query parameters are named as expected and do respect the `json_name`.

I'm not 100% familiar all the internal logic, I would need to dive in deeper. However, the code does generate:

[code]

Since it is able to read the description from the Protobuf file, wouldn't that me

[2019-11-13 13:54] johanbrandhorst commented on #1084
Try it :). I don't know what issues you might run into.

[2019-11-13 22:58] xin-au commented on #1084
@brocaar , Thanks for pointing it out! I will look into the code.

[2019-11-13 23:04] vtolstov commented on #1083
main thing that stops me - i think about generator that it parses proto description, fills the some go structs and run marshal json on it. but protoc-gen-swagger uses another approach...
also it tightly connected to grpc-gateway, but i'm not need grpc-gateway and want to have path parameters in streaming requests..

[2019-11-14 06:20] xin-au commented on #1084
@brocaar , @johanbrandhorst , just created a PR for this: https://github.com/grpc-ecosystem/grpc-gateway/pull/1085

[2019-11-14 09:37] johanbrandhorst commented on #1083
Sounds like there's space for an alternative protoc-gen-openapi implementation then. Our swagger generator will probably always be tightly coupled to our handlers.

[2019-11-14 09:37] #1083 closed

[2019-11-14 09:40] #1084 closed

[2019-11-14 14:47] vtolstov commented on #1083
yeah, thanks

[2019-11-14 19:49] #966 closed

[2019-11-16 00:50] #1037 closed

[2019-11-18 23:21] JugrajSripalJain commented on #441
is this done, if not, do we have any ETA?

[2019-11-19 11:47] socketpair opened #1086 "Strictly define inter-JSON separator"
First, I want to use GRPC gateway to access etcd watching functionality. Namely, https://github.com/etcd-io/etcd/blob/master/Documentation/dev-guide/api_grpc_gateway.md#watch-keys .

But I don't have any specifications on how should I separate JSONs in the response stream since it is not documented anywhere.

Basically I have 3 ways:

1. HTTP chunk = message
This fails at least in Fedora 31 on hig

[2019-11-19 15:20] johanbrandhorst commented on #1086
Should this not be raised with etcd? The gRPC-gateway has a configurable marshaler, which can implement a `Delimiter` interface to specify what delimiter to use. See https://github.com/grpc-ecosystem/grpc-gateway/blob/master/runtime/marshaler.go#L44.

[2019-11-19 16:44] ivucica commented on #441
I am not doing this myself and I have not seen activity on #1059. @JugrajSripalJain, you can review my comments there and see if they align with the way you'd like to implement this.

[2019-11-19 17:26] zachgersh commented on #441
It's not done and no ETA as of yet. I put this down for a bit as other work jumped my queue. We do plan to come back to this some point in Q1 next year but I'd be happy to see someone else grab it if they have time now.

[2019-11-19 23:21] scottshotgg commented on #168
So this is still open (has been for awhile) yet a good solution has been provided, and reasonable support/need has been shown for this feature. Will it be merged or should I go another route and use @tmc implementation?

[2019-11-22 09:59] npuichigo commented on #958
@theRealWardo Sorry to bother you. Has this feature already been supported with streaming httpbody?

[2019-11-22 10:23] johanbrandhorst commented on #958
I don't think this is supported.

[2019-11-22 17:14] theRealWardo commented on #958
so my fork does do this - https://github.com/theRealWardo/grpc-gateway/compare/07b39baf50b9eba1a2328e64d28d2fe78bf24fb0...theRealWardo:master

disclaimer: its been a while since I tried to rebase that code on top of master so... your mileage may vary with all of this.

the custom marshaller I wrote `HttpBodyMarshaler` detects the `HttpBody` message and handles it appropriately. in a way this is "s

[2019-11-22 20:59] johanbrandhorst commented on #958
Ah cool. Maybe we could add an example to the docs?

[2019-11-24 06:14] npuichigo commented on #958
@theRealWardo Do you still work on merging your code to master branch?

[2019-11-25 06:51] npuichigo commented on #958
@johanbrandhorst I was intended to merge the solution from @theRealWardo to the master branch and it seems to work. But the ContentType interface of Mashaler is not compatible.
[code]
When we use google.api.HttpBody, we need to set the correct content type according grpc response, but here we need to fix the type string.

[2019-11-25 07:52] npuichigo opened #1087 "How to replace a response forwarder?"
The doc of [replace-a-response-forwarder-per-method](https://github.com/grpc-ecosystem/grpc-gateway/blob/ee3ef70b7777cde4e61e4e224cb11e92beecee6a/docs/_docs/customizingyourgateway.md#replace-a-response-forwarder-per-method) is not very clear.

We cannot directly access the `forward_MyService_Checkout_0` variable outside the generated gw file. If we modify the gw file directly, it will break the au

[2019-11-25 08:46] npuichigo commented on #958
@johanbrandhorst When will an interface param be added to the ContentType() function of Marshal interface so as to fit HttpBody message better. (set the content type with proper grpc response)

[2019-11-25 09:23] johanbrandhorst commented on #1087
You can access `forward_MyService_Checkout_0` by dropping a file into the same _package_ as the generated file. That's what the example show - how to overwrite the handler for a specific method directly by overwriting the variable. So all you need to do is dropping a file like the example one into the same folder as the generated file and it should work. Does that make it clear? How could we make

[2019-11-25 09:25] johanbrandhorst commented on #958
I think the existing httpbody marshaller supports this? https://github.com/grpc-ecosystem/grpc-gateway/blob/master/runtime/marshal_httpbodyproto.go#L29

[2019-11-25 09:41] npuichigo commented on #1087
Thanks for your reply, and now it's clear to me. I'll consider refining the docs if I have any time.

[2019-11-26 14:26] cyantarek opened #1089 "How can I set route level "Bearer" Security in Swagger?"
This is not a bug reports. But I find it little bit awkward to implement more Swagger features by digging into the Swagger proto files included with protoc-gen-swagger, as I could not find documentation on how to use more advanced features of swagger with grpc-gateway.

Anyway, after digging, much, I could not find any way to setup route level "Bearer" security.

Here's an example swagger.json fil

[2019-11-26 17:02] johanbrandhorst commented on #1089
Hi @cyantarek, thanks for the question. I thought we had an example for this, but it turns out we don't have one specifically for bearer auth, however, I know from experience that the following file-wide configuration should work:

[code]

This enables in-header authentication on all routes, and you can overwrite it for a specific route like so (I think, untested):
[code]

I don't think there's an

[2019-11-26 17:20] cyantarek commented on #1089
Hi,

Thanks for the info.

I'm working on the grpc gateway swagger in one of my projects. And yeah, I want to make a documentation how I'm doing. Can you please tell me where can I put the README.md file?

[2019-11-26 17:32] johanbrandhorst commented on #1089
This sort of thing could go in https://github.com/grpc-ecosystem/grpc-gateway/blob/master/docs/_docs/customizingyourgateway.md, or maybe a new file. You can see what these files look like right now here: https://grpc-ecosystem.github.io/grpc-gateway/docs/customizingyourgateway.html

[2019-11-26 18:07] cyantarek commented on #1089
After following your this recipe:

[code]

I'm getting this error
`Option field "(grpc.gateway.protoc_gen_swagger.options.openapiv2_swagger)" is not a field or extension of message "MethodOptions"`

[2019-11-27 09:13] johanbrandhorst commented on #1089
Yeah, you're right, change `grpc.gateway.protoc_gen_swagger.options.openapiv2_swagger` to `grpc.gateway.protoc_gen_swagger.options.openapiv2_operation`. Does that work?

[2019-11-27 09:13] johanbrandhorst commented on #968
Flipping stale bot giving me lip

[2019-11-27 12:44] cyantarek commented on #1089
Yeah, that works great. Thanks!

[2019-11-27 12:45] johanbrandhorst commented on #1089
That's great! Would you be willing to add some docs around this in a PR?

[2019-11-27 12:54] cyantarek commented on #1089
Sure, I'll add very soon!

[2019-12-02 04:57] AlirezaHaghshenas commented on #713
@lei314121077  How did you solve your problem?

[2019-12-02 04:59] achew22 commented on #713
@AlirezaHaghshenas if you're having problems, please feel free to open another issue describing the issues you're having, and the steps you've already attempted to overcome your issues. Thanks!

[2019-12-02 07:00] adithya66 opened #1090 "protoc-gen-swagger: should use json_name values for generating properties in swagger doc"
# The gRPC-Gateway project is maintained by volunteers in their spare time. Please follow these troubleshooting steps before submitting an issue.

- [x] Check if your issue has already been reported (https://github.com/grpc-ecosystem/grpc-gateway/issues).
- [x] Update your protoc to the [latest version](https://github.com/google/protobuf/releases).
- [x] Update your copy of the `grpc-gateway` libr

[2019-12-02 07:11] #1090 closed

[2019-12-04 13:03] leonbloy opened #1092 "genswagger fails on Ubuntu on Windows (WSL): value of type genswagger.alias is not assignable to type genswagger.alias"
I cannot make genswagger work on Ubuntu 18 on Windows (WSL1)

My setup:

[code]
I'm using protoc 3.0.0 from Ubuntu package `protobuf-compiler   3.0.0-9.1ubuntu1  amd64 `
The same happens if I replace the binary (and the include files) from latest version 3.11.1

Tested with this `sample.proto` file

[code]

Generation works ok

`$ protoc --go_out=. sample.proto`

But the swagger generation fails s

[2019-12-04 13:23] johanbrandhorst commented on #1092
Can you try upgrading your Go version? We only support Go 1.12 and 1.13 (those supported by the Go team).

[2019-12-04 13:24] johanbrandhorst commented on #1092
Also, I would recommend using the standard Go compiler, not `gccgo`. It can be installed from https://golang.org/dl/.

[2019-12-05 15:30] pbarker opened #1093 "Feature request: protoc-gen-swagger pluggable validation"
Our team makes heave use of https://github.com/envoyproxy/protoc-gen-validate and would like a way for those validations to end up in the swagger spec so we don't need to define them twice.

[2019-12-05 17:30] johanbrandhorst commented on #1093
Hi Patrick! Thanks for your feature request. I'm not sure there's a clean way to do this in the swagger generator, as it would require it to import the `protoc-gen-validate` definitions, which isn't necessarily something we'll want to do.

Is it correct that you _are_ able to do this at the moment but it requires you to add annotations both for `protoc-gen-validate` and `protoc-gen-swagger`?

[2019-12-05 17:33] pbarker commented on #1093
Hey Johan, thanks for getting back. It does work by adding the annotations twice its just terribly sloppy in the proto code to do so. I'm wondering if there is some way to have the validation be pluggable to other validation libraries?

[2019-12-05 17:49] johanbrandhorst commented on #1093
There isn't any obvious way that I can think of right now, unfortunately. We can keep this open in case anyone has a good idea of how to do it.

[2019-12-05 17:51] pbarker commented on #1093
what about just going all in on protoc-gen-validate? It's well supported and then you get the validation on the proto end. I can't think of a scenario where you would want to validate the REST and not the proto

[2019-12-06 05:49] achew22 commented on #1093
Could you elaborate a bit on what you mean by "going all in"?

One way of approaching this to me would be to rewrite `protoc-gen-swagger` in `protoc-gen-star`. If you did that you could load both modules into the `protoc-gen-star` system, but then I have a big questionmark on the flowchart of how to proceed. I don't think there is a system in `protoc-gen-star` for modules to intercommunicate. Mayb

[2019-12-06 09:04] johanbrandhorst commented on #1093
The main concern for me is how we can integrate this with the existing generator without adding a dependency on `protoc-gen-validate`'s proto definitions. It'd need to be done as some sort of plugin to maintain the independence of this project. I don't know of any such dynamic protoc plugins, so I think we'd have to break new ground.

The best solution for your use case may be to fork our swagger

[2019-12-06 19:28] pbarker commented on #1093
I think the grpc ecosystem would greatly benefit from solving this in cohesive manner. I don't think this problem is going away and anyone using validation with the gateway would have the same issue.

I would propose supporting `protoc-gen-validate` options as input to `protoc-gen-swagger` and possibly deprecate the `protoc-gen-swagger` validation options over time.

From a end-user perspective th

[2019-12-06 19:58] johanbrandhorst commented on #1093
This would be a much less contentious issue if `protoc-gen-validate` _was_ officially recognised, or there was an official validation solution. I suspect that is never going to happen, because of the consequences for backwards and forwards compatibility. Even considering that, `protoc-gen-validate` isn't even the only solution in the community, there's also https://github.com/mwitkow/go-proto-vali

[2019-12-06 20:13] achew22 commented on #1093
Unfortunately, I think I have to agree with @johanbrandhorst on this. Unless Google decides to bless one of the validators as the "official" validator we are unlikely to adopt it in here. That said, if you were to write a generator that emitted the message validation definitions in swagger's format you would be able to use a tool like `jq` to merge the two together to pretty good effect.

[2019-12-06 20:24] pbarker commented on #1093
wow really? So because google doesn't support it we're going to make people write the validations twice? And in what world does someone have REST validations and not gRPC ones? How does that even work?

I think we could pretty simply support the validators as people need them. Start with `protoc-gen-validate` and then if people want another validator supported they could write it. If its a concern

[2019-12-06 20:33] vtolstov commented on #1093
i' need something like you, but this project tightly linked with capabilities of other packages in repo, so you can't generate swagger for path variable in streaming request for example. Also swagger only 2.0 and absence of validators.  But i don't have much man power to write this from scratch based on protoc-gen-star or protoc-gen-gotemplate now

[2019-12-06 20:42] achew22 commented on #1093
@pbarker, we are a set of volunteers that are building what we need. Other volunteers are welcome to build what they need. If this is insufficient, I have a contracting rate and my email is in many commits on this repo. Hit me up if you need this and we can talk about what it will take to get it done.

[2019-12-06 20:58] pbarker commented on #1093
There are plenty of resources on our team to work on this, I'm more just looking to see if this would be allowed to be fixed in the upstream. We really don't want to keep a fork going and we also really don't want to write all of our validations twice ¯\_(ツ)_/¯

[2019-12-06 22:34] johanbrandhorst commented on #1093
I'd be happy with a solution that doesn't require this repo to depend on protoc-gen-validate. If we can somehow add some pluggability to the swagger generator it would be fine. It would probably be easiest for you to fork the generator though.

[2019-12-08 01:13] prestonvanloon opened #1094 "Cannot generate swagger with generated protobuf"
### Steps you follow to reproduce the error:

- Clone example: `git clone git@github.com:prestonvanloon/grpc-gateway.git`
- Checkout branch `git checkout genrule-failure`
- Build `bazel build //examples/proto/examplepb:examplepb_protoc_gen_swagger`

[code]

### What did you expect to happen instead:

It works

### What's your theory on why it isn't working:

I think something is wrong with the inc

[2019-12-08 02:33] prestonvanloon commented on #1094
This feels like it has something to do with protobuf virtual imports. I think its fine for bazel clients before v1.

I added a quick hack and was able to get the json files to build, but in the wrong place.

[code]

This produces the following error:

[code]

This file was created under `bazel-out/k8-fastbuild/bin` as expected from the code, but not expected from bazel / starlark for some reason i

[2019-12-08 02:41] prestonvanloon commented on #1094
Another update, I was able to hack this target together with the following patch.

[code]
This, of course, is not a sustainable solution because it will not work for other targets. However, it does outline a resolution path for virtual imports.

[2019-12-08 04:07] achew22 commented on #1094
Ultimately I believe that [`rules_proto`](https://github.com/bazelbuild/rules_proto) is going to be our savior here. It's kind of silly that we are writing this at all when we should be able to just create a toolchain and plug into their ecosystem. Something like `proto_lang_toolchain`.

Due to that, I'm happy to accept hacks if you think that we can get a few months of use out of the hack.

[2019-12-09 04:35] lookbackagain commented on #422
At window10, '/usr/local/include/' shoud replace with wath your download protobuf path

[2019-12-09 16:51] Yannic commented on #1094
There were some sharp edges in proto rules that got fixed in Bazel 1.0 (e.g., generated files may have been not under `ProtoLibrary#proto_source_root`). We'll provide guidance for Protobuf rules and `rules_proto` in the next couple of months :).

I've seen the issue above before (it's actually pretty common because the path of proto files changed recently; IIRC, gRPC also had it), so let me compil

[2019-12-11 01:18] winglq commented on #1015
Hi @johanbrandhorst sorry for the late response. I think fix the protoc-gen-swagger bug would be helpful as it will give us a correct swagger api defination. But it's ok to low it's priority because I'm using it in a side project.
Thanks.

[2019-12-11 07:17] leeyongda opened #1096 "protoc-gen-swagger gen unsupport http post in query, only support http get in query?"

[2019-12-11 10:07] johanbrandhorst commented on #1096
Please reach out via the slack channel for this kind of support.

[2019-12-11 10:07] #1096 closed

[2019-12-11 14:39] leonbloy commented on #1092
Problem solved after removing gccgo (I actually removed all go packages and reinstalled golang-go)

Currently working with golang-1.10-go

[2019-12-11 16:19] johanbrandhorst commented on #1092
Good to hear :+1:

[2019-12-11 16:19] #1092 closed

[2019-12-13 19:44] xin-au opened #1097 "Generate java grpc gateway code."
Wondering is there a plan for generating a java grpc gateway code? If not, is it worth to do it? CC: @johanbrandhorst

[2019-12-13 21:02] achew22 commented on #1097
No, there is no plan to do that. There are other projects on GitHub that claim to do that for Java in various frameworks, but since I've not used any of them I do not want to endorse them. If you find one you truly love, feel free to comment on this issue to tell us how it went.

[2019-12-13 21:02] #1097 closed

[2019-12-13 22:04] xin-au commented on #1097
@achew22 , got it. Thanks for the info!

[2019-12-14 08:12] cyantarek opened #1098 "Remove "error" field from errors."
[code]

Here ([link](https://github.com/grpc-ecosystem/grpc-gateway/blob/3c06998610d4d2edea99d12228b1f6ea2d943ce4/runtime/errors.go#L109))

The Error and Message both field got s.Message(), I think it's not clean to duplicate the same thing. I don't know if there's any special intention behind it.

Please let us know. Thanks.

[2019-12-16 09:20] johanbrandhorst commented on #1098
Hi @cyantarek. The `message` field was added in https://github.com/grpc-ecosystem/grpc-gateway/pull/718 to make the error output of the gRPC-Gateway consistent with the Google RPC Status definitions JSON representation: https://github.com/googleapis/googleapis/blob/master/google/rpc/status.proto#L80. Unfortunately, because we already had `error` defined in our responses, we couldn't remove it with

[2019-12-16 17:08] cyantarek opened #1100 "Any example or doc of sending large data from Postman (json) to the server using client side streaming?"
Hello,

I want to send a very large string to the server. Instead of sending it once, I thought to send it through client side streaming. So my protobuf looks like kind of this one:

[code]

Now I want to send the request with large string inside a json through Postman using Client Side Streaming. How can I do this? I can not find any examples in the repo and I don't know how to achieve what I wan

[2019-12-16 17:15] johanbrandhorst commented on #1100
Hi @cyantarek. Unfortunately client side streaming isn't supported by browsers or many HTTP clients. I don't know how to use Postman for this. You can however use this in the gateway. See https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples/proto/examplepb/stream.pb.gw.go#L36 for a generated code implementation, and https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples

[2019-12-16 17:16] johanbrandhorst commented on #1100
https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples/integration/integration_test.go#L446 this shows a test example of this.

[2019-12-16 17:17] #1100 closed

[2019-12-16 17:25] cyantarek commented on #1100
Thanks for super quick response. I like your dedication Johan Brandhorst. I'll definitely check out.

[2019-12-16 21:50] #1094 closed

[2019-12-16 22:06] Yannic opened #1101 "grpc-gateway is incompatible with --incompatible_load_proto_rules_from_bzl"
Hello maintainers of grpc-gateway 👋,

The Bazel team is in progress of migrating the native Protobuf rules to Starlark. As a first step towards this goal, starting with Bazel 3.0, all Protobuf rules will require explicit load statements.

You can use the following [buildifier](https://github.com/bazelbuild/buildtools/tree/master/buildifier) command to apply most of the required migrations for you:

[2019-12-20 16:56] #1101 closed

[2019-12-27 17:04] nonpcnpc opened #1104 "protoc-gen-swagger: support multiple files"
I have multiple services that I want to compose under single server and I want to have single swagger definition instead of each individual service having its own. Is there a way to generate single swagger schema from multiple services?

[2019-12-27 19:21] johanbrandhorst commented on #1104
Hi! We currently don't support this with protoc-gen-swagger but I imagine you could do it with a tool like `jq`. This has been requested before as a feature, so if you're interested in implementing it we'd be happy to review it!

[2019-12-27 19:24] nonpcnpc commented on #1104
ok, thanks for the info. in the end, i think i will use separate schemas...something like this http://swagger-net-test-multiapiversions.azurewebsites.net/swagger/ui/index

[2019-12-27 19:24] #1104 closed

[2020-01-02 06:19] liov opened #1105 "The metadata of local_request function's return is always nil"
[code]

[2020-01-02 06:24] achew22 commented on #1105
Unfortunately there is no enough information in this issue to determine what you think is wrong nor how we would go about fixing it. In the future, please use the issue template. If you would like to fill in the issue template and reopen I'm also receptive to that.

[2020-01-02 06:24] #1105 closed

[2020-01-02 18:03] rushtehrani commented on #168
Is there a plan to pull @tmc's implementation into upstream or is there another way to support streaming for web clients that I'm not aware of?

[2020-01-02 22:25] johanbrandhorst commented on #168
This hasn't been looked at in a while, but it should still be usable as a third party wrapper if you want to use websockets for bi-directional communications. Note that you can already do client side and server side streaming with vanilla grpc-gateway. What are you trying to do? Maybe join #grpc-gateway on gophers slack and we can discuss.

[2020-01-03 13:40] mangatmodi opened #1106 "protoc_gen_swagger: Why `protobufListValue` type is represented as object?"
I am using the latest version of grpc-gateway(1.12.1). I have a proto message with field of type `google.protobuf.ListValue`. protoc-gen-swagger was added support for `struct.proto` types - https://github.com/grpc-ecosystem/grpc-gateway/pull/990

However, it generates the following swagger model

[code]

But this seems wrong as `ListValue` (as written in comment) is an array. Is there a reason we

[2020-01-03 14:45] johanbrandhorst commented on #1106
Hi! This might make sense - I think I made the original change and I wasn't sure what to do with some of them. If you'd like to submit a PR we can take a look!

[2020-01-07 10:30] mangatmodi commented on #1106
@johanbrandhorst So when I ran locally from this repo, the swagger generation was perfect. I found an issue in my own build process where I was not able to update the dependency.

However, I will raise a PR with an example of struct values in `examples/proto/examplepb`

[2020-01-07 10:30] #1106 closed

[2020-01-08 03:36] liov opened #1107 "Why is metadataAnnotators not []func(metadata.MD, *http.Request)"
I don't think
[code]
 is better than
[code]

[2020-01-08 05:09] achew22 commented on #1107
Unfortunately there is no enough information in this issue to determine what you think is wrong nor how we would go about fixing it. In the future, please use the issue template. If you would like to fill in the issue template and reopen I'm also receptive to that.

[2020-01-08 05:09] #1107 closed

[2020-01-09 02:51] v3n opened #1108 "Support query param unmarshalling to a map with a slice value-type"
grpc-gateway has an [odd restriction](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/runtime/query.go#L142) on query parameters with map types. Specifically, it refuses to unmarshal a map type whether the value type is a string slice, such as `map[string][]string`.

grpc-gateway makes the assumption that the underlying Go type is authoritative for it's representation in query parameter

[2020-01-09 22:03] johanbrandhorst commented on #1108
Hi Jonathan! Thanks for raising this issue. I think what you're saying makes sense, and we'd love to have this functionality in the gateway. Something to consider is how to describe this behaviour for our swagger generator. Is this supported by the swagger spec?

[2020-01-10 22:45] v3n commented on #1108
Hey Johan. I believe this is supported in Swagger 2.0 via `collectionType: multi`. Though, it's a bit of a hack because I don't think Swagger 2.0 technically supports maps in query params at all (it assumes that `foo[bar]` _is_ the parameter, not key `bar` in `foo`.

 In Swagger 3.0, this would be supported via the deepCollection format, which supports objects in query params natively.

[2020-01-11 19:51] johanbrandhorst commented on #1108
That's unfortunate, and we'll have to think of what to put in the swagger definition for these types. I assume the case isn't handled at the moment. It shouldn't be a blocker for implementing this, of course, so if you're interested in doing this I'd be happy to review the the PR. Do you need anything more from me?

[2020-01-14 03:43] v3n commented on #1108
I don't think so, other than the following questions.

Do we consider it acceptable for grpc-gateway to consider a 'flattened map' to be a struct given the condition:

The elements of the struct must exactly match:
[code]

This would be the wire-format that matches the native map structure, so I'm fairly comfortable with the 'stability' of this approach.

---

In the alternative, also frequently-u

[2020-01-14 03:52] gaoshanyu commented on #422
Does any one meet the same error on macOS? I've installed `protobuf` via `brew install protobuf` already.

[code]

[2020-01-14 04:01] gaoshanyu commented on #422
Still get this error after upgrade protobuf.

[code]

[2020-01-14 07:42] npuichigo commented on #492
any updates? quite a good feature to support

[2020-01-14 11:48] johanbrandhorst commented on #1108
This sounds correct, but I'm not entirely sure I understand the question. IIUC correctly you're saying we should consider these two formats equivalent? If so, yes. It should be easier for me to comment on an example but I think we're in agreement.

The second option sounds like a good starting point. The first is what we have now, I guess 😅.

I'm excited to see this work continue, please let me kn

[2020-01-14 11:55] johanbrandhorst commented on #422
Hi, this isn't an issue with the gRPC-gateway, so please try to find help elsewhere. The error implies that you have an incorrect protobuf installation. Perhaps raise the issue with the package maintainers?

[2020-01-14 11:57] johanbrandhorst commented on #492
I don't think there's been any work on this recently unfortunately, but if you'd like to see this feature in the gateway, please feel free to have a go at implementing it. My advice above is still relevant.

[2020-01-15 00:01] v3n commented on #1108
Awesome, that gives me enough information to start.

To clarify, for the first example, we assume that we can unmarshal as a map when the following conditions are met:
- The property is repeated (go slice).
- The number of fields in the slice value type slice is 2.
- The protobuf fields are `key` and `value`.

Will get coding, cheers!

[2020-01-16 12:53] seanlaff opened #1109 "Streaming responses are put in `x-stream-definitions` rather than `/components/schema`, which tools do not support"
The gateway wraps streaming responses in a "result" object
[code]

In the generated swagger json, these intermediary wrappers are put into `/x-stream-definitions`. It was decided to put them there because there could potentially be a name conflict by putting them into `/components/schema` (see https://github.com/grpc-ecosystem/grpc-gateway/pull/850)

However, it's uncommon for codegen tools to hav

[2020-01-16 13:29] johanbrandhorst commented on #1109
Hi Sean, thanks for raising this discussion. Do these tools natively support any sort of streaming results? It wouldn't be worth moving these if it didn't actually add capabilities.

[2020-01-16 16:27] seanlaff commented on #1109
Hey @johanbrandhorst the grpc-gateway correctly turns streams into json in a usable way and we want to leverage this in our clients. Protoc-gen-swagger generates the necessary types as mentioned in #850, however since they end up in a custom field, downstream code-generating tools cannot generate valid types since they only look in well-known locations.

We've given this problem a little more thou

[2020-01-16 17:19] johanbrandhorst commented on #1109
The inline solution looks great to me, I'd be happy to accept that contribution.

[2020-01-17 08:26] v3n commented on #1108
@johanbrandhorst are the proto definitions in runtime/query_test.go generated from any proto files?

I'm getting some bizarre errors from just adding a new field to proto3Message without any other changes and I think it's because it's a message type that's not properly registered or generated anywhere.

Any advice on this? I'm not too familiar with writing a Go representation of a proto message by

[2020-01-17 08:43] v3n commented on #1108
Here's the error I'm getting:

[code]

[2020-01-17 10:39] shumintao opened #1111 "all SubConns are in TransientFailure, latest connection error: connection error: desc = \"transport: Error while dialing dial tcp [::1]:50051: connect: connection refused\""
Hope someone can solve it

[2020-01-17 14:09] inge4pres commented on #383
Isn't it working as expected?

[code]

generates `service.pb.gw.go` and `service.swagger.json` in the current directory, while setting a different directory, it generates the expected tree under that folder.

[2020-01-17 14:30] johanbrandhorst commented on #1111
This is an environment problem. It's a generic error that happens when you're dialling the wrong port on your computer. This is not the right forum for this sort of debugging, please join #grpc-gateway on Gophers slack for assistance.

[2020-01-17 14:30] #1111 closed

[2020-01-17 14:40] johanbrandhorst commented on #1108
@v3n looks like something causes the string formatting to panic?

[2020-01-17 14:41] johanbrandhorst commented on #1108
In general, we have the `generate` job which generates all the files. We check those generated files into the repo. If you are adding a new proto file that we need to generate, it should be at `generate` time, not test time. In practice, this means adding it to `make examples`: https://github.com/grpc-ecosystem/grpc-gateway/blob/master/.circleci/config.yml#L33.

[2020-01-17 14:42] johanbrandhorst commented on #1108
See https://github.com/grpc-ecosystem/grpc-gateway/tree/master/.circleci#i-want-to-regenerate-the-files-after-making-changes for an easy way to test this locally.

[2020-01-17 22:10] v3n commented on #1108
Oh I see, I implemented it in Bazel. I'll flip it over to use the generate jobs.

The PR has the flattened map case implemented, probably not ready for merge as I want to do some cleaning up and add better test cases. I'm going to work on the map with repeated fields inside message value this weekend.

[2020-01-18 11:33] #1109 closed

[2020-01-18 14:57] seanlaff opened #1113 "Gateway does not parse oneof types correctly when using camelCase"
Enums like

[code]

will not be parsed correctly through the gateway with the `camelCase` flag. `project_id` succeeds but `projectId` does not.

The issue looks to be here :
https://github.com/grpc-ecosystem/grpc-gateway/blob/7f57073b1543f1b5a5077437aa57b92b6cfc04a6/runtime/query.go#L120-L128

There's a map of `oneof`s that we loop over, however they key of the map is the name with the underscore,

[2020-01-18 17:25] johanbrandhorst commented on #1113
Nice find. Have you looked at implementing a fix? I would be happy to review it.

[2020-01-19 01:26] #1113 closed

[2020-01-19 16:39] jgiles opened #1117 "protoc-gen-swagger: Support Response-specific examples"
Swagger 2.0 supports specifying a per-mimetype response example for a given operation:

https://github.com/OAI/OpenAPI-Specification/blob/3.0.0/versions/2.0.md#responseObject
https://github.com/OAI/OpenAPI-Specification/blob/3.0.0/versions/2.0.md#exampleObject

This allows displaying a per-operation example for a given response schema, typically overriding any example specified on the response sch

[2020-01-19 17:06] johanbrandhorst commented on #1117
This SGTM, I guess we have to copy the values verbatim into the output swagger definition. Would you be interested in implementing this?

[2020-01-19 17:13] jgiles commented on #1117
I would like to, though history suggests I should be skeptical of my availability to do so (see https://github.com/grpc-ecosystem/grpc-gateway/issues/888, https://github.com/grpc-ecosystem/grpc-gateway/issues/877 ). I may be able to get this one prioritized though because it's harder than those to temporarily patch over using jq-based post-processing.

I expect this would be a pretty simple case o

[2020-01-19 17:29] jgiles commented on #1117
The only thing I might like to discuss before launching into implementation is whether we should simplify the input to be `application/json` specific. While technically the Swagger spec has a map of MIME type to response example string, it seems like the grpc-gateway case would be overwhelmingly `application/json`, and using a field specific to that like

[code]

would simplify applications of the

[2020-01-19 21:03] johanbrandhorst commented on #1117
I invite @ivucica to this discussion, he has more opinions/knowledge than I in this area specifically, but I think we want to keep the mapping between the swagger proto spec and the swagger 2.0 as 1:1 as possible, and adding a field `json_example` that doesn't exist in the swagger spec would be contrary to this aim. Furthermore, while the grpc-gateway supports `application/json` straight out of th

[2020-01-19 21:03] johanbrandhorst commented on #1117
I invite @ivucica to this discussion, he has more opinions/knowledge than I in this area specifically, but I think we want to keep the mapping between the swagger proto spec and the swagger 2.0 as 1:1 as possible, and adding a field `json_example` that doesn't exist in the swagger spec would be contrary to this aim. Furthermore, while the grpc-gateway supports `application/json` straight out of th

[2020-01-19 21:06] johanbrandhorst commented on #1117
I invite @ivucica to this discussion, he has more opinions/knowledge than I in this area specifically, but I think we want to keep the mapping between the swagger proto spec and the swagger 2.0 as 1:1 as possible, and adding a field `json_example` that doesn't exist in the swagger spec would be contrary to this aim. Furthermore, while the grpc-gateway supports `application/json` straight out of th

[2020-01-20 11:33] jgiles commented on #1117
Agreed, the clarity value of maintaining direct correspondence with the Swagger standard probably does win out here.

It would be nice if text-format protobuf allowed writing maps more succinctly (for this and applications), but that is out of scope here and we shouldn't try to work around it in the message definitions.

`map<string, string> examples` it is.

[2020-01-21 19:47] DenisGlot opened #1119 "protoc-gen-swagger: Support for repeated custom message in url params"
I'm trying to use pagination with gRPC like this
[code]
but the `sort` doesn't get generated. PR with support for map not merged yet...
What are the options?

[2020-01-21 23:35] johanbrandhorst commented on #1119
Could perhaps use specific types for the fields you want to order? Do you need to support more than one field order at a time?

[2020-01-22 05:43] DenisGlot commented on #1119
Yeah, I need to support more than one field in one query for sorting. What do you mean by `specific types`?

[2020-01-22 08:19] johanbrandhorst commented on #1119
`AgeOrder`, `NameOrder`... the more specific you can make it the safer it will be to consume your API. More dynamic = less guarantees.

[2020-01-22 13:37] johanbrandhorst commented on #968
Still flaky: https://circleci.com/gh/grpc-ecosystem/grpc-gateway/5222

[2020-01-25 11:12] #1119 closed

[2020-01-25 16:06] #1086 closed

[2020-01-25 17:43] seanlaff opened #1122 "Generated spec missing grpc errors"
The gateway has an error object which any rpc can return- however it doesn't end up in the generated swagger/openapi.

https://github.com/grpc-ecosystem/grpc-gateway/blob/2da5bfafe05e07c9401137126e55eb0ca4f76472/runtime/errors.go#L68-L76

OpenAPI's pattern for something like this is to include it as the `default` case.
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#resp

[2020-01-25 18:35] seanlaff commented on #1122
If we wanted to be a little more specific maybe we can use the status code range syntax that the spec defines, i.e `5XX`, although I think thats a little less common.

[2020-01-26 16:44] johanbrandhorst commented on #1122
Hi Sean!

To be pedantic, we only support swagger 2, but happily the `default` field of the `responses` object is a thing [in 2.0 as well](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#responsesObject), so no worries!

This makes great sense to me, and shouldn't break any existing users. I'd be happy to review this if you have spare cycles to contribute this. I'm not sur

[2020-01-26 19:59] #1089 closed

[2020-01-27 15:21] torkelrogstad opened #1123 "Feature request: Access to more information about JSON parsing errors"
Consider this snippet:

[code]

Now, if you send a request `POST /some/path { "field": "string" }`, we end up with a error that says `json: cannot unmarshal string into Go value of type map[string]json.RawMessage`. It's not possible to see the name of the field that failed parsing. This is also the case for other parsing failure, for example converting between date times, numbers and strings. It w

[2020-01-27 15:34] achew22 commented on #1123
@torkelrogstad, sorry about that. We definitely know that the default marshaller for `jsonpb` leaves a lot to be desired. We import that from the go implementation of protobuf. This means the code isn't in this repo, but instead is in another castle (frowning toad emoji).

On the plus side, the issue is [being tracked](https://github.com/golang/protobuf/issues/266) by the protobuf team. On the min

[2020-01-28 10:08] torkelrogstad commented on #1123
Thanks for clarifying how this works. I took a stab at making the unmarshaler configurable: https://github.com/torkelrogstad/grpc-gateway/commit/7e55a52bed32fa691f9b020b91453d8401948050. The downside of that approach would be that setting the unmarshaler would be package-level operation. That could be avoided though, with a different implementation. I did it this way as a proof of concept.

With t

[2020-01-29 16:19] ivanovaleksey commented on #229
Hi, as far as I can see the issue is still present?

[2020-01-29 16:22] johanbrandhorst commented on #229
It is still an issue. Would you be interested in contributing a fix?

[2020-01-29 16:28] ivanovaleksey commented on #229
Yes, I am interested though I am very newbie in dealing with proto files and definitions.
I looked at #647, there is no very much code there. I wonder is it still actual :)

[2020-01-29 16:44] ivanovaleksey commented on #754
@johanbrandhorst I have faced with the similar issue. Maybe over the time you have some thoughts about it?

[2020-01-31 17:06] johanbrandhorst commented on #229
I think that should be a good start, but we will need permission from @Mistobaan if we want to merge that code verbatim.

[2020-01-31 17:08] johanbrandhorst commented on #754
I think @wora made good points about this feature request. We certainly cannot include type checks for any gogoproto types. I am going to close this feature request as rejected.

[2020-01-31 17:08] #754 closed

[2020-01-31 19:55] johanbrandhorst commented on #1123
Thanks for the POC, what would be better than wrapping the status is to make use of the optional "details" perhaps? Feel free to submit a PR that allows the unmarshaler to me configured.

[2020-02-01 20:27] jgiles commented on #1117
Hey @johanbrandhorst, I put up a PR for this: https://github.com/grpc-ecosystem/grpc-gateway/pull/1124

[2020-02-02 14:18] jgiles opened #1125 "swagger: Prefix used in nested-field GET params does not respect json_names_for_fields"
### Steps you follow to reproduce the error:

1. Create proto structure like this:

[code]

2. Run protoc-gen-swagger with `json_names_for_fields=true`
3. Observe generated Swagger parameter list like

[code]

### What did you expect to happen instead:

The GET parameter should be `createdAt.after`.

### What's your theory on why it isn't working:

Prefix assembly uses `field.GetName()` without ch

[2020-02-02 14:36] jgiles commented on #1125
@johanbrandhorst I went ahead and put up https://github.com/grpc-ecosystem/grpc-gateway/pull/1126 for this (with a test case).

[2020-02-02 15:56] #1125 closed

[2020-02-03 07:39] #1117 closed

[2020-02-04 15:11] torkelrogstad commented on #1123
I'll take a look at that. Before I delve too deep into the rabbit hole: should I define a new message in a `.proto` file and compile that to Go, or is there something standardized I could use?

[2020-02-04 15:18] johanbrandhorst commented on #1123
The error details is an array of type `any.Any`, so you can put anything you like in there, though it is considered best practice (AFAIK) to use one of the types from the `errdetails` proto ([proto file](https://github.com/googleapis/googleapis/blob/master/google/rpc/error_details.proto), [generated go package](https://github.com/google/go-genproto/tree/master/googleapis/rpc/errdetails/error_detai

[2020-02-07 14:41] Dasio commented on #201
Any way how to to avoid redundant fields in message, when it's already defined in path? Talking about swagger definition.

[2020-02-07 14:44] johanbrandhorst commented on #201
No, this is a bug in the swagger generator. Fields in the path should be excluded from the body when `*` is used. See https://github.com/grpc-ecosystem/grpc-gateway/blob/master/third_party/googleapis/google/api/http.proto#L151-L153. Would you be interested in fixing this?

[2020-02-07 15:45] Dasio commented on #201
I was looking in to it.
1.) Not sure how to properly test it, how to run it local? I can see -file parameter, but I dont know how to get input for it
2.) Also not sure how to do it. There are messages generated 1:1 to proto file. And then this model is referenced from body.

[code]
[code]
I can't remove id from `IdRequest` because it could be used elsewhere without path.

[2020-02-07 15:50] johanbrandhorst commented on #201
I think we have to use the existing tests: https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-swagger/genswagger/template_test.go

As to the problem of the type, yes, indeed, that is unfortunate. Maybe the best thing to do is to define a new type for the requests that take some parameters in the path and some in the body?

[2020-02-10 12:46] wp0pw opened #1128 "Support for custom query parameters parsers"
Hello, currently generated code handles query parameters by calling
`runtime.PopulateQueryParameters(&protoReq, req.Form, filters)` and that works great but I'm currently trying to proto some deeply nested messages and I don't want to expose that complexity to the external users - would you be interested in making this more configurable - akin to the model used for Marshalers?

Unless there is a w

[2020-02-10 13:12] johanbrandhorst commented on #1128
If we can find a nice way to integrate this without changing existing users it might be possible yeah. I'm weary of giving any promises until I've seen the damage but I'm optimistic that if it's not too heavy weight we could merge it :). I know there have been some discussion around alternative query parsers in the past too.

[2020-02-10 13:20] wp0pw commented on #1128
Great. By not changing existing users - do you mean the generated code being the same? I was thinking about going the `runtime.ServerMuxOption` and hving this information on the mux so we would get the specific `PopulateQueryParameters` instance from mux in the Handler, does that sound plausible?

I may not know all the usecases however, so may be long way off here. I can give it a quick stab in c

[2020-02-10 14:31] johanbrandhorst commented on #1128
No, I mean that whatever is the default now must remain the default in the future so existing users upgrading don't have their query parameter parsing changed.

[2020-02-10 20:20] #1122 closed

[2020-02-12 17:41] connyay commented on #754
This feature is mentioned in the changelog. Should probably be removed?

[2020-02-13 09:48] johanbrandhorst commented on #754
The changelog is generated so changing it manually will just be reset next time we generate it. I'll update the release notes though.

[2020-02-17 09:25] utrack opened #1136 "registry: descriptor.Field.FieldMessage is never set"
Hi! While fixing a bug in github.com/utrack/clay I've noticed that bindings' [Body.FieldPath[].Target.FieldMessage](https://github.com/grpc-ecosystem/grpc-gateway/blob/a73f992ba916778e4277a13d24bb29aeee290511/protoc-gen-grpc-gateway/descriptor/types.go#L219) is always nil.

I don't see any references to `FieldMessage` in grpc-gateway@v1.12.1, so I don't believe there are any bugs related to it, so

[2020-02-17 09:41] johanbrandhorst commented on #1136
Looks like this was added by our very own @achew22, so I'll let him speak for its use. I personally don't think I understand the utility. Maybe you could share what your interpretation is?

[2020-02-17 11:18] utrack commented on #1136
Well, since `Field` is a rich `FieldDescriptorMessage` it feels like it should do what rich [Message](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-grpc-gateway/descriptor/types.go#L60) does for `FieldDescriptorProto` :)
It's handy to be able to get Go types for fields and access all the extended methods.

Right now I'm trying to go through the fields of a binding and scan

[2020-02-17 11:38] SimonSikstrom opened #1137 "read_only not working with references."
So I want to be able to define messages in other messages as `read_only` fields when generating openapi doc, however, that does not seem possible at the moment.

Given example:

[code]

It will output something like this:

[code]

The `readOnly` field is set correctly but according to swagger docs:

* https://swagger.io/docs/specification/using-ref/

So its not reading and listing this property as

[2020-02-17 12:11] johanbrandhorst commented on #1136
I don't see why we couldn't add the support, so please, do feel free to submit a PR.

[2020-02-17 12:14] johanbrandhorst commented on #1137
Hey @SimonSikstrom, thanks for the detailed issue report! Your analysis sounds reasonable, and also your proposed solution. Would you be interested in contributing this fix?

[2020-02-17 12:53] SimonSikstrom commented on #1137
Thanks for the quick response! Sure I could have a look and see if this is something I could solve in a reasonable timeframe. I'll link upcoming PR when I have something ready.

[2020-02-17 19:16] achew22 commented on #1136
Almost certainly, that was created in a fit of copy-pasting. If the value if of use to you, it shouldn't be too hard to plumb it, but I seem to have forgotten and no one noticed. Given the age of that line of code (4+ years) without anyone commenting on it till now, my vote is that we remove so people don't depend on it.

[2020-02-24 12:17] wp0pw commented on #1128
@johanbrandhorst sorry for radio silence, was quite busy - I've create pr with the changes - #1138
let me know what you think.

[2020-02-25 07:35] zxgm opened #1139 "Is grpc-gateway a stateless application?"
Is grpc-gateway a stateless application?Is grpc-gateway easy to scale? How to support stateful service requests if it is a stateless application？

[2020-02-25 08:26] johanbrandhorst commented on #1139
The gateway is stateless, and you can usually just deploy them 1:1 with your backend deployments, or even build it into your application like most of the examples do. Stateful requests have to be handled by the backing gRPC server implementation, it's no different from other proxies in that matter.

Please field more questions like this on the official support chat, see the link in the issue templ

[2020-02-25 08:26] #1139 closed

[2020-02-25 15:47] #1128 closed

[2020-02-26 17:00] jgiles commented on #1122
@johanbrandhorst I think that adding this default to all responses without a config option is a bit aggressive - for example, we have a custom error handler that translates an internal error details message into an RFC7807 https://tools.ietf.org/html/rfc7807 response for our REST clients.

[2020-02-26 17:02] johanbrandhorst commented on #1122
Argh, I did know this would be incorrect for those with custom error handlers, but I figured it was better than nothing. I agree it should be possible to turn this off... I'll add something.

[2020-02-26 17:40] johanbrandhorst commented on #1122
https://github.com/grpc-ecosystem/grpc-gateway/pull/1141

[2020-02-29 16:27] jgiles commented on #201
We recently identified this issue in our generated Swagger docs, and I'm interested in contributing a fix.

The safest option seems to be generating an inline schema definition for the request body, with all the fields from the proto request message *other* than those captured by path parameters (see https://swagger.io/docs/specification/2-0/describing-request-body/ ). Defining a named schema for

[2020-02-29 17:05] jgiles opened #1143 "cannot use multiple different error handlers in one gateway binary"
Fill in the following sections with explanations of what's gone wrong.

### Steps you follow to reproduce the error:

1. Create ServeMux without a custom error handler. Register it to handle prefix "/v1"
2. Create a ServeMux with a custom error handler using `runtime.WithProtoErrorHandler`. Register it to handle prefix "/v2".
3. Make calls resulting in errors to a mix of v1 and v2 endpoints.

Obse

[2020-02-29 17:12] jgiles commented on #1143
I guess a less-breaking alternative patch would be to modify DefaultHTTPError to look and see if there is a configured protoErrorHandler (and stop overwriting HTTPError when configuring protoErrorHandler). Then the current generated code continues to operate.

[2020-02-29 17:25] jgiles commented on #1143
Actually, that would lead to trouble if someone tried to explicitly configure DefaultHTTPError as the proto error handler. It also means clients can't use `HTTPError` a custom "global fallback" error handler.

We could initialize `HTTPError = muxOrGlobalErrorHandler`, retain the current `DefaultErrorHandler`, and set `var GlobalErrorHandler = DefaultErrorHandler`. That would make the current gener

[2020-02-29 19:34] johanbrandhorst commented on #201
That sounds perfect! Please take a look if you can find the time.

[2020-02-29 19:36] johanbrandhorst commented on #1143
The latter option sounds good to me, please put together a PR if you can find the time.

[2020-03-01 21:49] #1143 closed

[2020-03-03 10:02] strobil opened #1147 "Feature request: support of go protocol buffer v2"
Hello!
Do you plan to migrate to this new [protobuf-go](https://github.com/protocolbuffers/protobuf-go) module?

Thank you.

[2020-03-03 10:25] johanbrandhorst commented on #1147
We haven't looked at the consequences yet, but I think we may want to stay on `golang/protobuf@v1.4.0` when it comes out, rather than making a slightly breaking change and move to the new import. We'll see what our users need.

[2020-03-03 10:43] catper opened #1148 "google.api.http option not picked up/mapped correctly?"
The proxy doesn't generate HTTP bindings as expected when using an annotation like this:
[code]
According to the first example in Google's [http.proto](https://github.com/googleapis/googleapis/blob/master/google/api/http.proto) this should map to

`GET /v1/accounts/123456`

with 123456 being assigned to the `name` field of `Account`. However, attempting to curl the above results in a 404 being ret

[2020-03-03 10:46] johanbrandhorst commented on #1148
Hi, thanks for the issue report.

To be clear, I think the first example says that the value `accounts/123456` should be set to the field `name` of `Account`, correct?

We are talking about this line, right? https://github.com/googleapis/googleapis/blob/master/google/api/http.proto#L88.

As for the gateways handling of this, I would definitely expect this to work. Do you have a minimally reproduci

[2020-03-03 10:48] catper commented on #1148
Correct, sorry for being unclear.

Will be back with a mini example.

[2020-03-03 13:24] catper commented on #1148
turns out this is just me getting my wires crossed vis a vis which ports lead where. am now quietly going to recede into a corner in shame.

kudos on the super quick feedback though, that's impressive!

[2020-03-03 13:24] #1148 closed

[2020-03-03 13:41] johanbrandhorst commented on #1148
Glad it worked out, and thanks for using the project! Join the #grpc-gateway channel on the Gophers slack for even quicker feedback next time :smile:.

[2020-03-04 12:14] bandikishores opened #1149 "Swagger Codegen With Multiple Additional Bindings is resulting in missing Documentation"
In a proto if we define a service with 2 rpc's, both having an `additional_bindings` then only the last `additional_bindings` is being honored while generating swagger documentation. The other rpc's additional bindings are totally missing.

[code]

The corresponding Swagger generated contains only one Alternative Binding (`StreamUser2` is present, binding for `DeleteUser2` is missing).

[code]

Sa

[2020-03-04 12:51] utrack commented on #1136
Sorry, just remembered about that issue.

What should be the proper semantic meaning for `Field.Message`?
Right now if I have a binding of `foo.bar.baz.qux`, both `foo.Message`, `bar.Message`, ... are pointing to `qux.Message` -
i.e. there's no way to get `foo`'s `Message` when looping through `[]Field`.
Is it a bug or a feature? :)

If it's not a bug and no one else needs it then `FieldMessage` c

[2020-03-04 13:56] bandikishores commented on #1149
This issue was because both the bindings had the same option & path. Closing the issue.

[2020-03-04 13:56] #1149 closed

[2020-03-05 00:47] flyandi opened #1154 "1.14.0 breaks existing pipelines"
The latest 1.14 update has moved many previous accessible API's behind closed doors which in our case fails our entire auto-gen-swagger pipeline and can't ship anything without removing any modules using your dependencies.

We use a probably very widely used module - https://github.com/elliots/protoc-gen-twirp_swagger

This move is creating a lot of headache for many people even those API's were n

[2020-03-05 09:05] johanbrandhorst commented on #1154
Hi, thanks for raising this issue. We knew the change might break some users, so sorry about that. I hope you can appreciate why we took the steps we did.

It looks like that module imports `protoc-gen-grpc-gateway/descriptor` and `protoc-gen-grpc-gateway/generator`. I'll move those back into the public API. Let me know if I missed any.

You mention checking the dependency tree in GitHub, what do

[2020-03-05 09:15] johanbrandhorst commented on #1154
I've opened https://github.com/grpc-ecosystem/grpc-gateway/pull/1155, could you verify that this fixes your issue please? Let me know if you need any other packages moved.

[2020-03-05 10:21] johanbrandhorst commented on #1154
I've released 1.14.1 with this change. Please confirm it is fixed.

[2020-03-05 11:20] archanabs19 opened #1157 "Path parameters visible in the body of the request"
Request
Method: POST
![image](https://user-images.githubusercontent.com/61829554/75977004-7d4c9b80-5f01-11ea-897b-b9563756b810.png)

The input has been defined as a path parameter. Yet, its visible as a part of the request.

[2020-03-05 11:25] johanbrandhorst commented on #1157
Duplicate of #201

[2020-03-05 11:25] #1157 closed

[2020-03-05 11:27] johanbrandhorst opened #1158 "Using golang/protobuf v1.4.0-rc.3 locks up generators"
For some reason, building the gateway and swagger generator with the new protobuf release is causing a lockup at generation time.

[2020-03-05 11:27] archanabs19 opened #1159 "Enum string values not supported by grpc gateway"
Request:
![image](https://user-images.githubusercontent.com/61829554/75977285-1085d100-5f02-11ea-8e56-7197d949d145.png)
Response is "unknown value \"DIFF\" for enum mode"
 gRPC Gateway is accepting only int values but protoc-gen-swagger is sending string values. Ideally, gRPC Gateway will accept both string and int values of an enum.

[2020-03-05 11:41] johanbrandhorst commented on #1159
This happens if you configured your JSON marshaler to parse enums as ints. By default it should parse strings. See https://github.com/grpc-ecosystem/grpc-gateway/blob/master/runtime/marshaler_registry.go#L16. You can use a custom marshaller to support both strings and enums.

Please join the grpc-gateway support channel on Gophers slack for this sort of debugging.

[2020-03-05 11:41] #1159 closed

[2020-03-05 17:39] flyandi commented on #1154
Thank you so much. We are in good shape again.

[2020-03-05 22:57] #1154 closed

[2020-03-08 09:25] utrack opened #1161 "1.14.x breaks clay"
Hi! After 1.14.0's internalization [protoc-gen-goclay](https://github.com/utrack/clay) is broken in a same way #1154 was - it depends on [genswagger](https://github.com/grpc-ecosystem/grpc-gateway/tree/master/protoc-gen-swagger/internal/genswagger) package, which was moved behind internal/.

Is there any way to retrieve `[]byte` of a Swagger definition without invoking `genswagger` directly?

I'm

[2020-03-08 09:43] utrack opened #1162 "Swagger definition is broken if there's no default error response set"
Introduced by #1127 , refs [utrack/clay#81](https://github.com/utrack/clay/issues/81)

Right now gen-swagger generates broken Swagger def if there's no `.grpc.gateway.runtime.Error` set ([lookup code](https://github.com/grpc-ecosystem/grpc-gateway/pull/1127/files#diff-d419038d63db0fdabc61f0d6cc6683aeR1051)).
Every handler has a link to error definition as "default" response, even if `Error` was no

[2020-03-09 10:25] johanbrandhorst commented on #1161
Hi, sorry about breaking your build. I'll move it back into the public namespace and release 1.14.2.

What do you mean by this? It translates proto options to a swagger file, in some case our internal options. I don't know how generic it can really be made.

[2020-03-09 11:59] johanbrandhorst commented on #1162
Hm, don't think I meant to close this.

[2020-03-09 11:59] #1161 closed

[2020-03-09 12:05] johanbrandhorst commented on #1162
@utrack I'd be happy to accept a PR that fixes this, and please include a minimal test example that reproduces the error so we can verify that it fixes the issue.

I thought the error was always linked in, so I'm curious how this happened.

[2020-03-10 11:53] adithya66 opened #1167 "Swagger doc generation got stuck for infinite time if a message refers itself."
message FilterNode {
    string Data = 1;
    FilterNode Left = 2;
    FilterNode Right = 3;
}

for this message it is not working.

[2020-03-10 14:09] utrack commented on #1161
Thank you, that works perfectly :)

Ah, I didn't account for options defined by grpc-gateway.
Without them, `google.api.http` and protobuf-to-JSON schema should work the same for all languages.

[2020-03-10 21:01] johanbrandhorst commented on #1167
Hi Adithya, thanks for the bug report! Would you be interested in fixing this? A first step would be to create a test that reproduces the error, which you're well on your way to doing already! You can try and copy something like https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-swagger/genswagger/template_test.go#L974-L1093 into a new function that specifies this message struct

[2020-03-11 08:39] karel-3d commented on #1154
@flyandi the tests are still broken, they depend on `github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway/httprule` (also mentioned by someone in the original thread)

[2020-03-11 09:10] karel-3d opened #1168 "Missing httprule breaks our module"
Missing httprule in 1.14 breaks our module.

Now I see there are only a few modules on whole github that use it. One is our module here

https://github.com/gunk/gunk/blob/af47d12e8be68589435b002f60f291f380aa7ef4/docgen/parser/parser.go#L14

we generate documentation from GRPC definition and this is a bit useful.

Other use I can find is here

https://github.com/elliots/protoc-gen-twirp_swagger/blo

[2020-03-11 09:15] johanbrandhorst commented on #1168
Hi Karel, thanks for raising this issue, I'll move `httprule` back into the public API.

[2020-03-11 09:36] #1168 closed

[2020-03-11 10:07] archanabs19 commented on #1159
EnumsAsInts value is not set. So, by default, its taking string itself. Still, its unable to parse.

[2020-03-11 10:10] johanbrandhorst commented on #1159
Sorry to be brusque but I think this is a misconfiguration issue. Maybe you could join the support channel (#grpc-gateway) on Gophers slack (https://invite.slack.golangbridge.org/) and I can help you there.

[2020-03-11 10:12] archanabs19 opened #1171 "Enum string values not supported by grpc gateway"
Request:
![image](https://user-images.githubusercontent.com/61829554/76405851-cd6aa880-63ae-11ea-8e34-d035e39f5329.png)
Response is "unknown value "DIFF" for enum mode"
gRPC Gateway is accepting only int values but protoc-gen-swagger is sending string values. Ideally, gRPC Gateway will accept both string and int values of an enum.

PS: Haven't configured the JSON marshaler to parse enums as ints.

[2020-03-11 10:13] #1171 closed

[2020-03-11 12:42] george-oakling opened #1172 "Implement go report card"
This tool has a great overview of fmt/vet/error checking of public repos, even with badge, and the comments about code quality are highly relevant. Check it out here:

https://goreportcard.com/report/github.com/grpc-ecosystem/grpc-gateway

[2020-03-11 14:47] #1162 closed

[2020-03-11 14:52] johanbrandhorst commented on #1172
Great idea, maybe you could make a PR to add it to our badges?

[2020-03-12 08:42] johanbrandhorst commented on #1158
This is fixed in golang/protobuf 1.4.0-rc.4

[2020-03-12 08:42] #1158 closed

[2020-03-13 09:36] adithya66 commented on #1167
Once you introduce such kind of message in protobuf, Generation itself went into infinite loop, so it not possible to write test case.

[2020-03-13 17:32] coolyrat opened #1173 "protoc-gen-swagger: lost comment when merging proto files"
![image](https://user-images.githubusercontent.com/1881159/76645386-de284380-6593-11ea-86a0-a92dd53a57ad.png)

![image](https://user-images.githubusercontent.com/1881159/76645099-3ad72e80-6593-11ea-850e-f1806bb3971b.png)

[test case](https://github.com/coolyrat/grpc-gateway-merge-test)

[2020-03-13 20:42] deefstes commented on #517
I don't think a requirement to provide HTTP/REST codes when responding on HTTP/REST and gRPC codes when responding on gRPC could really be described as "much more than just mapping gRPC onto HTTP/REST".

I've had this requirement more than just once or twice but even so, I can still not think of a better option that the grpc-gateway. I would be disappointed if a simple requirement like this is rea

[2020-03-13 20:59] johanbrandhorst commented on #1167
That doesn't sound right, I'm sure `protoc-gen-go` is normally able to handle recursive messages. Do you mean `protoc-gen-swagger`?

[2020-03-13 21:01] johanbrandhorst commented on #1173
Probably related to https://github.com/grpc-ecosystem/grpc-gateway/issues/746. Would you be interested in contributing a fix for this?

[2020-03-13 21:04] johanbrandhorst commented on #517
Is it possible to do this with a custom `ResponseForwarder` today? Could be flagged on some metadata value perhaps.

[2020-03-14 19:36] andrascz opened #1175 "protoc-gen-grpc-gateway should warn or fail if a selector does not exist"
### Steps you follow to reproduce the error:

1.  specify a service config with a selector which does not exist (mistype rpc service name)
2.  generate gateway code
3.  generation does not fail, but ignores the endpoint with a not matched selector

### What did you expect to happen instead:

Generation fails or at least warns me about a non-matched selector

### What's your theory on why it isn't

[2020-03-14 21:45] johanbrandhorst commented on #1175
Hi, thanks for the bug report! I take it this affects the yaml configuration only?

Would you be interested in adding this capability?

[2020-03-14 22:26] andrascz commented on #1175
I assume this can not happen when you annotate the proto file, as you define the binding directly on the rpc of your choice.
But probably the swagger generator should behave the same way.

I can raise a PR although first I need to familiarize myself with the code a bit.

[2020-03-15 13:44] coolyrat commented on #1173
#1174

[2020-03-15 14:03] coolyrat opened #1176 "protoc-gen-swagger: an unwanted period in the query parameter comments"
Whenever protoc-gen-swagger generates a query parameter, there will have an unwanted period in the end of the comment.  See here for the full [use case](https://github.com/coolyrat/grpc-gateway-merge-test)

[code]

[code]

I think is related to this line of code.
https://github.com/grpc-ecosystem/grpc-gateway/blob/d1093dfe831a1910372435673ff1b4aa3bf776b2/protoc-gen-swagger/genswagger/template.go#L

[2020-03-15 15:51] vtolstov commented on #585
any chance to get this done?

[2020-03-15 17:13] achew22 commented on #585
There definitely is, @vtolstov. What do you need in order to give it a try with @tete17's design?

[2020-03-16 12:09] johanbrandhorst commented on #1176
Maybe we can detect when the `Description` is empty and skip the dot?

[2020-03-16 12:28] andrascz commented on #1175
I have a working patchset at https://github.com/Strivacity/grpc-gateway/tree/error-on-unbound-rules-or-methods, as soon as I solved the CLA issue I will raise a PR.
Currently our company is dealing with transitioning to home office because of COVID-19 so processes a bit slower than usual.

[2020-03-16 12:31] johanbrandhorst commented on #1175
Thanks, no rush from our side, stay safe :slightly_smiling_face:.

[2020-03-17 08:14] rowe0x opened #1177 "protoc-gen-swagger: support outputting enum parameters as integers"
grpc gateway support EnumsAsInts, however grpc swagger has not this option

[2020-03-17 08:30] johanbrandhorst commented on #1177
Hi, thanks for the issue report! This would be a really useful feature, I imagine we could implement it as a flag to protoc-gen-swagger. Would you like to help contribute this feature?

[2020-03-17 10:38] adithya66 commented on #1167
Yes, protoc-gen-swagger.

[2020-03-17 10:43] johanbrandhorst commented on #1167
Can you create a minimal reproducible example of this error?

[2020-03-17 15:10] adithya66 commented on #1167
no, we cannot.

[2020-03-18 00:00] #1175 closed

[2020-03-18 13:57] zvnt commented on #441
hi, is there any news about this feature?

[2020-03-18 13:58] glebmachine commented on #441
Looking forwards OAS3 support, could you share your current plans about?

[2020-03-18 14:05] johanbrandhorst commented on #441
I think this is on ice again unfortunately. If someone would like to pick this up please let me know.

[2020-03-18 21:07] raffis opened #1179 "Support for custom routing taken from request parameters"
### Description
I would like to have the possibility to route a request with the same verb and path to different grpc methods. This could be done by configuring additional values in an optional option for the gateway in the protobuf specs.

example proto spec:
[code]

### Current situation

A request to the endpoint is handled by the first matching rcp method which is `Get()` in the given example.

[2020-03-18 22:44] johanbrandhorst commented on #1179
Hi, thanks for opening the discussion. Before we go too far into potential implementations, I'd like to explore how much of this we could solve with existing tools. Did you try to do anything with the custom marshaler/forwardresponseoption I mentioned?

[2020-03-19 06:22] Xuyuanp commented on #517
I just find a way to do this.
[code]

[2020-03-19 10:17] johanbrandhorst commented on #517
Nice, that's exactly what I was hoping. I'd recommend removing the header from the metadata as well before returning.