[2021-08-28 02:11] johanbrandhorst commented on #2308
There's no plan to implement this. The implementation avoids the use of gRPC altogether already. If you want to add middleware-like functionality to this, you can wrap the `mux` in any `http.Handler` type middleware before serving it.

[2021-08-28 02:16] johanbrandhorst commented on #2301
Curiously, the tests run just fine on my machine. I wonder if this is perhaps a windows thing 🤷🏻? I'm happy to hear that your interest in the project is leading you to learn about Go 🤗. Anyway, would you like to open this branch as a PR and we can take it from there?

[2021-08-28 12:10] alperengozeten commented on #2301
Thank you, that was the issue, I'm running on a Windows machine. I just opened a PR, #2310. Thanks again.

[2021-08-28 16:43] #2189 closed

[2021-08-28 16:43] #2173 closed

[2021-08-28 16:43] #2183 closed

[2021-08-30 02:16] majorinche opened #2312 "support forward proxy"
dear support,
    Can we support forward proxy in the grpc-gateway, like in linux, we do it like
setting "export http_proxy=xxx", and then curl some website directly.

and how to configure this proxy?

thanks
majorin

[2021-08-30 06:16] #2308 closed

[2021-08-30 12:21] brumhard commented on #2302
Sure I'll be happy to look into this 👍

[2021-08-30 14:54] momom-i commented on #917
Thank you very much for your kind instruction. It helped me a lot.
I'm not too confident but I intend to complete test so would you check that before moving on?

[2021-08-30 17:28] rohilsurana opened #2316 "publish `protoc-gen-grpc-gateway` and `protoc-gen-openapiv2` plugins to Buf schema registry"
## 🚀 Feature

Publishing the plugins `protoc-gen-grpc-gateway` and `protoc-gen-openapiv2` would enable the ability to use these for [remote generation](https://docs.buf.build/bsr/remote-generation/overview) of go packages on the [Buf Schema registry](https://buf.build/), simplifying the development workflow.

Along with this we can also provide a [template](https://docs.buf.build/bsr/remote-genera

[2021-08-30 18:21] johanbrandhorst commented on #2316
Hi, thanks for the issue! This could greatly simplify the simplest of use cases. Note that we already have an org and repository: https://buf.build/grpc-ecosystem/grpc-gateway. We would host these under the same parent org.

[2021-08-30 18:26] rohilsurana commented on #2316
Updated the `go get` command to use the existing org.

[2021-08-30 22:46] johanbrandhorst commented on #2312
Hi,

This sounds strictly outside the intended uses of the grpc-gateway. Maybe you want a [Go standard library reverse proxy](https://golang.org/pkg/net/http/httputil/#ReverseProxy)?

[2021-08-30 22:46] #2312 closed

[2021-09-01 15:29] momom-i commented on #753
Hello, it doesn't seem anyone works on it now and I'd like to do it.

[2021-09-03 00:20] johanbrandhorst commented on #753
That'd be great! Just like in the other PR, please start by adding a failing test 🙂.

[2021-09-03 02:59] johanbrandhorst commented on #2316
Holding off on the template for now, but the grpc-gateway and openapiv2 plugins have been pushed. I will update the README once `buf` v0.55.0 is available as it allows users to select remote plugins for local generation.

[2021-09-03 06:15] momom-i commented on #753
@johanbrandhorst
I found I couldn't reproduce the error above (I tried that in [here](https://github.com/momom-i/grpc-gateway/commit/d58c595af837a097a3f78e9ecec14baa5c31a1a4)).
And also found it seemed be fixed in v2 of grpc_gateway. What do you think?

[2021-09-03 09:54] #2191 closed

[2021-09-03 12:46] #2301 closed

[2021-09-06 01:05] johanbrandhorst commented on #753
That's great news, would you be willing to contribute these extra tests to so we can protect against breaking it in the future? Then we can close this issue too.

[2021-09-06 12:07] momom-i commented on #753
I've created the issue. I'd appreciate if you'd check it, thank you!

[2021-09-07 15:26] srowles opened #2326 "Requesting new release of grpc-gateway containing "optional_nullable" option"
## 🚀 Feature

We would like to make use of this merged PR:

https://github.com/grpc-ecosystem/grpc-gateway/pull/2215

However we only make use of actual releases, we can't just use "master".

Can we get a new release which includes the PR so we can pick up this change.

Thank you.

[2021-09-07 23:46] #753 closed

[2021-09-08 00:32] #917 closed

[2021-09-08 00:42] johanbrandhorst commented on #877
This should be fixed in #2310

[2021-09-08 00:42] #877 closed

[2021-09-08 01:03] johanbrandhorst commented on #2326
[v2.6.0](https://github.com/grpc-ecosystem/grpc-gateway/releases/tag/v2.6.0) has been released :).

[2021-09-08 01:03] #2326 closed

[2021-09-08 03:31] comeonjy commented on #1051
My solution is:

Use the grpc interceptor to distinguish the source of the request

[code]

[2021-09-08 09:35] cjingadegithub opened #2330 "grpc-gateway is removing the Content-Type MIME info before it sends to the client"
## 🐛 Bug Report

Description:
------------
We are setting http header key “Content-Type” value to “application/json; charset=utf-8” in our code.
This is golang code and using grpc-gateway library to provide REST API to gRPC function.
But still response header is not set to as expected and getting only “application/json”.

GRPC Version : 1.14.6
-------------
Below is the golang code snipped for ref

[2021-09-15 03:56] ttyfky opened #2340 "Duped field with snake_case and camelCase started to return error from v2"
## 🐛 Bug Report

An error is started to be returned from v2.0.0 when request message has snake_case and camelCase in the same request message. This was fine until v1.16.0.

Having snake_case and camelCase for the same fields sounds a bit weird, but a push request of GCP Pub/Sub actually does as follow. Given this restriction, receiving GCP Pub/Sub via grcp-gateway becoming a bit tricky.

https://c

[2021-09-15 12:03] johanbrandhorst commented on #2330
Hi, thank you for your bug report. I think we unconditionally set this field depending on the defined content-type of the marshaler, as you can see here: https://github.com/grpc-ecosystem/grpc-gateway/blob/fbb11e42d2b0a6e8da52de238be394166cf31e30/runtime/handler.go#L156-L157. If you want a different content-type header, you should probably just create your own marshaler which returns this content-

[2021-09-15 12:04] johanbrandhorst commented on #2340
I think this is the behavior of our marshaler, the official Go JSON marshaler: https://pkg.go.dev/google.golang.org/protobuf/encoding/protojson. You can create your own marshaler that will accept these, but there isn't much we can do in the gateway to circumvent this issue.

[2021-09-15 14:24] ttyfky commented on #2340
Ahh right, this would be caused by the behavior change of the marshaler where grpc-gateway doesn't have a control...

Thanks for the response.

[2021-09-15 14:24] #2340 closed

[2021-09-16 08:25] sunnyagg commented on #2239
@johanbrandhorst Issue is with the snakecase. In the above examples, it works with `name` since that is single word

same api works fine if we pass mask value as camelcase

[code]

[2021-09-16 17:04] sunnyagg commented on #2239
i belive its not related to grpc gateway, seems like due to the following [check](https://github.com/protocolbuffers/protobuf-go/blob/5aec41b4809b9822a34e17acd06ae9ae9f41c13d/encoding/protojson/well_known_types.go#L883) in protobuf

[2021-09-16 17:38] johanbrandhorst commented on #2239
That echo's my expectation unfortunately - I think you're required to use the lower camel case format, as mentioned here: https://github.com/protocolbuffers/protobuf-go/blob/5aec41b4809b9822a34e17acd06ae9ae9f41c13d/encoding/protojson/well_known_types.go#L837-L840

[2021-09-16 17:38] #2239 closed

[2021-09-19 20:50] #2228 closed

[2021-09-20 07:48] why444216978 opened #2348 "How is etcd compatible？"
I use github.com/coreos/etcd/v3 client，that must use google.golang.org/grpc@v1.26.0，but grpc-gateway must use google.golang.org/grpc@v1.40.0 to work，how to generate V1 pb.gw.go？
![image](https://user-images.githubusercontent.com/29140252/133970561-348b7395-91b9-402a-b578-1080df914324.png)

[2021-09-20 07:49] why444216978 commented on #2348
![image](https://user-images.githubusercontent.com/29140252/133970791-a3732f71-a58e-4d15-aadc-5d06adb937f9.png)

[2021-09-20 09:07] etessari opened #2349 "grpc: the client connection is closing"
## 🐛 Bug Report

Setting a timeout randomly returns the error:
`grpc: the client connection is closing`

## To Reproduce
the steps are described on this comment:
https://github.com/grpc-ecosystem/grpc-gateway/issues/1924#issuecomment-895114257

## Expected behavior

I expect a consistent behavior based on the value set for the timeout

## Actual Behavior

If timeout is set, it randomly returns the

[2021-09-20 12:42] johanbrandhorst commented on #2348
You'll need to use the v1 releases to work with etcd. You're trying to use V2, unfortunately etcd hasn't updated their Protobuf dependencies yet.

[2021-09-20 12:42] #2348 closed

[2021-09-20 12:43] johanbrandhorst commented on #2349
Hi, this error can be indicative of a networking issue. It's unlikely to be related to the gRPC-Gateway itself. Please can you provide more reproduction steps?

[2021-09-21 07:12] etessari commented on #2349
I tried on local dev environment with and without docker.
You should be able to reproduce the issue by simply starting a working http server and adding a relatively standard timeout like 1 second (if you put 3000s it works instead):
[code]

Then execute some Curl requests and you should face the error:
`grpc: the client connection is closing`

[2021-09-21 12:42] johanbrandhorst commented on #2349
You've got a 1 second timeout on your dialling, are you sure it's even making the connection to your server? This is not a per-rpc timeout.

[2021-09-23 06:36] etessari commented on #2349
Even with 20s timeout I have the same issue, only with really big timeout like 3000s it works as expected.
I'm facing the same issue as described by this comment https://github.com/grpc-ecosystem/grpc-gateway/issues/1924#issuecomment-895114257

[2021-09-25 02:35] johanbrandhorst commented on #2349
That is a bit strange, I don't see why it should take that long, but it really doesn't have anything to do with the gateway - it just dials gRPC as normal. I can only expect it will be something about your local network that is causing the issue. Sorry I can't be of more help. I do question why you need a dial timeout at all though, I'd usually not use one.

I'm going to close this as I don't see

[2021-09-25 02:35] #2349 closed

[2021-09-27 14:10] momom-i commented on #1683
Hello, how is this task going?
I'd like to try this.

[2021-09-28 01:19] johanbrandhorst commented on #1683
I don't think @hanumanthan is working on this, so please feel free to pick it up!

[2021-09-29 02:16] developerdong opened #2362 "The register function always returns nil."
https://github.com/grpc-ecosystem/grpc-gateway/blob/ece6fbbd7ed5ab750ebce98554b1d9098a17076e/examples/internal/helloworld/helloworld.pb.gw.go#L1211

Hi, I am confused why the generated function literal includes returning an error, but actually the error is always nil.
Is this caused by negligence, or for backward compatibility? Should we change the function literal?

[2021-09-29 03:14] johanbrandhorst commented on #2362
Ha, interesting! It may have been missed when this functionality was originally implemented, but we can't change it now without breaking users, so nothing to do here.

[2021-09-29 03:14] #2362 closed

[2021-09-29 10:06] momom-i commented on #1683
Thank you. I've reproduced this error and found it occurred because of Unmarshal error([here](https://github.com/grpc-ecosystem/grpc-gateway/blob/dd60b3de15781cc238d90bf14862c6af61d98da7/runtime/convert.go#L211)).
So if we ask users to create request that is be enclosed within double quotation marks when including timestamp in URL, it works.
[code]
Also I think we can add some codes  in convert.go

[2021-09-29 10:25] rogpeppe opened #2363 "protoc-gen-openapiv2: json_names_for_fields=true can generate invalid OpenAPI output"
## 🐛 Bug Report

With `json_names_for_fields=true` (the default), some parameter names cause the generated OpenAPI JSON to contain parameter name mismatches.

## To Reproduce

Create an `example.proto` file with the following content:

[code]
Copy the `third_party` directory from the `github.com/grpc-ecosystem/grpc-gateway` repository into a local `third_party` directory.

Generate the OpenAPI JSO

[2021-09-29 19:11] johanbrandhorst commented on #1683
That sounds reasonable, yeah!

[2021-09-29 19:14] johanbrandhorst commented on #2363
Hi Roger, good to see you in our neck of the woods 😁. That certainly looks like a bug, and I think it's probably because of this line: https://github.com/grpc-ecosystem/grpc-gateway/blob/dd60b3de15781cc238d90bf14862c6af61d98da7/protoc-gen-openapiv2/internal/genopenapi/template.go#L937. If we could add a failing test to https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-openapiv2

[2021-09-30 05:00] defool opened #2365 "A better solution to run gRPC server and gateway together"
## 🚀 Feature

It is simple and high-performance if we run  gRPC server and gateway in the same process, but now a localhost network call is necessary which lower the performance (our test data is 70% lower).

Has any better solution to  utilize the features of gRPC server( eg. Intercepter) and avoid network call?

[2021-10-01 03:52] defool commented on #2365
[code]

It works, and is there a better solution?

[2021-10-01 09:36] momom-i commented on #1683
Thank you.  I think it also occurs when timeDuration case, so I'm making PR for both cases.

[2021-10-02 00:00] #2223 closed

[2021-10-02 00:00] #2140 closed

[2021-10-02 01:14] johanbrandhorst commented on #2365
I've not tried this, but you could try using something like https://github.com/fullstorydev/grpchan to provide the connection between your gRPC server and gRPC-Gateway. I expect most of the performance cost will be in the JSON marshalling though.

[2021-10-03 12:43] vtolstov commented on #2260
i dont have time to fix also i'm not use grpc-gateway anymore (i'm write own trie based path processing)

[2021-10-03 12:43] #2260 closed

[2021-10-07 10:54] KrishnaAnanthi opened #2373 "CORS issue while accessing HTTP endpoint of grpc-gateway from web client"
## 🐛 Bug Report

(A clear and concise description of what the bug is.)

## To Reproduce

(Write your steps here:)

1.  I have taken the grpc python server code from grpc github repository. https://github.com/grpc/grpc/blob/master/examples/python/route_guide/route_guide_server.py
2.  Then for grpc gateway, below is my gateway server code. I tried adding cors in grpc gateway code but it doesnt seems

[2021-10-08 17:33] meigy-nefeli commented on #888
We would love to have this capability too. Just thought I'll chime in a +1 vote. Any plans on doing this anytime soon?

[2021-10-09 15:20] johanbrandhorst commented on #2373
Hi, thanks for your issue. There should be no reason you can't use the grpc-gateway in an angular application. This definitely sounds like a CORS configuration issue. I would recommend not using a CORS library and instead taking the time to understand the underlying technology, so that you can write the required handler yourself. You can look at something like https://github.com/heppu/simple-cors/

[2021-10-12 06:18] brumhard opened #2383 "protoc-gen-openapiv2: Replace dots in path parameters with camelCase"
## 🚀 Feature

So given the following example protobuf definition:

[code]

When using protoc-gen-openapiv2 to generate the swagger definition two routes will be created:

[code]

Would it be possible to join that to one route by automatically converting `thing.name` to `thingName`?. I could imagine an option in the protoc-gen-openapiv2 plugin, but I'm not sure whether there could be any bad sideef

[2021-10-12 13:54] jlewi commented on #1264
This seems like a useful feature.

I investigated a bit and it looks like we'd want to modify the request handler template
https://github.com/grpc-ecosystem/grpc-gateway/blob/9ec62387b4d04e454fcc84ab8f7d0d0c11dddde1/protoc-gen-grpc-gateway/internal/gengateway/template.go#L412

To test the oneof and return the value that is actually set. When I hacked my generated code the following seemed to do th

[2021-10-13 05:29] brumhard commented on #2365
Didn't try either but I've used `bufconn` before for local testing:
[code]

I guess you could also look at how etcd works in embed mode since it doesn't require any network calls as well afaik.

[2021-10-14 01:23] #2383 closed

[2021-10-20 05:24] vipul1409 opened #2392 "Drop some fields of gRPC response in json"
## 🚀 Feature

it will be helpful if we can drop few proto fields from result json using some annotations.

[2021-10-20 15:05] defool opened #2393 "RegisterXXXHandler with `grpc.ClientConnInterface`"
## 🚀 Feature

Change  `grpc.ClientConn`  to `grpc.ClientConnInterface` in `RegisterXXXHandler`.

[2021-10-20 17:47] zinok opened #2395 "Error with generation of stubs for examples via buf.build"
## 🐛 Bug Report

When `grpc-gateway` is used to generate stubs via an amazing project `https://buf.build/` there is an issue caused by the included example protos. The generation fails with following message:
[code]

## To Reproduce

1. Use `import "protoc-gen-openapiv2/options/annotations.proto";` in any proto file
1. Setup an account with `buf.build`
1. Create a generation template that include

[2021-10-21 02:11] johanbrandhorst commented on #2392
This isn't something we're going to implement natively in the gateway. You can create a new message if you want to return less data.

[2021-10-21 02:37] johanbrandhorst commented on #2393
Great, feel free to open a PR and we can take it from there

[2021-10-22 08:40] KrishnaAnanthi opened #2400 "Chunked data from server side streaming is coming in network response preview tab once all the chunked data is received"
## 🐛 Bug Report

When using grpc-gateway server side streaming is not happening. In web browser i am receiving all the data together.

## To Reproduce

I have taken grpc gateway example ListFeatures Post API call for server side streaming using python. In the python code i have added a sleep so achieve the delay so that streaming can be visible in UI.
![image](https://user-images.githubusercontent

[2021-10-22 11:24] defool opened #2401 "Wrong bazel version in CONTRIBUTING.md"
## 🐛 Bug Report

Wrong bazel version in CONTRIBUTING.md

## To Reproduce

Run this shell command
[code]
## Expected behavior
No error occurred

## Actual Behavior

ERROR: The project you're trying to build requires Bazel 4.2.1 (specified in /grpc-gateway/.bazelversion), but it wasn't found in /usr/local/lib/bazel/bin.

(Write what happened. Add screenshots, if applicable.)

## Your Environment

(E

[2021-10-22 21:48] ccampo133 opened #2403 "Support YAML OpenAPI/Swagger v2 definition generation"
## 🚀 Feature

Currently the `protoc-gen-openapiv2` can output a JSON Swagger/OpenAPI v2 API definition file. It would be nice to have an option to produce a YAML version instead.

One main benefits of YAML over JSON is the support for comments. I originally came here with the intent to suggest a feature of generator plugin to add a `Code generated by protoc-gen-openapiv2. DO NOT EDIT.` header comm

[2021-10-23 14:10] #2393 closed, assigned to nobody

[2021-10-23 16:26] #2395 closed, assigned to nobody

[2021-10-24 02:40] #2401 closed, assigned to nobody

[2021-10-27 12:26] horacimacias opened #2409 "int64 field in proto is displayed type="string" instead of type="integer""
## 🐛 Bug Report

I have a proto file with a message that has both an int32 and int64 fields.
In the swagger file generated by protoc (using protoc-gen-openapiv2) I get the int32 field rendered as type="integer" which is correct, but the int64 field is rendered as type="string" which I belileve is wrong.

## To Reproduce

1. Create a proto file with int32 and int64 fields. Example:
[code]

1. Compi

[2021-10-30 01:53] johanbrandhorst commented on #2409
This is working as intended. JSON as implemented in browsers can represent integers accurately up to 2^53-1 since it represents all numbers as 64bit floating point. Beyond that, it cannot accurately represent integers. This is why the protobuf JSON mapping defines int64's as strings: https://developers.google.com/protocol-buffers/docs/proto3#json.

[2021-10-30 01:53] #2409 closed

[2021-11-01 18:17] aronrichter opened #2411 "duplicate annotation error when the same endpoint is used by two different services"
## 🐛 Bug Report
When two different services have the same endpoint annotation, is not possible to generate the protogen files

## To Reproduce
service.proto file
[code]

## Expected behavior
The expected behavior would be to generate the protogen files without error

## Actual Behavior
[code]

## Your Environment
go 1.17
grpc-gateway 2.6.0

## Aditional information
Searching about this error, I fo

[2021-11-02 01:27] china-xs commented on #1610
你好,最后有解决这个问题吗,我现在也遇到这个问题

[2021-11-04 01:15] johanbrandhorst commented on #2411
Whoops, that was likely introduces in that PR, yeah. Thanks for submitting a PR to fix it!

[2021-11-04 01:27] #2411 closed

[2021-11-05 22:51] clatko opened #2417 "header list size violation on large JWT headers"
## 🐛 Bug Report

I get the error `header list size to send violates the maximum size (8192 bytes) set by server` with large headers.

## To Reproduce

(Write your steps here:)

Step 1: Follow the tutorial here - https://grpc-ecosystem.github.io/grpc-gateway/docs/tutorials/

Step 2: Send a curl request with a large JWT header:
[code]

## Expected behavior

I should get the list of users.

## Actual

[2021-11-06 17:46] johanbrandhorst commented on #2417
Hi, thanks for the issue!

I'm confused - are you saying that a `grpc.ClientConn` created before instantiating the gateway is not obeying the dial options when the gateway uses it? Or is the gateway doing something wrong? I think we need some more details. What does the server configuration have to do with it?

[2021-11-06 19:21] clatko commented on #2417
I'm new to Golang so don't have a solid grasp of what is happening, the error is happening here - https://github.com/grpc/grpc-go/blob/aaff9e7ab90624f6be3da4555eeb27c68ba29e9d/internal/transport/http2_client.go#L731 - it appears a new client stream is created with the default header size. The error message says the value is set by the server.

The Protobuf is creating a new client stream with the

[2021-11-06 19:27] johanbrandhorst commented on #2417
I think you're going to have to raise this issue against gRPC-Go - there's nothing about the grpc-gateway that's wrong here as far as I can tell. The gateway is a very small client wrapping the gRPC-Go client, so it's very unlikely that the error is in our code. Please report back if it does indeed turn out to be a gateway issue!

[2021-11-06 21:03] clatko commented on #2417
I believe the generated gateway Protobuf is not allowing the grpc dial options through. In the code, the call from pb.gw.go looks like:
`stream, err := client.ModelQueryApi(ctx, &protoReq)`
and the receding end of this is in pb.go:
`func (c *userQueryServiceClient) client.ModelQueryApi(ctx context.Context, in *model_request.ModelRequest, opts ...grpc.CallOption)`

If opts could be passed through h

[2021-11-06 23:31] johanbrandhorst commented on #2417
If you need to provide grpc.CallOptions you can specify them in your dial options using https://pkg.go.dev/google.golang.org/grpc#WithDefaultCallOptions. If it's a dial option, you can specify it when dialling. I don't see anything the gateway can do differently here, but please let me know if I'm missing something!

[2021-11-07 09:50] #2365 closed

[2021-11-08 10:34] james-o-johnstone commented on #1791
Added a PR https://github.com/grpc-ecosystem/grpc-gateway/pull/2418 to define `extensions` on fields, so fields could be marked with an `x-internal` extension and filtered using https://github.com/Mermade/openapi-filter

[2021-11-09 05:28] balala888 opened #2419 "unwrapped errors from protojson echoing back user input, causing potential security risk"
## 🐛 Bug Report

For more details, please see https://github.com/golang/protobuf/issues/1384
Not sure if we can apply a fix in grpc-gateway.

## To Reproduce

(Write your steps here:)

1. define a bool field in your proto definition
1. setup the grpc gateway and call the service via HTTP request, passing a string for that bool field
2. the HTTP response echos back the user input, causing the endpo

[2021-11-10 18:44] kumardvaralakshmi commented on #498
@irl-segfault @johanbrandhorst https://grpc-ecosystem.github.io/grpc-gateway/docs/operations/annotated_context/#get-http-path-pattern this snippet shows how to set the metadata option, but is there a way to extract this information in a wrapped http handler using the request's context? i am trying to get the path pattern out of the request context, but it always returns "", found.
Please let me kn

[2021-11-12 18:39] johanbrandhorst commented on #2419
Thanks for your report. I'm afraid I don't understand exactly how this subjects the user to an XSS attack? I'm not dismissing it, but some clarity would be good.

As for avoiding the issue, I'm afraid your best option is probably to wrap the `protojson` Marshaler in your own type implementing the https://pkg.go.dev/github.com/grpc-ecosystem/grpc-gateway/runtime#Marshaler interface and using it wit

[2021-11-12 18:49] johanbrandhorst commented on #498
You should be bale to access the variables on the `incoming` context in your gRPC handler using the `grpc` metadata methods. See https://github.com/grpc/grpc-go/blob/master/Documentation/grpc-metadata.md for more information.

[2021-11-12 19:04] balala888 commented on #2419
so here is my understanding:
1. If you defined a field called `myParam` in your API singaure, set the type as int, and start the service
2. Then you send a HTTP request to that API, using a string value `badScript` for `myParam`, instead of an int, the json unmarshall will fail, and echos back the user input.
3. If we can't overwrite this error, and if you provide a script in that input, then with

[2021-11-12 21:22] johanbrandhorst commented on #2419
Thanks for the explanation, I guess that makes sense. It would be nice with a POC to gauge how easy this is to abuse. It's doubtful that protojson will change their errors, so it's probably appropriate for us to neuter the marshalling errors, or at least provide some way for the user to configure the error handling.

I would expect the wrapping to work though. Could you share a reproduction scenar

[2021-11-15 13:06] alissa-tung opened #2425 "examples: remove usage of `WithBlock` in examples"
## 📚 Documentation

ref: https://github.com/grpc/grpc-go/pull/4858

[2021-11-15 19:42] numbsafari opened #2427 "Replace abandoned ghodss/yaml with supported sigs.k8s.io/yaml package"
## 🚀 Feature

This package still relies on the (long) abandoned [`ghodss/yaml`](https://pkg.go.dev/github.com/ghodss/yaml) package. The kubernetes maintainers have created a maintained fork of that package ([`sigs.k8s.io/yaml`](https://pkg.go.dev/sigs.k8s.io/yaml)).

Switching to a maintained/supported package would make bug fixes and dependency updates available to this package, and its consumers

[2021-11-16 02:31] johanbrandhorst commented on #2425
I guess that makes sense. Would you be willing to contribute a fix for this?

[2021-11-16 02:33] johanbrandhorst commented on #2427
Sounds great, would you be willing to contribute a fix for this?

[2021-11-17 01:21] johanbrandhorst commented on #2425
As mentioned in #2428, I'm not convinced anymore that we want to make this change. Sorry to have wasted your time :(.

[2021-11-17 01:21] #2425 closed

[2021-11-21 16:45] ssm951 opened #2434 "How to manually invoke EOF for client-side streaming?"
## 📚 Documentation

I have been taking a look at the integration tests and documentation, but could not find anywhere on what message I need to send for dec.Decode() to return an EOF. Below is the generated code calling dec.Decode (adjusted for privacy):
[code]

The reason why I need this is that I am trying to use the grpc-websocket-proxy as a wrapper to the grpc-gateway, and think that this is t

[2021-11-21 21:06] johanbrandhorst commented on #2434
Hm, `req.Body` should return io.EOF when there is no more body to be read. Judging by [the source](https://github.com/tmc/grpc-websocket-proxy/blob/e5319fda780223b9d4d06dba2059a26ebff67b8a/wsproxy/websocket_proxy.go#L215-L219), it seems to be triggered by the context cancellation, which in turn I think is triggered by ending the request on the client side. What does your client look like?

Also CC

[2021-11-22 03:37] ssm951 commented on #2434
Yeah, so the client is implemented using the [browser's WebSocket API](https://developer.mozilla.org/en-US/docs/Web/API/WebSocket). Unfortunately, it can only send messages to the server, or close the whole connection. I'm thinking that maybe I can modify the code so if an empty or null message gets sent, it closes the client side stream and allow grpc-gateway to call CloseAndRecv()

[2021-11-22 07:25] leeisman opened #2435 "The request's body is null in the ErrorHandlerFunc of runtime.WithErrorHandler"
I considered the package utilities IOReaderFactory that need copy io.Reader ?

[2021-11-23 02:51] johanbrandhorst commented on #2434
Ah, you want to close _and_ receive the last response? Yeah not sure how to do that.

[2021-11-23 03:03] johanbrandhorst commented on #2435
Hi,

I'm a little confused. Could you describe the issue? A reproducible example would be best.

[2021-11-23 05:24] ssm951 commented on #2434
I have spent a lot of time researching this, and it seems that Websockets is still the only viable way in doing client-side streaming on the browser until the fetch API is more readily available. I'm trying to modify grpc-websocket-proxy to close the client-side stream, and am successfully able to do it. Unfortunately, I haven't figured out how to only close that pipe and leave the server response

[2021-11-23 14:33] johanbrandhorst commented on #2434
Have you investigated https://github.com/improbable-eng/grpc-web? It also uses websockets to allow client side streaming and might allow full duplex control.

Also, what are you trying to do? Client side streaming in the browser usually means uploading files, and there are more performant ways to do that than using websockets.

[2021-11-23 15:14] ssm951 commented on #2434
What we are doing is streaming raw audio from the browser and returning a response from the server based on the audio. Since the audio can be long, it is quicker to stream the audio to the server and process it there than to create an audio file and upload it to the server.

I did look at that before. I did not know they allowed client-side streaming. Their documentation said they don't support it

[2021-11-23 15:21] ssm951 commented on #2434
Interesting, after digging deeper, it seems that they [do support it using websockets](https://github.com/improbable-eng/grpc-web/blob/master/client/grpc-web/docs/transport.md#socket-based-transports). Not sure why they didn't mention it in the main README. I'll take a look at it.

[2021-11-23 15:46] johanbrandhorst commented on #2434
I happen to be a maintainer of that repository too 😁. The reason websockets are not mentioned is because:

1. The transport is potentially unstable
2. It's not part of the grpc-web spec.

So while you can use it for bi-directional streaming in the browser (which it sounds like your use case requires), it's potentially going to be superceded by some [official grpc-web full duplex solution](https://

[2021-11-24 05:48] Prabhjot-Sethi opened #2438 "Bad json formatted output by ForwardResponseStream"
## 🐛 Bug Report

Formatting of json response by stream forwarder is bad, which cannot be interpreted by any standard browser or json decoder. stream sends a list of response that is supposed to be sent as a list in json, instead it sends
<pre>
{
	"result": {
		"id": "199e4749-15ce-4193-9d50-aa315cf30c0b"
	}
}   <--------- wrong JSON format
{
	"result": {
		"id": "2a9e4749-1fce-4a93-ad50-aa315cf30c

[2021-11-24 05:51] Prabhjot-Sethi commented on #2438
@johanbrandhorst Please have a look, i have fixed this for myself in a [little hacky way](https://github.com/Prabhjot-Sethi/grpc-gateway/commit/5645b7edcc8454d1bfa4e40da0d8c719c9799bf0). I would be happy to submit a fix if someone can guide me on various marshallers grpc-gateway looking forward to support.

[2021-11-24 09:44] maxsxu opened #2439 "Cannot disable default errors for stream service then generating openapi"
## 🐛 Bug Report

The `--openapiv2_opt disable_default_errors=true` flag didn't work for stream service when generating swagger.

## To Reproduce

1. Define a proto with a stream service

[code]

2. Generate swagger file

[code]

3. Check the generated `apidocs.swagger.json` file

## Expected behavior

The expiated `apidocs.swagger.json` file:

[code]

## Actual Behavior

The actual `apidocs.swagge

[2021-11-24 22:30] johanbrandhorst commented on #2438
Hi, thanks for your issue! The streams from the grpc-gateway return newline delimited JSON with an envelope. This is intentional, to support returning errors in the middle of a stream. See #2189, #1254 for more discussion. Do you think we should add a section to the docs to explain why this is the way it is?

[2021-11-24 22:51] carlos-contreras-ruiz opened #2441 "protoc-gen-swagger/options for java"
Hi, I'm trying to use the annotations for swagger in my proto file but I'm struggling to do that.
Is there some documentation about how to use swagger annotations with maven?.
The problem is that my maven project can't find those annotations, is there a maven dependency already package?
Thanks in advance

[2021-11-25 02:15] johanbrandhorst commented on #2439
This is a bit trickier, since the output of a streaming endpoint is not just each response message, but each message wrapped in an envelope, so that we _can_ return errors. Your "what did you expect to see" doesn't leave any way to return an error to the user mid stream (you've already written the HTTP status code at that point). What do you want to happen if you encounter an error after sending t

[2021-11-25 02:15] #2427 closed

[2021-11-25 02:17] johanbrandhorst commented on #2441
Hi, thanks for your issue! I'm really confused what you're trying to do. There is nothing about the grpc-gateway that requires Java or integrates with Java in any way. If you want to use the grpc-gateway with a Java gRPC server, you can deploy it as an independent proxy to the Java server. See https://github.com/johanbrandhorst/grpc-gateway-boilerplate/blob/master/cmd/standalone/main.go for an exa

[2021-11-25 02:27] jsonbruce commented on #2439
Thanks for your reply!
Can I customize the error handler when encountering an error? As I want unify the successful response struct and error response struct.

[2021-11-25 03:22] Prabhjot-Sethi commented on #2438
Hi @johanbrandhorst , both the issues probably don't highlight the problem i am refering to.
I do not have any problem specifically with encapsulation of messages in result/error, those can be parsed as long as the formatting is correct.

The moment it is more than one chunk (/Object) the message parsing goes bad. as it doesn't follow json encoding schematics of an array. Now are you suggesting th

[2021-11-25 03:34] Prabhjot-Sethi commented on #2189
Is there any documentation on how error reporting per entry works, can server control how and what error goes to client.
usually grpc only provides mechanism to report error while starting the stream

[2021-11-25 03:35] Prabhjot-Sethi commented on #2189
Is there any documentation on how error reporting per entry works, can server control how and what error goes to client.
usually grpc only provides mechanism to report error while starting the stream

[2021-11-25 03:37] Prabhjot-Sethi commented on #2189
Is there any documentation on how error reporting per entry works, can server control how and what error goes to client.
usually grpc only provides mechanism to report error while starting the stream

[2021-11-25 11:07] shane-kerr opened #2442 "Concern about breaking change with PR #2398 (support grpc.ClientConnInterface in RegisterXXXHandler) was valid"
## 🐛 Bug Report

This comment sums up the issue:

https://github.com/grpc-ecosystem/grpc-gateway/pull/2398#pullrequestreview-787395113

Basically, our code is riddled with things like:
[code]

We can possibly fix this by changing all of our declarations of `*grpc.ClientConn` to `grpc.ClientConnInterface`. However, the `grpc.ClientConnInterface` claims:
[code]
Also, the `grpc.ClientConnInterface` i

[2021-11-25 15:12] johanbrandhorst commented on #2442
Argh, I hate it when I'm right! That is really unfortunate. Changing to the interface means it's possible to slot in other implementations of the interface, such that you could be much more flexible with the underlying transport, if you wanted to. It seems an oversight that the interface does not define the `Close()` method, but not much we can do about that on our end. If you'd like to open a PR

[2021-11-25 15:51] shane-kerr commented on #2442
Great I'll put a PR together! :+1:

[2021-11-26 02:53] johanbrandhorst commented on #2439
Yes! Please see https://grpc-ecosystem.github.io/grpc-gateway/docs/mapping/customizing_your_gateway/#stream-error-handler

[2021-11-26 02:58] johanbrandhorst commented on #2438
You'll need to parse it by splitting the response by newlines before parsing as JSON. I haven't written any parsers for this recently but I have done it in the past. Returning an array wouldn't let you parse the stream as you receive it from the server.

[2021-11-26 03:00] johanbrandhorst commented on #2189
gRPC generally supports returning an error at any point in the streaming, so the grpc-gateway must also be able to return an error at any point in the streaming.

[2021-11-26 04:18] Prabhjot-Sethi commented on #2438
Thanks for the response well in that case we can not or should not use grpc stream for List operation in gateway purely from a standard HTTP/JSON response handling aspect.
I would be more than happy to see how and for what use case grpc-gateway is using streams here
as long as we document both the points, we should be covered.

for my use case i will look forward to switch using something like thi

[2021-11-26 04:20] johanbrandhorst commented on #2438
Yes, that makes sense. Streams are rarely the answer. I will close this issue for now but feel free to reply and reopening if you want.

[2021-11-26 04:20] #2438 closed

[2021-11-26 14:54] bleleve opened #2445 "gRPC Gateway behind Ingress : Failed to extract ServerMetadata from context"
Hello everyone, I hope you are well.

## 🐛 Bug Report

I am facing a "bug", I don't think it is directly related to grpc-gateway, but any help would be greatly appreciated, I have been stuck on this for a few days.

Our gRPC API developed in Go has been running since 2017 at DigitalOcean on an unmanaged Kubernetes cluster with a load-balancer, an NginX ingress controller but with the proxy protoco

[2021-11-27 02:06] johanbrandhorst commented on #2445
Hi, thanks for your issue! I've frankly no idea what's going on here, but I should say that the warning log your are seeing is only that - a warning. Are you seeing any difference in behavior from your server?

[2021-11-27 04:40] bleleve commented on #2445
Hi ans thanks for your answer. Yes, the request stop and an error is sent to the client (code 5, not found).

I hadn't noticed that it was an Info log that was returned ... I'm annoyed, it's like the guy looking for his glasses that are on his nose.

There is something in the generated NginX conf that is causing this, I will check that on Monday.

Thank you and have a nice week-end.

[2021-11-27 14:44] johanbrandhorst commented on #2445
Alright, I will close this issue for now but let me know if you found there to be an issue with the gateway and we can reopen it. Have a good weekend!

[2021-11-27 14:44] #2445 closed

[2021-11-29 09:20] bleleve commented on #2445
Hi,

The problem is caused by a change in the way the Ingress NginX "rewrite-target" annotation is handled. A capture group is mandatory.

You served me as a rubber duck, sorry for the inconvenience ;)

[2021-11-29 11:01] dgurns commented on #2445
I'm glad you posted this because I'm running into the same issue. I will check the request forwarding. Thanks for posting!

[2021-11-29 13:05] bleleve commented on #2445
Making the API available in a subfolder involves going through a `rewrite-target` annotation (we handle versioning this way but it may be for another reason).

Prior to [NginX Ingress 0.22.0](https://github.com/kubernetes/ingress-nginx/releases/tag/nginx-0.22.0)
[code]

Now (NginX Ingress 1.0.4 with k8s 1.22.3 ):
[code]

[2021-11-30 20:36] dgurns commented on #2445
Thank you. Yep I got to the same conclusion. We're using the `alb` Ingress and apparently it doesn't have the ability to do rewrites with capturing groups. Instead the full URL path gets forwarded on. So as you suggest, if you want rewrites with capturing groups, Nginx Ingress is the way to go.

[2021-12-01 07:20] MakDon opened #2447 "Forwarding Connection header breaks after updating grpc/grpc-go to 1.42.0"
## 🐛 Bug Report

grpc-gateway breaks after updating `grpc/grpc-go` to 1.42.0

After the update introduced by [this PR](https://github.com/grpc/grpc-go/pull/4803),  it will report `stream terminated by RST_STREAM with error code: PROTOCOL_ERROR` if `connection` in headers, which breaks down all of the http connections that comes with `connect:keep-alive`

## To Reproduce

Step 1:
    Update `google

[2021-12-02 03:29] #2442 closed

[2021-12-02 03:40] johanbrandhorst commented on #2447
Hm, this is curious, what should the behavior be here? Should the grpc-gateway strip these headers? I'm surprised we're forwarding this header, it should only forward explicitly added headers or permanent IANA headers (listed here: https://github.com/grpc-ecosystem/grpc-gateway/blob/094a6fe78b3ca888297d090185cdf30f0e42e157/runtime/context.go#L261). Would you be willing to submit a test and a fix f

[2021-12-02 04:05] MakDon commented on #2447
ok, I'd like to submit a PR for it later.

[2021-12-02 16:13] MakDon commented on #2447
I found that my server breaks because i was using `func(key string) (string, bool) {return key, true}` header matcher for backward compatibility, which passthrough `Connect` header to grpc server and deserves a `RST_STREAM`

`Connection` header does not belong to `permanent request headers maintained by IANA`, so it seems not to be a good idea to add it into `isPermanentHTTPHeader` function body.

[2021-12-03 03:20] johanbrandhorst commented on #2447
That is an interesting question. It would be nice to automatically help users who might suffer from this problem, but I'm also hesitant to do this implicitly. Maybe we could detect if the header matcher would match `Connection` on startup and log a warning?

[2021-12-03 04:33] MakDon commented on #2447
Agree. I tend to add a pre-matcher to match `Connection` and log a warning. Is it probable sulution?

[2021-12-03 22:50] mmellin opened #2452 "Protobuf emptypb not found"
## 🐛 Bug Report

I have a bazel `go_proto_library` rule which is failing when I use `@com_github_grpc_ecosystem_grpc_gateway_v2//protoc-gen-grpc-gateway:go_gen_grpc_gateway` as a compiler. The error mesage is as such:

[code]

Within the autogenerated .pb.gw.go code, the following usage of Empty is:
[code]

The problem `.proto` file imports the following:
[code]
and then uses it like:
[code]
Probl

[2021-12-03 23:56] mmellin commented on #2127
Hi, we have run into this error when building with Bazel now many times since upgrading to `grpc-gateway v2.7.1`. We have autogenerated `.proto` files created by the `github.com/openconfig/ygot` tool which apparently doesn't yet support an option to include a `go_package = ` in the file, so when running these proto files through `protoc_gen_eopenapiv2()` rules it breaks our builds.

Is there any w

[2021-12-04 01:45] johanbrandhorst commented on #2127
Not sure why stalebot closed this, I marked it as a bug 🤔. I think we use the protoc-gen-openapiv2 rules in this repository in our own tests but I'm actually not much of a bazel expert. Maybe @achew22 can weigh in on the particulars of our rules.

[2021-12-04 01:51] johanbrandhorst commented on #2447
I think we can just try running any matcher with the `Connection` header when creating it in https://github.com/grpc-ecosystem/grpc-gateway/blob/master/runtime/mux.go#L115-L119 and log a warning if it matches. Would you be willing to contribute such a fix?

[2021-12-04 02:12] johanbrandhorst commented on #2452
Hi, sorry that this is affecting you. I would agree with your assessment that you're somehow depending on an old version of `empty.proto` which defines its import path as `github.com/golang/protobuf/ptypes/empty`. This is incompatible with v2 of the gateway, which uses the APIv2 types, hosted at `google.golang.org/protobuf`. You'll have to figure out where this dependency is coming from. Unfortuna

[2021-12-04 17:02] MakDon commented on #2447
Ok i am working on it.

[2021-12-05 09:33] amitz commented on #2127
Sorry! I did some research about it, and completely forgot to update :man_facepalming:

It's been a while, so I might be wrong here, but from what I gathered - `protoc-gen-openapiv2` uses the Go Protobuf plugin to parse the Protobuf files. The error you're seeing, coming from the Go plugin, and not from the OpenAPI plugin. There's some information [Here](https://github.com/protocolbuffers/protobuf

[2021-12-06 23:06] aethanol opened #2457 "protoc-gen-openapiv2 not generating objects with repeated defined objects"
## 🐛 Bug Report
(not sure if this is actually a bug)

Updating from v2.0.1 -> 2.7.0 doesn't generate definitions for openapi objects that have a repeated other object. In this case the diff here: https://github.com/grafeas/grafeas/pull/525/files#diff-fc63bf57f2448a75b87e33e47f77ff96be847f6ce48546e973277dee7480d862L455

Is there an option to disable this behavior?

## To Reproduce

(Write your step

[2021-12-07 00:58] johanbrandhorst commented on #2457
Hi, thanks for your issue! I'm confused, what is the exact issue here? Is the new, inline representation not faithful to your API definitions? It looks like it just removed one level of indirection to me, is that the undesirable change?

[2021-12-07 01:03] johanbrandhorst commented on #2447
Fixed in #2455

[2021-12-07 01:03] #2447 closed

[2021-12-07 04:04] yinzara commented on #720
This follows the design of the Google gRPC guidelines that they use for their own APIs.

https://cloud.google.com/apis/design

The path parameters are described in [http.proto](https://github.com/googleapis/googleapis/blob/master/google/api/http.proto) and in [RFC 6570](https://datatracker.ietf.org/doc/html/rfc6570)

By using a "name" based syntax that qualifies all identifier, it allows fields th

[2021-12-07 04:39] aethanol commented on #2457
Hey @johanbrandhorst! yeah exactly, it just ends up generating some less than desirable spec. Not exactly a bug, and it still is functionally correct.

The main impact of this is in the generated api clients like: https://github.com/grafeas/client-go which end up with generated structs like `Body` and `Body1` since they are no longer explicitly defined.

[2021-12-07 22:06] johanbrandhorst commented on #720
Thanks for all of that context, that makes a lot of sense! In particular the last part is very useful for anyone who wants to tackle this issue - it sounds like it should be totally possible, though we'll need to figure out how to parse these variables in the openapi generator. We obviously do the parsing already in the grpc-gateway generator but I'm not sure if it's there in the openapi one today

[2021-12-07 22:28] johanbrandhorst commented on #2457
Ah I see. Yes, this was a bug fix - the affected messages changed because they have path params, and where previously the OpenAPI would suggest that you can provide the parameters in either the body or the path, this is not true, as it is read from the path only. The change is here: https://github.com/grpc-ecosystem/grpc-gateway/pull/2078, and here is the issue: https://github.com/grpc-ecosystem/g

[2021-12-07 22:31] johanbrandhorst commented on #2457
This went out in v2.4.0, I've gone back and updated the release notes: https://github.com/grpc-ecosystem/grpc-gateway/releases/tag/v2.4.0.

[2021-12-07 23:33] yinzara commented on #720
So I've been reading the source and debugging a lot more recently and reading old issues.

It appears that Issue #702 made a change that doesn't strip the "=organizations/*" from the path parameter if its called "name" or "parent".  Specifically line 820 in protoc-gen-openapiv1/internal/genopenapi/template.go, the "isResourceName" function.

The original issue was raised because if you have two en

[2021-12-08 04:06] rcgoodfellow commented on #720
@yinzara I believe I've been mistagged here, my contributions to this repository to not appear to be related to the issues you are referencing.

[2021-12-08 17:25] aethanol commented on #2457
ah I see what's going on. What is the constraint of not just using the name from the defined message?

[2021-12-08 17:28] johanbrandhorst commented on #2457
The issue is that the OpenAPI spec would imply that you can specify the path parameters in both the body and the path, but it's only settable in the path.

[2021-12-08 19:13] aethanol commented on #2457
oh I see another rpc method could reference the same message and not specify the parameter in the path like:
[code]

This would generate `BatchCreateNotesRequest` for the second rpc which would not work for the first.

Thanks for your help @johanbrandhorst !

[2021-12-08 19:14] #2457 closed

[2021-12-09 02:12] betmix-matt commented on #720
Totally apologize @rcgoodfellow , it was @ch3rub1m that changed the lines I was looking at (yours were later in the file).

I've got a PR now #2461

Love some feedback!

[2021-12-15 02:02] #407 closed

[2021-12-15 02:02] #1700 closed

[2021-12-15 02:20] MalikWaseemJaved commented on #834
Found this thread useful, adding comment for future reference

[2021-12-17 13:07] eldad87 opened #2468 "How to use in a micro-services oriented environemnt"
Hi,
Given our eco-system is composed of multiple (different) micro-services, each service expose/implement a different Proto/gRPC.
What is the recommended way of using gRPC-gateway?

1. Run a single instance (or cluster) and have it bridge multiple services (not sure if thats possible).
2. Each service should have its own gRPC-GW. While an higher level solution (Kong, AWS APIGW, WSO2, Tyk, etc) is

[2021-12-17 17:15] johanbrandhorst commented on #2468
Generally I would say each service has its own gateway. If your application is written in Go you can support this very easily. If it is not written in Go it becomes a little more work as you need to build a separate proxy for each application but can still work fine.

You can also serve all applications on the same gateway, you just need to import and register all of the types in a single `main.go

[2021-12-18 15:15] eldad87 commented on #2468
Hi @johanbrandhorst ,
Thank you for your answer.

I would like to run my services as Lambda. Would still recommend on running gRPC-GW from within my app `main.go`?

Can you please  point me to an example?

Thanks!

[2021-12-19 00:40] johanbrandhorst commented on #2468
Uh, potentially, yes, but I don't know how well gRPC services work within Lambdas. If the gRPC server is located somewhere else you'd probably need to run the gateway as a standalone binary.

Our integration tests register a lot of services in one binary: https://github.com/grpc-ecosystem/grpc-gateway/blob/71a544628daba2f0909584e29f4dcb58ecbd2c52/examples/internal/server/main.go#L17-L44.

[2021-12-19 23:18] ivanjaros opened #2469 "Setting status code for the response"
I have a need to return http status code from rpc service but even though it will be passed onto the client, thanks to `runtime.WithOutgoingHeaderMatcher`, the **200 OK** is the actual result while the `Status` header will also be present, but ignored. I have not seen documentation mentioning status codes, even though headers are documented, so I just wonder if there is undocumented solution or if

[2021-12-19 23:57] johanbrandhorst commented on #2469
Returning a gRPC Status error will map to the correct status code automatically according to this mapping: https://github.com/grpc-ecosystem/grpc-gateway/blob/71a544628daba2f0909584e29f4dcb58ecbd2c52/runtime/errors.go#L34-L77. If you want behavior outside of this error mapping you will need a custom error handler.

[2021-12-20 00:08] ivanjaros commented on #2469
I am not returning error.

[2021-12-20 00:24] johanbrandhorst commented on #2469
Then I don't believe the gateway has any way to let you set the http status.

[2021-12-20 00:25] ivanjaros commented on #2469
I thought so, thanks for confirmation.

[2021-12-20 00:25] #2469 closed

[2021-12-24 21:13] ashahzeb opened #2478 "Does grpc version upgrade reflect on REST api versioning too? Does grpc-gateway work with grpc-dotnet as well?"

[2021-12-26 20:18] johanbrandhorst commented on #2478
The grpc-gateway should work fine with any gRPC server, including grpc-dotnet. Are you having an issue? What do you mean by gRPC version? It should be distinct and independent from REST API versioning.

[2021-12-31 08:39] hiroyoshii commented on #888
Hi, I'd like to work on this if possible.

[2021-12-31 14:50] nicklas-delphai commented on #2417
I just had the same issue and it wasn't a problem with neither `grpc-gateway` nor `grpc-go`.

I'm using `grpc-gateway` to proxy to a python grpc server. As it turned out the blocking factor was the python grpc server. Configuring `grpc.aio.server` did the trick:

[code]

If you use a different server language, I would recommend to google for something like `max_header_list_size YOUR LANGUAGE grpc`

[2022-01-01 08:02] tmc commented on #2223
One use-case I can imagine here would be if a service parses some fields out of grpc metadata fields which /are/ handled and passed along -- an extension of the openapi extensions to enable/allow some description of those fields could be useful.

@alexisvisco is that something you'd be interested in helping out with?

[2022-01-01 08:02] tmc commented on #2223
One use-case I can imagine here would be if a service parses some fields out of grpc metadata fields which /are/ handled and passed along -- an extension of the openapi extensions to enable/allow some description of those fields could be useful.

@alexisvisco is that something you'd be interested in helping out with?

[2022-01-01 16:31] johanbrandhorst commented on #888
Sure, do you need anymore information than what is covered in the issue already? A command line flag would mean adding an entry here: https://github.com/grpc-ecosystem/grpc-gateway/blob/c52fba18f5ef3b6961c80879bdfdad1b6f5f7334/protoc-gen-openapiv2/main.go#L17-L39 and pulling it into the logic that renders the enum values. Let me know if you need more help!

[2022-01-03 03:02] hiroyoshii commented on #888
Thanks @johanbrandhorst.
I have created a PR: https://github.com/grpc-ecosystem/grpc-gateway/pull/2480. Let me know if I missed something or need to change anything.

[2022-01-03 16:00] norbjd opened #2481 "Error when passing JSON null values inside a map (invalid value for string type: null)"
## 🐛 Bug Report

Error when passing JSON `null` values inside a map: `invalid value for string type: null`.

## To Reproduce

The following repo showcases the error: https://github.com/norbjd/grpc-gateway-map-null. There are instructions in the [README.md](https://github.com/norbjd/grpc-gateway-map-null/blob/master/README.md) to easily reproduce the issue.

To summarize:

1) Define a simple gRPC s

[2022-01-03 16:06] norbjd commented on #2481
Possible related issue: https://github.com/grpc-ecosystem/grpc-gateway/issues/2056 (see test cases 5. and 7. in section "Actual behavior").

[2022-01-03 16:28] nlm commented on #2481
In both cases the "Actual Behaviour" seems incorrect according to the spec (https://developers.google.com/protocol-buffers/docs/proto3#json)

Null MUST be accepted as the default value for all field types

Wrappers are an exception to this rule, and null MUST be accepted and preserved

[2022-01-03 18:59] johanbrandhorst commented on #2481
Hi, thanks for the detailed bug report! This looks like an issue with `protojson`, our underlying JSON marshaler, no? Are you able to reproduce this behavior by unmarshalling your desired types with https://pkg.go.dev/google.golang.org/protobuf/encoding/protojson directly? I'm not sure there's anything the gateway can do here. Worst case, you can specify your own marshaler with https://pkg.go.dev/

[2022-01-03 19:19] eldad87 opened #2482 "OpenAPI-gateway - provide an ability to register OpenAPI handler"
## 🚀 Feature
As a SaaS provider, I would like to serve my APIs using a single endpoint.
Unfortunately, using grpc-gateway is not an option as some of our legacy microservies are "documented" using OpenAPI (Swagger).

Please provide an ability to register OpenAPI based handlers.
As a workaround, I result using an additional API-GW (AWS, WSO2, Kong, etc) that consolidate my Restfull APIs (OpenAPI) a

[2022-01-03 21:55] johanbrandhorst commented on #2482
Hi! Thanks for your issue. There are a few ways to do this already: The [ServeMux](https://pkg.go.dev/github.com/grpc-ecosystem/grpc-gateway/runtime?utm_source=godoc#ServeMux) implements `http.Handler`, so you can register it on a [http.ServeMux](https://pkg.go.dev/net/http#ServeMux), and then manually register your own routes on the serve mux too. Alternatively, you can also call [ServeMux.Handle

[2022-01-04 10:14] norbjd commented on #2481
Hello @johanbrandhorst, thanks for the quick reply! :raised_hands:

I have tested unmarshaling behavior outside `grpc-gateway`, with `encoding/json`, `github.com/golang/protobuf/jsonpb`, and `google.golang.org/protobuf/encoding/protojson`:

[code]

Here are the results:

[code]

So with `grpc-gateway` v1.x.x (using `jsonpb`), the result is consistent: JSON `null` is transformed into empty string `

[2022-01-04 14:33] johanbrandhorst commented on #2481
Interesting. We have a small wrapper around protojson in our default marshaler (which is required to unmarshal non-protobuf types): https://github.com/grpc-ecosystem/grpc-gateway/blob/c52fba18f5ef3b6961c80879bdfdad1b6f5f7334/runtime/marshal_jsonpb.go#L21-L316. Perhaps the bug is somewhere in this logic. Can you try your previous test using `runtime.JSONPb`?

[2022-01-04 15:02] eldad87 commented on #2482
Hi @johanbrandhorst,
Thank you for your answer. Instead of generating the custom routes, I would try to utilize something like kusk-gateway.

[2022-01-04 15:03] adambabik commented on #2481
I also dug into that because I remember I was fighting with maps and `null` values when switching to `protojson`.

If you handle errors for `protojson.Unmarshal([]byte(jsonM), &r)` you will see the same error as reported by the `grpc-gateway`. So I don't think it's strictly related to `grpc-gateway`. I suspect the reason is because `map`s in Protobuf [does not allow](https://github.com/protocolbuf

[2022-01-04 15:09] norbjd commented on #2481
@johanbrandhorst Here are the tests and results with `runtime.JSONPb`:

[code]

[code]

[2022-01-04 15:13] norbjd commented on #2481
@adambabik :wave: oh, you're right :open_mouth: !

`protojson` and `github.com/grpc-ecosystem/grpc-gateway/v2/runtime`:

[code]

both return an error with this message:

[code]

My bad, `protojson` have indeed the same behavior as `runtime.JSONPb`.

[2022-01-04 17:56] johanbrandhorst commented on #2481
Nice one @adambabik, I think that leaves us with little choice, if you want to support nullable map values you'll probably need to implement your own marshaler, though it is worth noting as Adam does that it would not technically be valid Protobuf anymore.

I'm going to close this issue but let us know if you need anymore help!

[2022-01-04 17:56] #2481 closed

[2022-01-05 23:10] johanbrandhorst commented on #2482
kusk-gateway appears to be an external application. I don't know what you mean by "register" open API routes in the context of using an external application. What exactly are you wanting our gateway to do?

[2022-01-06 20:31] gozeloglu commented on #2403
Hi @johanbrandhorst. I am here because I saw the good first issue tag :) It would be a great support package if the YAML generator will be added. As I saw that @ccampo133 has not started yet implementation. I would like to contribute to this enhancement however I looked at the [protoc-gen-openapiv2/internal/genopenapi/](https://github.com/grpc-ecosystem/grpc-gateway/tree/master/protoc-gen-openapiv

[2022-01-07 03:04] johanbrandhorst commented on #2403
Hi, thanks for your interest! I don't believe anyone else is working on it right now, so I don't think you need to worry about coordinating. As for the implementation, it looks like the JSON marshaling happens here: https://github.com/grpc-ecosystem/grpc-gateway/blob/2b08fa6955ec71c1162e23f11e20e802d9de9073/protoc-gen-openapiv2/internal/genopenapi/generator.go#L146-L163. We'd need to somehow repla

[2022-01-07 03:21] #888 closed

[2022-01-07 05:26] gozeloglu commented on #2403
Hi @johanbrandhorst. Thank you for your reply. I'll try something as soon as possible.

[2022-01-07 14:49] ivanjaros opened #2487 "Location of the URL Get query marshaler"
I am looking for the function that can take URL GET Query and marshal the fields into the PB message, but cannot find it. Can someone point it out to me, please?

[2022-01-07 15:32] johanbrandhorst commented on #2487
The logic for the default URL Query parser is here: https://github.com/grpc-ecosystem/grpc-gateway/blob/f9167a60f321a6cdd426b5ea917feb7f57de2014/runtime/query.go#L35-L329, is that what you're looking for?

[2022-01-07 16:30] oyvindwe commented on #720
I've read this and related issues with great interest, as we also have gRPC APIs that follows the Google gRPC API guidelines with the resource name syntax (e.g. (`"/v1/{name=foos/*}"`) in the HTTP mapping, and would like to automate the generation of OpenAPI. I've tested version 2.7.2, and it seems to be a great step in right direction.

First, I've found what looks like a bug I'm happy to report

[2022-01-07 18:56] ivanjaros commented on #2487
Yes, that looks like it. I will test it tomorrow. Thanks!

[2022-01-07 18:56] #2487 closed

[2022-01-07 20:11] oyvindwe opened #2489 "protoc-gen-openapiv2 generates additional paths when API includes several services with resource name based paths"
## 🐛 Bug Report

When specifying a gRPC API with multiple services with resource name based paths, and these services have multiple methods for these paths, extra paths are generated in the OpenAPI file; each service in the proto file gets one extra set of paths per method per number of services below with the same path.

## To Reproduce

1. Make a proto definition of your API, e.g. `test/foo_api.

[2022-01-09 04:52] #2181 closed

[2022-01-09 04:52] #2222 closed

[2022-01-09 16:34] johanbrandhorst commented on #720
Thanks for your thoughtful input! I noticed you raised #2489 for the first issue, thanks for that!

As for the proposal, I worry about having another source of truth for the template path and parameters, with obvious maintenance issues. I don't think this would be the first such case but we really should exhaust other possibilities before compromising there.

I'm confused by the problem statement

[2022-01-09 16:35] johanbrandhorst commented on #2489
Thanks for the issue? Do you think you could try and figure out when this was introduced? Is it a regression or something that has always been present?

[2022-01-09 17:18] oyvindwe commented on #720
Thanks for the feedback! My idea is not in ideal, it's merely a workaround the lack of support for this in the standards (OpenAPI and gRPC HTTP mapping).

I get your idea with using different gRPC fields for the alternative paths. That will require a change to any gRPC message to use in this way, as OPs example would have to be changed to (possibly put the alternative parent ids in a `oneof`):

[c

[2022-01-09 18:08] rogpeppe commented on #2363
Go away stalebot.

[2022-01-10 07:51] oyvindwe commented on #2489
With 2.7.1, I get paths `/v1/{name=bars/*}` and `/v1/{name=foos/*}`, so I guess this is a bug introduced in PR #2461. Unfortunately, I don't know go, so it's a bit hard for me to propose a fix.

[2022-01-11 03:27] johanbrandhorst commented on #720
I see the problem. I'm hesitant to adopt something like this without a clear need from the community - it would be a pretty dangerous change to make and I want to know that there's enough benefit to take on the cost, if it means having to add this alternative path specification option. Let me know if you can think of some other way to solve this though!

[2022-01-11 05:40] sorcererxw opened #2491 "Mapping gRPC request to HTTP request"
Is there anyway to convert gRPC request to HTTP+JSON request? With this feature, I could use gRPC client directly without refactoring the server to support gRPC.

[code]

[2022-01-11 14:17] johanbrandhorst commented on #2491
This isn't something that's supported by the grpc-gateway (the reverse mapping), but if your other servers support something like OpenAPI you can generate a Go client for them.

[2022-01-11 14:17] #2491 closed

[2022-01-11 20:38] ryandpardey opened #2494 "An RPC proto oneof field documents the field not used in the path as an optional request parameter"
### Steps you follow to reproduce the error:

[code]

With the annotations above, two "separate" endpoints are defined in the output:

[code]

With the non-path parameter of the oneof listed as an optional query parameter, which is incorrect:

[code]

### What did you expect to happen instead:

I expect a single GET endpoint defined with 2 path parameters listed with oneof as required (not both, a

[2022-01-12 01:24] johanbrandhorst commented on #2494
Thanks for the bug report! We've discussed this a bit on other channels and I think there's definitely something we can do here. The case we're interested in is when one of the fields of a `oneof` appears in a path parameter. In that case, we should be able to deduce that none of the other fields of that `oneof` can be specified, and so remove them from the parameter list. I don't think we need lo

[2022-01-12 15:45] johanbrandhorst commented on #406
🎉 good enough for me

[2022-01-12 15:45] #406 closed

[2022-01-12 18:22] casimcdaniels commented on #585
@tete17 Do you have a working fork you can push up? Would love to continue where you left off if you had any substantial work towards getting this feature out.

[2022-01-13 15:45] oyvindwe commented on #1670
If anybody looks into this, fields annotated with `[(google.api.field_behavior) = OUTPUT_ONLY]` should also be skipped in **request** examples.

A workaround seems to be to provide a complete example in the request message. There's no type checking of the example message though, it's only validated to be correct JSON, so it's a bit error prone for complex messages.

[2022-01-14 00:26] PhilipBehrenberg opened #2499 "When using openapiv2_field option on field the "example" parameter doesn't work"
## 🐛 Bug Report

Using the following example code, both `format` and `pattern` make it into the resulting swagger.json, but `example` does not:

[code]
This is the resulting block for the field, from the swagger.json:
[code]

## Expected behavior

What I would expect to see in the swagger.json should be more like:

[code]

[2022-01-14 01:54] johanbrandhorst commented on #2499
Hm, that is strange, since it seems to be working fine in our own examples, see [xx](https://github.com/grpc-ecosystem/grpc-gateway/blob/4fdd9cef3c63030204f35523cfffc49ba8d11a25/examples/internal/proto/examplepb/a_bit_of_everything.proto#L213) and https://github.com/grpc-ecosystem/grpc-gateway/blob/4fdd9cef3c63030204f35523cfffc49ba8d11a25/examples/internal/proto/examplepb/a_bit_of_everything.swagg

[2022-01-14 02:54] PhilipBehrenberg commented on #2499
I went and made a new project and it worked as expected. The framework I'm using must have some other issue somewhere that is stopping it from working, I'll have to do some more digging. Thank you for your time.

[2022-01-14 02:54] #2499 closed

[2022-01-14 12:41] oyvindwe commented on #1670
I've been digging a bit further into this, and first of all I think I misunderstood the title - it refers to the examples provided in the repository, but the bug applies to both the generated body request types as well as the generated `example` value for the request body.

This also seem to apply to all requests with body (PUT, PATCH, POST), not only PUT. I think a better title would be something

[2022-01-16 12:56] xwjdsh commented on #2042
I tried to fix this problem, follow the code, I found the package prefix is related to the `standalone` option. When I set `--grpc-gateway_opt standalone=true`, then everything is OK, generated code as below. I found this issue  https://github.com/grpc-ecosystem/grpc-gateway/issues/1931, It seems to be so designed, and setting the option standalone to true is the workaround of the case.
[code]

[2022-01-16 23:13] aethanol commented on #2489
@johanbrandhorst @oyvindwe I have raised a PR that should fix this: https://github.com/grpc-ecosystem/grpc-gateway/pull/2496

[2022-01-17 07:42] oyvindwe commented on #2489
@aethanol Thank you very much! I'll try to get a dev environment up and see if I can verify the fix locally as well.

While you're at it, how connected is issue #1670?

[2022-01-17 13:39] oyvindwe commented on #2489
@aethanol I have tested your fix locally, and the additional paths are gone. Thank you very much for your effort!

[2022-01-17 13:56] psydok opened #2503 "[Question] [Python] Is this repository only for the goland language? Or will it support rest-api in python when making a server?"
- [+] Check if your issue has already been reported (https://github.com/grpc-ecosystem/grpc-gateway/issues).

## I have a question.
Tell me, please, will it be possible to implement gateway on rest-api in python? What will need to be added?
If I make a protofile according to your instructions and generate files in python, will rest-api support be automatically enabled or will I need to add somethi

[2022-01-18 02:03] johanbrandhorst commented on #2042
Oh yes, that makes sense, thanks for reporting back!

[2022-01-18 02:03] #2042 closed

[2022-01-18 02:09] johanbrandhorst commented on #2503
Hi! It's perfectly possible to use the grpc-gateway with a Python gRPC server, but the gateway itself still needs to be written in Go, since the generated files are in Go. We have an example of a standalone Go binary here: https://github.com/johanbrandhorst/grpc-gateway-boilerplate/blob/master/cmd/standalone/main.go. You'll need a bit of Go knowledge to know how to adapt it to your own code, but t

[2022-01-18 02:09] #2503 closed

[2022-01-18 03:38] #2489 closed

[2022-01-18 15:09] aethanol commented on #2489
Hmm that I am not familiar with, can perhaps take a look in the future.

[2022-01-20 13:17] shivshankarramprasad commented on #422
usr/local/include location ? where in C://

[2022-01-21 04:52] crunk1 commented on #2435
I'm not sure what reporter's opening comment means, but I too discovered that the *http.Request that is passed to the ErrorHandlerFunc has a Body that has already been read. Gateway reads the request body to generate the proto message, which means the error handler can't read it.

In my case, I'm trying to log the request body when I encounter `codes.Internal` responses. An example:

[code]

[2022-01-21 07:52] brumhard commented on #2302
Just like PR still stuck in bureaucracy...

[2022-01-21 14:16] johanbrandhorst commented on #2435
Hm, yes, I don't think we can realistically buffer the body for later re-reads. You could solve your use case with a custom http.Handler level middleware probably? You can set a custom response header to indicate that you want the body to be logged, maybe? I think that's the right place to fiddle with this sort of thing.

[2022-01-21 17:40] crunk1 commented on #2435
I agree, seems reasonable to use some sort of handler middleware. Though, maybe gateway could utilize http.Request.GetBody somehow?

[2022-01-23 18:02] johanbrandhorst commented on #2435
If you've got a concrete suggestion I'm all ears :). Maybe the best solution for now would be to document this shortcoming in the signature of WithErrorHandler?

[2022-01-24 13:29] FaizUlHassan123 opened #2512 "How to convert this proto."
## 📚 Documentation

(A clear and concise description of what the issue is.)

i have tried to convert this proto to swift and place import files there but am getting this error
google/annotations.proto:20:42: Expected ";".
grpc-gateway/annotations.proto: File not found.
users.proto: Import "google/annotations.proto" was not found or had errors.
users.proto: Import "grpc-gateway/annotations.proto" w

[2022-01-24 17:06] nedimf commented on #2373
If anyone, gets to this issue again reference to this [gist](https://gist.github.com/nedimf/47f1a4f295f46601547fde55e48203aa).

In short wrapping your ``mux`` (MuxServer) around ``allowCORS()`` method solves this issue

[2022-01-25 21:43] eldad87 commented on #2482
Hi @johanbrandhorst ,
Assuming that my eco-system is composed of 2 micro-services & a gRPC-gateway service:
* Micro-service A - this service expose it's APIs using gRPC
* Micro-service B - this is a legacy service, it expose RESTfull APIs only
* gRPC-gateway - Use by my Frontend application to consume APIs

Currently, the gRPC-gateway can expose the APIs of micro-service A, while I would like it t

[2022-01-25 21:46] eldad87 commented on #2468
Hi @johanbrandhorst ,
Thank you for your response.

Since the gRPC-gateway can connect to multiple services and in turn, expose their APIs as Restful APIs - Is it possible that it will expose the gRPC functionality too?
In other words, act as an API Gateway for gRPC bases services?

[2022-01-26 03:26] johanbrandhorst commented on #2512
Hi. It's hard for me to help you since you haven't given me enough information about your set up. I would recommend starting from the [boilerplate repo](https://github.com/johanbrandhorst/grpc-gateway-boilerplate) and making the changes you want along the way. It sounds to me like you have a fundamental Protobuf set up issue. Maybe join our support channel on the Gophers slack if you need more hel

[2022-01-26 03:26] #2512 closed

[2022-01-26 03:30] johanbrandhorst commented on #2482
You have to manually add those routes to the same mux that the gRPC gateway serves. The gRPC gateway can't automate this process.

[2022-01-26 03:30] #2482 closed

[2022-01-26 03:30] johanbrandhorst commented on #2468
The gRPC gateway can't expose the gRPC server directly, but there's nothing stopping you from doing so. It's not uncommon to serve the gRPC gateway on one port and the gRPC server on another port and expose both.

[2022-01-26 03:30] #2468 closed

[2022-01-27 01:12] markphelps commented on #2481
For anyone that finds this issue down the road, I ran into this same problem in https://github.com/markphelps/flipt/issues/664

My solution was to create an adapter Marshaller that adapts the v1 marshaller to fulfil the v2 Marshaller interface as I needed to be able to support nullable map values in order to restore backwards compatibility:

[code]

[2022-02-06 15:58] jaronnie commented on #769
my example:
[code]

[2022-02-09 07:53] ganesh-karthick opened #2530 "Support for http_proxy , https_proxy, no_proxy env"
## 🚀 Feature

Does grpc gateway have support or honor ```http_proxy , https_proxy, no_proxy``` environment variables ?

[2022-02-09 12:15] sumabn opened #2531 "openapiv2: Field options are not properly rendered for repeated fields"
I need to generate swagger json using proto annotations.
generated schema should look like this

[code]

and the annotation added was something like this

[code]

But the problem is above annotation is generating schema like this

[code]

which is not correct. We could not find the relevant example in [a_bit_of_everything.proto](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples/i

[2022-02-09 14:01] johanbrandhorst commented on #2530
Hi! Could you elaborate a bit what you mean? I have no idea what you are asking.

[2022-02-09 14:10] johanbrandhorst commented on #2531
Hi! I went and looked at the OpenAPIv2 spec and it seems you can specify the field properties both at the top level and inside the `items` object: https://swagger.io/specification/v2/#items-object. I think we should probably put it inside the items if the specified field is repeated. Would you be willing to help contribute a fix for this?

The easiest way to get started would be to add a new test

[2022-02-09 23:04] johanbrandhorst commented on #441
To my knowledge, no one is actively working on this.

[2022-02-10 02:54] mixedCase commented on #2243
@johanbrandhorst Could this decision be re-evaluated? Documenting APIs that regularly stray away from 200 using grpc-gateway is turning into a lot of boilerplate and swagger post-processing.
If there was an option that not only affected the swagger docs, but also allowed setting the status code for the response without the need for custom middleware, this would be a major grpc-gateway QoL improvem

[2022-02-10 10:01] oxisto commented on #441
To share some insight, in our project http://github.com/clouditor/clouditor we are basically using a combination of grpc-middleware to generate the REST server as well as gnostic (> 0.6.0) to generate OpenAPI files and so far we had no problems with external clients.

[2022-02-10 20:45] ganesh-karthick commented on #2530
We have standard proxy env settings in our setup, similar to whats mentioned [here](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-proxy.html). This proxy env settings are  adhered to by most tools .   Would communication between http server <-> grpc server  in grpc gateway  follow this proxy rules was the question ?

I see grpc is supporting it [here](https://github.com/grpc/grpc-

[2022-02-11 00:55] johanbrandhorst commented on #2243
The grpc-gateway is trying to produce a HTTP reverse proxy for gRPC following the [http.proto](https://github.com/googleapis/googleapis/blob/master/google/api/http.proto) spec. The spec does not allow you to specify return codes anywhere, so the only reasonable mapping is found by mapping the [gRPC status code](https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto) in any retu

[2022-02-11 02:01] johanbrandhorst commented on #2530
I see. The gRPC gateway does not honor these environment variables, because it isn't available as a binary executable. You could certainly write a Go program that honors these environment variables for your own gRPC transcoding. This isn't something we can support within the gRPC gateway directly.

[2022-02-11 02:01] #2530 closed

[2022-02-11 12:52] marbar3778 opened #2539 "merge files options are not used when set"
## 🐛 Bug Report

(A clear and concise description of what the bug is.)

## To Reproduce
using the below plugin as mentioned in the docs. There are multiple files that are generated but when using `allow_merge=true,merge_file_name=openapi` one file is generated and overwritten every time, at the end it only houses the final proto files openapi docs

plugins:
  - name: openapiv2
    out: openapi

[2022-02-15 11:45] stumko-elamateam opened #2543 "Skip unused messages while documentation generation"
Suppose we write common grpc server for both internal and external communication like this
[code]
Using openapiv2_out plugin doesn`t produce InternalMethod documentation, but SomeAnotherMessage/InternalMethodResponse are still in the documentation. Is there any annotation or plugin option to skip such messages?

[2022-02-15 21:07] eldad87 commented on #2468
Hi @johanbrandhorst,
Yes, we can easily expose gRPC using a different port.
The question is if its possible to aggregate multiple endpoints into a single endpoint?

[2022-02-18 02:37] johanbrandhorst commented on #2539
Hi, thanks for the bug report. Could you provide a minimal reproducible example of the bug? I definitely would expect this to work, we have tests for it.

[2022-02-18 02:48] johanbrandhorst commented on #2543
Hi, thanks for the issue! All the options available to the `openapiv2` generator are listed here: https://github.com/grpc-ecosystem/grpc-gateway/blob/e3f0402c2331a9910318e5bd7fd7c7d21e869d05/protoc-gen-openapiv2/main.go#L18-L39. There is no option to exclude messages that aren't used. I would recommend creating separate definitions for your external APIs, it is likely that they will diverge over t

[2022-02-18 02:59] johanbrandhorst commented on #2468
I'm not sure what you mean by aggregating multiple endpoints into a single endpoint, sorry. Aggregating multiple services can be done by simply serving multiple generated gRPC-gateway clients on a single HTTP server. Does that answer the question?

[2022-02-20 16:20] marbar3778 commented on #2539
ah sorry, I figured out the issue,, it was a script that is being runs fault.

[2022-02-20 16:20] #2539 closed

[2022-02-20 17:57] oyvindwe commented on #1670
I think I've isolated the issue:

https://github.com/grpc-ecosystem/grpc-gateway/blob/ed37f51629746cf5b61ec8b4efffa3c521b5ad29/protoc-gen-openapiv2/internal/genopenapi/template.go#L1028-L1031

This needs to be done for all levels.

[2022-02-21 02:03] lakshkeswani commented on #2531
/assign i am will to contribute on this knidly assign it to me

[2022-02-21 21:55] johanbrandhorst commented on #1670
Interesting, would you be interested in contributing a fix for this?

[2022-02-21 21:56] johanbrandhorst commented on #2531
Hi @lakshkeswani, please have at it!

[2022-02-22 12:42] shettyh opened #2550 "HTTP rules without a matching selector"
## 🐛 Bug Report

Getting the error `HTTP rules without a matching selector ....` when multiple folders present in the root directory

Dir structure
[code]

Sample `grpc_api_configuration` file

[code]

then do `buf generate proto` with `grpc_api_configuration` file. Generation will fail with error `Failure: plugin grpc-gateway: HTTP rules without a matching selector:  .....`.

Seems like it is sea

[2022-02-22 14:32] johanbrandhorst commented on #2550
Hi! This is working as intended, it's warning you that you have a rule definition that doesn't match any defined RPCs. What is the package name, service name and RPC name that you are trying to decorate with a health check?

[2022-02-22 14:43] johanbrandhorst commented on #2550
That looks right to me, how are you invoking the command? Maybe you could share a reproducible example repo?

[2022-02-22 14:49] shettyh commented on #2550
Added the sample here , please check https://github.com/shettyh/gateway-test

[code]

[2022-02-22 14:57] shettyh commented on #2550
Running in root directory also fails with same error

![Screenshot 2022-02-22 at 8 26 47 PM](https://user-images.githubusercontent.com/13759916/155158555-599c87e6-1750-45e2-b92a-8f883f8f6a2e.png)

[2022-02-22 14:59] shettyh commented on #2550
Looks like `grpc-gateway` looks for `test.my_service1.v1.TestService1.Check` this selector in both folders and if not found in one it fails. Is this expected ?

[2022-02-22 15:00] johanbrandhorst commented on #2550
Ah, I see what you are saying. You may be able to fix this with `strategy: all` in your `buf generate`. It is probably the invocation of the generation of the second folder that is failing, as you surmised.

[2022-02-22 15:30] shettyh commented on #2550
Ah, It works after setting `strategy: all`. Thanks a lot for quick help

[2022-02-22 17:43] oyvindwe commented on #1670
I'm taking a stab at it, but this is my first Go project, so there's lots of idioms in this code that's completely new to me.

[2022-02-25 02:25] shettyh commented on #2550
Yes will do this and raise a PR. Thanks

[2022-02-25 15:36] oyvindwe commented on #1670
Adressed in PR #2553

[2022-02-26 08:00] xdorro opened #2555 "How to replace ServerMux to Fasthttp?"
## 🚀 Feature

I have an idea about providing some fasthttp enabled api or other libraries as an alternative to ServerMux. Sorry for my not good English, hope everyone can understand a little bit about my ideas.

[2022-02-26 08:05] xdorro commented on #2555
I have seen some of my friends who have used Fiber for some projects before, and now they want to integrate grpc-gateway. But they are using some adapter to convert mux to fasthttp, i find doing so will cost more and performance is not good compared to using fasthttp directly

[2022-02-28 02:19] mcquackers opened #2557 "Transcoding streaming HTTPBody responses leads to file downloads of size greater than expected"
## 🐛 Bug Report

Using ForwardResponseStream with a stream of HttpBody leads to extra bytes appended to data in Go

## To Reproduce

(Write your steps here:)

1. Create a Unary Request - Streaming Response grpc proto (FooServer (GetFooRequest) returns (stream google.api.HttpBody))
1. Generate go bindings with GRPC Gateway and go_grpc
1. In the implementation, retrieve a remote tar.gz (eg, gitlab p

[2022-03-01 03:18] johanbrandhorst commented on #2557
Hm, i there any chance that the marshaler is inserting newlines between each of your messages? I've never tried to use HTTPBody in a stream, that's kinda interesting, but we do have a way to configure the stream separator: https://pkg.go.dev/github.com/grpc-ecosystem/grpc-gateway/v2/runtime#Delimited. It appears the default HTTPBody marshaler doesn't implement this, but instead expects the user to

[2022-03-02 03:14] mcquackers commented on #2557
@johanbrandhorst I was wondering if you could offer some insight:
Are you suggesting updating the HTTPBodyMarshaler to implement the `Delimited` interface?  I was running through that, and then that causes some other breakages because HTTPBodyMarshaler serves as the Default Marshaler.

If this is the approach we should follow, easy enough.  I just want to verify there wasn't a better fit you were

[2022-03-02 04:21] johanbrandhorst commented on #2557
Hm, that _was_ what I was thinking, but you're right that is a change of behavior. Maybe what we need is a new option on the `HTTPBodyMarshaler` that lets you set the delimiter, and default it to the current `\n` to preserve backwards compatibility. What do you think?

[2022-03-02 14:05] #2302 closed

[2022-03-02 17:54] #1670 closed

[2022-03-02 19:50] oyvindwe commented on #1015
I think this has the same root cause as issue #1670 that I just fixed. With 2.8.0 I get the following in `book.swagger.json`:

[code]

I suggest closing this as fixed.

[2022-03-02 20:03] oyvindwe commented on #1015
With version 2.7.2 or newer, you should get `v1/{book.name}`; this was reported in issue #407, fixed in PR #2461.

[2022-03-02 20:06] oyvindwe commented on #1015
@johanbrandhorst I should have tagged you above - this seems to be fixed.

Note - I might have taken undue credit - I didn't fix the _query_ parameters, only the body parameter.

[2022-03-02 21:19] johanbrandhorst commented on #1015
Great, very happy to close this!

[2022-03-02 21:19] #1015 closed

[2022-03-02 21:31] oyvindwe commented on #720
I have implemented a simpler suggestion in PR #2562

[2022-03-02 22:21] oyvindwe commented on #2363
I'm not sure if it is the path template that is wrong or the parameter name (or both).

What are the expected JSON field names for `ID` and `FooBar`? The [Proto 3](https://developers.google.com/protocol-buffers/docs/proto3#json) specification is a bit vague:

I could argue for any of these 3 variants:
ID -> id, URL - >url, URLString -> urlstring, FooBar -> fooBar (lowercase continuous uppercased c

[2022-03-02 22:24] oyvindwe commented on #2363
Preserve uppercase characters is probably the safe choice, given that the original proto field must be supported. However, that may lead to problems if combining with `_`, e.g. what's expected for `Foo_Bar`? `fooBar` or `FooBar`?

[2022-03-03 02:17] mcquackers commented on #2557
I think this is something I'm going to noodle on for a little bit.
The requisites to me seem to be:
1. Don't break existing functionality where the default marshaler is used
2. avoid bolting fields on to the HTTPBodyMarshaler if at all possible; existing implementations of other marshalers either have options from third party resources or have no options at all, but none of the existing marshalers

[2022-03-04 13:34] oyvindwe opened #2566 "protoc-gen-openapiv2: required fields not optional in partial update operations"
## 🐛 Bug Report

Currently a field annotated with `(google.api.field_behavior) = REQUIRED` is marked as required in all request messages.
However, according to [Goole AIP-203](https://google.aip.dev/203#required) they may not be required for partial updates using `PATCH` and `update_mask`:

## To Reproduce

1. Create `example/foo.proto` with:
[code]

2. Run `protoc -I . --go_out=. --openapiv2_out

[2022-03-04 13:41] oyvindwe commented on #2566
We're currently working around this problem by not using `[(google.api.field_behavior) = REQUIRED]`, and instead include a comment for fields that are required in create operations.

I think it will be quite complex to implement this (similar to removing path parameters from `body`), as create and update operations requires different OpenAPI types _if_ any field in the data structure is marked as

[2022-03-04 20:11] mcquackers opened #2568 "Add option to append incoming transcoded request to OutgoingMetadata to support StreamServerInterceptor authorization"
## 🚀 Feature

Stream RPCs are easy to authenticate but difficult to authorize via Interceptors due to the way the go_grpc plugin generates code:
Even for a (Unary Request, Streaming Response), which arrives at the GRPC Server with the Request available at that point, Stream Interceptors, which can only operate on the Server, Stream, ServerStreamInfo, and Handler, have no way of viewing the incomin

[2022-03-04 21:02] mcquackers commented on #2557
I've been able to achieve a successful streaming download by creating a custom marshaller that wraps HTTPBodyMarshaller and overrides the underlying JSONPb.Delimiter() method, so I'm able to proceed, but I still would like to find a win here.

Currently, I'm thinking of an option that exists outside the Marshaller that can then wrap the marshaller.  This isn't _ideal_ because Marshallers already i

[2022-03-04 21:02] #2557 closed

[2022-03-05 14:26] johanbrandhorst commented on #2566
The option to disable `field_behavior = REQUIRED` seems like it wouldn't add much unless the user has added that option for other reasons than the openapiv2 generator, do we have reason to believe that this is the case?

[2022-03-05 14:27] johanbrandhorst commented on #2568
Hi, thanks for your issue! Can't users do this already today by just adding a HTTP level interceptor?

[2022-03-06 05:29] alphashaw opened #2569 "Don't see the greater advantage in reverting #2398"
## 🚀 Feature

The pull request #2398  had the ***gprc.Client** changed to the interface **grpc.ClientConnInterface** in the generated  **RegisterXXXHandler** methods and this was reverted in #2444 . I wished for #2398 before it was implemented and fortunately it was implemented before I could ready to submit a PR.
The **RegisterXXXHandler** expects the connection to be created before it's called e

[2022-03-06 16:43] johanbrandhorst commented on #2569
I agree that I would like to see an interface here, but we do take backwards compatibility extremely seriously, so it is not acceptable for us to change this again if it risks breaking users.

[2022-03-07 00:16] alphashaw commented on #2569
Kk @johanbrandhorst, thanks for the clarity.
I don't know what it will cost, so is there a possibility of having another variant of the **RegisterXXXHandler** generated method? At least this could be a temporary solution. If so, I would love to give a try on that implementation.
Thanks

[2022-03-07 15:59] mcquackers commented on #2568
Ha I didn't consider that; you're absolutely right

[2022-03-07 15:59] #2568 closed

[2022-03-08 02:16] johanbrandhorst commented on #2569
I suppose we could generate a new method that uses the new signature, maybe something like `RegisterXXXInterface`? The https://github.com/grpc-ecosystem/grpc-gateway/pull/2398 PR should be a good inspiration for how to implement this.

[2022-03-08 04:10] rogchap opened #2571 "Forward Response Option - Context contains no request anotations"
## 🐛 Bug Report

The context that is passed to `WithForwardResponseOption` function does not include any of the Annotation Options and therefore `runtime.HTTPPathPattern(ctx)` always returns empty.

The annotated context is created here: https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-grpc-gateway/internal/gengateway/template.go#L599 with variable `rctx`
[code]

However a new

[2022-03-08 10:46] KrishnaAnanthi commented on #2400
I am able to get it working with fetch. Thanks

[2022-03-08 14:05] antonioiubatti93 opened #2572 "Custom HTTP health check endpoint path"
## 🚀 Feature

Thank you @brumhard and @johanbrandhorst for having the following HTTP health check endpoint available through the gRPC gateway, this is very useful :tada:
- #2302
- #2319

To further enhance that, I would suggest to customize the endpoint path in order to use any path other than `/healthz`, so that any existing health check endpoints shall not undergo any disruption.

[2022-03-09 03:31] johanbrandhorst commented on #2571
Hi, thanks for the bug report! I had to go all the way back to https://github.com/grpc-ecosystem/grpc-gateway/commit/a5edb0b39c61f3a90d5291cc04fe3e58f2fb77a7 to see where this `rctx` variable was introduced, and I can't tell why we'd only want to have the context annotated in the _incoming_ request path as supposed to both incoming and outgoing. I think we should try to just let `runtime.AnnotateC

[2022-03-09 03:33] johanbrandhorst commented on #2400
Glad to hear it!

[2022-03-09 03:33] #2400 closed

[2022-03-09 03:36] rogchap commented on #2571
Thanks for the clarification @johanbrandhorst ... PR incoming.

[2022-03-09 03:41] johanbrandhorst commented on #2572
This sounds like a reasonable request. I'm not actually sure what the best way to accomplish this is... we might need a new `WithHealthEndpointPath` or something that does what `WithHealthzEndpoint` does but with a `path` parameter. Then `WithHealthzEndpoint` can be implemented as `WithHealthEndpointPath(healthCheckClient, "/healthz")`. @brumhard any thoughts?

[2022-03-09 06:07] brumhard commented on #2572
I already thought about that while implementing the PR but didn't come up with a nice solution and then lost track somehow. My idea was some kind of nested functional option, but I think your solution looks nicer than `WithHealthzEndpoint(healthCheckClient, WithPath("/health"))`. I can implement the `WithHealthEndpointPath` if you want 🙂

[2022-03-09 08:50] antonioiubatti93 commented on #2572
@johanbrandhorst @brumhard those are indeed the two solutions I would have suggested myself :+1:

Imho functional options may be overkill to simply apply a non-default endpoint path in this case, so I would favor more the idea of having a `WithHealthEndpointPath` mux option, and reuse it for `WithHealthzEndpoint`.
However, should anyone need to apply other non-default configuration, having functio

[2022-03-10 01:20] #2571 closed

[2022-03-10 07:05] MJjainam commented on #472
If there are query params in your URL, you will have to tweak the above function:

[code]

[2022-03-10 16:07] hedhyw commented on #2403
It seemed that this issue is forgotten, so I have implemented it today by myself. Please, review.

[2022-03-11 01:16] johanbrandhorst commented on #2531
This sounds like a separate issue, could you create a separate issue and share your RPC definition too please?

[2022-03-11 01:18] johanbrandhorst commented on #1791
There is now an alternative implementation to hiding fields/RPCs in https://github.com/grpc-ecosystem/grpc-gateway/pull/2578. We probably only want to merge one, so would interested parties weigh in on which they would prefer?

[2022-03-11 02:25] BCook98 commented on #1791
I'm slightly biased towards https://github.com/grpc-ecosystem/grpc-gateway/pull/2578 😉.

Both are nice solutions towards hiding fields/RPCs, but `google.api.VisibilityRules` provides the ability to completely hide fields from the output. That way consumers never know a field exists, instead of having to rely on the Swagger renderer/ codegen to do that for you.

That being said it looks like https:

[2022-03-11 02:36] ewhauser commented on #1791
I concur with @BCook98. First class support for `google.api.VisbilityRules` seems like the way to go - I'm not sure this was around (or at least I didn't know about it) when I suggested extensions.

I also agree that these two implementations are not mutually exclusive.

[2022-03-11 03:13] johanbrandhorst commented on #1791
Fair points, lets consider each on its own merits, thank you both!

[2022-03-11 10:34] jan-sykora opened #2580 "openapiv2 - google.protobuf.FieldMask generated as string, not array of strings"
## 🐛 Bug Report

[google.protobuf.FieldMask message](https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/field_mask.proto) is a wrapper of `repeated string`  but the openapiv2 generator generates this field into OpenAPIv2 spec incorrectly as a string field (instead of array).

## To Reproduce

I have created a repository with example code so you can reproduce it yourself vi

[2022-03-11 10:35] jan-sykora commented on #2531
@johanbrandhorst I have created a separate issue #2580 with reproducible example.

[2022-03-11 10:52] jan-sykora commented on #2580
My bad - I haven't read correctly the google.protobuf.FieldMask description:

// separated by a comma. Fields name in each path are converted
// to/from lower-camel naming conventions.

**So the openapiv2 generator has generated it correctly** (although it seems confusing to me that it's not encoded as an array).

[2022-03-11 10:52] #2580 closed

[2022-03-12 13:31] json7 commented on #1610
type Response struct {
	Code codes.Code  `json:"code"`
	Msg  string      `json:"msg"`
	Data interface{} `json:"data"`
}

var (
	EmptyError = errors.New("empty error") //查看文档和issue,基本确定grpc gateway无法修改正常返回值的结构,错误情况下是可以的,它提供了option.
)

func CustomHTTPError(ctx context.Context, sm *runtime.ServeMux, m runtime.Marshaler, w http.ResponseWriter, r *http.Request, err error) {
	const fallback = `{"error":

[2022-03-15 15:41] #2572 closed

[2022-03-15 16:19] davidedmonds opened #2591 "Error message on server streaming endpoint does not get delimiter appended"
## 🐛 Bug Report

When calling a Server Streaming grpc endpoint through grpc-gateway, when an error is returned, it does not have a delimiter appended (by default, `\n`) unlike other streaming messages.

## To Reproduce

1. Call an endpoint that maps onto a Server Streaming grpc endpoint, that returns an error.

## Expected behavior

grpc-gateway returns `{"error":....}\n` (or other configured deli

[2022-03-15 19:08] #2403 closed

[2022-03-16 06:43] brumhard commented on #2572
@antonioiubatti93  sry was a bit afk last week but glad that you got it working to your needs 👍🏻

[2022-03-16 08:30] antonioiubatti93 commented on #2572
@brumhard no problem, I had actually very little to do, the base feature was very nice already :smile:

[2022-03-17 22:58] johanbrandhorst commented on #2591
I'm kinda leaning towards this not being a bug, but what is the behavior for successful streams? Does the last message include the delimiter at the end? If so, we should probably include it in errors as well.

[2022-03-18 10:51] MJjainam opened #2594 "Allow raw JSON content as string without attempting to further unmarshal it."
## 🚀 Feature

I have a proto as follows:
[code]

Now the REST API body passed is

[code]
I was looking to make the above proto to work for this body.

Currently the unmarshalling fails and complains that it cannot unmarshall Bar as a string.

The closest I have gotten to is to write a custom Unmarshaller but that seems like an overkill. Is there any other better approach to solve this?

[2022-03-18 16:49] davidedmonds commented on #2591
Yes - the last message includes a delimiter if it is not an error response.

When an error is returned:
[code]

When no error is returned
[code]

[2022-03-18 18:13] johanbrandhorst commented on #2591
In that case I think you're right, we should add the delimiter after the error. It hopefully shouldn't break any clients. Would you be willing to contribute this fix?

[2022-03-18 21:07] oyvindwe commented on #2594
`Bar` isn't passed as a string, so it's not a surprising response. I'm not sure what you are trying to accomplish here, but as far as I understand your suggestion is not valid per the Protobuf specification.

You could either send the value as a valid string from the client: `"Bar": "{\"Hello\": \"World\"}"`, or use a map type:
[code]

or `Struct` if you want to pass any JSON object:
[code]

[2022-03-18 21:24] oyvindwe commented on #2566
I get your point. This issue can probably be viewed as an edge case. In plain gRPC, it's a semantic message to any developer, informing that any `REQUIRED` field must be present when creating a resource or performing a full update on a resource. The issue with mapping this to `required` in OpenAPI, is that the field also becomes required when doing a partial update (e.g. in SwaggerUI, Postman, etc

[2022-03-18 21:24] #2566 closed

[2022-03-18 21:32] oyvindwe commented on #2363
I could take a stab at this if I get help to figure out the expected casing. Do you know, @rogpeppe or @johanbrandhorst?

[2022-03-19 02:17] johanbrandhorst commented on #2594
I agree with @oyvindwe, the premise is flawed. In any case, this isn't really something the gateway has control over, we use the `protojson` marshaler, which is what controls the behavior.

[2022-03-19 02:17] #2594 closed

[2022-03-19 02:26] johanbrandhorst commented on #2363
I believe https://github.com/protocolbuffers/protobuf-go/blob/3992ea83a23c00882339f33511074d251e19822c/internal/strs/strings.go#L92-L106 is the canonical mapping function that `protojson` uses. https://github.com/protocolbuffers/protobuf-go/blob/3992ea83a23c00882339f33511074d251e19822c/internal/strs/strings_test.go#L67 has some test cases, but you could probably quite easily tell what your example

[2022-03-19 04:37] stelcodes commented on #2591
Hi @johanbrandhorst, I'm trying to make my first contribution and I think I solved the issue. Just posted PR #2596

[2022-03-20 17:19] #2591 closed

[2022-03-20 18:41] davidedmonds commented on #2591
@stelcodes looks like you beat me to it :) TYVM <3

[2022-03-21 15:44] oyvindwe commented on #2363
`protoc-gen-openapiv2` already depends on `google.golang.org/protobuf/`, but I'm not able to use `google.golang.org/protobuf/internal/strs` directly; I assume this is because it is an internal package:
[code]

It doesn't look like a license violation to copy the above method, but copyright notice has to be copied as well to relevant places. Is this acceptable?

[2022-03-21 19:25] oyvindwe commented on #582
@johanbrandhorst This looks like a duplicate of the issues fixed by PRs #2461 and #2496, as a duplicate path now gets enumerated path parameter(s).

[2022-03-21 19:35] johanbrandhorst commented on #2363
Yes, that sounds good to me

[2022-03-21 19:47] johanbrandhorst commented on #582
Great find!

[2022-03-21 19:47] #582 closed

[2022-03-21 21:43] #2363 closed

[2022-03-25 10:08] GreyXor opened #2611 "WithHealthzEndpoint should answer with application/json Content-Type"
## 🐛 Bug Report

`WithHealthzEndpoint` didn't set Content-Type to anything but `text/plain; charset=utf-8`. Shouldn't it be application/json?

## To Reproduce

1. Enable WithHealthzEndpoint
2. GET to the /healthz endpoint

## Expected behavior

[code]

## Actual Behavior

[code]

## Your Environment
Go 1.18 with grpc-gateway v2.10.0
Linux 5.17.0-arch1-1 #1 SMP PREEMPT Tue, 22 Mar 2022 23:36:09 +00

[2022-03-25 10:11] GreyXor opened #2612 "Add Healthz endpoint in OpenAPI protoc-gen-openapiv2"
## 🚀 Feature

When activating WithHealthzEndpoint, the OpenAPI file does not contain the reference to this new endpoint /healthz. Is there a way to add it to openapi ?

[2022-03-26 00:34] johanbrandhorst commented on #2611
Yeah this definitely seems reasonable. Would you like to contribute this fix?

[2022-03-26 00:34] johanbrandhorst commented on #2611
CC @brumhard @antonioiubatti93

[2022-03-26 00:35] johanbrandhorst commented on #2612
No, for this you'll need to define a custom HTTP mapping as usual. I don't think this is something we want to add especially as it's easy enough to do yourself.

[2022-03-26 00:35] #2612 closed

[2022-03-26 10:21] GreyXor commented on #2612
Thanks i'll use custom HTTP mapping then

[2022-03-26 13:15] GreyXor commented on #2611
Sure, but i didn't know where to define the headers. I never looked at the code of grpc-gateway. I'll be looking at

[2022-03-28 08:29] oyvindwe commented on #720
I seem to have missed a concept in the Google AIPs that can be used to generate paths based on resource names - the `pattern` property of the [`google.api.resource`](https://github.com/googleapis/googleapis/blob/master/google/api/resource.proto) annotation as explained in [AIP 123](https://google.aip.dev/123).

Examples are provided in [AIP 122](https://google.aip.dev/122#fields-representing-resou

[2022-03-28 13:42] johanbrandhorst commented on #720
Would we need to add an option? Is it something we could just turn on? Do you think it would risk breaking users?

[2022-03-28 13:49] llsj14 commented on #837
Hello, I have similar issue to generate single swagger file from multiple proto files.

I found out that there was an effort to generate single swagger output from multiple proto files in `protoc-gen-swagger`. (https://github.com/grpc-ecosystem/grpc-gateway/pull/658)
[this document](https://grpc-ecosystem.github.io/grpc-gateway/docs/development/grpc-gateway_v2_migration_guide/) said `protoc-gen-sw

[2022-03-28 14:07] johanbrandhorst commented on #837
There definitely is: https://grpc-ecosystem.github.io/grpc-gateway/docs/mapping/customizing_openapi_output/#merging-output

[2022-03-28 14:26] llsj14 commented on #837
oh wow, thanks for the info. 👍 I was so confused between issues, but finally I could generate swagger file that I want, thanks to your comment.

[2022-03-28 14:35] johanbrandhorst commented on #837
Nice, happy to hear it!

[2022-03-28 14:59] oyvindwe commented on #720
I have a feeling nobody are using `protoc-gen-openapiv2` with `google.api.resource` annotations, since nobody suggested to use that previously. It wouldn't breake our flow at least, that's for sure!

[2022-03-28 15:02] oyvindwe commented on #720
@yinzara I'd be very happy to get your input on the idea to generate path parameters from `google.api.resource` annotations.

[2022-03-28 16:20] betmix-matt commented on #720
Yeah and I think this is an unrelated issue to this issue. If we want to support `google.api.resource` annotations instead of using `google.api.http` then we should have a separate defect opened.

From: Øyvind Matheson Wergeland ***@***.***>
Date: Monday, March 28, 2022 at 8:00 AM
To: grpc-ecosystem/grpc-gateway ***@***.***>
Cc: Matthew Vance ***@***.***>, Comment ***@***.***>
Subject: Re: [grpc-e

[2022-03-28 19:22] oyvindwe commented on #720
The way I understand this is that `google.api.resource` would be used in combination with `google.api.http`. The http annotation would give the complete path to an operation, while the resource annotation would break down the resource name or parent path parameter into the separate path segments, and possibly also into multiple path parameters.

See https://github.com/googleapis/googleapis/blob/f5

[2022-03-28 21:48] Jthomas54 opened #2616 "How to add health check to service and expose it via the gateway"
## 📚 Documentation

There are many issues around checking the health of a service and it still isn't quite clear to me how this should be done.  It seems that the gateway and health checks assume you are running in a different process.  I'm currently hosting the two on the same port and serve the traffic based on headers (Go).

The most obvious way to me is to implement the check/watch in the serv

[2022-03-28 23:24] yinzara commented on #720
So that makes no sense to me.

That would mean that you'd have to have translate the GetRoleRequest message into 3 separate OpenAPI resources: one for each API endpoint that could be supported by it as you would no longer have a `name` parameter, but instead a `organization` or `tenant` or `role` parameters all with different combinations depending on which endpoint.

There is no way to have `/aut

[2022-03-29 01:39] johanbrandhorst commented on #2616
Hi, thanks for your issue. I am a little confused, could you clarify what information you need? There are essentially two well supported paths for doing health checking in the grpc gateway today:

1. Define your own HealthService and add a HTTP mapping as with any other gRPC service. Benefits of this is that it works like any other gRPC-Gateway service and you can use `protoc-gen-openapiv2` to get

[2022-03-29 02:34] Jthomas54 commented on #2616
The first option is the solution I was settling for.  I want to use the `WithHeathEndpointAt` solution, it isn't very clear how I can implement this when the client and server are the same thing.  HealthService and MyService are listening on the same port locally.  I don't see a obvious way to make this happen.  Can you provide guidance.

[2022-03-29 06:59] oyvindwe commented on #720
@yinzara thank you for your input!

I think there would still only be one _resource_ (`Role`), but 3 different _paths_ to get to that resource. That is already supported now by the generation of these 3 paths in the OAS file (for the `GetRole` example above):
- `GET /auth/iam/{name}` where path parameter `name` has pattern `roles/[^/]+`
- `GET /auth/iam/{name_1}` where path parameter `name_1` has

[2022-03-29 07:32] yinzara commented on #720
I disagree. I think you're making assumptions about the consumer of your API.

When you use resource names in an API, you expect to be passing those resource names around and for fields of entities to use those resource names when referring to other entities.

You shouldn't be parsing those names into those parts and then passing those parts to your APIs as you don't have enough information to kno

[2022-03-30 00:22] johanbrandhorst commented on #2616
With option 1 you just define a custom health check endpoint, you don't concern yourself with the `grpc_health_v1.HealthServer` definitions. Just make a service definition as usual and define a mapping to do what you want.

With option 2, you implement the `grpc_health_v1.HealthServer` on your server, and then dial that and hand it over to the `WithHealthServiceAt` option. It doesn't matter that y

[2022-03-30 01:01] Jthomas54 commented on #2616
The "then dial that and hand it over to the" is the problem here, since they are listening on the same port, and is hasn't happened yet, it seems to cause some issues with the actually calls.  The call ends with `connection closed before server preface received`.  I was hoping to use `grpc_health_v1.HealthServer` since it is the recommended approach, and I didn't want to have to define it over and

[2022-03-30 01:01] #2616 closed

[2022-03-30 07:30] marsianin opened #2618 "There is issue with field mask generation for the "google.protobuf.Struct""
## 🐛 Bug Report

There is an issue with field mask generation for the field with specific type

e.g.
[code]
Then there is service to update this Message.

[code]

As fieldMask is not provided in request then it is generated automatically before forward request to the Grpc-server.
And then the paths list is like this:

[code]

it looks like this line https://github.com/grpc-ecosystem/grpc-gateway/b

[2022-04-01 10:17] llsj14 opened #2622 "Merged swagger outputs only require info of first proto file that is input"
## 🐛 Bug Report

Thanks for the great [help](https://github.com/grpc-ecosystem/grpc-gateway/issues/837#issuecomment-1080699455) and [guide](https://grpc-ecosystem.github.io/grpc-gateway/docs/mapping/customizing_openapi_output/#merging-output), I could merge swagger outputs of different services.

By the way, the problem is that the merged output only shows the service info of the proto file that i

[2022-04-01 22:26] johanbrandhorst commented on #2622
Hi, thanks for the issue! This is annoying yes, but it's also not clear what the behavior should be. Merging all the info from all the files would potentially cause duplicate information to appear in the merged file. It would make sense for us to use the info from the first file found, so that any file could contain the information, don't you think?

If you'd like to help contribute a fix to this,

[2022-04-02 08:39] maja42 commented on #1783
Hi, because if those reasons we switched to grpc-web which solves all these issues.
We are now able to communicate directly via grpc inside the browser (no rest) and have all types/clients directly generated from the original protobufs, which reduced our amount of work compared to grpc-gateway. It also allows unlimited streaming like in the backend, only client-side streams (and bidirectional stre

[2022-04-02 08:50] maja42 commented on #1783
@paulsmithkc As a side note: We are exclusively using grpc on the backend and explicitly didn't want to use web-sockets. It would require us to write additional code for every single RPC that we expose to the UI. And splitting an API up into two different technologies (Rest + web-sockets) based on an arbitrary property (stream vs. no-stream) also doesn't look very desirable. In addition to two new

[2022-04-03 18:04] #2618 closed

[2022-04-04 14:48] cloneable opened #2624 "protoc-gen-openapiv2: don't emit body objects containing only nested path parameters"
## 🚀 Feature

When path parameters are all part of a message in the body protoc-gen-openapiv2 emits a body property that is an empty object. While technically the field `id` is selected by `body: "*"` its sole field `value` is a path parameter and `id` is emitted as body object without properties.

[code]

[code]

[2022-04-04 15:19] rmilejcz commented on #7
what are the protocols for this in 2022? We are trying to support receiving data from third party APIs (so we cannot control the format of the post request) and we ran into this issue. What are people doing to properly serve x-www-form-urlencoded via gprc-gateway? Is there any option besides writing our own custom marshaler?

[2022-04-04 15:24] llsj14 commented on #2622
I agree with the way to block duplicated information to be appeared in the merged file and to use the info from the first file found. I'm also relieved that I didn't use your program in a wrong way.
However, how about just giving chance to write proto file name on the swagger.yaml file and make it possible to use that information? Thinking about the situation where you add new proto files in an AP

[2022-04-05 01:22] johanbrandhorst commented on #2624
Thanks for the issue, that definitely looks like a bug. Would you be interested in trying to fix this?

CC @oyvindwe.

[2022-04-05 01:22] johanbrandhorst commented on #7
I think your only recourse today is a custom marshaler.

[2022-04-05 01:31] johanbrandhorst commented on #2622
I'm not sure what you mean by this. Do you mean adding a new option to `protoc-gen-openapiv2`? Something like `merge_file_canonical_source=./the/specific/file.proto`? I would really like to avoid adding more options, we already have too many and they're hard to understand for new users.

I think the most obvious algorithm for the information is to pick the first time some information is populated

[2022-04-05 05:15] llsj14 commented on #2622
I didn't think about a new option and I also think it is complex. How about just making users pick a single file to add the information on the `.swagger.yaml` file. At this moment, there is no chance of that.

Let's say there's `a.proto` and `b.proto`.
- as-is
[code]

- to-be

[code]

[2022-04-05 13:05] johanbrandhorst commented on #2622
Now I'm _really_ confused. Are you talking about our external openapi configuration file option? Under normal operation, there is no `api.swagger.yaml` as an _input_ to the operation. When using the `openapi_configuration` option, you can specify your annotations in an external file rather than as annotations in the protobuf file. Of course, in this scenario, the settings in the `openapi_configura

[2022-04-05 18:52] johanbrandhorst commented on #2622
Glad you found something that works for you. Would you be willing to contribute a documentation update to help other users? We document the merge file behavior here: https://github.com/grpc-ecosystem/grpc-gateway/blob/master/docs/docs/mapping/customizing_openapi_output.md#merging-output. Might be worth adding a small section about the merge priority.

[2022-04-05 20:54] jwierzba-wish commented on #765
Is this still not supported?

[2022-04-05 21:05] johanbrandhorst commented on #765
I don't believe it is. Are you interesting in implementing this?

[2022-04-06 08:53] cloneable commented on #2624
I can give it a try, but would have to wait until the weekend.

I think it's safe to remove the entire object when there are no defined fields left, right? If the message (here `EntityId`) used to contain other fields that were removed, but older clients still send them this shouldn't break. We still allow additionalProperties in the JSON object and unknown fields in the proto message.

[2022-04-06 09:01] oyvindwe commented on #2624
Great that you take a stab on this! I must admit I didn't consider this case when removing the path parameters.

Yes, I agree with that. Note that this must be handled in both branches of `if len(b.Body.FieldPath) == 0` (the `then` branch is used for `body="*"`). There's a warning about generating an empty body that probably should be removed, as this would happen if all body message fields are pa

[2022-04-06 11:20] llsj14 commented on #2622
Yes, I would be willing to contribute a documentation update. Thank you.

[2022-04-07 04:46] feedmeapples opened #2629 "Support WithUnescapingMode in v1"
## 🚀 Feature

`grpc-gateway v2` introduced an option to unescape special characters such as `/` when matching HTTP requests to gRPC methods

I would like to contribute and implement this feature in v1, as upgrading to v2 is too cumbersome due to [`protobuf-apiv2` changes](https://go.dev/blog/protobuf-apiv2).
If there are any blockers known in advance pls let me know

[2022-04-07 04:47] feedmeapples commented on #2629
related issue https://github.com/temporalio/ui/issues/392#issuecomment-1089878552

[2022-04-07 13:31] johanbrandhorst commented on #2629
Hi, thanks for your issue! This is a bit of a tough one, as we'd really like users to stop using the v1 version of the grpc-gateway, and for us to be able to stop supporting it. Adding new features to an old release would potentially set a precedent that we accept contributions to this deprecated version.

Note that a new library that just landed yesterday may be able to help users of gogoproto mi

[2022-04-07 19:45] MikeSouza opened #2632 "Default query parameter parsing behaviour change"
## 🐛 Bug Report

The behavior when parsing duplicate query parameters has changed between v1 and v2.

For example in v1, making the `GET` request `/v2/example/echo?value=foo&value=bar` will log an error `too many field values: name` but return a HTTP 200 status code and response `{ "value": "foo" }`.

However, in v2 when making this same request, it will return an HTTP 400 status code and the erro

[2022-04-09 01:17] johanbrandhorst commented on #2632
Hi Mike, thank you for your issue. I'm sorry that this was a surprising change of behavior, and you are correct that we should update the migration guide to highlight this behavioral change. As for turning this behavior back on again.. this is arguably a bug fix. Since there is already a workaround (as outlined by yourself) I'm tempted to say that we should do nothing here. I know what's probably

[2022-04-09 18:19] cloneable commented on #2624
So I just looked at this. I see how the mentioned functions build the schemas for body properties. Now somehow both need to tell the caller that it must not use the returned schema type (because it's an empty object). We could...

1. check if `type == "object"` and `len(schema.properties) == 0` after the call and skip appending the field or body parameter respectively,
2. return `nil` and check fo

[2022-04-09 21:58] GreyXor commented on #2611
Since we stay in the [WithHealthEndpointAt()](https://github.com/grpc-ecosystem/grpc-gateway/blob/d8e890717a850f4bcc23f192fb567176d7f92e1b/runtime/mux.go#L216) method and we use the [outgoing marshaler](https://github.com/grpc-ecosystem/grpc-gateway/blob/d8e890717a850f4bcc23f192fb567176d7f92e1b/runtime/mux.go#L222) directly in it, we can't take advantage of the Content-Type deduction (except in th

[2022-04-10 02:50] johanbrandhorst commented on #2624
Hm, it is a bit unusual to return both a boolean and an error from a function. Option 1 doesn't sound too bad to me.

[2022-04-10 11:06] cloneable commented on #2624
I was thinking since it's not an error but a successful call it should not be an error (like `ErrEmptyObject`), but I also don't want the returned schema to be simply `nil`, that's bad style, though this could be an option, too. I'll see what works well and open a PR. Let me know what you think there.

I've got one more question while thinking about this: I'm not sure we can always simply skip ove

[2022-04-10 11:43] cloneable opened #2635 "protoc-gen-openapiv2: `google.api.field_behavior = REQUIRED` annotates the wrong schema object"
## 🐛 Bug Report

protoc-gen-openapiv2 offers to mark properties as required based on the `google.api.field_behavior` field option, but it adds the `"required": ["<property>"],` annotation to the property itself in addition to adding it to the object containing the property.

https://grpc-ecosystem.github.io/grpc-gateway/docs/mapping/customizing_openapi_output/#using-googleapifield_behavior

## To

[2022-04-12 00:54] johanbrandhorst commented on #2635
Hi, thanks for the issue! That definitely looks wrong. If you're interested in helping to contribute a fix, the first step is usually to create a failing test. It looks like with what you've got here that shouldn't be too hard at all. Would you be interested in contributing a fix?

CC @ewhauser

[2022-04-12 16:31] feedmeapples commented on #2629
created a fork to address our UI issue as the bug was somewhat critical https://github.com/temporalio/grpc-gateway/

Ideally will look into migrating to v2 possibly using https://github.com/CrowdStrike/csproto as you've suggested. Closing the issue for now thx

[2022-04-12 16:31] #2629 closed

[2022-04-13 17:56] yinzara opened #2642 "Overriding path parameter names not helpful with additional_bindings"
## 🚀 Feature

This is a follow-up to PR #2562

After attempting to implement this change in our codebase, unfortunately this doesn't help my team very much.

We use the `additional_mappings` attribute of the google.api.http extension to provide alternative path parameter formats for a required parameter of the entity which means depending on the `additional_mappings` the name of the parameter shou

[2022-04-14 01:58] johanbrandhorst commented on #2642
I'm not entirely sure I follow, but does option 2 imply parsing the path parameters and then _constructing_ a regex that will match all of them?

CC  @oyvindwe

[2022-04-14 10:31] oyvindwe commented on #2642
I see the problem - we got the same problem in one of our own methods. It is also confusing because the parameter documentation is shared. Merging the paths and the regexes would be a very nice solution.

Merging the regexes can probably simply be done by or-ing all the individual patterns, e.g. `"pattern":"(bing/[^/]+)|(bash/[^/]+)"` (need to check correct syntax with the spec).

Note that this o

[2022-04-14 13:00] MikeSouza commented on #2632
@johanbrandhorst Hi Johan, thanks for the response.

I can understand not wanting to maintain another option for such.

My alternative proposal would be to make the [struct `defaultQueryParser`](https://github.com/grpc-ecosystem/grpc-gateway/blob/v2.10.0/runtime/query.go#L39) exported.  Currently the main issue we have with the workaround is having to maintain a fork of the `runtime/query.go` and

[2022-04-14 14:16] #1791 closed

[2022-04-14 21:55] johanbrandhorst commented on #2632
Thinking about it for a moment, I think we could probably do that, since the reason we'd want to keep it private is so that we can make changes to it, but we're already bound by the interface and the existing behavior so we probably can't make any changes anyway. Would you be willing to contribute this?

[2022-04-15 10:37] max-os-lg opened #2647 "Default response always added to openapi json"
## 🐛 Bug Report

If I design a service in protobuf and then generate a openapi document, I always have a "default" response added to responses field.
[code]

## To Reproduce

This is the service message:

[code]

And I use `protoc` with `--openapiv2_out` option.

## Expected behavior

Default response is not added.

## Actual Behavior

Default response is added.

## Your Environment

PROTO_VERSION

[2022-04-15 18:41] johanbrandhorst commented on #2647
I believe you can turn this off with the [`disable_default_errors`](https://github.com/grpc-ecosystem/grpc-gateway/blob/1c5e2bbcf1469061c7c92578b462c0fb846697ad/protoc-gen-openapiv2/main.go#L33) option:

[code]

[2022-04-16 10:07] misstt123 opened #2648 "how to use different ServeMuxOption to different path??"
i need a help

[2022-04-16 20:31] johanbrandhorst commented on #2648
I _think_ you're asking how to serve the grpc-gateway under a specific path? You can use [`http.Handle`](https://pkg.go.dev/net/http#Handle) or a [`http.ServeMux`](https://pkg.go.dev/net/http#ServeMux). You'll need to use [`http.StripPrefix`](https://pkg.go.dev/net/http#StripPrefix) for the gateway to serve the right paths:

[code]

[2022-04-16 20:31] #2648 closed

[2022-04-16 20:43] Closius opened #2649 "protoc --grpc-gateway_out does not generate stubs for c++"
I have a gRPC server in Python, gRPC client in Python and C++ and I have RESTfull service using grpc-gateway. For all of then I use one .proto file (to avoid duplication).

The issue is in the compilation of .proto for C++. I can not generate  *.pb.gw.cpp file. And actually I don't really need it. But I don't know how to ignore following lines while generating .proto:

`import "protoc-gen-openapiv

[2022-04-16 20:51] achew22 commented on #2649
Unfortunately, I think there may be some kind of miscommunication around the project. So far as I know, the project doesn't ever generate `*.pb.gw.cpp` files, it only generates Go source code.

You might consider going through our [tutorial](https://grpc-ecosystem.github.io/grpc-gateway/docs/tutorials/) and building a small project that exhibits the concern you have and upload it to github. If you

[2022-04-16 21:51] johanbrandhorst commented on #2649
I think there is some confusion here. You will need to generate C++ code for all your protobuf dependencies, including `protoc-gen-openapiv2`. The easiest way to do that would be to use `buf` and the module we host on the Buf schema registry: https://buf.build/grpc-ecosystem/grpc-gateway.

1. Define a `buf.gen.yaml`. In your case, using `C++` and `Python`:
[code]
   This makes use of the BSR [remo

[2022-04-17 19:42] MikeSouza commented on #2632
Thanks! PR #2651 submitted.

[2022-04-17 20:05] #2632 closed

[2022-04-17 21:58] Closius commented on #2649
Please this is my test repo: https://github.com/Closius/grpc_gateway_mhw
Please read a readme there

There I have:
Server and an original software in Python
Client in Python
Client in C++
Server for RESTful service (grpc-gateway based on https://github.com/johanbrandhorst/grpc-gateway-boilerplate )

I have only one .proto for any clients and any servers:
[original_software/proto/calculator.proto](

[2022-04-17 22:03] johanbrandhorst commented on #2649
See my reply. To do what you want with `protoc` will mean copying our protobuf files, either directly from our repo, or using something like `buf export`:

[code]

The tool I'm talking about is https://github.com/bufbuild/buf

[2022-04-17 22:04] Closius commented on #2649
@johanbrandhorst I don't want to add one more dependency in the project using ```buf```. That is why I'm trying to use a pure ```protoc```

[2022-04-17 22:06] johanbrandhorst commented on #2649
That's definitely reasonable, but it will make things a bit more difficult. The bottom line is that you need to generate a C++ file for our protobuf definitions. I've outlined a few alternatives to accomplish this.

[2022-04-17 22:07] Closius commented on #2649
@johanbrandhorst Thank you! I'll try

[2022-04-17 22:20] Closius commented on #2649
@johanbrandhorst I just checked I generate the same structure as ```buf``` generates. I mean files for C++

[2022-04-17 22:37] Closius commented on #2649
@johanbrandhorst Is it possible to see what is inside plugins here https://docs.buf.build/bsr/remote-generation/remote-plugin-execution#protoc-based-plugins  ?  I can not see the code of plugins itself, only version.

[2022-04-18 01:30] johanbrandhorst commented on #2649
Those plugins are all the same as those built into `protoc` of the respective version. The source is here: https://github.com/protocolbuffers/protobuf/tree/main/src/google/protobuf/compiler/cpp (for `cpp`). But you're asking the wrong question, I think. Did you try running the command I listed above? You should end up with the same folder structure that I did.

[2022-04-18 10:35] Closius commented on #2649
@johanbrandhorst I have exactly the same folder structure which you show.  Ok, I found the reason of the problem:

in ```.proto``` file I define:

[code]

As you see the file names are the same ```annotations.proto```.

During the build of VS 2019 project I saw this warnings:

[code]

So I just overwrite  ```annotations.*``` files..

The solution is here: this https://docs.microsoft.com/en-us/visu

[2022-04-18 12:01] johanbrandhorst commented on #2649
Glad you found a solution!

[2022-04-18 12:01] #2649 closed

[2022-04-19 07:55] #2330 closed

[2022-04-19 10:28] srowles opened #2653 "Unannotated examples in documentation have dead link/type"
## 📚 Documentation

Examples here:

https://grpc-ecosystem.github.io/grpc-gateway/docs/mapping/examples/

Link to:

[code]

and

[code]

Both have a type of `uannotated` instead of `unannotated`.

I'll submit and MR to fix under this ticket

[2022-04-20 21:09] fantapop opened #2656 "Custom values for enum based query params"
## 🚀 Feature

Ability to set custom names for query param values that map to an enum value.

### Problem I'm trying to solve

We're generating a gprc gateway from a set of protobuf definitions.  In those definitions we use enums that end up directly being used as values in the query params.  As our codebase has grown overtime, it became more apparent that we needed to adopt the [google recommended

[2022-04-21 14:59] #2653 closed

[2022-04-22 01:36] johanbrandhorst commented on #2656
Hi, thanks for your issue. We don't currently support a custom mapping as an annotation, and being honest, I doubt we're going to add a custom one. May I suggest two separate workarounds:

* You can use enum aliases to have multiple enum values in a single enum map to the same value. You just need to enable aliases for your enum. See https://developers.google.com/protocol-buffers/docs/proto3#enum.

[2022-04-22 14:16] #2647 closed

[2022-04-26 13:08] gknw opened #2665 "Unable to unmarshal map[string][]byte with JSONPb"
## 🐛 Bug Report

Unable to unmarshal map[string][]byte with JSONPb. Please see the code below

## To Reproduce

[code]

## Expected behavior

[code]

## Actual Behavior

[code]

## Your Environment

[code]

[2022-04-26 14:11] gknw commented on #2665
@johanbrandhorst Hi. Thanks for your reply. Looks like [here](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/runtime/marshal_jsonpb.go#L282) missed slice type checking like [here](https://cs.opensource.google/go/go/+/refs/tags/go1.18.1:src/encoding/json/decode.go;l=951), and this is a reason why non proto field decoding failed. It is not?

[2022-04-26 14:14] johanbrandhorst commented on #2665
Ah, that is a fair point. Sorry to close the issue prematurely. I think you have a great point there. Would you be willing to help implement a fix for this?

[2022-04-28 07:29] #2543 closed

[2022-04-28 07:29] #2419 closed

[2022-04-28 07:29] #2434 closed

[2022-04-28 07:29] #2441 closed

[2022-04-28 07:29] #2439 closed

[2022-04-28 07:29] #2478 closed

[2022-04-28 07:29] #2452 closed

[2022-04-28 07:29] #2417 closed

[2022-04-28 07:29] #2435 closed

[2022-04-29 11:50] shivaluma opened #2668 "Unable to get the first file upload by multipart/form-data"
## 🐛 Bug Report

I was not able to get the first file in the multipart form when I try to upload using this guide https://grpc-ecosystem.github.io/grpc-gateway/docs/mapping/binary_file_uploads/

## To reproduce

[code]

If i send a multipart form with a key-value like file-{the file I want to upload}, I receive no data about the form.

About the code and the log when i send with this multipart for

[2022-04-29 11:51] shivaluma commented on #2668
I have tested with gorilla/Mux and a new http server, its work like normal

[2022-04-30 13:25] shivaluma commented on #2668
Would you mind take a look at this issue @johanbrandhorst

[2022-04-30 14:36] johanbrandhorst commented on #2668
Do you need to call https://pkg.go.dev/net/http#Request.ParseMultipartForm somewhere?

[2022-04-30 14:46] shivaluma commented on #2668
The function Request.ParseMultipartForm is called in the request.FormFile function, if I add the request.ParseMultipartForm, the issue still happen, the first file will be lost.

[2022-04-30 18:03] johanbrandhorst commented on #2668
I'm not sure what the issue is. I'm happy to try to help debug this, but I don't think this is the right place for it. Your problem has nothing to do with the grpc-gateway since you're not even using the example code. This is just a generic Go problem. I would recommend going to the [Gophers Slack ](https://invite.slack.golangbridge.org/) or one of the mailing lists for help. You can find me under

[2022-04-30 18:03] #2668 closed

[2022-05-01 10:58] davix opened #2670 "Generated openapiv2 Enum title incorrectly from field comments"
## 🐛 Bug Report

The original discussion is in slack: https://gophers.slack.com/archives/CBATURP1D/p1651119673470069

## To Reproduce

Given a proto
[code]

## Expected behavior

The `a field comment` should be in generated openapi's `description` field.

## Actual Behavior

The comment is incorrectly in `title` field

## Your Environment

macos, buf

[2022-05-02 01:52] garthk opened #2671 "Extend google.protobuf.EnumOptions"
## 🚀 Feature

Extend google.protobuf.EnumOptions so we can set examples on enums.

[code]

Workaround: set the example on every message using the enum.

[2022-05-05 01:18] johanbrandhorst commented on #2670
The easiest way to start working on a fix for this would be to create a failing test case. There are examples of tests lie this here: https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-openapiv2/internal/genopenapi/template_test.go. The logic for the comments is here: https://github.com/grpc-ecosystem/grpc-gateway/blob/8f476a01ac7beea62de7352fbc775245788bcfef/protoc-gen-openapiv

[2022-05-05 01:22] johanbrandhorst commented on #2671
Hm, this sounds reasonable. It would require adding a new extension here: https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-openapiv2/options/annotations.proto, and then weaving through the logic for parsing this value into the generator.

[2022-05-06 17:25] mjnovice commented on #2670
Hi, was wondering. Can someone on Windows dev machine attempt a fix for this ?

[2022-05-06 17:31] johanbrandhorst commented on #2670
There's no particular reason you'd need to fix this on Windows. If it's fixed it will be fixed on all platforms.

[2022-05-07 09:42] mjnovice commented on #2670
Sure, let me give this a shot!

[2022-05-07 13:51] mjnovice commented on #2670
@johanbrandhorst , @davix could you mention the command to reproduce the error ? Thanks.

[2022-05-08 02:37] johanbrandhorst commented on #2670
Hm, I went looking at our existing example enums: https://github.com/grpc-ecosystem/grpc-gateway/blob/963f1aa09bbbcf62bacdf2e3d0d6c45c3f76d7e4/examples/internal/proto/examplepb/a_bit_of_everything.proto#L417-L423. This is rendered like so:  https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples/internal/proto/examplepb/a_bit_of_everything.proto#L417. This includes all the comments in

[2022-05-09 12:28] davix commented on #2670
could you remove the comment ` // NumericEnum is one or zero. ` and retry?

[2022-05-10 16:35] Closius opened #2676 "Verbose response for Any messages"
I have following .proto:

[code]

In the Swagger doc file I have:

![image](https://user-images.githubusercontent.com/10291820/167678396-c00e9c8d-5062-487a-9ce5-11da3d753155.png)

Is it possible to shomehow document State , Calculation , Evaluation  messages as well?

[2022-05-11 01:26] johanbrandhorst commented on #2676
Hi, thanks for your issue. The generated documentation depends on your RPC definitions, but you havne't included any in your example. Could you share your whole protobuf file?

[2022-05-11 07:47] Closius commented on #2676
[main.zip](https://github.com/grpc-ecosystem/grpc-gateway/files/8667760/main.zip)

[2022-05-11 07:47] Closius commented on #2676
`syntax = "proto3";
package myapi;

import "google/protobuf/any.proto";
import "google/protobuf/empty.proto";
import "google/api/annotations.proto";
import "protoc-gen-openapiv2/options/annotations.proto";

option go_package = "myapi/grpc_client_web";
option (grpc.gateway.protoc_gen_openapiv2.options.openapiv2_swagger) = {
    info: {
        title: "toolkit";
        version: "0.1.0";
        con

[2022-05-11 11:06] oyvindwe commented on #720
When testing tools used to render documentation from OAS files(readme.com and Swagger UI), we noticed that path parameters containing `/` are URL encoded in generated code. Tracking down this issue, I realized that `allowReserved` in OpenAPI 3.0 is only allowed for query parameters:  https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#parameterObject

OpenAPI 2 doesn't include

[2022-05-11 13:48] momom-i commented on #765
@johanbrandhorst Hi, I've contributed to this project's issues couple times and I'm interested in implementing this.
If I can and this is not supported yet, I'd appreciate it if you could give me some advice about it.

[2022-05-11 15:11] baryluk commented on #2365
Could we document this somewhere with recommended method?

I want to avoid serializing/deserializing protobufs, when sending to grpc server in the same process. If grpc server send the response back, then it will serialize the response proto, then gateway will deserialize this proto immediately and serialize to json.

I know I can bypass the entire grpc server, and use directly a server implementa

[2022-05-11 17:33] nightlyone commented on #2316
@johanbrandhorst we have buf 1.4.x now and remote plugins arrived. Any updates on this?

[2022-05-11 18:04] johanbrandhorst commented on #2316
The remote plugins are in place, are you talking about an official grpc-gateway template? I think we'd like to wait until remote generation is out of alpha, I know they're still making some tweaks to it.

[2022-05-12 10:41] CHneger opened #2681 "protoc-gen-openapiv2: Description is sometimes not set in parameter spec."
## 🐛 Bug Report
I generate swagger for a post method with request body
but the method message has no "parameters.schema.description " field when I set the option " json_schema.description" for the message

## To Reproduce

(Write your steps here:)

1. this is my protobuf
2.
<img width="734" alt="image" src="https://user-images.githubusercontent.com/38717535/168068152-6b95bf7b-4bd3-4d85-9734-45ebc4

[2022-05-12 17:04] majelbstoat opened #2682 "Request to GRPC handler fails when calling gateway with curl --http2-prior-knowledge"
## 🐛 Bug Report

When trying to use Cloud Run to serve the gateway and GRPC from the same port, you must enable Cloud Run's http2 end to end support. This requires that the server support being called like `curl -i --http2-prior-knowledge`

Common guides for serving GRPC and HTTP on the same port use cmux as an example. However, cmux is not usable for GCP Cloud Run because it works at the connecti

[2022-05-12 17:18] Closius commented on #2676
I I've found a semi-automatic solution:

[code]

[2022-05-12 20:15] jackwootton opened #2683 "Equivalent paths are not allowed."
## 🐛 Bug Report

(A clear and concise description of what the bug is.)
Invalid OpenAPI specifications are generated when the same path is used for different HTTP verbs.

This issue has previously been reported and closed: https://github.com/grpc-ecosystem/grpc-gateway/issues/1486.

Is there a workaround? Can the previous issue be reopened?

Unfortunately this behavior seems to

## To Reproduce

Se

[2022-05-12 21:36] johanbrandhorst commented on #2676
I think the reason it's not showing up in the generated doc is because the message are never used. If you added some new fields to your `NotificationStreaming_response` using the messages then they should show up:

[code]

Does that make sense?

[2022-05-12 22:19] majelbstoat commented on #2682
Ok, so, not actually a bug in grpc-gateway, so I'll close, and leave this for posterity.

I traced the error down to the length of the GRPC request body not matching the supplied Content-Length header. The h2s server was failing to read the body because of that (https://cs.opensource.google/go/x/net/+/2871e0cb:http2/server.go;l=1713). That error was swallowed by grpc somewhere and turned into the

[2022-05-12 22:19] #2682 closed

[2022-05-12 23:46] johanbrandhorst commented on #720
Thanks for the research there, do you think we need to make a behavioral change in the generator?

[2022-05-12 23:51] johanbrandhorst commented on #765
Thanks for your interest! The thing I like to do first with something like this is to create a failing test. You can try adding an example like the one above to one of our example files or add a test to the generator tests. I went and looked at our code and discovered the `allow_repeated_fields_in_body` parameter: https://github.com/grpc-ecosystem/grpc-gateway/blob/963f1aa09bbbcf62bacdf2e3d0d6c45c

[2022-05-12 23:54] johanbrandhorst commented on #2365
There really isn't any easy way to avoid the serializing to and from proto I'm afraid. You can still get the interceptor like behavior by using HTTP middeware to wrap the grpc-gateway mux instead.

[2022-05-12 23:59] johanbrandhorst commented on #2681
I would expect the `description` and `title` for the parameter to `AMethod` to be in the definition of `authorityAMessage`, which is referenced. The reason these two use different schemas is because the second does _not_ allow the `project_id` to be specified in the body, since it is in the path. This is correct behavior. Can you share your whole swagger file? I don't think there's a bug here.

[2022-05-12 23:59] johanbrandhorst commented on #2682
This is very interesting, thanks for sharing!

[2022-05-13 00:00] johanbrandhorst commented on #1486
Reopening

[2022-05-13 00:00] johanbrandhorst commented on #2683
Reopening the other issue instead

[2022-05-13 00:00] #2683 closed

[2022-05-13 00:01] johanbrandhorst commented on #1486
@jackwootton are you interested in fixing this?

[2022-05-13 02:08] CHneger commented on #2681
This is my whole swagger file
`{
  "swagger": "2.0",
  "info": {
    "title": "kbase/arch/authority/test.proto",
    "version": "version not set"
  },
  "tags": [
    {
      "name": "Test"
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/projects/someotherpath": {
      "post": {
        "operationId": "Test_AMethod",

[2022-05-13 02:30] CHneger commented on #2681
In fact, the [/v1/projects/someotherpath] path i prefer the parameters is:
<img width="621" alt="image" src="https://user-images.githubusercontent.com/38717535/168199454-529b215e-3265-4552-8e10-d05ecb235550.png">

But there is no [description] field
<img width="614" alt="image" src="https://user-images.githubusercontent.com/38717535/168199578-0549f299-b041-4cb6-aa78-c794e62eee50.png">

[2022-05-13 12:14] Closius commented on #2676
@johanbrandhorst Not really.. I don't use fields ```state```, ```calculation```, ```evaluation``` in ```NotificationStreaming_response```. That is why the structure which you've proposed will have never used fields which is confusing.

Actually ```Any``` protobuf message might have any kind of message which are defined in .proto which is not really good. Would be nice to have ability to specify wh

[2022-05-13 13:26] davix opened #2684 "Ignore buf lint comment in swagger definition title"
## 🐛 Bug Report

The definition title in swagger uses comment as title, but even if the comment is buf lint, it still uses the lint comment as title.

## To Reproduce

Given below message with inline buf ignore
[code]

## Expected behavior

The generated swagger title should ignore the buf:lint and use `GetDataResponse`.

## Actual Behavior

The title is `// buf:lint:ignore FIELD_LOWER_SNAKE_CASE`

[2022-05-13 20:38] johanbrandhorst commented on #2681
As I said, the description and title appears in your definitions:
[code]

I still don't see a bug here, so I'm going to close this issue. Please feel free to reply if you still need more help.

[2022-05-13 20:39] johanbrandhorst commented on #2676
If you never use the messages:
1. Why do they exist?
2. Why do you expect them to show up in the swagger.json?

As an alternative to any, might I suggest using a `oneof` field?

[2022-05-13 20:40] johanbrandhorst commented on #2684
I doubt there is much we can do here. You can override the title explicitly with the openapi annotations: https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples/internal/proto/examplepb/a_bit_of_everything.proto#L237.

[2022-05-13 20:40] #2684 closed

[2022-05-14 07:53] Closius commented on #2676
The reason is pretty simple: I want my field ```data``` has capability to be ```Evaluation``` or ```Calculation``` or ```State``` in different messages. The name of field should not be changed as it happens if I use ```oneof```

[2022-05-14 12:06] johanbrandhorst commented on #2676
Yeah this is fundamentally impossible with Protobuf, which encourages you to strongly type your APIs. I would encourage you to use a oneof. The JSON representation isn't perfect but it works.

[2022-05-14 12:06] #2676 closed

[2022-05-14 19:11] jackwootton commented on #1486
I can take a look, but noticed the file you recommended starting with ([above](https://github.com/grpc-ecosystem/grpc-gateway/issues/1486#issuecomment-649016662)), cannot be found https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-swagger/genswagger/template.go

[2022-05-14 19:23] johanbrandhorst commented on #1486
It has been moved https://github.com/grpc-ecosystem/grpc-gateway/blob/963f1aa09bbbcf62bacdf2e3d0d6c45c3f76d7e4/protoc-gen-openapiv2/internal/genopenapi/template.go

[2022-05-14 20:06] johanbrandhorst opened #2686 "Migrate off circleci"
CircleCI is for some reason refusing to start some pull request builds, and I'd personally sooner see us use github actions which integrates with Github and doesn't seem to have the same issues.

[2022-05-15 12:02] oyvindwe commented on #720
Yes I do think that, but that takes us some steps back to previous discussions - we need to introduce annotations to specify the extra path parameters per http binding, including description and type information. I think this is a fairly large extension of the generator.

[2022-05-15 18:21] johanbrandhorst commented on #720
Introducing more annotations is leaving a bad taste in my mouth, it's already complex as it is. Right now my main concern is that we generate valid OAS documents. Should we revert the previous changes to behavior?

[2022-05-15 19:42] oyvindwe commented on #720
Sorry, let me rephrase; the OAS file isn't syntactically invalid, but when used on path parameters that contains `/`, the generated OAS is a mismatch with what's expected according to the gRPC HTTP bindings, so it's not usable.

As I understand it, there are no previous version of the generator that supports path parameters with `/` correct according to OpenAPI, so there's nothing to revert.

One

[2022-05-15 20:00] johanbrandhorst commented on #720
I see, thanks for the clarification. So the attempts to fix the handling of parameters containing `/` was unfortunately insufficient, and we still don't support it. It seems we're left with two choices;

- Continue down the path of trying to handle these corner cases properly, which may mean introducing extra annotations.
- Calling it a day on this effort, document the workarounds (as you describe

[2022-05-15 20:57] xiaofei-du opened #2688 "Overriding path parameter names does not work with path with colon `:`"
## 🐛 Bug Report

**Plugin version: `buf.build/grpc-ecosystem/plugins/openapiv2:v2.10.0-1`**

Google [AIP-136](https://google.aip.dev/136) suggests using colon `:` in custom methods.

The path parameter is not correctly overwritten when the path contains `:`.

## To Reproduce

1. Given a proto
[code]
2. buf generate `openapiv2.swagger` file
[code]

## Expected behavior

Expect to overwrite the path

[2022-05-15 23:36] johanbrandhorst commented on #2688
Hi, thanks for your issue! It seems that this is a problem specifically with the field_configuration options? They're a reasonably new addition so there might be something that needs to be worked out. Would you be interested in trying to fix this?

[2022-05-17 03:25] CHneger opened #2689 "As I said, the description and title appears in your definitions:"
As I said, the description and title appears in your definitions:
[code]

I still don't see a bug here, so I'm going to close this issue. Please feel free to reply if you still need more help.

_Originally posted by @johanbrandhorst in https://github.com/grpc-ecosystem/grpc-gateway/issues/2681#issuecomment-1126471022_

[2022-05-17 03:25] CHneger commented on #2689
In fact, the [/v1/projects/someotherpath] path i prefer the parameters is:
<img width="621" alt="image" src="https://user-images.githubusercontent.com/38717535/168199454-529b215e-3265-4552-8e10-d05ecb235550.png">

But there is no [description] field
<img width="614" alt="image" src="https://user-images.githubusercontent.com/38717535/168199578-0549f299-b041-4cb6-aa78-c794e62eee50.png">

So I wonder

[2022-05-17 12:34] Closius opened #2690 "Turn off camelCase in swagger file generation"
Hello,

I'm trying to use field names with underscores. Here is my .proto file:

![image](https://user-images.githubusercontent.com/10291820/168811816-6df790a8-02c6-4551-8084-2b9f31d931ab.png)

But after generation swagger I have camelCase:

![image](https://user-images.githubusercontent.com/10291820/168811223-ad595b3a-b7cd-4434-95b5-5f889fca1fef.png)

In generated _pb2.* file I have correct field

[2022-05-17 16:08] momom-i commented on #765
Ahh, that parameter is exactly what I've been looking for, thank you!

[2022-05-17 21:09] johanbrandhorst commented on #2690
The default JSON representation for Protobuf is camelcase. See https://grpc-ecosystem.github.io/grpc-gateway/docs/development/grpc-gateway_v2_migration_guide/#we-now-use-the-camelcase-json-names-by-default for how to get snake_case.

[2022-05-17 21:09] #2690 closed

[2022-05-18 06:18] elb3k opened #2691 "protoc-gen-openapiv2: RPC visibility setting is not transitively applied to request and response messages"
## 🐛 Bug Report

Definitions of some internal only grpc request/responses are still visible on generated spec.
Even if endpoints are specifically marked as `INTERNAL` using `option (google.api.method_visibility).restriction = "INTERNAL";`

## To Reproduce

Sample proto defintions:
[code]
buf.yaml:
[code]
buf.gen.yaml:
[code]

generated `sample.swagger.json`
[code]

You can see it is generating def

[2022-05-18 08:04] Closius commented on #2690
Thank you so much!

[2022-05-18 09:11] Closius opened #2692 "protoc_gen_openapiv2.options.openapiv2_field does not affect google.protobuf.Any and message fields"
I want to add description to `google.protobuf.Any` and `message` (`Notification`) fields:

[code]

After generation I see only the standard description for `google.protobuf.Any` and `Notification` whereas the description of `string` field is applied:

![image](https://user-images.githubusercontent.com/10291820/169001381-9820e744-0efd-4682-99cb-ff223305a3b5.png)

[2022-05-18 11:36] gknw commented on #2665
@johanbrandhorst Hi. Sorry for the long wait for a reply. I created a pull request with changes to solve this problem #2693. Tests is successful, and failed without changes in "marshal_jsonpb.go"

[2022-05-18 18:21] oyvindwe commented on #720
I'm leaning towards calling it a day. I would be very happy if the openapiv2 generator could produce an OAS that's directly usable, but for us it's currently not worth the effort. I'd rather spend some time fixing other bugs within the current behaviour.

Also, `template.go` is 2765 lines, and `template_test.go` is more than 6000 lines, so to add new features like this probably warrants restructur

[2022-05-19 01:31] johanbrandhorst commented on #2691
Hi, thanks for your issue! Indeed, hiding of objects is not transitive right now, which seems to be what you expect here (if the service is hidden, so should it's messages). Is that right? This would be cool to add, but it's probably going to be quite complicated, so the easier workaround is obviously to mark both the RPC and the Message as internal. Have you tried that?

[2022-05-19 04:42] elb3k commented on #2691
Right, I know it is gonna be a big change. Have tried to set `(google.api.message_visibility).restriction = 'INTERNAL` for the internal messages, but no luck. And I thought that `message_visibility` was not used in openapi, is it?

[2022-05-19 06:40] ShellyWEI opened #2696 "Installation instruction for scala gRPC project would be highly appreciated"
## 📚 Documentation

Hi team,

According to the FAQ, it's possible to use grpc-Gateway in a scala gRPC server: https://grpc-ecosystem.github.io/grpc-gateway/docs/faq/#my-grpc-server-is-written-in-scala-or-c-or-ruby-or-haskell-etc-is-there-a-scala-or-c-or-ruby-or-haskell-etc-version-of-grpc-gateway
However, I am having a hard time pulling grpc-Gateway into my project. An installation instruction for

[2022-05-19 08:00] oyvindwe commented on #720
Done in PR #2697

[2022-05-19 22:16] #2665 closed

[2022-05-19 22:19] johanbrandhorst commented on #2691
Ah, I spoke too soon, message visibility is not yet supported. The visibility setting is _only_ used in our openapi generation, it doesn't actually ignore a field/message/rpc in the handlers.

It might be possible to support message visibility but I assume there was a reason it wasn't added with the others in https://github.com/grpc-ecosystem/grpc-gateway/pull/2578 CC @BCook98.

Would you be willi

[2022-05-19 23:48] johanbrandhorst commented on #2696
Hi, thank you for your issue! I'm not sure how much we'll be able to help here, but I want to note a few things that might be able to help you:

- If you want to use any openapiv2 annotations, you'll need to generate scala files for our protobuf files. This is probably easiest to do by using `buf`. With a `buf.gen.yaml`:
[code]
- You seem to be using `googleapis-common-protos`. I assume this is na

[2022-05-20 03:56] elb3k commented on #2691
Yeah

Yeah

[2022-05-23 02:40] #2686 closed

[2022-05-23 04:59] namqdam opened #2705 "support for ARM64 (Mac M1)"
## 🚀 Feature

Using `go get github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-grpc-gateway` does not install protoc-gen-grpc-gateway binary file in go bin.
Please add support for Mac ARM processors.

[2022-05-23 11:48] brijeshvishwanath opened #2707 "Incorrect mapping from grpc code to http code for `canceled request`."
## 🐛 Bug Report

Incorrect mapping from grpc code to http code for `canceled request`.

The reference for error mapping is followed from:
https://github.com/googleapis/googleapis/blob/942691f8dcf3e521be35d909de9bba3239feb471/google/rpc/code.proto#L40
And the reference claims that http code mapping for CANCELLED grpc code is 499 (Client Closed Request), and not  408 (StatusRequestTimeout).

## To R

[2022-05-23 22:46] johanbrandhorst commented on #2705
On recent Go versions you'll need to use `go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-grpc-gateway@latest` to install the binary into your Go bin. It should definitely work for ARM processors already, but yt ou make a good point about adding pre-built binaries for ARM64.

[2022-05-23 22:50] johanbrandhorst commented on #2705
Done https://github.com/grpc-ecosystem/grpc-gateway/commit/d161009efb445a1a4a14ec9518463382f0a7c257

[2022-05-23 22:50] #2705 closed

[2022-05-23 22:52] johanbrandhorst commented on #2707
Huh, I could've sworn I went and checked these. Thank you for your issue and the PR!

[2022-05-24 14:55] oyvindwe commented on #2642
@yinzara Btw, we use readme.com for API browsing, which does show `pattern` (if set) when you enter the input field.

However, as pointed out here https://github.com/grpc-ecosystem/grpc-gateway/issues/720#issuecomment-1123584733 `/` isn't allowed in path parameters, and Swagger UI will URL encode it. So even though I agree that your approach is desirable, it looks like OpenAPI must updated with su

[2022-05-24 14:56] oyvindwe commented on #720
OpenAPI 3.1 explicitly forbids `/` in path parameters:

https://spec.openapis.org/oas/v3.1.0#path-templating

[2022-05-24 16:32] yinzara commented on #2642
I only see that as a "nice to have" as it only states they aren't allowed unescaped. Since there is a configuration for grpc-gateway that allows you to accept escaped path parameters, then this is still viable even without OpenAPI support.

[2022-05-24 18:01] yinzara commented on #2642
:-) you could always switch.

[2022-05-25 02:36] chengyizhoucode opened #2713 "the latest version can not build with go1.16, should update to go 1.17"
## 🐛 Bug Report

![image](https://user-images.githubusercontent.com/54266096/170167097-60bf7ea0-7aad-4346-ac9b-c320f1d8e549.png)

## To Reproduce

(Write your steps here:)

go build will fail, the error is  "go:build comment without // +build "

## Your Environment

go 1.16

[2022-05-25 05:39] wei-huang-aruba commented on #2684
@johanbrandhorst , yeah, explicit annotation can do this. But everywhere else the default generated swagger has been quite well, just because of introducing `buf lint`, good experience is gone.
Still suggest to consider ignoring buf comments!

[2022-05-25 05:40] davix commented on #2684
@johanbrandhorst , yeah, explicit annotation can do this. But everywhere else the default generated swagger has been quite well, just because of introducing buf lint, good experience is gone.
Still suggest to consider ignoring buf comments!

[2022-05-26 00:14] johanbrandhorst commented on #2713
Hi, thanks for your issue! I'm confused, but I _think_ what you're saying is that you're trying to build with Go 1.16 and you're getting an error. I don't know what the shared screenshot is supposed to illustrate. I assume the error is here: https://github.com/grpc-ecosystem/grpc-gateway/blob/32ac6fd93a3c9ef9597956500d45194501450a9c/runtime/query_fuzz_test.go#L1?

We currently only test with go 1.

[2022-05-26 02:50] wuxingzhong opened #2717 "protoc_gen_openapiv2: Required field does not take effect under HTTP-GET"
## 🐛 Bug Report

[code]
## To Reproduce

[code]

## Expected behavior

in test.swagger.json  field id is required

[code]

## Actual Behavior
[code]

[2022-05-26 10:12] haines opened #2718 "protoc-gen-openapiv2: `google.protobuf.Value` schema is incorrect"
## 🐛 Bug Report

Fields of type `google.protobuf.Value` produce a schema of `{ "type": "object" }`, but this is inaccurate; the JSON representation of `Value`s is [any JSON value type](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#google.protobuf.Value).

## To Reproduce

Use protoc-gen-openapiv2 to generate definitions for a message with a `google.protobuf.Value` f

[2022-05-27 00:55] #2718 closed

[2022-05-27 15:07] sir-farfan opened #2722 "Pre-fill request parameters"
## 📚 Documentation

I went a little through the [custom output](https://grpc-ecosystem.github.io/grpc-gateway/docs/mapping/customizing_openapi_output/) page but didn't find if it's possible or not.

Can I somehow set default/sample values for (mandatory) parameters?

Let's say, in the following example, I'd like the values in the required parameters to be already in the text box when I click "try

[2022-05-28 00:33] johanbrandhorst commented on #2722
Might be able to use the `default`? https://github.com/grpc-ecosystem/grpc-gateway/blob/dca9acb8fd17aead94aed83e259c6d690a763b8a/examples/internal/proto/examplepb/a_bit_of_everything.proto#L295-L301

[2022-05-29 20:27] oyvindwe commented on #2688
I'm working on a unit test to reproduce and fix this.

[2022-05-30 10:15] sousandrei opened #2728 "CVE-2022-28948: gopkg.in/yaml.v2"
## 🐛 Bug Report

An issue in the Unmarshal function in Go-Yaml v3 causes the program to crash when attempting to deserialize invalid input.

We should bump the usages on this repo

For reference, testify has a PR open
https://github.com/stretchr/testify/pull/1192

And sigs.k8s.io/yaml needs addressing, will update this issue as time goes on

[2022-05-30 14:50] sir-farfan commented on #2722
Thanks, that's what I was looking for :)

[2022-05-30 14:50] #2722 closed

[2022-05-31 01:21] #2688 closed

[2022-06-01 02:30] #2713 closed

[2022-06-01 02:33] johanbrandhorst commented on #2713
I'm confused, I don't see any build tags in there? This file: https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples/internal/proto/examplepb/a_bit_of_everything.pb.gw.go#L19?

[2022-06-01 02:36] benhoyt commented on #2713
Oh, sorry, I was confused by the output of `go test ./...` with Go 1.16:

[code]

It's referring to the build constraint of the imported package, which is the `runtime` one you've already fixed.

[2022-06-01 03:26] chengyizhoucode commented on #2713
year,   that is what wo want to  say ,
I also agree with this solution
haha ha

[2022-06-01 13:35] johanbrandhorst opened #2735 "CI: Bazel cache isn't working"
I'm not sure why, but it seems like every time the bazel job runs it has to restart with a clean cache. Needs investigating.

[2022-06-01 13:52] sousandrei commented on #2728
I guess we took care of this!
Thanks for the help @johanbrandhorst

[2022-06-01 13:52] #2728 closed

[2022-06-07 19:59] ianrose14 opened #2745 "Proto enums can produce invalid yaml in swagger files"
## 🐛 Bug Report

If an input proto file contains an enum where some of the individual enum values have comments, the yaml produced by the `protoc-gen-openapiv2` plugin can be invalid.

## To Reproduce

1. Start with a proto file like the following:
[code]
2. Name it `repro.proto` and save it in a directory named `repro` along with the usual [annotations.proto](https://github.com/googleapis/googlea

[2022-06-07 23:55] johanbrandhorst commented on #2745
Oh dear! That definitely looks like a bug. The YAML format is a reasonably new addition, so it's not surprising that there are some kinks to work out. It was contributed by @hedhyw in https://github.com/grpc-ecosystem/grpc-gateway/pull/2579. I wonder if this is a problem with our YAML library? Would you be interested in helping contribute a fix for this?

Thanks for the excellent bug report, by th

[2022-06-08 02:38] hedhyw commented on #2745
@ianrose14

Try the version `v2.10.2`.

[code]

`v2.10.3` reproduces error for me, `v2.10.2` - doesn't

[2022-06-08 02:39] hedhyw commented on #2745
It seems it was broken in https://github.com/grpc-ecosystem/grpc-gateway/pull/2729

[2022-06-08 03:04] hedhyw commented on #2745
@johanbrandhorst

The problem is with `yaml.v3` library: https://github.com/go-yaml/yaml/issues/643

I've just tried it in the playground: https://go.dev/play/p/tTc7F_T86vF

We can solve it as:
1. Revert #2729
2. Trim leading spaces for all fields (it's like a crutch)
3. Fix the YAML library: https://github.com/go-yaml/yaml/issues/643

[2022-06-08 11:41] ianrose14 commented on #2745
Yes, that seems to work for me!  Sorry for not including my grpc-gateway version in the original bug report - silly oversight.

[2022-06-08 23:32] johanbrandhorst commented on #2745
I suspected it might be the version upgrade, thanks a lot for digging into it @hedhyw! Since the original reason for upgrading to v3 was "just because", I'm leaning towards just reverting for now. @sousandrei @hedhyw @ianrose14 would one of you be interested in taking charge of reverting the other change to fix this?

[2022-06-10 02:18] Kryvchun commented on #2745
@johanbrandhorst
As I see it makes sense to revert only a part of `protoc-gen-openapiv2`. I can do it.

[2022-06-10 02:19] hedhyw commented on #2745
@johanbrandhorst As I see it makes sense to revert only a part of `protoc-gen-openapiv2`. I can do it.

[2022-06-10 05:57] hedhyw commented on #2745
I created a fix for the YAML library: https://github.com/go-yaml/yaml/pull/864, we can wait until it will be merged if it will be.

[2022-06-11 05:33] defool opened #2751 "Support custom tags for openapi operation"
## 🚀 Feature

Swagger UI uses tags to group the displayed operations, but now we can't set  custom tag to rpc methods ( or operations in openapi).

I thank we can support it in the file specified by  `grpc_api_configuration` option, for example:
[code]

And the tags will be present in [the tags of operation](https://swagger.io/docs/specification/2-0/grouping-operations-with-tags/).

[2022-06-11 06:11] defool commented on #2751
I found a solution, here is the example:
[code]

[2022-06-11 06:11] #2751 closed

[2022-06-12 00:10] lakshkeswani commented on #2635
I am looking to contribute to this issue please assign it to me and I kind of know where to change.
where to write the unit tests for change?
I am planning to make the updates in the below function
https://github.com/grpc-ecosystem/grpc-gateway/blob/5d41954a8eb8075aef0c72842296da38a151411d/protoc-gen-openapiv2/internal/genopenapi/template.go#L420

[2022-06-12 01:04] lakshkeswani commented on #2635
CC @johanbrandhorst

[2022-06-12 01:47] johanbrandhorst commented on #2635
Thank you @lakshkeswani, I think we usually add tests to `template_test` in the same directory, but it is a bit of a mess so feel free to think about other ways to test it if you like. We should also see if we have examples of this in the current code already, and if not, introduce an example that reproduces this bug. The code was introduced in https://github.com/grpc-ecosystem/grpc-gateway/pull/1

[2022-06-12 15:54] #2555 closed

[2022-06-14 15:58] ad3n opened #2752 "[ASK] Passing call option"
## 🚀 Feature

I search in issues both closed and open, i also read the doc and directly search in  *.gw.go and i found the call options is not customable

[code]

Can we pass call options to grpc gateway?

[2022-06-14 16:28] #2752 closed

[2022-06-17 11:37] SaumyaBhushan commented on #2671
Can you explain a little bit more about how it can be achieved?

[2022-06-22 00:26] johanbrandhorst commented on #2671
Hi, thanks for your interest in this issue. We'd need to add a new annotation message, similar to the existing ones in the file I linked above that already exist for other types of annotations. We'd need need to add the logic for parsing this annotation into the generator. I'd recommend just searching through the code to find how we're using one of the existing messages to find the logic that does

[2022-06-22 23:47] LucasDGS commented on #2671
does anyone know if this feature has been added?

[2022-06-23 03:20] johanbrandhorst commented on #2671
I don't believe that it has been added yet.

[2022-06-26 08:08] thegergo02 opened #2767 "Nix Flake"
[I've created a Nix flake for reproducible builds.](https://github.com/thegergo02/grpc-gateway-flake)
It's up to the maintainers if they care about Nix and want to document this.
(I've created it for the sole reason of bringing another project to Nix.)

[2022-06-27 14:48] togiles opened #2770 "Upgrading from v2.10.0 to v2.10.3 causes BUILD error for `protoc_gen_openapiv2` build rule."
## 🐛 Bug Report

The following error is seen upon upgrading from v2.10.0 to v2.10.3:

[code]

## To Reproduce

Upgrade version, attempt to build any of our `protoc_gen_openapiv2` bazel build targets, get the above error.

## Expected behavior

The build to succeed.

## Actual Behavior

Error :(

## Your Environment

bazel build system

[2022-06-28 12:19] olegvelikanov commented on #2681
Hi, @johanbrandhorst
I was looking for an opportunity to contribute a little into an open source project and eventually decided to try to fix this bug.  This is my first attempt to participate in open source, so I may be wrong about something. I will be glad to receive any feedback.
PR - https://github.com/grpc-ecosystem/grpc-gateway/pull/2773

[2022-06-29 04:55] johanbrandhorst commented on #2767
Hi, this is really cool! I'm a little confused though, because it doesn't look like the nix definitions build either of our primary binaries, `protoc-gen-grpc-gateway` and `protoc-gen-openapiv2`. Am I missing something?

Also, even though I use nixos personally and am a fan of the project, I doubt this is something we'll want to support. Happy to point people to your repository if someone asks tho

[2022-06-29 05:12] johanbrandhorst commented on #2770
Argh, sorry for this. It seems my fix in https://github.com/grpc-ecosystem/grpc-gateway/pull/2716 caused problems after all. I'm not entirely sure what the appropriate fix is, let me summon our Bazel expert, @achew22 :).

[2022-06-29 05:13] johanbrandhorst commented on #2770
https://github.com/protocolbuffers/protobuf/pull/9988#issuecomment-1139140818 might have a clue.

[2022-06-29 14:34] juchem opened #2776 "Snake case protobuf enums fail to compile."
## 🐛 Bug Report

When declaring snake cased enums in a proto file, grpc-gateway fails to render the correct go type name for it, writing the type name as-is instead of converting to camel case.

GRPC correctly uses property `GoIdent` of [`protogen.Enum`](https://pkg.go.dev/google.golang.org/protobuf/compiler/protogen#Enum) to produce the proper type name.

## To Reproduce

1. write a protobuf file

[2022-06-29 17:41] juchem commented on #2776
@johanbrandhorst that's undestandable.

The probelm is with the enum itself, not the values. Let me include the proto file here:
[code]

[2022-06-29 18:20] johanbrandhorst commented on #2776
Thanks for adding those files :). This should be pretty easy to reproduce in our own repository by adding an ugly looking enum to one of our example Protobuf files, e.g. https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples/internal/proto/examplepb/a_bit_of_everything.proto. Then rerunning generation should reproduce the error. From there, we'll have to fix it or our build won't succ

[2022-06-29 20:37] juchem commented on #2776
I'm interested, but unfortunately can't afford to spend the time on it at
the moment.
Whenever some time frees up, I'll take a stab at it if it's still open.
Can't commit to it, though.

On Wed, Jun 29, 2022 at 1:20 PM Johan Brandhorst-Satzkorn <
***@***.***> wrote:

[2022-06-30 08:22] catundercar opened #2777 "Wrong route with "/v1/{name=operations}"、"/v1/{name=operations/*}"、 "/v1/{name=operations/**}""
## 🐛 Bug Report
Two problems:
* Wrong Pattern Generated
The http rule: "/v1/{name=operations}" was generated a wrong pattern:
[code]
It's same with rules: "/v1/{name=operations/*}"、"/v1/{name=operations/**}"

* Unimplemented single match / zero or more match
Rules: "/v1/{name=operations}"、"/v1/{name=operations/*}"、 "/v1/{name=operations/**}" will all match path "/v1/operations".
It seems like not

[2022-06-30 11:54] pkohout opened #2778 "Class name is prefixed with package name"
## 🚀 Feature

Hi,
if I have the following gRPC service method, which uses a class from a different package, the class names that are generated are not nice to read.

[code]
The resulting OpenApi class looks like the following:
[code]

Is it possible to get rid of the `api_host_to_fcs` in front of the ResponseStatus? If not, is it planned to support something like this in the future?
So the result

[2022-07-03 02:05] johanbrandhorst commented on #2777
Hi, thank you for your issue! We've been doing some work in this space reasonably recently (CC @oyvindwe), I wonder if this is a regression. In any case, this issue report is a long way towards fixing this already, if you're interested in contributing. I would start with implementing the examples you've given here as tests, and from that point it's just a matter of fixing them :). How can I help y

[2022-07-03 03:18] johanbrandhorst commented on #2778
Hi, thanks for your issue! I'm not sure, but maybe you can change the generated title using the `title` annotation of the message? See https://github.com/grpc-ecosystem/grpc-gateway/blob/0ebdfba80649c56b0da0777376c970d17c3c9540/examples/internal/proto/examplepb/a_bit_of_everything.proto#L237 for an example.

[2022-07-03 04:27] #413 closed

[2022-07-03 12:20] oyvindwe commented on #2777
Is this issue related to the gateway itself or the OpenAPI v2 generator? I've only worked on the latter, so if this is in the gateway I fear it's not a regression.

[2022-07-03 19:11] flashpixx opened #2782 "OpenAPI Built-in UI"
## 📚 Documentation

I have generates the OpenAPI file with `buf` but for me it is not clear how can I add the swagger-ui to my gateway service. I have bind the the gateway-handler and this works. I would like to add a second path `localhost:8081/doc` a swagger-ui, so it is possible to show / test the gateway via REST request.
Could be added an example to the documentation for adding the swagger-ui

[2022-07-04 01:50] johanbrandhorst commented on #2782
Hi, thanks for your issue! I think it'd be cool to add an example of this to our docs page, but I'm a bit too busy to contribute one myself. As it happens I have an example _repo_ already that you can reference: https://github.com/johanbrandhorst/grpc-gateway-boilerplate. This repository does all that you want:

* Generates OpenAPIv2 with `buf`
* Serves a `swagger-ui` together with the grpc-gatewa

[2022-07-04 08:53] pkohout commented on #2778
I checked out the example you refered here, but also here the generaded model has the name: `examplepbABitOfEverything` where `examplepb` is the package name.

[2022-07-05 00:34] johanbrandhorst commented on #2778
Good point, but that has reminded me that we have a separate option for this in the generator: [`openapi_naming_strategy`](https://github.com/grpc-ecosystem/grpc-gateway/blob/6d7d485a14951c9cf314d1926362044b7d289853/protoc-gen-openapiv2/main.go), which can take either `legacy`, `fqn` or `simple`. I should thing `openapi_naming_strategy=simple` might do what you want.

[2022-07-05 13:51] #2681 closed

[2022-07-05 14:37] alcortesm opened #2783 "What is the best way to know if a request came via HTTP?"
## 📚 Documentation

This is not an issue but a question, apologies if this is not the right place for questions.

Let's say you are writing a handler for a gRPC server. What would be the best way to know if the request came via HTTP instead of gRPC?

The best solution I have been able to find so far is to check for the presence of the headers the reverse proxy adds to the incoming requests (`X-For

[2022-07-06 09:09] #2767 closed

[2022-07-06 17:49] togiles commented on #2770
It looks like upgrading our protobuf version from 3.19.1 to 3.21.1 fixes this - so just a version mismatch between two libraries.

[2022-07-06 17:49] #2770 closed

[2022-07-06 21:55] johanbrandhorst commented on #2770
Thanks for following up with your fix!

[2022-07-07 12:22] pkohout commented on #2778
@johanbrandhorst Thanks a lot, changing the `openapi_naming_strategy` to `simple` worked!

Now the message looks like the following:

[code]
which is exaclty what I wanted!

[2022-07-07 12:22] #2778 closed

[2022-07-07 16:43] johanbrandhorst commented on #2778
Glad to hear it :). Would you be willing to contribute something to our docs to help others discover this feature?

[2022-07-07 17:56] johanbrandhorst commented on #2783
Hi Alberto, thanks for your issue! Your suggested solution, checking for one of the grpc metadata values that the grpc-gateway adds automatically is the easiest solution. Naturally, as you say, if you cannot _trust_ clients to your gRPC server, you cannot tell the difference between a gRPC request that was forwarded by the gateway and one that was formed by an attacker. If this is really the case,

[2022-07-07 20:24] alcortesm commented on #2783
Thanks for your answer Johan, the details and approaches you describe are very helpful, it is exactly what I need to move forward with my design.

[2022-07-07 20:24] #2783 closed

[2022-07-08 17:56] sir-farfan opened #2785 "Catching the code 5 : Not Found"
## 🚀 Feature

Is there a way to catch requests on unknown endpoints to log and customize the response (optional)?

I tried playing around with HandlePath() and a few of the runtime.DefaultXXX() functions without much success.

I discovered I can use Gorilla Mux together with Gateway but the later handles the Not Found before Gorilla knows about it, so the handler never gets called.

Any advice?

[

[2022-07-10 09:59] #2569 closed

[2022-07-11 13:17] pkohout commented on #2778
Sure, but I am on vaccation right now, but will create a PR once I am back in the office. Will happen at the begin of August.

[2022-07-11 20:40] hajsf opened #2786 "Listening to stream as EventSource"
This is not a bug, but a clarification.

I built my gateway that is sending a stream very well to the 'postman/Thunder client' as `http://localhost:8090/v1/example/stream?id=5`

<img width="1076" alt="image" src="https://user-images.githubusercontent.com/98168280/178351947-cc53418d-c0ee-4286-9aeb-a299c6496160.png">

I would like to recieve the stream at my web page, so thought the best way is to u

[2022-07-12 05:37] spy16 opened #2787 "Extracting path pattern in HTTP middlewares"
## 📚 Documentation

We are trying to add a middleware (i.e., `func (next http.Handler) http.Handler`) to the gateway instance to add some instrumentation. For this we need to be able to extract the path-pattern.

We came across [Operations / Extracting the HTTP path pattern for a request](https://grpc-ecosystem.github.io/grpc-gateway/docs/operations/annotated_context/) which has a snippet on how t

[2022-07-13 18:09] hajsf commented on #26
Any update on this?

[2022-07-14 23:40] johanbrandhorst commented on #2785
Hi, thanks for your issue! I think you can use https://pkg.go.dev/github.com/grpc-ecosystem/grpc-gateway/v2/runtime#WithRoutingErrorHandler?

[2022-07-14 23:50] johanbrandhorst commented on #2786
Hi, thanks for your issue! I don't know if anyone has successfully used the grpc-gateway for event sourcing before, this is exciting 😄. For configuring the content type response, I think your best bet is to create a custom marshaler and register it:

[code]

Something like this might work?

[2022-07-14 23:56] johanbrandhorst commented on #2787
I think you will need to get the metadata in your gRPC handler, not as a HTTP middleware. Does that work? I agree the documentation is not clear. In any case, you will need to call `runtime.HTTPPathPattern` _after_ the gRPC gateway handler has had a chance to add the information to the context.

[2022-07-14 23:57] johanbrandhorst commented on #26
No update yet, haha. This issue is 7 years old 😓. Lets try to see what we can do in the other issue first?

[2022-07-15 05:35] spy16 commented on #2787
yea, I went  through the implementation of `RegisterXXX` functions. It looks like the context is annotated just before the RPC server implementation is invoked. So only place I can extract this information is inside the RPC handler implementation.

I would just leave this feedback here (may be in future versions when this goes through a refactor or something): It would be awesome to be able to hav

[2022-07-15 08:00] hasit opened #2795 "OpenAPIv2 YAML format does not include extensions"
## 🐛 Bug Report

I have a field `bar` in a message `Foo` for which I would like to generate swagger documentation.

[code]

Upon generation, I see the description field being generated correctly, but not the x-go-default field.

## To Reproduce

I use the following `buf.gen.yaml` openapiv2 plugin options:

[code]

After changing `output_format=yaml` to `output_format=json` , the `x-*` fields start

[2022-07-15 17:10] #2785 closed

[2022-07-15 18:57] hajsf commented on #2786
I got:
[code]

[2022-07-15 20:57] johanbrandhorst commented on #2786
No results? So you mean you're still seeing the same error in your frontend? Are you sending the `Accept: text/event-stream` header in the request? Could could continue debugging by adding print statements to the marshaler to see that it's being called.

[2022-07-15 23:38] johanbrandhorst commented on #2787
If you're working at the HTTP middleware level, at least you have access to the request path through `req.URL.Path` :). If you think there's anything we can add to the docs, please open a PR and I would be happy to review it.

[2022-07-15 23:38] #2787 closed

[2022-07-15 23:46] johanbrandhorst commented on #2795
Thanks for this detailed issue. If someone is interested in trying to fix this, I would suggest starting by adding a failing test. Look at the tests added in https://github.com/grpc-ecosystem/grpc-gateway/pull/2579 for inspiration.

As a workaround for this issue, there appear to be lots of different tools available for converting JSON to YAML as a post-processing step: https://www.google.com/sear

[2022-07-16 13:20] hedhyw commented on #2795
Fixed in PR #2797

@hasit Please check on your project.

[2022-07-16 13:29] hedhyw commented on #2745
It seems like https://github.com/go-yaml/yaml/pull/864 is not going to be merged (https://github.com/go-yaml/yaml/issues/643), so let's decide:
1. pt. 1-2: https://github.com/grpc-ecosystem/grpc-gateway/issues/2745#issuecomment-1149402528
2. replace to fork with the fix.
3. something else?

[2022-07-16 13:44] optimistic9527 commented on #1610
how to fix it?

[2022-07-18 15:26] hasit commented on #2795
@hedhyw I am not sure how I could verify this change. I am using buf system to run this plugin

[code]

[2022-07-18 22:53] johanbrandhorst commented on #2795
@hasit it won't be available on the BSR until we've made a release. If you want to test the change locally, you'll have to build a binary locally. Since the PR is on a fork, it's a little complicated to test before we've merged it. You could check out the PR locally and run `go build ./protoc-gen-openapiv2` and then use the following `buf.gen.yaml`:

[code]

But we should get this merged soon, I'm

[2022-07-18 22:57] #2795 closed

[2022-07-18 22:58] johanbrandhorst commented on #2795
We'll get this released soon, it's about time for another release, but if you want to test this in the meantime, you should now able to install `protoc-gen-openapiv2` via:

[code]

[2022-07-18 23:00] johanbrandhorst commented on #2745
Hm, sounds to me like we should just revert back to v2 until there is any movement merging of the v3 fix. What do you think?

[2022-07-18 23:01] johanbrandhorst commented on #1610
I'm not sure what you're asking for? You can exert full control over responses with https://pkg.go.dev/github.com/grpc-ecosystem/grpc-gateway/v2/runtime#WithForwardResponseOption.

[2022-07-18 23:02] hasit commented on #2795
@johanbrandhorst wonderful! Thanks to you and @hedhyw :)

[2022-07-19 21:48] #2745 closed

[2022-07-19 22:56] johanbrandhorst commented on #2795
This has been released in https://github.com/grpc-ecosystem/grpc-gateway/releases/tag/v2.11.0

[2022-07-21 11:36] richzw opened #2807 "What does rpc error: code = Unknown desc = not support mean?"
We got the following error

`rpc error: code = Unknown desc = not support`

from

[code]
After searching the codes of gRPC and gRPC-gateway, we failed to find the error `desc = not support`. Could someone help us or something is missing?

grpc-gateway v1.3.1
grpc v1.38.0

[2022-07-21 15:57] johanbrandhorst commented on #2807
This isn't an error that's returned by the grpc-gateway, it must be something that one of your gRPC server handlers is responding with.

[2022-07-21 20:14] kkolur opened #2808 "How to specify OpenAPI configuration file when merging multiple protos into single OpenAPI file?"
**Question:** How do I specify the `file` in [OpenAPI configuration file](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples/internal/proto/examplepb/unannotated_echo_service.swagger.yaml#L4) when working with and merging multiple generated open api yamls into one single file?

**Context:**
Currently, I have a script that finds all proto files that end in `api.proto` in the direct

[2022-07-22 02:34] #2807 closed

[2022-07-22 05:35] armsnyder opened #2809 "Support array-type response body by default"
## 🚀 Feature

EDIT: I was able to resolve this by finding the `allow_repeated_fields_in_body=true` plugin option. However, I suggest changing that option default from `false` to `true`.

~~I would like the openapiv2 and grpc-gateway plugins to support mapping an HTTP response to a repeated field, so that we can have array-type response bodies.~~

~~For example, I want my response body to look like

[2022-07-24 04:52] johanbrandhorst commented on #2808
Hi Kishan, thanks for your issue! I frankly have no idea how these two options interact, so it doesn't surprise me that it's confusing to you. Sorry about that! I believe we recently did some work on how the file merge treats openapi annotations, but that was with annotations set as proto options inside each file. I know this case works, so is that an option for you? I.e., instead of using an exte

[2022-07-24 04:54] johanbrandhorst commented on #2809
Hi Adam. This is an interesting point, and I agree that it would be nice to turn this on by default. Would you be willing to contribute a flip of this option from off-by-default to on-by-default?

[2022-07-24 06:00] armsnyder commented on #2809
I'll take a look. 😄

[2022-07-25 15:32] kkolur commented on #2808
Hey @johanbrandhorst thank you for the reply! Unfortunately, it is probably not an option since we want to keep our proto file unannotated :( Is it possible to achieve this scenario while keeping the proto completely unannotated?

[2022-07-25 17:13] johanbrandhorst commented on #2808
It certainly should be something that we should support, so if it doesn't work today we can hopefully work together to make it work. Could you try to get the external annotations working as expected _without_ doing any merging, and then see if that works?

[2022-07-25 17:31] kkolur commented on #2808
@johanbrandhorst Nope, it isnt working even for just a single file! I even tried removing the `openapi_configuration` opt and just doing the regular swagger generation for single file and it seems to not be working now :(

For reference here is my directory structure

[code]

[2022-07-25 18:19] njerschow opened #2815 "Force generated parameters to be defined using $ref pointing at the proto definition"
## 🚀 Feature

### Current behavior:
All generated paths result in the request parameter definitions looking like this:
[code]

It would be awesome if there were a flag that could force my parameters to be defined using a ref instead:
[code]

### Why?
I have a relatively niche use case (I think) where I need to be able to send arbitrary RPC messages without knowing what type they will be ahead of t

[2022-07-25 18:31] kkolur commented on #2808
@johanbrandhorst I got it working! The file in the yaml should have been provided as `api/main_api.proto`. This might have something to do with the `-I=proto` so i had to shave off the `proto` from the path

[2022-07-25 23:46] #2808 closed

[2022-07-25 23:49] kkolur opened #2817 "Support tags in service annotations"
It seems that the `service` option in OpenAPI configuration file is not working, or at least I am unable to get it to work.

The `protoc` compiles and successfully generates the swagger but the `tags` is not getting updated with the description set by the `service` tag. Here is [OpenAPIServiceOption](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/internal/descriptor/openapiconfig/opena

[2022-07-26 01:37] kkolur commented on #2817
I found this which may indicate that its still a TODO? https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-openapiv2/options/openapiv2.proto#L96

[2022-07-26 03:50] johanbrandhorst commented on #2815
Hi Nikita, thanks for your issue! Parameters will use a `$ref` whenever possible, however in your use case it might not be happening because part of the message is inferred from the path and part from the body. In such cases, the gateway will remove the parameters that are inferred from the path from the body, and inline the message. This ensures that the generated schema matches what the server b

[2022-07-26 03:54] johanbrandhorst commented on #2817
I think it is just the tags, as you say, not the entire service option. I have updated the title. Would you be interesting in helping implement this?

[2022-07-26 03:55] johanbrandhorst commented on #2817
See also: https://github.com/grpc-ecosystem/grpc-gateway/issues/2751

[2022-07-26 22:11] #2809 closed

[2022-07-27 17:29] njerschow commented on #2815
Thanks for the answer johan, I will look to implement this in other ways.

[2022-07-27 17:29] #2815 closed

[2022-07-27 21:00] that-coder opened #2818 "Proxy to multiple servers and intercept data in gateway to check ACL"
Hello world!

In my program, I want to proxy to my different grpc services based on routes. At the same time, I wanna intercept request data in the gateway and validate my ACL logic and return if the user is not unauthorized.

[code]

[2022-07-28 03:15] jbaxx commented on #2776
I'm interested in trying to fix this.

## TL; DR
I've been able to reproduce the issue, looks like identifiers for enums in the `*.pb.gw.go` file doesn't match those in the `*.pb.go` file when enums are snake-cased. Also, I'd appreciate some guidance on the path to test and fix as mentioned in the fix proposal below.

## Reproducing the issue

I was able to reproduce the issue as well by:
1. Addin

[2022-07-28 05:03] johanbrandhorst commented on #2818
This should be possible by implementing a `http.Handler` that does your ACL business logic, then dial and register separate gRPC services for each of your Protobuf services as usual.

[2022-07-28 05:06] johanbrandhorst commented on #2776
Hi @jbaxx, thanks for that thorough analysis! I think you're already well on the way there, adding a failing example to `a_bit_of_everything.proto` is as much of an integration test as we really need for the generator. In terms of fixing it, we could always add the CamelCase function into the template rendering so that we can call it within the template. How does that sound?

[2022-07-28 05:24] that-coder commented on #2818
@johanbrandhorst do you have any link to refer?

[2022-07-28 18:22] AbhinavkumarL commented on #2316
@johanbrandhorst  Looks like the latest commit available on org/repo `https://buf.build/grpc-ecosystem/grpc-gateway.` from May 23rd. Is it possible to push the latest changes to the module to BSR ?

![image](https://user-images.githubusercontent.com/23300819/181609789-c03b8fd0-9d5f-466b-8d04-04e16bd1c521.png)

[2022-07-28 18:52] johanbrandhorst commented on #2316
Hi @AbhinavkumarL. Do you have a reason to believe that this is no longer the latest protobuf contents? The BSR won't create a new commit unless there are new files or changes to existing files. We also only run the proto_push workflow when there have been changes to one of the protobuf files: https://github.com/grpc-ecosystem/grpc-gateway/blob/1085fb38dc98034ae6a189b45b764fa1f3bef82a/.github/work

[2022-07-28 18:53] gnu-lorien opened #2820 "Please document how to handle "If-Match" or return 412 on PRECONDITION_FAILED"
I'm trying to implement "If-Match" headers using gRPC-Gateway.

My first attempt was to return PRECONDITION_FAILED from my gRPC service after doing the ETag checks. At some point this worked in gRPC-Gateway, but this issue changed the behavior to no longer do that: https://github.com/grpc-ecosystem/grpc-gateway/issues/972

Looking in the existing documentation this seems to imply that this is the

[2022-07-28 19:54] AbhinavkumarL commented on #2316
@johanbrandhorst  I see the openapiv2 plugin is up-to-date with reference `v2.11.0-1`. However, the commits published on the module is older. Looks like there is some inconsistency.  I keep running in to the below error when i try to use `buf generate` to generate the protobuf from my proto files.

[code]
I see this issue is recently fixed on the plugin in (https://github.com/grpc-ecosystem/grpc-g

[2022-07-28 20:00] johanbrandhorst commented on #2316
I see the confusion. The problem is that the fix that you are relying on is not yet in a published release. If you want to use remote plugins, you'll need to keep the old option around for now:

[code]

Also, don't confuse plugin versioning for the versioning of the protobuf files. The protobuf files change very rarely. Everything on the BSR is up to date.

[2022-07-28 20:07] AbhinavkumarL commented on #2316
okay got it, Appreciate your time.

[2022-07-28 22:28] gnu-lorien commented on #2820
Noting that I am very bad at Go, this is what I came up with.

[code]

[code]

[2022-07-29 15:38] alkapov opened #2822 "Gateway server panics on invalid Grpc-Timeout value"
## 🐛 Bug Report

Server panics when receives request with invalid Grpc-Timeout value.

Let's consider following code from example: https://github.com/grpc-ecosystem/grpc-gateway/blob/1911ac0658cb2423d15caa0f5a32e5ccff3ec549/examples/internal/proto/examplepb/echo_service.pb.gw.go#L905-L909

`runtime.AnnotateIncomingContext` may return `ctx == nil` if `err != nil`.
But then ctx is passed into `runti

[2022-07-29 16:10] mteodor commented on #470
can you point me to the solution, I have the same problem

[2022-07-30 02:14] johanbrandhorst commented on #2822
Thank you for this bug report. I consider this a very bad bug so I've gone ahead and submitted a double fix myself in #2823.

[2022-07-30 02:45] #2822 closed

[2022-07-30 02:58] johanbrandhorst commented on #2822
We've released a fix for this in https://github.com/grpc-ecosystem/grpc-gateway/releases/tag/v2.11.1

[2022-07-31 00:06] johanbrandhorst opened #2824 "Replace openapiv2 path template parser with httprule parser"
We have at least two parsers for the http.proto template language;

* In the [httprule](https://github.com/grpc-ecosystem/grpc-gateway/tree/master/internal/httprule) package, which is used by `protoc-gen-grpc-gateway` to generate the handler paths
* In the [genopenapi](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-openapiv2/internal/genopenapi/) package to generate the Open

[2022-07-31 03:05] johanbrandhorst commented on #2820
This looks about right to me, does this not work for you? I'd make some style suggestions but the logic looks alright. Were you able to find https://grpc-ecosystem.github.io/grpc-gateway/docs/mapping/customizing_your_gateway/#error-handler in the docs? I don't know if we need a new docs section specifically for this error, do you?

[2022-07-31 23:04] johanbrandhorst commented on #2717
Sorry for the "wontfix" label, that was wrong. I think there is a discussion to be had here though - you want to mark a query parameter as required. What do you want to happen when that parameter is omitted from the request? `GET /test` is a completely valid request. I don't know that the behavior here is wrong, but what we could do is add a warning to the generator when the user does this. What d

[2022-07-31 23:06] johanbrandhorst commented on #2717
Scratch that, apparently the OpenAPIv2 spec explicitly calls out that query parameters can be `required`: https://swagger.io/docs/specification/describing-parameters/. I guess this is a bug then!

[2022-08-02 10:13] MakDon commented on #2717
@johanbrandhorst hello, I will work on it :D

[2022-08-03 21:35] johanbrandhorst opened #2833 "Investigate whether HTTPRule parser allows invalid templates"
As part of #2825, @oyvindwe mentioned that the HTTPRule parser may allow templates that will cause the OpenAPIv2 generator to generate invalid paths. Specifically:

We should investigate whether this is the case, and if so, probably patch the openapiv2 generator to remove this assumption, as introducing errors for these templates now is a backwards incompatible change.

Related to #2824.

[2022-08-04 12:17] MakDon commented on #2671
I will work on it these days

[2022-08-05 17:20] OnkelTem opened #2837 "Required properties of message types get optional in OpenAPI"
## 🐛 Bug Report

Message properties marked with `[(google.api.field_behavior) = REQUIRED]` get ignored when generating OpenAPI spec, if properties reference other messages (schemas).

## To Reproduce

Create a proto with the following definition:
[code]

And generate anOpenApi spec. It will contain:

[code]

i.e. the `required: [ "vendor" ]` part is missed.

## Expected behavior

[code]

## Actual

[2022-08-05 17:30] johanbrandhorst commented on #2837
Thanks for your issue. This is only when referencing messages that are imported, is that correct?

[2022-08-05 17:41] OnkelTem commented on #2837
Yep, scalars and "inlined" arrays (not in other schemas) seem to get processed correctly.

[2022-08-05 17:44] johanbrandhorst commented on #2837
Ok, thanks for confirming. Would you be interested in contributing a fix for this? The API fields configuration feature is still a bit new so there will be bugs like this (see also #2829).

[2022-08-05 17:52] OnkelTem commented on #2837
@johanbrandhorst Thanks for the quick replies. I'm not qualified enough for that work, unfortunately, my field is JavaScript. But I'll let my teammates know about such an opportunity :)