[2022-08-06 08:33] johanbrandhorst commented on #2713
PSA: Since 1.19 is released, the new release of the grpc-gateway will require Go 1.17+. I hope this is acceptable to you.

[2022-08-07 17:25] MakDon opened #2839 "Bug: dockerfile echo -e into /usr/local/bin/swagger-codegen"
Referring to [this PR reply](https://github.com/grpc-ecosystem/grpc-gateway/pull/2829#issuecomment-1206699525), I found that there is a `-e` at the beginning of `/usr/local/bin/swagger-codegen`, which reports error while generating files.

The reason is, the `RUN` in the dockerfile would interpreted as `/bin/sh -c <command>`([Reference](https://docs.docker.com/engine/reference/builder/#run)):

And

[2022-08-08 05:48] #2839 closed

[2022-08-08 10:52] catundercar commented on #2777
Emm, I think it related to the OpenAPI v2 generator. Because the pattern `/v1/operations` must not be routed to the method `GetOperation`.

[2022-08-08 10:52] catundercar commented on #2777
@oyvindwe

[2022-08-08 10:53] catundercar commented on #2777
@oyvindwe

[2022-08-08 11:15] oyvindwe commented on #2777
@catundercar Can you please provide a repro with a proto file and the command to generate the OpenAPI file?

[2022-08-08 15:21] catundercar commented on #2777
https://github.com/catundercar/longrunning-demo

The command is in the `Makefile`: longrunning.
You can run the test in internal/longrunning.
Thanks!

[2022-08-08 18:03] oyvindwe commented on #2777
Thanks for the link. The `Makefile` only calls `protoc` with `--grpc-gateway…`, not `--openapiv2…`, this is not related to the changes done to the OpenAPI generator.

Note that `**` matches _zero or more_ URL path segments according to the [specification](https://github.com/googleapis/googleapis/blob/master/google/api/http.proto#L233-L235):

So as far as I'm able to tell, there's nothing wrong wit

[2022-08-08 18:05] johanbrandhorst commented on #2777
The grpc-gateway runtime uses the "last match wins" rule if there are two matches: https://github.com/grpc-ecosystem/grpc-gateway/pull/1384.

[2022-08-09 02:11] catundercar commented on #2777
May  on rule `/v1/{name=operations/**}` : If the segment is zero, must has `/` suffix?

[2022-08-09 03:25] johanbrandhorst commented on #2777
It would seem to me to be that way, yes 🤔

[2022-08-09 13:58] #2776 closed

[2022-08-09 15:55] y-takuya commented on #2817
Hi @johanbrandhorst, can I try to work on this issue?

[2022-08-09 16:30] gcmurillo commented on #2445
Hi, for someone that came here for a similar scenario but not related to nginx, and you're using protobuf, look in your boot.go file to register properly the controllers and Handlers in the `RegisterGrpcHandlers` and `RegisterGrpcServers` methods.

[2022-08-11 02:44] thefallentree commented on #2452
Did anyone ever find an solution to this?

I actually think it might be related to protoc : grpc gateway correct generate code that use “emptypb” but for some reason the import code is wrong and still uses the old package. my guess is that the import is handled by  protoc directly but I have not been able to trace where

[2022-08-11 05:31] johanbrandhorst commented on #2452
It depends on the version of `protoc` that you use, yes. It's because `protoc` comes bundled with a well known types, and older versions of `protoc` will be using the older import path. Use a modern version of `protoc` (or `buf`) and it won't be a problem.

[2022-08-13 00:32] jpbarela opened #2849 "Enable OpenAPI Responses to be deleted on a per operation basis"
## 🚀 Feature

Currently the response OpenAPI object is only built additively using both the `responses` values from a `grpc.gateway.protoc_gen_openapiv2.options.openapiv2_swagger` option and the responses value of the `grpc.gateway.protoc_gen_openapiv2.options.openapiv2_operation` option. There is no way to remove a response once it is added.

Enabling a method for removing the response key can su

[2022-08-13 03:31] #2717 closed

[2022-08-13 05:17] johanbrandhorst commented on #2849
Hi, thanks for your issue! I think my current thoughts on this is that it is a little bit too much configurability, at the cost of simplicity of both the options and the implementation. Am I understanding right that the user can simply not provide a file-wide response if they only want the response to apply to some of the operations?

[2022-08-13 11:30] #2692 closed

[2022-08-13 11:30] #2696 closed

[2022-08-13 11:31] #2656 closed

[2022-08-13 14:39] jpbarela commented on #2849
`grpc.gateway.protoc_gen_openapiv2.options.openapiv2_swagger` is API wide not file wide. If you have 30 authenticated endpoints and 2 unauthenticated endpoints you end up adding a lot of boilerplate by requiring responses on all of the authenticated endpoints rather than removing the response on the 2 unauthenticated endpoints.

[2022-08-14 00:16] johanbrandhorst commented on #2735
So this seems to have started working in some cases, for example, this job runs in just 1m30s: https://github.com/grpc-ecosystem/grpc-gateway/runs/7798943096?check_suite_focus=true. OTOH, https://github.com/grpc-ecosystem/grpc-gateway/runs/7810177188 did not match anything, not even on the `v1-bazel-cache-` prefix. According to https://docs.github.com/en/actions/using-workflows/caching-dependencie

[2022-08-14 00:47] johanbrandhorst commented on #2849
Fair point. Be that as it may, I'd still prefer not to add this functionality, as there is a "workaround" available. As an alternative to adding this functionality, you could also post-process the generated swagger.json. Thanks for your interest in the project!

[2022-08-14 00:47] #2849 closed

[2022-08-14 17:13] oyvindwe commented on #2777
I would think so as well, but I find the specification in general a bit loose, so I would test the behaviour with e.g. ESPv1 or ESPv2 (which are implemented by Google).

[2022-08-15 03:21] catundercar commented on #2777
dddd

[2022-08-15 11:36] dadadamarine opened #2850 "service refer to external Message with Oneof { enum } field, make invalid gw code."
## 🐛 Bug Report

when service is using external Message with Oneof { enum } field, and generate pb.gw.go with proto (with service), gen code is not works.

## To Reproduce

1. make proto files like below

**test/example/a/test.proto**
[code]

**test/example/b/external.proto**

[code]

2. generate test.pb.gw.go with `protoc-gen-grpc-gateway`
[code]

## Expected behavior
all the `ExternalMsg_Example

[2022-08-15 15:42] llsj14 opened #2851 "protoc-gen-openapiv2: numbering logic and 'pattern' field of path parameters do not provide sufficient information for the Swagger UI"
## 🐛 Bug Report
When I split a monolithic single service into multiple services and use them to generate a single swagger file, it seems that the numbering logic of `path parameters`([docs](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/docs/docs/mapping/customizing_openapi_output.md#path-parameters)) is used and the`pattern` field is generated in path parameters. However, this format

[2022-08-16 13:44] tmccnnll commented on #2837
I think scalars are actually incorrectly handled but this is covered by issue #2635

[2022-08-16 15:22] johanbrandhorst commented on #2635
This was fixed by #2769. Lets reopen if it persists.

[2022-08-16 15:22] #2635 closed

[2022-08-18 05:01] johanbrandhorst commented on #2850
Hi, thanks for your bug report! This does indeed look like a bug. I guess this is related to the introduction of this functionality in https://github.com/grpc-ecosystem/grpc-gateway/pull/2739. Maybe there's a simple fix? CC @aesadde.

[2022-08-19 16:47] sirtakidancers opened #2856 "add deprecated flag in openapi convertor"
## 🚀 Feature

hello, i use buf.build/grpc-ecosystem/plugins/openapiv2 plugin for buf and after converting from proto i get this kind of file

.proto
[code]

.json
[code]

as you can see in the example, the deprecated field was lost, I would like it to be in json too

[2022-08-22 04:21] johanbrandhorst commented on #2856
Hi, thanks for your issue! We already support this through an existing annotation. I'm not sure if we should add implicit behavior for the official `deprecated` option when there is a workaround. Here is an example: https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples/internal/proto/examplepb/a_bit_of_everything.proto#L611. What do you think?

[2022-08-22 13:25] oyvindwe commented on #2851
Hi @llsj14

You're not the only one struggling with this! This is the intended behaviour for several reasons
- `/` is not allowed as a character in a OpenAPI path parameter. This is discussed for future OpenAPI versions: https://github.com/OAI/OpenAPI-Specification/issues/892
- Keeping `=<pattern>` in paths is also not allowed in OpenAPI path parameters.
- Paths in OpenAPI must be unique, so the g

[2022-08-23 17:58] juchem commented on #2776
@johanbrandhorst are there any plans to put out a release with this bug fix in the short term?

[2022-08-23 20:45] johanbrandhorst commented on #2776
I've just tagged v2.11.3: https://github.com/grpc-ecosystem/grpc-gateway/releases/tag/v2.11.3

[2022-08-24 03:54] juchem commented on #2776
@johanbrandhorst `go install` doesn't seem to find the binaries. Is the publishing a batch job that will eventually fix itself or a manual process?

Output:
[code]

[code]

[2022-08-25 06:01] johanbrandhorst commented on #2776
It can take a few hours for the Go proxy to pick up a new version, I just ran the command you pasted here locally and it worked fine for me! Let me know if it's still not working.

[2022-08-25 08:35] Rascal0814 opened #2863 "V2. runtime.WithForwardResponseOption."
## 🚀 Feature

How do I return a custom data format through runtime.WithForwardResponseOption?
gateway-version：v2

[2022-08-25 13:48] juchem commented on #2776
I just ran it and still the same `404` output. I double checked just in case and the binary was not downloaded

[2022-08-25 14:49] juchem commented on #2776
@johanbrandhorst FYI, for whatever reason, after cleaning the contents of `GOPATH` the install command finally worked. The problem was on my end, so please disregard my previous comment.

[2022-08-28 18:28] isbang commented on #2850
@johanbrandhorst Maybe passing `currentPackage` into `AssignableExpr` and `AssignableExprPrep` function is the simple fix. May I try? CC @dadadamarine

[2022-08-29 16:53] johanbrandhorst commented on #2850
Could certainly be worth trying it :)

[2022-08-30 00:47] johanbrandhorst commented on #2863
If you want a custom data format altogether, you probably want a custom marshaler: https://grpc-ecosystem.github.io/grpc-gateway/docs/mapping/customizing_your_gateway/#message-serialization. `WithForwardResponseOption` is used for setting things like headers or overwriting the response in some cases.

[2022-08-30 00:47] #2863 closed

[2022-08-30 08:05] sirtakidancers commented on #2856
thanks for the answer, it seems to solve my problem, thanks!

[2022-08-30 08:05] #2856 closed

[2022-08-30 17:54] erademacher commented on #2691
Hi. This is impacting my team as well, but I'm confused as to why the fix needs to be complicated. Currently, if a message isn't used by any methods, it doesn't make its way into the spec. Couldn't you simply treat hidden methods as nonexistent?

[2022-08-31 00:14] erademacher commented on #2691
Skipping hidden methods when walking the dependency tree seems to work!
https://github.com/grpc-ecosystem/grpc-gateway/pull/2868

[2022-08-31 04:03] #2850 closed

[2022-09-02 10:23] vnt32 commented on #395
Thanks, I barely found how to use this thing, because. not in one guide google this is not written. Used shnake_case instead of camelCase based on type from proto file

[2022-09-02 14:42] bhavyay commented on #2494
@johanbrandhorst I am interested to contribute to this issue. Let me know if I can pick this up.

[2022-09-02 18:45] johanbrandhorst commented on #2494
Hi, yes, please feel free to start work, I don't know anyone else that is working on this.

[2022-09-05 10:18] aranw commented on #1821
Am trying to figure out a way to extract the gRPC Gateway Path Parameter in my HTTP Middlewares for logging/metrics/etc and found that right now it's not possible because the only way to add middleware is to wrap the gRPC Gateway Servemux

Would it be possible rather than wrapping the gRPC Gateway Servemux to instead wrap the internal handlers after the requests have been annotated?

[2022-09-05 18:52] johanbrandhorst commented on #1821
You can create a client side interceptor which happens before the network request. You should be able to use https://pkg.go.dev/github.com/grpc-ecosystem/grpc-gateway/v2/runtime?utm_source=godoc#HTTPPathPattern to get the pattern.

[2022-09-06 03:54] Ja7ad opened #2873 "grpc gateway error code 5 for multiple service registered"
## 🐛 Bug Report

There are multiple services in proto that register to GRPC server, but the GRPC gateway for a second or other service returns an error code 5 Not Found for rpc methods.

## To Reproduce

1. create second rpc service
2. register to grpc server
3. try use rpc method with http request
4. show error code 5

## Expected behavior

[code]

## Actual Behavior

![Screenshot from 2022-09-06

[2022-09-06 03:59] #2873 closed

[2022-09-06 04:01] Ja7ad commented on #2873
I found my issue, second service endpoint not registered with runtime mutex.

[2022-09-06 11:05] patrick246 opened #2874 "protoc-gen-openapiv2 does not respect json_name when generating the required properties"
## 🐛 Bug Report
Starting with protoc-gen-openapiv2 v2.8.0, the generated OpenAPIv2 schema is generated incorrectly when using the `grpc.gateway.protoc_gen_openapiv2.options.openapiv2_schema` option, together with `json_name`. The properties section uses the name from the json_name annotation, but the required section uses the autogenerated name instead.

## To Reproduce

I've tested this with mult

[2022-09-06 11:25] patrick246 commented on #2874
Found a TODO comment for exactly this issue: https://github.com/grpc-ecosystem/grpc-gateway/blob/6efdab108825329ff4b76940ca8edd1807ca8931/protoc-gen-openapiv2/internal/genopenapi/template.go#L2599

It also seems that it only accidentally worked for us in 2.7.3 and before, as we always had protobuf name = json name.

[2022-09-06 23:32] johanbrandhorst commented on #2874
Thanks for the bug report, and sorry about breaking your use case 😞. It sounds like you're already making good progress on a fix, is there anything I can do to help?

CC @oyvindwe

[2022-09-07 05:22] oyvindwe commented on #2874
I investigated this when working on PR #2553. This was a partial fix for some cases where `required` would contain `snake_case` fields when it shouldn't: https://github.com/grpc-ecosystem/grpc-gateway/pull/2553#discussion_r816261792

[2022-09-07 06:36] patrick246 commented on #2874
No worries, it looks like it was already broken before, just in the other direction.

My current plan would be to move the conversion of the required fields part out of `updateswaggerObjectFromJSONSchema` and into `renderMessageAsDefinition`, as we have access to msg.Fields there. Does this sound like a good approach?

[2022-09-08 03:03] johanbrandhorst commented on #2874
@patrick246 I wish I had enough context on this code to say, but throw up a PR with some tests and lets see!

[2022-09-09 00:24] #2691 closed

[2022-09-09 09:55] OnkelTem commented on #2837
I also noticed that if a property is of an array message type, it gets rendered as required, e.g.:

[code]

but if I remove `repeated`, then it becomes non-reuiqred:

[code]

[2022-09-09 20:01] Rajarshi1998 commented on #2817
I would like to contribute to fix this issue. Thank you!!

[2022-09-09 20:05] Rajarshi1998 commented on #2707
I would like to contribute to fix this issue. Thank you!!

[2022-09-09 20:05] Rajarshi1998 commented on #2837
I would like to contribute to fix this issue. Thank you!!

[2022-09-09 20:31] johanbrandhorst commented on #2707
Hi, please feel free to open a new PR, we haven't heard anything from @brijeshvishwanath for a while.

[2022-09-09 20:31] johanbrandhorst commented on #2817
We have an open PR already: https://github.com/grpc-ecosystem/grpc-gateway/pull/2858. No need to start work on this.

[2022-09-09 20:33] johanbrandhorst commented on #2837
Feel free to start work on this. The first step is usually adding a failing test or example.

[2022-09-10 04:57] theshashankpal commented on #2624
Hi @johanbrandhorst ,
It seems the issue is not assigned to anyone, and there is no latest update on the same.
I am a student who needs to contribute to an OpenSource project in my coursework,
so I was wondering if you can assign this to me.
This seems to be a good initiation of my journey towards contribution to FOSS projects.

[2022-09-10 08:37] oyvindwe commented on #2624
That assumption is sound - the gateway must reject or ignore unknown fields in the JSON message:
https://developers.google.com/protocol-buffers/docs/proto3#json_options

@theshashankpal it sounds like @cloneable was investigating this earlier, but you are free to submit a PR.

[2022-09-12 11:07] aleert opened #2884 "Unable to specify empty response schema"
## 🐛 Bug Report

[Response schema](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-openapiv2/options/openapiv2.proto#L224) states that
[code]

however when i omit schema from rpc response defenition it still renders as `"schema": {}` in `api.swagger.json` which in editor rendered as
<img width="704" alt="Screenshot 2022-09-12 at 13 53 36" src="https://user-images.githubuserco

[2022-09-12 15:36] marksartdev commented on #2670
I have this problem, too.

[2022-09-14 02:40] johanbrandhorst commented on #2884
Have you tried using `google.protobuf.Empty` as the response type?

[2022-09-14 09:42] aleert commented on #2884
Yes, it displays empty message as example response value and has description according to `google.protobuf.Empty` docs as schema key in `api.swagger.json` is still generated.

<img width="299" alt="Screenshot 2022-09-14 at 12 37 46" src="https://user-images.githubusercontent.com/37804671/190119564-9ffcebb0-ee4a-4dcf-acd0-eebb8ab3cc25.png">

[2022-09-14 17:11] #2874 closed

[2022-09-15 07:19] michalgiltaurus opened #2889 "Protoc panics while generating openapiv2 files from proto with custom HttpRule in additional_bindings"
## 🐛 Bug Report

Proto file with the following part:

[code]

openapi files generation run with:

[code]

results with:

[code]

Replacing the custom HttpRule with non-custom one such as get: "/path" results with a successful generation.

[2022-09-15 22:00] #2817 closed

[2022-09-16 11:02] valiner commented on #769
niuB

[2022-09-16 12:57] y-takuya opened #2891 "Options defined in the OpenAPI config file should take precedence over configs in the Proto file"
## 🚀 Feature

As pointed out in #2858, users usually use the openapi configuration file when they can't edit the protobuf file for some reason. So it would be better for the options defined in the openapi configuration file to take precedence.

Currently, only `Service` has been modified to give priority to the options defined in the OpenAPI configuration file, while the `Method`, `Message`, `File

[2022-09-16 21:54] #769 closed

[2022-09-17 03:24] johanbrandhorst commented on #2884
I had a look at the spec, and I agree that it should be possible to set this to something empty given this definition of the field:
![image](https://user-images.githubusercontent.com/6604151/190838686-d0fc57d2-e86a-45f5-9a88-df2db38eefa0.png)

However, with the way that we specify responses using the annotations, how would we tell the difference between an empty response and a response that's not

[2022-09-17 03:27] johanbrandhorst commented on #2889
Hi, thanks for your bug report! This is a bug in our plugin `protoc-gen-openapiv2`. You can see exactly where the crash is: protoc-gen-openapiv2/internal/genopenapi/template.go:1083. Fixing the crash is easy, we can probably just return an error instead. However, we probably also want to actually support these custom annotations. What can I do to help you bring this contribution in?

[2022-09-22 08:09] alexadhy opened #2901 "Embedded struct / message is not correctly populated, causing panic"
## 🐛 Bug Report

Embedded struct / message is not correctly populated, causing panic

## To Reproduce

Use this particular proto file:

[code]

on generated code, it generates (snippet):
[code]

I added a comment where the generated code creates an issue, because the `X` object is not yet initialized, access / assignment to `X` via `protoreq.X.type = XType(e)` will panic

## Expected behavior

I e

[2022-09-22 23:54] johanbrandhorst commented on #2901
Hi, thanks for your issue! This seems like a pretty clear code generation bug. We've had a few of these in the past (panics because submessages are unititialized). The easiest way to get started on a fix for this is to introduce a failing example/test. If you'd like to help contribute a fix for this, you could add a new RPC that exhibits the example you shared to https://github.com/grpc-ecosystem/

[2022-09-26 08:28] lachlancooper commented on #2670
From what I can see this is due to the logic that decides whether to add a `description` and/or `title`, which depends partially on whether a comment ends in `.`:
https://github.com/grpc-ecosystem/grpc-gateway/blob/6b2cf62b5e76379165000b914ef37afba9fd495c/protoc-gen-openapiv2/internal/genopenapi/template.go#L2048-L2049

Some speculation here, but it matches what I can see in a few of our generated

[2022-09-26 17:57] johanbrandhorst commented on #2670
Haha that's well confusing, great digging @lachlancooper. I think we should definitely stop enum value comments from appearing in the title, that always seems wrong, with or without a full stop. The other behavior is _sorta_ reasonable, but it would be great to document this in our docs: https://github.com/grpc-ecosystem/grpc-gateway/blob/master/docs/docs/mapping/customizing_openapi_output.md. So

[2022-09-26 23:59] lachlancooper opened #2906 "protoc-gen-openapiv2: support deprecated field option"
## 🚀 Feature

When generating an openapiv2 definition, any [protobuf `deprecated` field options](https://developers.google.com/protocol-buffers/docs/proto3#options) are currently ignored. It would be nice if the generator automatically set the [deprecated field on the resulting parameter object](https://swagger.io/specification/#parameter-object) accordingly.

Note that the deprecated field on [_o

[2022-09-27 08:45] gostajonasson commented on #2837
I created a small and naive [PR](https://github.com/grpc-ecosystem/grpc-gateway/pull/2904) for this but it works as far as I can see.
Happy for review by a maintainer.

[2022-09-27 14:55] mcf-rocks opened #2907 "grpc-gateway - module had invalid dependency: empty digest."
A build is failing with the following error, the build has worked in the past.
Any clues?
[code]

[2022-09-27 15:46] sizovilya opened #2908 "Question: Where is the right way to decode JWT?"
Where is the right way to decode JWT(or a different token) before it is sent to service via grpc and before it is caught by the interceptor?
I looked on middlewares `runtime.With...` and didn't find anything appropriate.

**Why**: I want to decode the token on the api-gateway part of the application and then send userID and role to services using the grpc metadata.

Image for clarification:

<img

[2022-09-27 16:55] johanbrandhorst commented on #2907
Could you try running  `buf mod update` and then rerun the command? That's an old commit version you're using.

[2022-09-27 16:57] mcf-rocks commented on #2907
pls see comment ser

[2022-09-27 16:58] johanbrandhorst commented on #2907
Hah, good point, that's weird. It looks like a problem with buf though. Maybe you could reach out [on their slack channel](https://join.slack.com/t/bufbuild/shared_invite/zt-f5k547ki-VDs_iC4TblNCu7ubhRD17w)? I don't think there's much we can do here.

[2022-09-27 16:58] #2907 closed

[2022-09-27 18:10] achew22 commented on #2908
Hey @sizovilya, generally speaking it is considered an anti-pattern to decode the token on the edge and then pass the user information downstream. Have you considered writing a library that can be used in `service{1..3}` that could be reused to perform token decoding? If you want to learn more about why this is a dangerous thing to do there are a lot of articles about networks that are "Crunchy on

[2022-09-28 04:39] johanbrandhorst commented on #2906
Hi, thanks for your issue! I'm surprised we didn't already have an issue for this, I agree that it makes sense to automatically apply this. Furthermore, if both an annotation and a protobuf level option is set, the annotation should take precedence (so that it's always possible to change the output of the openapi generator without changing the protobuf definition).

[2022-09-28 10:11] sizovilya commented on #2908
Hello @achew22, thank you for the explanation. I didn't know about networks that are "Crunchy on the Outside & Chewy on the Inside", good that you mentioned it.
I see that the architecture is adopted to use auth things on the gRPC server side, as well as interceptors.
Okay, let's assume we do like that, I see 2 possible solutions:
1. Write JWT encoding lib, and use it in the interceptor. The pros

[2022-09-28 16:44] kkolur opened #2912 "protoc-gen-openapiv2: Add x-tagGroups to swagger/openapi generation for grouping tags"
## 🚀 Feature

Use [x-tagGroups](https://redocly.com/docs/api-reference-docs/specification-extensions/x-tag-groups/) to group tags in the Reference docs navigation sidebar. Add it to the root OpenAPI/Swagger object.

![x-tag-group](https://user-images.githubusercontent.com/54222395/192844173-97679c5c-7814-4a5e-a7ab-5a1923b72950.png)

[2022-09-28 17:04] johanbrandhorst commented on #2912
This seems like a vendor extension and not one supported by the OpenAPI v2 spec: https://swagger.io/specification/v2/. If this is correct, I don't think we will add support for this in the generator. What do you think?

[2022-09-28 18:11] kkolur commented on #2912
@johanbrandhorst i agree on that I guess. How do you suggest we get the vendor extensions in the output generated file? We autogenerate the swagger yaml file on every commit and are afraid that the vendor extension will be removed on every autogeneration

[2022-09-28 18:13] johanbrandhorst commented on #2912
I'm afraid you will have to do some post-processing. It's not unusual for users to parse the generated swagger back into a language of their choice and make some changes before marshaling out again. Alternatively, if the changes are simple enough, you could try simple search replace or `sed`. It's beyond the scope of this project but I'd be happy to help you if you need more guidance, join our sup

[2022-09-28 18:13] #2912 closed

[2022-10-01 15:12] kkolur opened #2917 "Add option to disable rendering service level tags"
## 🚀 Feature

[here](https://github.com/grpc-ecosystem/grpc-gateway/blob/3849b8a0cf8a66fe2799ff9dc1857f0097d13411/protoc-gen-openapiv2/options/openapiv2.proto#L98) it looks like tags at the root level are still `TODO`. Is this planned to be prioritized?Right now, in the output, the tags are automatically generated with the service(s) names but I would prefer to override that behavior by defining m

[2022-10-04 03:27] johanbrandhorst commented on #2917
There are a few settings already for how the tags are generated I believe: https://github.com/grpc-ecosystem/grpc-gateway/blob/b2fed3ce9c921d47c82c6b888ebeae0469f6cb5d/protoc-gen-openapiv2/main.go#L31. I'm not sure exactly what you're asking for. Do you want the ability add tags? How do you want to map those tags to objects? What do you want to do with extensions in tags? I think the use case has

[2022-10-04 12:33] leandroboeing-zebra commented on #2481
I'm really sorry to bring this thread back to life, but I really didn't find any other thread with so many high skilled commenters. And I'd like to know from you, but feel free to ignore also:

I have a ```uint32``` field. When I pass integer values to it, it all works fine. When I pass a decimal value, like 1.1, it gives an error, as expected. Everything normal so far.

But I'd like to improve th

[2022-10-04 13:03] kkolur commented on #2917
@johanbrandhorst I want the option to not automatically render service tags. RIght now the service tags are automatically generated [here](https://github.com/grpc-ecosystem/grpc-gateway/blob/e78f570b573df28b85203f1242c949ade8e5bfc9/protoc-gen-openapiv2/internal/genopenapi/template.go#L1592). If we could have some sort of command line flag that could let us disable that is what I was asking for.

U

[2022-10-04 18:34] johanbrandhorst commented on #2917
I see, thanks for clarifying. I could see a flag that disables tags altogether, but I'm not convinced the need is good enough yet. Maybe we can leave this issue open and see if there are more users who want this functionality before we decide to add it?

[2022-10-04 18:37] johanbrandhorst commented on #2481
Hi @leandroboeing-zebra, this error comes from the marshaler, so your best bet might be to implement a custom marshaler that intercepts the errors returned from the default marshaler. If you need more help, feel free to drop by the #grpc-gateway channel on [Gophers Slack](https://invite.slack.gobridge.org).

[2022-10-04 19:38] pscott31 commented on #441
I would love to see this feature and would be happy to contribute to it a bit if someone who knows what they are doing can get the ball rolling and point me at the right bits :)

[2022-10-04 19:42] johanbrandhorst commented on #441
This is a big task. We've had a few users try to contribute this over the years. I think the only thing that will be successful is a from-scratch written generator with a minimal amount of features from OpenAPIv3 that can be extended by the community.

[2022-10-05 02:27] ianrose14 commented on #441
FWIW my current approach is to use grpc-gateway to produce files in OpenAPI 2 format (via the standard `-openapiv2_out` option) and then convert those to OpenAPI 3 format via https://github.com/swagger-api/swagger-codegen:

[2022-10-05 11:43] dbeylkhanov commented on #2707
humm, .NET doesn't support 499 status code. Thread with discussion here 🧵 https://github.com/dotnet/aspnetcore/issues/41475

[2022-10-10 04:39] davix commented on #2917
We have the same requirement.
We use the swagger at API gateway which exposes a few backend grpc services. Because backend services' name are inappropriate to be exposed, we define custom tags for the APIs with different grouping strategy. But the service tags still exist now.
Would like to contribute if there are guidance.

[2022-10-10 09:43] MikyChow commented on #441
still waiting for this feature

[2022-10-10 14:58] kkolur commented on #2917
I think I have a decent idea of what to do while perusing the codebase so I can take the task on  as well @davix 🙂

[2022-10-11 07:59] #2908 closed

[2022-10-11 23:47] kkolur commented on #2917
@johanbrandhorst [PR here ](https://github.com/grpc-ecosystem/grpc-gateway/pull/2928) 😊

[2022-10-12 03:01] ionling opened #2929 "Parse trailing comments in protoc-gen-openapiv2"
https://github.com/grpc-ecosystem/grpc-gateway/blob/0443675f6acea5bddca361673c6f0bc241dcb644/protoc-gen-openapiv2/internal/genopenapi/template.go#L2179-L2191

The current `protoc-gen-openapiv2` only parse leading comments, no trailing.
And I think trailing is better for short comments, like this:

[code]

instead of:

[code]

So how about add this feature?

[2022-10-12 03:06] johanbrandhorst commented on #2707
Non-standard or not, we should be consistent with the `code.proto` definitions in our error conversions. I still think we want this change.

[2022-10-12 04:52] johanbrandhorst commented on #2929
Sure, sounds reasonable. What should the behavior be if there are both leading and trailing comments? I'm guessing we could just append them? Would you be willing to contribute a fix for this?

[2022-10-12 06:14] ionling commented on #2929
No problem, I'll submit a PR when I'm free.

[2022-10-12 10:30] amitavaghosh1 opened #2932 "Add header annotations to OpenAPIv2 generator"
I am generating openapi v2 documentation. using `buf generate`

[code]
this is a part of how my proto file looks like. I was wondering if there is any way to use annotations to generate the swagger.json such that it shows up in headers like.

[code]

[2022-10-12 16:21] johanbrandhorst commented on #2932
Yep! https://github.com/grpc-ecosystem/grpc-gateway/blob/38561b377d5a9e2938d58a8ad44b106e90035033/examples/internal/proto/examplepb/a_bit_of_everything.proto#L20-L207 contains some examples of how to add security definitions and also response headers. Hope that helps!

[2022-10-13 09:54] amitavaghosh1 commented on #2932
I meant http request headers like say X-Request-ID not security definitions.

Also i made a simple setup script for a barebones setup

https://github.com/amitavaghosh1/setup/tree/main/golang/grpcproj

[2022-10-13 17:05] johanbrandhorst commented on #2932
It doesn't look like you can specify request headers, no.

[2022-10-13 18:08] #2917 closed

[2022-10-13 18:15] kkolur opened #2942 "Support extensions for tags"
## 🚀 Feature

Tags have been implemented at the root level as a result of this [PR](https://github.com/grpc-ecosystem/grpc-gateway/pull/2939).  According to OpenAPI [extensions](https://swagger.io/docs/specification/openapi-extensions/) should be available to the Tag object as well.

For example, ReDoc has some [vendor extensions](https://github.com/Redocly/redoc/blob/main/docs/redoc-vendor-extens

[2022-10-13 19:06] #2837 closed

[2022-10-14 03:13] johanbrandhorst commented on #2942
Thanks for the feature request! I think we need to take a holistic view at extensions, the page you linked details all the places where extensions can exist in the OpenAPIv2 spec. It would make sense to me to add a message to describe the extension type and then add that to all the places extensions can be specified. What do you think?

[2022-10-14 03:48] ikouchiha47 commented on #2932
@johanbrandhorst is there any way to add support for this? In the openapiv2.proto file, the message definition is there. Openapi supports request header.

So what to do now?

[2022-10-14 05:44] johanbrandhorst commented on #2932
We'd have to add the definitions for specifying headers into the annotations ([here](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-openapiv2/options/openapiv2.proto)). I'm not actually sure where the header definitions would go, probably on an `Operation`? You'd have to look through the OpenApiv2 spec to see where it fits, the definitions should be somewhat 1:1 to the spec.

[2022-10-14 13:21] kkolur commented on #2942
@johanbrandhorst sorry im having trouble understanding the following, can you provide an example?

`It would make sense to me to add a message to describe the extension type and then add that to all the places extensions can be specified`

For most places already in `protoc-gen-openapiv2`, extensions are added to the messages (Swagger, Operation, Info, etc) like so: [Example here](https://github.c

[2022-10-14 19:24] johanbrandhorst commented on #2942
You're right, I didn't think we already had extensions in some places, so lets just go ahead and continue that pattern.

[2022-10-14 21:24] ikouchiha47 commented on #2932
Okay,. I haven't gone through the code yet, but i will try.

[2022-10-17 16:02] tjungblu opened #2954 "EOF behaviour in bi-di streams"
Hey!

I'm coming from https://github.com/etcd-io/etcd/issues/13909 where I need some help to understand how the bidirectional streaming is supposed to work. etcd uses the grpc-gateway in front of the grpc-proxy which in turn runs against the etcd server. etcd has a feature called "watches" where you get a stream of all changes of the database.

For some reason, the gateway was implemented with a [

[2022-10-17 16:57] johanbrandhorst commented on #2942
Fixed in #2950

[2022-10-17 16:57] #2942 closed

[2022-10-17 20:33] tech-sumit commented on #2707
Hi @johanbrandhorst,
Created PR to contribute this fix, please check.

[2022-10-18 09:20] tjungblu commented on #2954
That certainly sounds sensible, I'm mostly wondering if it worked at some point and something underneath changed. For example the decoder behavior or the body stream.

Sure, I can take a look and see if this can be fixed somehow, I can probably get to it by Friday or later next week.

[2022-10-19 07:09] whtjs opened #2966 ""connection closed before server preface received" when try Using the default mapping"
Hi Fellas!

I was following README and "Using the default mapping" in 4th step

But when i try to call gRPC client through gateway it throws an error
`rpc error: code = Unavailable desc = connection closed before server preface received
exit status 1`

I make new repo that i was testing to be clear
[https://github.com/whtjs/grpc-gateway-example](https://github.com/whtjs/grpc-gateway-example)

The

[2022-10-19 21:30] johanbrandhorst commented on #2966
Your client is using `grpc.Dial` to dial the grpc-gateway. If you want to use gRPC, just dial the gRPC server directly. If you want to use the gRPC-Gateway, you will need to make a HTTP request manually, not via gRPC.

[2022-10-19 21:30] #2966 closed

[2022-10-20 05:53] whtjs commented on #2966
oh.. i misunderstand about feature, I'm sorry for bother. Thank you!

[2022-10-20 13:18] amitavaghosh1 commented on #2932
We also, don't have support for parameters?

[code]
this, https://swagger.io/specification/v2/ Operation By Example

[2022-10-20 13:20] amitavaghosh1 commented on #2932
I think we should have a `message Parameters` and then in there we can have headers and path. Because the specs go like:

[code]

[2022-10-20 14:29] HuairuoYang opened #2971 "Repeated fields in parameter are parsed as a single string v.s. a slice of string (incompatible with `gapic-generator-go`)"
## 🐛 Bug Report
I am using `grpc-gateway` to generate HTTP-GRPC gateway that can have my generated [gapic-generator](https://github.com/googleapis/gapic-generator-go) REST/HTTP clients talk to the server with both GRPC and HTTP.
I thought both this and `grpc-gateway` are popular tools and they all generate code from protobuf so that they should be compatible with each other.
However I noticed that

[2022-10-20 16:25] HuairuoYang commented on #2971
[gapic-generator](https://github.com/googleapis/gapic-generator-go/issues/1160#issuecomment-1285684640) replied that this seems to be a bug on their side.

But It would still be a nice feature that if we can parse the slice of stirngs like `[A B C D E]` directly into slices.
Thanks!

[2022-10-20 16:53] johanbrandhorst commented on #2971
Hi, thanks for your issue report. I don't think it's desireable for us to implement this in the gateway, but note that if you want this sort of behavior supported you can implement your own `QueryParameterParser` and replace the default one with https://pkg.go.dev/github.com/grpc-ecosystem/grpc-gateway/v2/runtime#SetQueryParameterParser.

[2022-10-20 16:53] #2971 closed

[2022-10-20 22:31] johanbrandhorst commented on #2932
Hm, the problem with using `parameters` is that it lets users mess with the information generated from the RPC definitions themselves. I would really prefer things like parameters, URL path, etc to be impossible to break by adding annotations to the protobuf files. Maybe we could add parameters but only allow headers to be specified? Also not that it will _always_  be in addition to what the RPC i

[2022-10-21 06:45] amitavaghosh1 commented on #2932
Okay. I will try and make those changes.

[2022-10-21 08:47] tjungblu commented on #2954
@johanbrandhorst so the fix to get the test green is easy:
https://github.com/grpc-ecosystem/grpc-gateway/pull/2972/files#diff-9648d8792ce733c8bbce0d613a620fffdb73cff98a91763507a1984eb520d5feL440-L444

https://github.com/grpc-ecosystem/grpc-gateway/pull/2972/files#

BUT, huge caveat, this busy loops on the request body stream. The question is, how can we make this smarter so the decode only runs o

[2022-10-21 18:42] johanbrandhorst commented on #2954
Hm, it looks to me like it should in theory wait for a full new message to be read by `dec.Decode`, so it doesn't sound like a busy loop, although have you tested it and found it to be a busy loop? I really don't even want to think about going down the path of some sort of external notification system for this. If `req.Body` is streaming and `dec.Decode` blocks until it's read a full message, this

[2022-10-22 02:13] sagikazarmark commented on #441
Looking at this problem at work right now. I used gnostic to generate OpenAPI spec from proto. I'll be adding grpc-gateway soon. I'll report back how it works.

In the meantime, I found this: https://github.com/sv-tools/openapi

Bunch of other libs listed on this site: https://github.com/OAI/OpenAPI-Specification/blob/main/IMPLEMENTATIONS.md

As far as I understand the real challenge is not the Op

[2022-10-24 08:24] tjungblu commented on #2954
I _assume_ this used to be the behavior for this a while back.

yep, that's it. We can maybe continue the conversation on the PR, if that's a bit easier to talk about the specific lines.

[2022-10-24 09:52] qazwsxedckll opened #2976 "swagger execute with wrong url when using post: "/v1/Things/{thing}/Services/{service}""
## 🐛 Bug Report

When using post: "/v1/Things/{thing}/Services/{service}", swagger execute with wrong url.

## Expected behavior

Should call `http://localhost:8080/v1/Things/Thing1/Services/Start`

## Actual Behavior

![image](https://user-images.githubusercontent.com/20088957/197499255-3702e8b0-6b0f-472e-907c-185ceed7185a.png)

[2022-10-24 10:35] qazwsxedckll commented on #2976
It is related to #702 and #2562

so how to use `string name = 1 [(grpc.gateway.protoc_gen_openapiv2.options.openapiv2_field) = {field_configuration: {path_param_name: "shelfName"}}];`

I am using buf

`unknown extension grpc.gateway.protoc_gen_openapiv2.options.openapiv2_field`

[2022-10-24 10:50] cgapu commented on #1610
1. define an empty marshaler with nil output in Marshal func:
[code]

2. new server mux with the EmptyMarshaler, and we can print anything in our CustomHttpResponseModifier :
[code]

[2022-10-25 00:48] #2976 closed

[2022-10-26 15:24] sbulman opened #2979 "Option to turn off default 200 response generation in protoc-gen-openapiv2"
## 🚀 Feature

I was wondering if it is feasible to have a similar option to disableDefaultErrors to turn off the default generation of the 200 responses? Has this been considered and dismissed?

Some examples:

- I have a post request where I only want to return 201 Created (or error codes)
- I have a delete request where I only want to return 204 No Content (or error codes)
- I have a head reques

[2022-10-31 04:54] johanbrandhorst commented on #2979
Hi, thanks for your issue. I don't know that we've discussed this before, but I'm initially a bit hesitant. Default errors were introduced because we have a purpose-built error handler option. Disabling the 200 responses feels more drastic, especially since the `ForwardResponseOption` isn't _really_ about changing the response entirely from what the HTTP description is (it's more of a setting head

[2022-10-31 05:00] #2929 closed

[2022-10-31 07:49] sbulman commented on #2979
Thank you for your considered response. Perhaps one option to reduce the impact could be to provide the option and only apply it if there are explicit '2xx' responses added as options to the protobuf definition. My thinking is that if a user has gone to the trouble of defining their own responses and enable an option to disable the default 200 swagger response there is real intent. Happy to wait a

[2022-10-31 13:27] kamiKAZIK opened #2983 "Expose OpenAPI/Swagger specification document from protoc-gen-openapiv2"
## 🚀 Feature
Hello, would it be possible to expose the generated OpenAPI / Swagger JSON or YAML file as a variable or function that returns string or byte array of the specification document. This could be very useful when customizing gateway HTTP server and adding SwaggerUI mddleware, for example:

[code]

basically, it would be very useful if it would be possible to access `generated_swagger.jso

[2022-10-31 17:35] johanbrandhorst commented on #2983
Hi, this is commonly done already and there's no need to change anything in the gateway, you can simply add a handler to your Go HTTP server. Here's an example: https://github.com/johanbrandhorst/grpc-gateway-boilerplate (see https://github.com/johanbrandhorst/grpc-gateway-boilerplate/blob/master/gateway/gateway.go#L24-L34).

[2022-10-31 17:35] #2983 closed

[2022-10-31 18:28] tmccnnll opened #2984 "Details (e.g., description, title, etc.) for message-type fields are not translated to Swagger doc"
## 🐛 Bug Report

Details (e.g., description, title, etc.) for message-type fields are not displayed in `definitions.<schema object>.properties` within generated Swagger doc.

It looks like this is a regression from `protoc-gen-openapiv2` `v2.11.3` to `v2.12.0`. I actually used `v2.11.3` to generate the expected Swagger doc example found below in the ticket.

## To Reproduce

`example/v1alpha1/exam

[2022-10-31 18:33] johanbrandhorst commented on #2984
I think this was actually a bug fix introduced in #2904. See https://github.com/grpc-ecosystem/grpc-gateway/pull/2904#issuecomment-1263744686. Apparently no fields other than `$ref` should appear next to the ref. Is the problem that the comment has disappeared entirely now?

CC @gostajonasson

[2022-10-31 19:07] tmccnnll commented on #2984
Thanks for the quick reply and linking the comment.

That comment links to [JSON Schema Draft 3](https://datatracker.ietf.org/doc/html/draft-zyp-json-schema-03), but according to the [Swagger specification for the Schema Object](https://swagger.io/specification/v2/#schemaObject), we should be looking at JSON Schema Draft 4 instead. I read through the JSON Schema Draft 4 and didn't see a similar se

[2022-10-31 20:02] johanbrandhorst commented on #2984
Thanks for your quick response, even that page you linked contains two different references to JSON schema drafts, the link under `ref` links to https://tools.ietf.org/html/draft-pbryan-zyp-json-ref-03 while the overall definition mentions draft 4 - I'm happy to assume draft 4 in this case as I agree that this is useful functionality. I'm sorry this caused a breakage for you and I'd be happy to re

[2022-10-31 20:25] gostaj commented on #2984
Hi @tmccnnll and sorry if my PR has caused issues for you.
I personally also think there is a point in having descriptions next to $ref fields but [the Swagger docs](https://swagger.io/docs/specification/using-ref/) states:

Also look at their "$ref and Sibling Elements" section at the bottom of [that page](https://swagger.io/docs/specification/using-ref/).

[2022-10-31 20:26] gostajonasson commented on #2984
Hi @tmccnnll and sorry if my PR has caused issues for you.
I personally also think there is a point in having descriptions next to $ref fields but [the Swagger docs](https://swagger.io/docs/specification/using-ref/) states:

Also look at their "$ref and Sibling Elements" section at the bottom of [that page](https://swagger.io/docs/specification/using-ref/).

[2022-10-31 20:27] johanbrandhorst commented on #2984
I'm tempted to say that this page does not apply to is as it is covering OpenAPI v3, and we only support OpenAPI v2. I couldn't find the equivalent statements in the v2 page: https://swagger.io/docs/specification/2-0/basic-structure/.

[2022-10-31 20:47] gostajonasson commented on #2984
Aha! I didn't know that. If that's the case we could perhaps just remove the checks ([#1](https://github.com/grpc-ecosystem/grpc-gateway/pull/2904/files#diff-c904837bc1a47dae3fba9863430f2ab46fa8a1bd0c9e25475308ab426a0d4efeR519-R523) and [#2](https://github.com/grpc-ecosystem/grpc-gateway/pull/2904/files#diff-c904837bc1a47dae3fba9863430f2ab46fa8a1bd0c9e25475308ab426a0d4efeR1241-R1245)) that I intro

[2022-11-01 08:21] kamiKAZIK commented on #2983
@johanbrandhorst I don't think that this solves the issue, for example if we have a git repository where we store generated golang types and gateway from proto files, e.g.: generated_go_gw@1.2.0, then if we want to import that as go module in another project, there is no way to access the generated_swagger.json from that go module. I understand that it all would work well if the proto files and HT

[2022-11-01 17:46] tmccnnll commented on #2984
Thanks to both of you, @johanbrandhorst and @gostajonasson, for being so quick to reply and considering a change here.

@gostajonasson, are you able to remove those checks you highlighted in a new PR? If not, I can probably spend some time on this but will need to get setup on this repo first.

[2022-11-01 18:18] johanbrandhorst commented on #2984
If you have access to Github Codespaces you can create a virtual environment with all the setup you need:
<img width="910" alt="image" src="https://user-images.githubusercontent.com/6604151/199308399-e7da0298-7d71-4f89-9953-c2fb591621e0.png">

[2022-11-01 21:58] gostajonasson commented on #2984
Added a PR that hopefully fixes this :point_up:, please have a look.

[2022-11-01 22:06] #2984 closed

[2022-11-01 22:07] johanbrandhorst commented on #2984
I'll make a patch release for this.

[2022-11-01 22:12] johanbrandhorst commented on #2984
https://github.com/grpc-ecosystem/grpc-gateway/releases/tag/v2.13.0

[2022-11-02 15:11] johanbrandhorst commented on #2979
I don't think we'd need any extra logic like that TBH if we do add it, it'd be simpler just to disable the default response generator, it shouldn't interact too badly with any other options, obviously it'd mean the user has to carefully make sure they're still defining responses for all their RPCs but I'm okay with that, you could always add a default 200 OK at the top level.

[2022-11-02 15:13] johanbrandhorst commented on #2983
I see what you're saying, but I don't know that there's anything we can do with the gateway. That sounds like a Go modules problem. Maybe you can generate the swagger document only to your repositories using `buf`?

[2022-11-02 15:17] #2735 closed

[2022-11-02 15:34] peterwillis opened #2988 "Partial resource update RPCs include the update mask in the swagger specification"
## 🐛 Bug Report

RPCs can perform partial resource updates through the use of a `patch` binding and `google.protobuf.FieldMask` as described [here](https://grpc-ecosystem.github.io/grpc-gateway/docs/mapping/patch_feature/). The swagger specification generated still includes an `updateMask` field which is ultimately ignored by the gRPC-Gateway.

## To Reproduce

Generate the swagger specification f

[2022-11-02 15:38] kamiKAZIK commented on #2983
Maybe it would be possible to make use of:
//go:embed
and embed the generated swagger file as a variable that could be accessed from anywhere?

[2022-11-02 16:13] johanbrandhorst commented on #2983
Yes, you could do this in a file in the same repository as your generated swagger file. The boilerplate repo does this: https://github.com/johanbrandhorst/grpc-gateway-boilerplate/blob/master/third_party/embed.go#L7

[2022-11-03 11:40] cclien0725 opened #2990 "Unexpected route with verb pattern"
## 🐛 Bug Report

Assume there are three handler patterns as follows:

1. `POST /api/v1/organizations:verb`
2. `POST /api/v1/organizations`
3. `POST /api/v1/dummies:verb`

Request to `POST /api/v1/organizations:verb` but it routes to the unexpected handler which handles the pattern for `POST /api/v1/organizations`.

## To Reproduce

By extending the `TestMuxServeHTTP` test with the following test c

[2022-11-03 18:27] johanbrandhorst commented on #2990
I believe this is because of the last one wins behavior of service configurations. I could be mistunderstanding. See https://github.com/grpc-ecosystem/grpc-gateway/issues/224#issuecomment-426091809 for more discussion.

[2022-11-03 18:59] johanbrandhorst commented on #2988
Hi Peter, thanks for your issue! I thought we already supported this but evidently we don't. Considering that the patch feature is the default behavior on the gateway I think we should definitely add this when detecting a field called `update_mask` of type `.google.protobuf.FieldMask` at the top level of a request (as explained in [the docs](https://grpc-ecosystem.github.io/grpc-gateway/docs/mappi

[2022-11-04 00:11] cclien0725 commented on #2990
Hi @johanbrandhorst thanks for your quick reply, that said I open this since the same test case would be okay before `v2.11.3` but I'm facing the unexpected handler when I upgrade to `v2.12.0`. It seems to be a side-effect of fixing #2870.

[2022-11-04 00:58] johanbrandhorst commented on #2990
Hm, I see. @jonathaningram any thoughts from you? Sorry to hang you out but I've sort of forgotten about this fix.

[2022-11-04 05:27] dddhhhjjj opened #2992 "Generate swagger.json documentation using openapiv2"
Hello, I have a problem with the use of the openapiv2 plugin:

When I use the openapiv2 plugin to generate swagger.json from my proto file,

how do I add descriptive information about the interface?

Below is my proto file:

![微信图片_20221104131753](https://user-images.githubusercontent.com/48084332/199895973-4a179ba9-5253-4090-ae47-a89b2f85aa9d.jpg)

last generated result:

![4](https://user-images

[2022-11-04 16:11] llsj14 commented on #2851
Thank you @oyvindwe, I got a great help!

[2022-11-04 16:11] #2851 closed

[2022-11-04 16:25] peterwillis commented on #2988
Thank you for the pointers, I would be very happy to help.

[2022-11-04 20:55] johanbrandhorst commented on #2992
You can customize the openapiv2 output by using annotations in your protobuf file. See https://github.com/grpc-ecosystem/grpc-gateway/blob/c2e1a3d23c4f1ad85c1259af0ec6e8a50f4f81ee/examples/internal/proto/examplepb/a_bit_of_everything.proto#L671-L672 for an example of changing the description and summary of an RPC. See https://grpc-ecosystem.github.io/grpc-gateway/docs/mapping/customizing_openapi_o

[2022-11-04 20:55] #2992 closed

[2022-11-05 16:10] mc-zhangyang commented on #1610
@cgapu It worked for me. But there is a small problem, due to the omitempty flag, it is ignored when the field is empty. Is there any good solution?

[2022-11-05 17:04] IguoChan opened #2994 "I have confuse about the "stub" in grpc docs and grpc-gateway docs"

[2022-11-05 17:16] #2994 closed

[2022-11-06 09:58] stomy13 commented on #726
Hello @johanbrandhorst,
Created PR to contribute this fix, please check.

[2022-11-06 22:51] jonathaningram commented on #2990
@johanbrandhorst @cclien0725 having a look 👀

[2022-11-07 06:05] jonathaningram commented on #2990
@cclien0725 can you please put your test case into a PR/branch so I can pull it down locally and run and debug it?

[2022-11-07 09:16] cclien0725 commented on #2990
Hi @jonathaningram thanks for your reply, have already put the test case into the draft PR #2997. You can take a look. Thanks!

[2022-11-07 16:49] krak3n commented on #2979
This is effecting me as well, we are looking to define our contracts in protocol buffers but we need to, at least in the short term to support OpenAPI and someone our endpoints return `201` instead of `200`.

Perhaps there could be a way for us to mark a defined response as the default?

For example:

[code]

[2022-11-08 05:06] #2990 closed

[2022-11-08 05:22] #726 closed

[2022-11-08 09:34] krak3n commented on #2979
Hey @johanbrandhorst yes absolutely would be.

[2022-11-09 08:19] chidangit commented on #1610
[code]

you can init marshaler with option
[code]

[2022-11-09 09:40] MichaKnoe opened #3005 "Getting 'grpc-gateway_out: duplicate annotation' error when using multiple proto file paths"
## 🐛 Bug Report

Using proto input files from more than one root folder throws an error using the ```google.api.http``` anotations. The error is:
```-grpc-gateway_out: duplicate annotation: method=GET, template=/v1/path```.

The following folder structure is used to be able to have a centralized model definition for multiple API flavours. e.g. ```internal``` and ```public```.

- model
  - model.pr

[2022-11-09 10:45] MichaKnoe commented on #3005
I think I found a solution myself.
Changing step 6 ```gateway_out``` path to ```proto/internal/gw``` seems to solve it:
protoc -Iproto proto/internal/*.proto \
	  --go_opt=module=github.com/YourOrg/YourRepoRoot\
	  --go_out=.  \
	  --go-grpc_opt=module=github.com/YourOrg/YourRepoRoot \
	  --go-grpc_out=. proto/internal/*.proto \
	  --grpc-gateway_out=proto/internal/gw \
	  --grpc-gateway_opt=logto

[2022-11-09 11:07] #3005 closed

[2022-11-10 00:23] jon-whit opened #3009 "google.api.field_behavior is not respected on fields that are protobuf messages"
## 🐛 Bug Report

`google.api.field_behavior = REQUIRED` doesn't appear to work on fields that are protobuf messages.

## To Reproduce

[code]

## Expected behavior

[code]

## Actual Behavior

[code]

## Your Environment

**OS**: darwin-arm64
**protoc-gen-openapiv2 version**: `v2.13.0`

[2022-11-10 04:16] johanbrandhorst commented on #3009
Hi, thanks for the bug report. This is a pretty new feature so it's not surprising that it isn't perfect. Would you be interested in contributing a fix for this? The first step would normally be to add a failing test to https://github.com/grpc-ecosystem/grpc-gateway/blob/master/protoc-gen-openapiv2/internal/genopenapi/template_test.go or add one of these definitions to one of the example proto fil

[2022-11-10 15:03] mc-zhangyang commented on #1610
@chidangit It doesn't seem to work well. It still ignores the empty field.

[2022-11-11 03:08] cgapu commented on #1610
If you use json.Marshal, you could not write those fields that with omitempty json tag. You can remove omitempty json tag from generated golang files with some magic methods. Or you can implement your own marshal function in which you could read the json tag and write whatever you want.
Since these methods are not very easy to do, I suggest to honestly define your rpc return message.

[2022-11-11 10:05] cgapu commented on #1610
@mc-zhangyang Here is an example that writes fields which marked with omitempty json tag by implementing the MarshalJSON function, even if their value is empty.
[code]

[code]

[2022-11-11 10:40] MichaKnoe commented on #3005
And again after some further fixing.....

- Use ```source_relative``` whereever possible
- Do NOT use ```module``` option as it is not needed with ```source_relative```
- Remove ```--grpc-gateway_opt=standalone=true```
- Add proto files to be considered explicitly at the end

[code]

[2022-11-11 17:23] krak3n commented on #2932
Implementation in #3010

[2022-11-12 05:25] johanbrandhorst commented on #3005
Glad you figured it out. I would recommend checking out our step by step tutorial if you are new to protobuf: https://grpc-ecosystem.github.io/grpc-gateway/docs/tutorials/introduction/. I would recommend using `buf` instead of `protoc`. I would also recommend reading their style guide: https://docs.buf.build/best-practices/style-guide#files-and-packages.

[2022-11-13 01:12] mc-zhangyang commented on #1610
@cgapu Thanks. This is the correct solution about rewrite resp body

[2022-11-13 17:00] hashweather opened #3013 "Documentation for NodeJS"
Thanks guys for this.

However, almost the entire documentation is about Golang. I understand the love for Golang but can you guys be nice as to add support for NodeJS as well.

I have spent hours trying to expose some of my NodeJS functions over REST by following your documentations but it has all been futile.

I am on a MacOS and so I tried downloading the binaries but I couldn't see any MacOS c

[2022-11-13 18:08] mc-zhangyang commented on #1610
@cgapu Be inspired by you, I thought of another way, which I think is more efficient. Of course, rewriting **Marshal** of `runtime.JSONPb` is needed.
[code]

[2022-11-14 04:13] johanbrandhorst commented on #3013
Hi, thanks for your interest in the project! The [boilerplate project](https://github.com/johanbrandhorst/grpc-gateway-boilerplate) is designed to show an example of how to use the gateway in front of an arbitrary gRPC server. Unfortunately you'll always have to have part of your application built with Go, since the code generator only supports Go, but if you look at the example, you can imagine t

[2022-11-14 04:13] #3013 closed

[2022-11-14 07:47] MichaKnoe commented on #3005
Many thanks four the advice. Will look deeper into buf. Sounds promising.

[2022-11-14 17:20] #2979 closed

[2022-11-15 04:31] li31727 commented on #3009
Maybe it's not bug or it's been fixed.,I generated a swagger.json locally, and the result was as expected

[2022-11-15 10:03] tjungblu commented on #2954
Let's close this out here, I think we won't be able to solve this bidirectional streaming issue with a busy looping efficiently.

[2022-11-15 10:03] #2954 closed

[2022-11-15 22:32] #2932 closed

[2022-11-16 01:21] miparnisari commented on #3009
I confirm it works fine with v2.14.0-1 😄

[2022-11-16 01:22] li31727 commented on #3009
这是来自QQ邮箱的假期自动回复邮件。您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-11-16 03:18] #3009 closed

[2022-11-16 08:51] Ja7ad opened #3016 "Javascript does not detect dots in objected query parameters"
## 🐛 Bug Report

Hi
We have a problem with objected query parameters in javascript. There is an unknown dot as an object when we create query parameters in JS `(files?paginated.filters[categoryId]=12335325)`.

## To Reproduce

1. create request message for get method.
2. add nested object with name paginated.
3. after generated gprc gateway pb.
4. all fields in paginated is object field for exampl

[2022-11-16 17:54] johanbrandhorst commented on #3016
What do you mean by

?

The grpc-gateway has two generators, one which generates Go code and one which generates swagger descriptions, neither of which will generate this sort of data. Do you mean that this is the format you have to use to provide data of this format as a query parameter?

[2022-11-17 07:03] Ja7ad commented on #3016
@johanbrandhorst

I check generator grpc-gateway have problem.

yes

[2022-11-17 16:11] johanbrandhorst commented on #3016
That query parameter format looks correct to me. You expect it to be
[code]
instead of
[code]
? If so, that doesn't make any sense to me, the square bracket syntax is only used for maps, where the key is specified by the user. The field `filters` is known, and so it shouldn't be a square bracket lookup. Maybe I'm misunderstanding you?

[2022-11-17 16:19] Ja7ad commented on #3016
You right, but for nested message, this happen paginated is as object with dot.

[code]

[2022-11-17 18:11] johanbrandhorst commented on #3016
I'm not sure I understand what you're saying. `filters` is a field on `PaginatedListRequest`, so naturally it will be accessed as `paginated.filters`. If you want `paginated[filters]`, you have to make `PaginatedListRequest`(the whole thing) a map directly in your `ListCaseFileRequest`.

[2022-11-17 18:51] Ja7ad commented on #3016
Your meaning is:

[code]

?

[2022-11-17 19:05] Ja7ad commented on #3016
Just problem is, in JavaScript query parameters don't detect `.` as objects in serialization.

[2022-11-18 01:26] johanbrandhorst commented on #3016
What you can do is write your own query parameter parser if you want to use a different structure for your query parameters, but I think this would be a mistake. You can specify this option when creating your gateway: https://pkg.go.dev/github.com/grpc-ecosystem/grpc-gateway/v2/runtime#SetQueryParameterParser. There's nothing much else we can do here so I'm going to close this issue.

[2022-11-18 01:26] #3016 closed

[2022-11-21 15:30] Semior001 opened #3022 "Use `debug.ReadBuildInfo()` for retrieving a version"
## 🚀 Feature

It's a common case when a developers just installs the utility from sources, without retrieving the binary that includes build info, which raises an issue of tracking the utility's version. [Tool dependency](https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module) has no help in here as mostly developers are installing it via running the command above

[2022-11-23 05:07] jayeye opened #3025 "The code in the README.md file does not work"
## 📚 Documentation

THe sample go code in https://github.com/grpc-ecosystem/grpc-gateway#usage section 5 does not create a running grpc server.

[2022-11-23 06:22] johanbrandhorst commented on #3025
Hi! Sorry for the confusion, that's not meant to be a gRPC server, it's a very basic gRPC-Gateway that dials an existing gRPC server. It's small because it needs to fit into the README. What problem exactly did you have with it? Maybe you should try our [step by step tutorial](https://grpc-ecosystem.github.io/grpc-gateway/docs/tutorials/introduction/) instead?

[2022-11-26 18:50] jayeye commented on #3025
I suppose I could :)

[2022-11-29 07:59] denisdubovitskiy commented on #2906
@johanbrandhorst i think that this annotation should also add some context value to indicate that the method is deprecated. Having this, we can use an interceptor to collect a metric and notify clients about new implementation. What do you think?

[2022-11-29 12:43] inliquid opened #3030 "Is it possible to specify multiple fields in `HttpRule.body`?"
## 📚 Documentation

According to documentation (which I found) `body` parameter is:

https://cloud.google.com/endpoints/docs/grpc-service-config/reference/rpc/google.api#google.api.HttpRule.FIELDS.string.google.api.HttpRule.body

It is not clear whether I can or can't select multiple fields for `body` (so that the others can be passed through query params). I would like to have such ability.

[2022-11-30 06:28] johanbrandhorst commented on #2906
I don't think that should be necessary - with APIv2 it should be possible to tell already through reflection whether a method is deprecated. I would consider this ask outside the scope of the gateway.